Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-7543 NoMethodError when using mark_as_spam on comments with deleted commenters (#5948)
  app/models/comment.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7512 Exclude banned users from total user count on the homepage (#5942)
  app/decorators/homepage.rb
  db/migrate/20260722105052_add_index_on_banned_to_users.rb
  spec/models/search/homepage_decorator_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7542 Add permalink and blog_lang to Akismet comment checks (#5944)
  app/controllers/comments_controller.rb
  app/models/comment.rb
  config/config.yml
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7501 Fix unreadable work and chapter previews in Reversi (#5879)
  lib/skin_wizard.rb
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/09-roles-states.css
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/12-group-meta.css
Labels: Awaiting Review

Fix typos/format in code of conduct (#5974)
  CODE_OF_CONDUCT.md
Labels: Awaiting Review

AO3-7472 remove redundant tests
  features/step_definitions/work_related_steps.rb
  features/works/work_download.feature
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7472 revert the previous commit's changes to work_download.feature log out steps
  features/works/work_download.feature
Labels: Awaiting Review

better test coverage + removed a redundant one
  features/step_definitions/admin_steps.rb
  features/step_definitions/work_related_steps.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-5743 simplify the test
  features/works/work_related.feature
Labels: Awaiting Review

AO3-5743 simplify the test even more
  features/works/work_related.feature
Labels: Awaiting Review

removed active_record
  Gemfile
  Gemfile.lock
  config/initializers/active_record_log_subscriber.rb
Labels: Awaiting Review, Gem Updates

remove active_record_query_trace.rb
  config/initializers/active_record_query_trace.rb
Labels: Awaiting Review

AO3-7150 Search by title or name in autocomplete for Parent Collection (#5723)
  app/controllers/autocomplete_controller.rb
  app/models/collection.rb
  spec/controllers/autocomplete_controller_spec.rb
Labels: Awaiting Review

AO3-5244 Refactor select_all.js (#5714)
  public/javascripts/select_all.js
Labels: Awaiting Review

AO3-7506 Add backfill task for missing username pseuds (#5936)
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-6112 Fix freeze/spam comment redirect (#5725)
  app/controllers/comments_controller.rb
  spec/controllers/comments/comment_moderation_spec.rb
  spec/controllers/comments/comments_controller_spec.rb
  spec/controllers/comments/freeze_spec.rb
Labels: Awaiting Review

AO3-7541 Add search metadata to remaining works request specs
  spec/requests/works_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7541 Add search metadata to inbox request specs
  spec/requests/homepage_inbox_n_plus_one_spec.rb
  spec/requests/inbox_n_plus_one_spec.rb
Labels: Awaiting Review

Remove empty file
  app/helpers/admin_post_helper.rb
Labels: Awaiting Review

Strip invalid urls from media src attributes.
  lib/otw_sanitize/media_sanitizer.rb
Labels: Awaiting Review

AO3-6726 Add LocaleLanguages views and i18n keys
  app/views/admin/_header.html.erb
  app/views/locale_languages/_form.html.erb
  app/views/locale_languages/edit.html.erb
  app/views/locale_languages/index.html.erb
  app/views/locale_languages/new.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6726 Create LocaleLanguage model, migration, and rake task
  app/models/locale_language.rb
  config/initializers/archive_config/locale.rb
  db/migrate/20260703162340_create_locale_languages.rb
  factories/locale_language.rb
  lib/tasks/after_tasks.rake
Labels: Awaiting Review, Has Migrations

AO3-6726 Update specs and cucumber features
  factories/admin_post.rb
  factories/locales.rb
  features/admins/admin_languages.feature
  features/admins/admin_locales.feature
  features/other_a/abuse_report.feature
  features/other_b/support.feature
  features/step_definitions/admin_steps.rb
  features/support/hooks.rb
  features/support/paths.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locale_languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/helpers/admin_post_helper_spec.rb
  spec/models/admin_post_spec.rb
  spec/models/locale_language_spec.rb
  spec/models/locale_spec.rb
Labels: Awaiting Review

AO3-6726 Move locale associations from Language to LocaleLanguage
  app/controllers/abuse_reports_controller.rb
  app/controllers/admin_posts_controller.rb
  app/controllers/feedbacks_controller.rb
  app/controllers/languages_controller.rb
  app/controllers/locales_controller.rb
  app/helpers/admin_post_helper.rb
  app/helpers/language_helper.rb
  app/models/admin_post.rb
  app/models/admin_post_tag.rb
  app/models/archive_faq.rb
  app/models/feedback_reporters/feedback_reporter.rb
  app/models/language.rb
  app/models/locale.rb
  app/policies/language_policy.rb
  app/views/abuse_reports/new.html.erb
  app/views/admin_posts/_admin_post.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/_filters.html.erb
  app/views/admin_posts/show.html.erb
  app/views/feedbacks/new.html.erb
  app/views/languages/_form.html.erb
  app/views/locales/_locale_form.html.erb
  app/views/locales/index.html.erb
  config/initializers/archive_config/locale.rb
Labels: Awaiting Review

AO3-6726 Add LocaleLanguages controller, policy, and routes
  app/controllers/locale_languages_controller.rb
  app/policies/locale_language_policy.rb
  config/routes.rb
Labels: Awaiting Review

AO3-6726 Add language alias to AdminPost for Akismet compatibility
  app/models/admin_post.rb
Labels: Awaiting Review

move help text for tags search page to be i18n compatible
  app/controllers/help_controller.rb
  app/views/help/tags_search_text.html.erb
  app/views/tags/_search_form.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/tag-search-text-help.html
Labels: Awaiting Review

normalize
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7473 Add tests
  features/fixtures/icon.webp
  features/other_b/icon.feature
  features/step_definitions/icon_steps.rb
Labels: Awaiting Review

erb lint fixes
  app/views/help/tags_search_results.html.erb
  app/views/help/tags_search_text.html.erb
Labels: Awaiting Review

erb lint fix
  app/views/help/tags_search_results.html.erb
Labels: Awaiting Review

AO3-7472 make sure works are hidden in downloads regardless of who downloads them
  app/models/related_work.rb
  app/models/work.rb
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_preface.html.erb
  features/works/work_download.feature
Labels: Awaiting Review

AO3-7472 remove a test step that i don't need to be adding anymore
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-7472 rename parameter for clarity
  app/models/related_work.rb
Labels: Awaiting Review

AO3-7472 re-add a test for translated works for downloads to ensure the argument is there
  features/works/work_download.feature
Labels: Awaiting Review

Update show.html.erb
  app/views/tags/show.html.erb
Labels: Awaiting Review

AO3-6910 Add tests for Sentry reporting on ES BadRequest
  spec/controllers/autocomplete_controller_spec.rb
  spec/models/search/query_spec.rb
Labels: Awaiting Review

AO3-6910 Report ES BadRequest errors to Sentry
  app/controllers/autocomplete_controller.rb
  app/models/search/query.rb
Labels: Awaiting Review

AO3-6125 Make admin-post sorting by language case-insensitive (#5724)
  app/helpers/admin_post_helper.rb
  app/models/admin_post.rb
  app/models/language.rb
  app/views/admin_posts/_admin_post.html.erb
  app/views/languages/_form.html.erb
  config/locales/views/en.yml
  factories/language.rb
  features/admins/admin_languages.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/work_search_steps.rb
  lib/tasks/before_tasks.rake
  spec/controllers/api/v2/api_works_spec.rb
  spec/controllers/languages_controller_spec.rb
  spec/helpers/admin_post_helper_spec.rb
  spec/helpers/works_helper_spec.rb
  spec/lib/tasks/before_tasks.rake_spec.rb
  spec/models/admin_post_spec.rb
  spec/models/language_spec.rb
  test/fixtures/languages.yml
Labels: Awaiting Review

AO3-6910 Add test for DB fallback on ES BadRequest
  spec/controllers/autocomplete_controller_spec.rb
Labels: Awaiting Review
