Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6611 Prevent autoloading in initialization (#4634)
  config/initializers/archive_config/locale.rb
  config/initializers/archive_config/settings_for_admin.rb
  config/initializers/monkeypatches/mailers_controller.rb
  factories/challenges.rb
  factories/user_invite_requests.rb
Labels: Awaiting Review

AO3-6636 Add speculation rules next-chapter prefetch (#4661) (#4665)
  .erb-lint.yml
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-6626 test all forbidden characters
  spec/models/tag_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6626 update to meet rubocop standards
  spec/models/tag_spec.rb
Labels: Awaiting Review

Add fallback to sort column name
  app/models/search/work_search_form.rb
Labels: Awaiting Review

Add spec for sorting by column without a pretty name
  spec/models/search/work_search_form_spec.rb
Labels: Awaiting Review

Update app/models/search/work_search_form.rb
  app/models/search/work_search_form.rb
Labels: Awaiting Review

AO3-6626 define forbidden tags inline
  spec/models/tag_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6636 Fixup speculation rules next-chapter prefetch
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-6636 Fixup speculation rules next-chapter prefetch (#4667)
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-6636 Move next chapter prefetch outside cache block
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-6639 Output current DB schema
  config/application.rb
  db/schema.rb
Labels: Awaiting Review

AO3-6636 Update chapter cache key
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

Trying to make reviewdog happy
  app/models/search/work_search_form.rb
Labels: Awaiting Review

Is reviewdog happy now? Woof
  app/models/search/work_search_form.rb
Labels: Awaiting Review

AO3-6636 Update chapter cache key (#4670)
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

Default is now used, remove explicit
  config/application.rb
Labels: Awaiting Review

Pull from prod
  db/schema.rb
Labels: Awaiting Review

Revert "Pull from prod"
  db/schema.rb
Labels: Awaiting Review

Disable schema update in prod/stage
  config/environments/production.rb
  config/environments/staging.rb
Labels: Awaiting Review

SQL structure dump
  db/structure.sql
Labels: Awaiting Review

Fix flaky bookmarks test
  features/bookmarks/bookmark_create.feature
  features/bookmarks/bookmark_search.feature
Labels: Awaiting Review

Fix flaky works tests
  features/step_definitions/web_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_browse.feature
  features/works/work_edit.feature
  features/works/work_edit_multiple.feature
  features/works/work_share.feature
Labels: Awaiting Review

AO3-6640 Remove config overrides from Rails 5.1
  config/initializers/new_framework_defaults.rb
Labels: Awaiting Review

AO3-6636 Remove rollout guard for speculation rules
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-6636 Remove rollout guard for speculation rules (#4674)
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-3207 Update test for blurbs
  features/other_b/series_order.feature
Labels: Awaiting Review

AO3-6579 Set page_title to Create Account
  app/controllers/users/registrations_controller.rb
Labels: Awaiting Review

removed unnecessary return if.
  app/models/creatorship.rb
Labels: Awaiting Review

AO3-6646 Fix flaky works tests (#4672)
  features/step_definitions/web_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_browse.feature
  features/works/work_edit.feature
  features/works/work_edit_multiple.feature
  features/works/work_share.feature
Labels: Awaiting Review

AO3-6645 Fix flaky bookmarks test (#4671)
  features/bookmarks/bookmark_create.feature
  features/bookmarks/bookmark_search.feature
Labels: Awaiting Review

AO3-6639 Output current DB schema (#4669)
  config/application.rb
  config/environments/production.rb
  config/environments/staging.rb
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

WIP
  Gemfile
  config/docker/Dockerfile
Labels: Awaiting Review, Gem Updates

Bump ruby version
  .ruby-version
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Update mail and bundler
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6551 Correct skin CSS column type (#4595)
  app/views/skins/_form.html.erb
  db/migrate/20230811004337_change_css_type.rb
  spec/models/skin_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6639 Revert schema dump setting
  config/application.rb
Labels: Awaiting Review

Update schema
  db/schema.rb
Labels: Awaiting Review

AO3-6639 Revert schema dump setting (#4677)
  config/application.rb
  db/schema.rb
Labels: Awaiting Review

AO3-5995 Add boolean column named spam to comments table (#4499)
  db/migrate/20230418074141_add_spam_to_comments.rb
Labels: Awaiting Review, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
