Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

Revert "Revert "AO3-5506 Don't include hidden works in Readings"" (#4842)
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

Revert "Revert "AO3-6704 Use URL from current host in abuse report response mailer preview"" (#4843)
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6727 Bump nokogiri from 1.16.3 to 1.16.5"" (#4844)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "Revert "AO3-6017 Add role of commenter to comment notification emails"" (#4845)
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6017 Use unique names for users in mailer previews" (#4827)"
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6725 remove get recent bookmarks"" (#4846)
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Revert "Revert "AO3-6708 Add indices to owned set taggings"" (#4847)
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Revert "Revert "AO3-6706 Support Sentinel config for Redis clients"" (#4848)
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Revert "Revert "AO3-5351 Make remaining text in feedback response i18n-able"" (#4849)
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6017 Use unique names for users in mailer previews"" (#4850)
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6706 Fix Redis test config for non-docker
  config/initializers/gem-plugin_config/redis.rb
Labels: Awaiting Review

Translate subject
  app/mailers/user_mailer.rb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6706 Fix Redis test config for non-docker (#4852)
  config/initializers/gem-plugin_config/redis.rb
Labels: Awaiting Review

AO3-5506 Ensure correct readings are displayed
  app/controllers/readings_controller.rb
  app/decorators/homepage.rb
  app/models/reading.rb
  factories/readings.rb
  spec/controllers/readings_controller_spec.rb
  spec/models/reading_spec.rb
  spec/models/search/homepage_decorator_spec.rb
Labels: Awaiting Review

AO3-5506 Remove poorly named scope that is only used in one place
  app/controllers/readings_controller.rb
  app/models/reading.rb
Labels: Awaiting Review

Localise feedback with reported language
  app/models/feedback.rb
  spec/models/feedback_spec.rb
Labels: Awaiting Review

Align with i18n standards
  app/mailers/user_mailer.rb
Labels: Awaiting Review

AO3-5506 rubocop
  app/decorators/homepage.rb
Labels: Awaiting Review

AO3-5506 Don't include hidden works in Readings: fixed query (#4851)
  app/controllers/readings_controller.rb
  app/decorators/homepage.rb
  app/models/reading.rb
  factories/readings.rb
  spec/controllers/readings_controller_spec.rb
  spec/models/reading_spec.rb
  spec/models/search/homepage_decorator_spec.rb
Labels: Awaiting Review

AO3-6728 Do comment deletions separately for spammer mass deletes
  app/controllers/admin/admin_users_controller.rb
  app/controllers/application_controller.rb
  features/admins/users/admin_abuse_users.feature
Labels: Awaiting Review

AO3-6728 Implement i18n properly
  app/controllers/application_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6728 Fix link
  app/controllers/application_controller.rb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6728 Normalise i18n file
  app/controllers/application_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

Revert "Localise feedback with reported language"
  app/models/feedback.rb
  spec/models/feedback_spec.rb
Labels: Awaiting Review

AO3-5351 Extract feedback email to locales too (#4854)
  app/mailers/user_mailer.rb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6728 Skip Akismet for comment deletes
  app/controllers/admin/admin_users_controller.rb
  config/locales/controllers/en.yml
  features/admins/users/admin_abuse_users.feature
Labels: Awaiting Review

AO3-6729 Change Work#otp to not load relationship mergers
  app/models/search/work_indexer.rb
  app/models/work.rb
  spec/models/search/work_indexer_spec.rb
Labels: Awaiting Review

AO3-6729 Rubocop
  app/models/work.rb
Labels: Awaiting Review

AO3-6563 Feedback
  app/jobs/report_attachment_job.rb
  app/models/abuse_report.rb
  config/config.yml
  lib/zoho_resource_client.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_reporters/feedback_reporter_spec.rb
Labels: Awaiting Review

AO3-6563 Fix test
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

Expand crossover search test
  features/search/works_info.feature
  features/search/works_tags.feature
  features/step_definitions/work_search_steps.rb
Labels: Awaiting Review

fix file size in error
  app/controllers/collection_items_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/people_controller.rb
  app/controllers/pseuds_controller.rb
  app/validators/attachment_validator.rb
  config/locales/models/en.yml
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/collection_items_n_plus_one_spec.rb
  spec/requests/collections_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
  spec/requests/people_n_plus_one_spec.rb
  spec/requests/pseuds_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6522 Use standard analyzer for bookmarker and creators on bookmark search (#4647)
  app/models/search/bookmark_indexer.rb
  features/bookmarks/bookmark_search.feature
  features/step_definitions/bookmark_steps.rb
Labels: Awaiting Review

AO3-6537 Use standard analyzer for work title search (#4786)
  app/models/search/work_indexer.rb
  features/fixtures/works.yml
  features/search/works_info.feature
Labels: Awaiting Review

AO3-6729 Fix searching for otp: true (#4814)
  app/models/search/work_indexer.rb
  app/models/work.rb
  features/search/works_info.feature
  features/search/works_tags.feature
  features/step_definitions/work_search_steps.rb
  spec/models/search/work_indexer_spec.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/scr.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

Incomplete fixes (expected fail)
  app/controllers/blocked/users_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/muted/users_controller.rb
  app/models/collection.rb
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/collections_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6739 Extend tests to cover moderation message on chapters
  features/comments_and_kudos/comment_moderation.feature
Labels: Awaiting Review

AO3-6739 Display moderated commenting notice on chapters
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

Configuration options that needed to wait
  config/application.rb
  config/initializers/cookies_serializer.rb
  config/initializers/new_framework_defaults_7_0.rb
Labels: Awaiting Review
