Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6893 Use rebuild_constraints to modify foreign keys
  config/config.yml
Labels: Awaiting Review

AO3-6909 Bump tk0miya/action-erblint to 44c5fe3
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-6909 Bump tk0miya/action-erblint to 44c5fe3 (#5065)
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-6904 Set passwords of testuser and testadmin in fixtures to known values (#5064)
  test/fixtures/admins.yml
  test/fixtures/users.yml
Labels: Awaiting Review

Update admins.yml
  test/fixtures/admins.yml
Labels: Awaiting Review

AO3-6893 Use rebuild_constraints to modify foreign keys (#5066)
  config/config.yml
Labels: Awaiting Review

AO3-6893 Patch departure to prevent DB locking error
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

Fixes
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

AO3-6904 Update admins.yml (#5067)
  test/fixtures/admins.yml
Labels: Awaiting Review

AO3-6893 Patch departure to prevent DB locking error (#5068)
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

AO3-6893 Patch departure the right way to prevent lock issues
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

Suppress false positive cop
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

AO3-6893 Patch departure the right way to prevent lock issues (#5069)
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

set @page_subtitle instead of @page_title
  app/controllers/series_controller.rb
Labels: Awaiting Review

test for AO3-6769
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

fix whitespace
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

fix quotes
  app/controllers/series_controller.rb
Labels: Awaiting Review

fix i18n
  app/controllers/series_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

remove nested ternary
  app/controllers/series_controller.rb
Labels: Awaiting Review

assign @page_title if using get_page_title
  app/controllers/series_controller.rb
Labels: Awaiting Review

normalize i18n yml
  config/locales/controllers/en.yml
Labels: Awaiting Review

tests for series show page_title assignment
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

AO3-6769 assign page_subtitle instead of page_title for mystery series
  app/controllers/series_controller.rb
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

AO3-6769 replace ts with t helper
  app/controllers/series_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6769 whitespace
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

AO3-6893 Remove patch of departure.rb
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

AO3-6893 Remove patch of departure.rb (#5072)
  config/initializers/monkeypatches/departure.rb
Labels: Awaiting Review

AO3-6259 Upgrade to Elasticsearch 8.17.2
  .github/workflows/automated-tests.yml
  docker-compose.yml
Labels: Awaiting Review

AO3-6769 Fix series browser page title for mystery series missing site name (#5071)
  app/controllers/series_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/series_controller_spec.rb
Labels: Awaiting Review

AO3-6868 Add language form validation (#5005)
  app/models/language.rb
  db/migrate/20241227165942_add_unique_index_to_languages.rb
  lib/tasks/language_tasks.rake
  spec/models/language_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6903 Remove extra spaces after colons in mailers (#5056)
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/set_password_notification.html.erb
  app/views/admin_mailer/set_password_notification.text.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  config/locales/mailers/en.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6902 Upgraded after_commit_everywhere to 1.6.0 (#5060)
  Gemfile.lock
  config/initializers/monkeypatches/deliver_after_commit.rb
Labels: Awaiting Review, Gem Updates

AO3-6856 Make default language no longer editable (#4979)
  app/controllers/languages_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/languages_controller_spec.rb
Labels: Awaiting Review

AO3-6847 Create anonymous_or_unrevealed_notification mailer preview (#5040)
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  features/collections/collection_notification.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6810 Don't send "Automatically flagged as spam" email when hiding works manually (#4947)
  app/controllers/admin/user_creations_controller.rb
  app/models/moderated_work.rb
  app/models/work.rb
  features/admins/admin_spam.feature
  features/admins/admin_works.feature
  features/other_a/hit_counts.feature
  features/step_definitions/work_steps.rb
Labels: Awaiting Review

AO3-6790 Raise 404 when attempting to edit pseud that doesn't exist (#5046)
  app/controllers/pseuds_controller.rb
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

AO3-6004 show hidden bookmarks on a bookmarkable to admins (#4758)
  app/controllers/bookmarks_controller.rb
  features/admins/admin_works.feature
Labels: Awaiting Review

AO3-4735 Don't treat "-" as NOT when it is alone (#4932)
  app/models/search/query.rb
  spec/models/search/query_spec.rb
Labels: Awaiting Review

AO3-6888 Better align tags and stats in work meta (#5033)
  public/stylesheets/site/2.0/12-group-meta.css
Labels: Awaiting Review

AO3-6850 Remove pinch_request_signup from challenge assignments (#4974)
  app/mailers/user_mailer.rb
  app/models/challenge_assignment.rb
  app/views/challenge_assignments/_assignment_blurb.html.erb
  app/views/challenge_assignments/_maintainer_index_defaulted.html.erb
  app/views/challenge_assignments/_maintainer_index_unfulfilled.html.erb
  app/views/challenge_assignments/show.html.erb
  app/views/potential_matches/_list_recipients_for_pseud.html.erb
  config/locales/models/en.yml
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
