Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6365 Update muted users limit (#4451)
  config/config.yml
Labels: Awaiting Review

Fix localization issues
  app/views/collection_items/_collection_item_form.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Cleanup things because I did a silly
  app/views/collection_items/_collection_item_form.html.erb
Labels: Awaiting Review

Add details styling.
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Awaiting Review

AO3-6440 Restrict access to password reset pages
  app/controllers/admin/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
  app/models/admin.rb
  features/admins/authenticate_admins.feature
  features/support/paths.rb
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-6440 I don't want to talk about it.
  app/controllers/admin/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
Labels: Awaiting Review

AO3-6440 Apply filter to all actions, remove accidental change
  app/controllers/admin/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
  app/models/admin.rb
Labels: Awaiting Review

AO3-6440 Restrict access to password reset pages (#4453)
  app/controllers/admin/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
  features/admins/authenticate_admins.feature
  features/support/paths.rb
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-6476 Update styling of muted users notice
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/search_results.html.erb
  app/views/muted/_muted_items_notice.html.erb
  app/views/series/index.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
Labels: Awaiting Review

AO3-6431 Guarantee that we pick subscription via type precedence.
  app/models/subscription.rb
  features/other_b/subscriptions.feature
  lib/creation_notifier.rb
  spec/models/subscription_spec.rb
Labels: Awaiting Review

AO3-6469 Upgrade to Rails 6.1. (#4439)
  Gemfile
  Gemfile.lock
  app/models/abuse_report.rb
  app/models/admin.rb
  app/models/admin_post_tag.rb
  app/models/api_key.rb
  app/models/archive_faq.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/external_author_name.rb
  app/models/invite_request.rb
  app/models/kudo.rb
  app/models/language.rb
  app/models/locale.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/tag.rb
  app/models/tagset_models/owned_tag_set.rb
  app/models/user.rb
  app/validators/email_blacklist_validator.rb
  app/validators/email_format_validator.rb
  app/validators/email_veracity_validator.rb
  app/validators/url_active_validator.rb
  app/validators/url_format_validator.rb
  config/initializers/monkeypatches/fix_phraseapp.rb
  config/routes.rb
  config/storage.yml
Labels: Awaiting Review, Gem Updates

AO3-6431 fix hound lint comments
  app/models/subscription.rb
  spec/models/subscription_spec.rb
Labels: Awaiting Review

AO3-6431 fix one last(?) hound lint comment
  app/models/subscription.rb
Labels: Awaiting Review

AO3-5801 restore remove_contents
  config/initializers/gem-plugin_config/sanitizer_config.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6449: Update NewRelic to latest version 8.16.0
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-5356 Move select options to helper
  app/helpers/language_helper.rb
  app/views/abuse_reports/new.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/_filters.html.erb
  app/views/archive_faqs/_filters.html.erb
  app/views/bookmarks/_filters.html.erb
  app/views/bookmarks/_search_form.html.erb
  app/views/external_works/edit.html.erb
  app/views/feedbacks/new.html.erb
  app/views/locales/_locale_form.html.erb
  app/views/preferences/index.html.erb
  app/views/works/_filters.html.erb
  app/views/works/_search_form.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/_work_form_associations_language.html.erb
  app/views/works/edit_multiple.html.erb
  app/views/works/new_import.html.erb
Labels: Awaiting Review

Use 24-hour time format by default, to improve user experience
  app/helpers/application_helper.rb
  config/config.yml
  features/step_definitions/comment_steps.rb
  spec/controllers/gift_exchange_controller_spec.rb
  spec/controllers/prompt_meme_controller_spec.rb
Labels: Awaiting Review

AO3-5054 Try new testing approach.
  app/models/kudo.rb
  app/models/user.rb
  app/models/work.rb
  app/views/kudos/_kudos.html.erb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-5054 Fix hound/accidental merge messup.
  app/models/kudo.rb
  app/sweepers/kudos_sweeper.rb
Labels: Awaiting Review

AO3-5054 Switch back to commentable.cache_key approach
  app/models/kudo.rb
  app/views/kudos/_kudos.html.erb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-3585 Allow form submission when errors are fixed (#4402)
  features/step_definitions/generic_steps.rb
  features/works/work_create.feature
  public/javascripts/livevalidation_standalone.js
Labels: Awaiting Review

AO3-6183 Make live validation errors screen readable (#4379)
  public/javascripts/livevalidation_standalone.js
Labels: Awaiting Review

AO3-6475 Let QueryResults use scopes, so that we can start work on reducing N+1 queries for works & bookmarks. (#4449)
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/decorators/bookmarkable_decorator.rb
  app/decorators/pseud_decorator.rb
  app/models/bookmark.rb
  app/models/external_work.rb
  app/models/search/query_result.rb
  app/models/series.rb
  app/models/work.rb
  lib/searchable.rb
  spec/requests/works_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6466 Allow <details> and <summary> HTML tags (#4448)
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/paragraph_maker.rb
  public/help/html-help.html
  public/stylesheets/site/2.0/21-userstuff.css
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6420 Remove unused gifts view (#4428)
  app/views/gifts/index_for_collection.html.erb
Labels: Awaiting Review

AO3-6425 Added work IDs to abuse report URLs (#4399)
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

AO3-6432 Prevent orphan_account from being warned/banned/suspended (#4410)
  app/models/user_manager.rb
  features/admins/users/admin_abuse_users.feature
  spec/models/user_manager_spec.rb
Labels: Awaiting Review

AO3-6318 Include series in the noindex privacy preference (#4267)
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/other_a/preferences_edit_more.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/preferences_steps.rb
  public/help/privacy-preferences.html
Labels: Awaiting Review

AO3-6387 Prevent editing existing tags when creating new tags (#4377)
  app/controllers/tags_controller.rb
  spec/controllers/tags_controller_spec.rb
Labels: Awaiting Review

AO3-6279 Remove defunct video sites from the embed sanitizer (#4176)
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6319 Allow hsla colors in skins (#4207)
  lib/css_cleaner.rb
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-6368 Remove unused EmailValidator (#4351)
  app/validators/email_validator.rb
Labels: Awaiting Review

AO3-5837 Remove unused code from bookmarks controller (#4353)
  app/controllers/bookmarks_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

AO3-6435 Remove prompt_restriction_id column from the gift_exchanges and prompt_memes tables. (#4408)
  app/controllers/challenge_requests_controller.rb
  app/helpers/prompt_restrictions_helper.rb
  app/models/challenge_models/gift_exchange.rb
  app/models/challenge_models/prompt_meme.rb
  app/models/offer.rb
  app/models/prompt.rb
  app/models/request.rb
  db/migrate/20221205223816_remove_prompt_restriction_id_column.rb
  factories/challenges.rb
  spec/controllers/challenge_claims_controller_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6140 Remove "translation_admin" user role and restrict access to locales and languages (#4347)
  app/controllers/languages_controller.rb
  app/controllers/locales_controller.rb
  app/models/user.rb
  app/policies/language_policy.rb
  app/policies/locale_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_users/_user_listing.html.erb
  app/views/languages/index.html.erb
  app/views/locales/index.html.erb
  factories/users.rb
  features/admins/admin_languages.feature
  features/admins/admin_locales.feature
  features/admins/admin_post_faqs.feature
  features/fixtures/roles.yml
  lib/tasks/after_tasks.rake
  lib/tasks/defaults.rake
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/defaults.rake_spec.rb
  test/fixtures/roles.yml
Labels: Awaiting Review

AO3-5521 Record a work's original creator on orphaning (#4251)
  app/models/creatorship.rb
  app/models/pseud.rb
  app/models/work.rb
  app/models/work_original_creator.rb
  app/policies/user_creation_policy.rb
  app/views/works/_meta.html.erb
  config/config.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  db/migrate/20220911173601_create_work_original_creators.rb
  factories/work_original_creators.rb
  features/admins/admin_works.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/orphans_controller_spec.rb
  spec/models/work_original_creator_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6464 Allow ruby, rt, and rp HTML tags where HTML is allowed (#4443)
  app/helpers/application_helper.rb
  app/views/bookmarks/_bookmark_form.html.erb
  app/views/comments/_comment_form.html.erb
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/paragraph_maker.rb
  public/help/html-help.html
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6428 Fix downloads and attachments of works with no posted chapters (#4424)
  app/mailers/user_mailer.rb
  app/models/download.rb
  app/views/downloads/show.html.erb
  factories/chapters.rb
  features/works/work_download.feature
  spec/mailers/user_mailer_spec.rb
  spec/models/download_spec.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Awaiting Review

AO3-6118 Require opt-in for work collection invitations (#4348)
  app/controllers/collection_items_controller.rb
  app/controllers/preferences_controller.rb
  app/models/collection_item.rb
  app/models/preference.rb
  app/models/work.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/preferences/index.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  config/locales/views/en.yml
  db/migrate/20220918015954_add_allow_collection_invitation_to_preference.rb
  features/collections/collectible_closed_collection.feature
  features/collections/collectible_moderated_collection.feature
  features/collections/collectible_multiple_collections.feature
  features/collections/collectible_open_collection.feature
  features/collections/collection_anonymity.feature
  features/collections/collection_invite.feature
  features/comments_and_kudos/hidden_works.feature
  features/other_a/autocomplete.feature
  features/other_a/preferences_edit.feature
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/preferences_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_related.feature
  features/works/work_view.feature
  public/help/collection-preferences.html
  spec/controllers/collection_items_controller_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6466 Allow open attribute on details element.
  config/initializers/gem-plugin_config/sanitizer_config.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review
