Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6323 Pleasing the hound
  spec/helpers/comments_helper_spec.rb
Labels: Awaiting Review

AO3-6323 Fix tests
  spec/helpers/comments_helper_spec.rb
Labels: Awaiting Review

AO3-6323 Add user ID to comments (#4219)
  app/helpers/comments_helper.rb
  spec/helpers/comments_helper_spec.rb
Labels: Awaiting Review

AO3-6256 Restore formatting on single guest kudos
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6256 Add failing test
  features/comments_and_kudos/kudos.feature
Labels: Awaiting Review

AO3-6256 Update keys being used
  app/views/kudo_mailer/batch_kudo_notification.html.erb
Labels: Awaiting Review

AO3-6256 Put passing test back
  features/comments_and_kudos/kudos.feature
Labels: Awaiting Review

AO3-6256 .html_safe
  app/views/kudo_mailer/batch_kudo_notification.html.erb
Labels: Awaiting Review

AO3-6256 Specs! h/t @redsummernight
  spec/mailers/kudo_mailer_spec.rb
Labels: Awaiting Review

AO3-6146 Limit username changes (#4161)
  app/helpers/translation_helper.rb
  app/models/user.rb
  app/views/users/change_username.html.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  db/migrate/20220212222625_add_renamed_at_to_users.rb
  features/other_a/autocomplete.feature
  lib/tasks/after_tasks.rake
  spec/models/user_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6256 Restore formatting on single guest kudos (#4220)
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  config/locales/mailers/en.yml
  spec/mailers/kudo_mailer_spec.rb
Labels: Awaiting Review

AO3-5348 Finish gift notification i18n
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-5348 Put work title and word count info into helpers
  app/helpers/mailer_helper.rb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-5348 Add tests, remove fool's errand
  app/helpers/mailer_helper.rb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6291 Rename bookmarkable id indexing field
  app/models/search/bookmark_indexer.rb
  app/models/search/bookmarkable_indexer.rb
  app/models/search/bookmarkable_query.rb
Labels: Awaiting Review

AO3-5348 Make creation_word_count private and remove specs
  app/helpers/mailer_helper.rb
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-5348 Gift notification i18n (#4221)
  app/helpers/mailer_helper.rb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6333 Use request specs.
  spec/controllers/comments_controller_spec.rb
  spec/requests/comments_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6333 Block rename for Hound.
  spec/requests/comments_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6333 Review comments.
  spec/requests/comments_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-2675
  app/controllers/skins_controller.rb
  app/models/skin.rb
  spec/models/skin_parent_spec.rb
Labels: Awaiting Review

AO3-2675
  spec/models/skin_parent_spec.rb
Labels: Awaiting Review

AO3-6291 Rename bookmarkable id indexing field (#4222)
  app/models/search/bookmark_indexer.rb
  app/models/search/bookmarkable_indexer.rb
  app/models/search/bookmarkable_query.rb
Labels: Awaiting Review

AO3-6333 Try to reduce database queries when viewing comments. (#4213)
  Gemfile
  Gemfile.lock
  app/controllers/admin_posts_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/comments_controller.rb
  app/decorators/comment_decorator.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/models/user.rb
  app/views/comments/_comment_form.html.erb
  app/views/comments/_comment_thread.html.erb
  app/views/comments/_commentable.html.erb
  config/environments/development.rb
  spec/controllers/chapters_controller_spec.rb
  spec/requests/comments_n_plus_one_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Gem Updates

AO3-6307 Remove what appears to be an unused variable
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Awaiting Review

AO3-6307 Use the class name for i18n keys in creatorship emails
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Awaiting Review

AO3-6307 Skip the downcase, but add underscore
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Awaiting Review

AO3-2675
  app/models/skin.rb
Labels: Awaiting Review

AO3-5986 Made changes
  app/models/admin.rb
  features/comments_and_kudos/official_comments.feature
  public/stylesheets/site/2.0/15-group-comments.css
  test/fixtures/roles.yml
Labels: Awaiting Review

AO3-5986 Resolve merge conflict
  app/views/comments/_single_comment.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

Feedback
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

AO3-6200 Make bookmark_if_exists faster.
  app/helpers/bookmarks_helper.rb
  spec/helpers/bookmarks_helper_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-5986 Clean up files & Remove duplicate functions
  app/helpers/comments_helper.rb
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Awaiting Review

AO3-5986 Try and get n+1 test to pass
  app/models/comment.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-PT.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

Updated translations from Phrase (#4224)
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

AO3-2675
  features/other_b/skin.feature
Labels: Awaiting Review
