Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6203 make test for alphabetical ordering more explicit
  features/tags_and_wrangling/tag_view.feature
Labels: Awaiting Review

AO3-6203 Use activerecord functions instead of raw SQL
  app/models/tag.rb
Labels: Awaiting Review

Restore first login help modal title
  app/views/users/show.html.erb
  config/locales/views/en.yml
  features/users/user_dashboard.feature
Labels: Awaiting Review

AO3-7187 Change "Skin Type" to "Type"
  config/locales/views/en.yml
Labels: Awaiting Review

fix tests
  config/locales/controllers/en.yml
  features/users/user_edit.feature
Labels: Awaiting Review

AO3-7013 Update Rubocop to the latest version
  .rubocop.yml
  Gemfile
Labels: Awaiting Review, Gem Updates

AO3-7013 Update Rubocop to the latest version
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7013 Update Rubocop to the latest version
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6851 Remove pinch_request_signup association from the challenge_assignments table
  app/models/challenge_assignment.rb
  db/migrate/20251112114418_remove_pinch_request_signup_from_challenge_assignments.rb
Labels: Awaiting Review, Has Migrations

AO3-6851 Remove pinch_request_signup association from the challenge_assignments table
  db/migrate/20251112114418_remove_pinch_request_signup_from_challenge_assignments.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Has Migrations

A03-7205 Add a warning to the bookmark success message.
  app/controllers/bookmarks_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

AO3-7205 Move bookmark success message to i18n .yml file.
  app/controllers/bookmarks_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

AO3-7205 Wrap success message in quootes, YAML treats colon as kvp separators.
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7205 Ensure proper formatting in .yml and I18n explicit in spec file.
  config/locales/controllers/en.yml
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

AO3-7203 Update admin_deleted_work_notification mailer preview to accept URL param wordID.
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Hide bookmark count for unrevealed works for non-authors and non-admins
  app/helpers/bookmarks_helper.rb
Labels: Awaiting Review

add unrevealed to externalwork, always false
  app/helpers/bookmarks_helper.rb
  app/models/external_work.rb
Labels: Awaiting Review

Fix robocop complains
  app/models/external_work.rb
Labels: Awaiting Review

Fix robocop again, I am not reading :(
  app/models/external_work.rb
Labels: Awaiting Review

final rubocop
  app/models/external_work.rb
Labels: Awaiting Review

AO3-5542 Use heading in translation key
  app/views/challenge_signups/summary.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Reviewed issue, use safe navigation instead
  app/helpers/bookmarks_helper.rb
  app/models/external_work.rb
Labels: Awaiting Review

delete extra new line
  app/models/external_work.rb
Labels: Awaiting Review

again I am not reading
  app/models/external_work.rb
Labels: Awaiting Review

AO3-7205 Add bookmark warning to create/update actions if user adds them to collections.
  app/controllers/bookmarks_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

Fix rubocop lint on if statement.
  app/controllers/bookmarks_controller.rb
Labels: Awaiting Review

AO3-7205 Add collection bookmark update warning tests.
  app/controllers/bookmarks_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

AO3-7205 Add collection bookmark update warning tests.
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

A03-7205 String interpolation fix.
  app/controllers/bookmarks_controller.rb
Labels: Awaiting Review

Fix tests
  features/step_definitions/user_steps.rb
Labels: Awaiting Review

formatting
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-7037 AO3-7061 Only permit email for password resets (#5276)
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  app/validators/email_format_validator.rb
  app/views/users/passwords/new.html.erb
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  features/users/user_edit.feature
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

AO3-6054 User's Related Works page lets others see unapproved work relationships (#5417)
  app/controllers/related_works_controller.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7159 Fix/Show caution when accepting/rejecting co-creator requests with no selection (#5418)
  app/controllers/creatorships_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/creatorships_controller_spec.rb
Labels: Awaiting Review

AO3-7134 Fix new user tips link not opening in modal (#5435)
  app/views/users/show.html.erb
  config/locales/views/en.yml
  features/users/user_dashboard.feature
Labels: Awaiting Review

AO3-7180 Mark "Name" field as required when creating a new pseud (#5436)
  app/views/pseuds/_pseuds_form.html.erb
  app/views/pseuds/new.html.erb
  config/locales/views/en.yml
  features/other_a/pseuds.feature
Labels: Awaiting Review

AO3-7115 Update password reset error messages when logged in (#5457)
  config/locales/devise/en.yml
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-7070 i18n comment sent notification (#5440)
  app/models/comment.rb
  features/comments_and_kudos/add_comment.feature
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

AO3-3976 Style series link in subscription email (#5231)
  app/helpers/series_helper.rb
  app/helpers/works_helper.rb
  app/views/share/_embed_meta.html.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  config/locales/helpers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-7202 Fix chapter and download menu in Low Vision Default (#5460)
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
