Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6791 update test name
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

No ! means immutable
  app/controllers/readings_controller.rb
Labels: Awaiting Review

Rescue overflow
  app/controllers/application_controller.rb
Labels: Awaiting Review

Consistency
  app/controllers/application_controller.rb
Labels: Awaiting Review

Cop
  Gemfile
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/helpers/application_helper.rb
Labels: Awaiting Review, Gem Updates

Update to address requested changes
  app/mailers/user_mailer.rb
  features/collections/collection_notification.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Style fix
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6901 Use ActiveJob for asynchronous indexing
  app/jobs/async_indexer_job.rb
  app/models/search/async_indexer.rb
Labels: Awaiting Review

Update tests for AsyncIndexer
  spec/models/search/async_indexer_spec.rb
  spec/models/search/index_sweeper_spec.rb
Labels: Awaiting Review

Avoid leaking queue_adapter changes to subsequent tests
  spec/lib/tasks/notifications.rake_spec.rb
Labels: Awaiting Review

Run enqueued jobs for request specs (works n+1 specs)
  config/environments/production.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6903 Use *work_metadata_label methods and remove extra spaces
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6903 Rename *work_metadata_label methods to *metadata_label
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/set_password_notification.html.erb
  app/views/admin_mailer/set_password_notification.text.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6775 Add delete work previews
  app/mailers/user_mailer.rb
  app/models/work.rb
  test/mailers/previews/application_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6775 Don't change User.current_user for preview
  app/mailers/user_mailer.rb
  app/models/work.rb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  features/step_definitions/work_steps.rb
  features/works/work_delete.feature
  test/mailers/previews/application_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6775 Rubocop
  app/models/work.rb
Labels: Awaiting Review

AO3-6775 Fix tests
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6884 Update to Ruby 3.2 (#5053)
  .ruby-version
  Gemfile
  Gemfile.lock
  config/docker/Dockerfile
Labels: Awaiting Review, Gem Updates

Fix typo in comment
  app/models/search/async_indexer.rb
Labels: Awaiting Review

Ignore Brakeman's warning
  config/brakeman.yml
Labels: Awaiting Review

Move to own module
  app/helpers/application_helper.rb
  app/helpers/pagination_helper.rb
Labels: Awaiting Review

Keep closer to Pagy's original syntax
  app/helpers/pagination_helper.rb
  config/initializers/gem-plugin_config/pagy.rb
  config/locales/views/en.yml
Labels: Awaiting Review

Cop
  app/helpers/pagination_helper.rb
  config/initializers/gem-plugin_config/pagy.rb
Labels: Awaiting Review

Explicit Pagy i18n keys
  app/helpers/pagination_helper.rb
Labels: Awaiting Review

Add more instructions to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Review

Fix duplicate test scenario
  features/collections/collection_notification.feature
Labels: Awaiting Review

Add more instructions to pull request template (#5058)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Review

Use existing key
  app/helpers/pagination_helper.rb
  config/locales/views/en.yml
Labels: Awaiting Review

current state
  config/servers.yml
Labels: Awaiting Review

AO3-6902 Upgraded after_commit_everywhere to 1.6.0
  Gemfile.lock
  config/initializers/monkeypatches/deliver_after_commit.rb
Labels: Awaiting Review, Gem Updates

AO3-6901 Use ActiveJob for asynchronous indexing (#5055)
  app/jobs/async_indexer_job.rb
  app/models/search/async_indexer.rb
  config/environments/production.rb
  spec/lib/tasks/notifications.rake_spec.rb
  spec/models/search/async_indexer_spec.rb
  spec/models/search/index_sweeper_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6880 Use pagy gem for pagination on select pages (#5054)
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  app/helpers/application_helper.rb
  app/helpers/pagination_helper.rb
  app/views/bookmarks/index.html.erb
  app/views/readings/index.html.erb
  app/views/works/index.html.erb
  config/brakeman.yml
  config/initializers/gem-plugin_config/pagy.rb
  config/locales/views/en.yml
Labels: Awaiting Review, Gem Updates

change fandom_path(@tag.name) to fandom_path(@tag)
  app/views/tags/show.html.erb
Labels: Awaiting Review

AO3-4250 Made gift recipients update on blurbs on pseud / username changes
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseud_delete.feature
  features/other_a/pseuds.feature
  features/step_definitions/pseud_steps.rb
  features/users/user_delete.feature
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-4250 feed the rubodog
  app/models/pseud.rb
Labels: Awaiting Review

AO3-4250 feed the rubodog a bit more
  app/models/pseud.rb
Labels: Awaiting Review

AO3-4250 protect better against nils
  app/models/pseud.rb
Labels: Awaiting Review

Feed rubodog
  app/models/pseud.rb
Labels: Awaiting Review

update the users.yml and admins.yml files to include a plaintext password
  test/fixtures/admins.yml
  test/fixtures/users.yml
Labels: Awaiting Review

AO3-6893 Upgrade gems and configs to Rails 7.1.x (#5039)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/api/v2/works_controller.rb
  app/controllers/blocked/users_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/external_authors_controller.rb
  app/controllers/muted/users_controller.rb
  app/controllers/owned_tag_sets_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/controllers/works_controller.rb
  app/models/admin.rb
  app/models/search/bookmark_indexer.rb
  app/models/skin.rb
  app/models/story_parser.rb
  app/views/admin_posts/index.rss.builder
  bin/setup
  config/application.rb
  config/config.yml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  config/secrets.yml
  db/migrate/20250129101815_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250129101816_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250129101817_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
  spec/requests/security_headers_spec.rb
Labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
