Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

fix hound violations part 2
  app/policies/spam_policy.rb
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

AO3-6367 Update Rails to 6.0.5.1 and all its associated dependencies (#4329)
  Gemfile.lock
  config/application.rb
Labels: Awaiting Review, Gem Updates

AO3-5779 Add thousands separator to long numbers on statistics page (#4309)
  app/views/stats/index.html.erb
Labels: Awaiting Review

AO3-5719 Generate links to end notes without path (#4301)
  app/views/chapters/_chapter.html.erb
Labels: Awaiting Review

AO3-2426 Allow admin to change the language of an external work (#4317)
  app/controllers/external_works_controller.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/external_works/edit.html.erb
  features/admins/admin_works.feature
Labels: Awaiting Review

AO3-6326 Change "Close" to "Cancel" in inbox (#4202)
  app/views/comments/_comment_form.html.erb
  public/stylesheets/site/2.0/07-interactions.css
Labels: Awaiting Review

AO3-5677 AO3-6041 Remove unused methods & rescue block from the UsersController. (#4227)
  app/controllers/users_controller.rb
Labels: Awaiting Review

AO3-6201 Remove unused actions from the AutocompleteController (#4282)
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

AO3-6160 Correct pluralization of bookmark count on delete pseud page (#4274)
  app/views/pseuds/delete_preview.html.erb
  config/locales/views/en.yml
  features/other_a/pseud_delete.feature
Labels: Awaiting Review

AO3-6380 Restrict access to the Admin Activities page to Policy & Abuse and Superadmins. (#4334)
  app/controllers/admin/activities_controller.rb
  app/policies/admin_activity_policy.rb
  app/views/admin/_header.html.erb
  spec/controllers/admin/activities_controller_spec.rb
Labels: Awaiting Review

AO3-6394 Restrict admin access to banned emails (formerly blacklist) (#4335)
  app/controllers/admin/blacklisted_emails_controller.rb
  app/policies/admin_blacklisted_email_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/blacklisted_emails/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  features/admins/admin_email_blacklist.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Awaiting Review

AO3-6013 Record date of wrangler's last wrangling activity (#4129)
  app/controllers/concerns/tag_wrangling.rb
  app/controllers/tag_wranglings_controller.rb
  app/controllers/tags_controller.rb
  app/helpers/application_helper.rb
  app/models/comment.rb
  app/models/common_tagging.rb
  app/models/concerns/wrangleable.rb
  app/models/last_wrangling_activity.rb
  app/models/meta_tagging.rb
  app/models/roles_user.rb
  app/models/tag.rb
  app/models/user.rb
  app/views/tag_wranglers/show.html.erb
  config/locales/views/en.yml
  db/migrate/20211230202951_create_last_wrangling_activities.rb
  factories/last_wrangling_activity.rb
  factories/tags.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/models/comment_spec.rb
  spec/models/concerns/wrangleable_spec.rb
  spec/models/roles_user_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Has Migrations

Revert "Merge branch 'master' into AO3-6308-correct-user-suspension-end-time"
  Gemfile.lock
  app/controllers/admin/activities_controller.rb
  app/controllers/autocomplete_controller.rb
  app/controllers/external_works_controller.rb
  app/controllers/users_controller.rb
  app/policies/admin_activity_policy.rb
  app/views/admin/_header.html.erb
  app/views/chapters/_chapter.html.erb
  app/views/comments/_comment_form.html.erb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/external_works/edit.html.erb
  app/views/pseuds/delete_preview.html.erb
  app/views/stats/index.html.erb
  config/application.rb
  config/locales/views/en.yml
  factories/skins.rb
  features/admins/admin_works.feature
  features/other_a/pseud_delete.feature
  public/stylesheets/site/2.0/07-interactions.css
  spec/controllers/admin/activities_controller_spec.rb
Labels: Awaiting Review, Gem Updates

Use a separate table
  app/models/creatorship.rb
  app/models/pseud.rb
  app/models/work.rb
  app/models/work_original_creator.rb
  app/views/works/_meta.html.erb
  config/config.yml
  config/resque_schedule.yml
  db/migrate/20220717185757_add_original_creators_to_work.rb
  db/migrate/20220911173601_create_work_original_creators.rb
  factories/work_original_creators.rb
  spec/controllers/orphans_controller_spec.rb
  spec/models/pseud_spec.rb
  spec/models/work_original_creator_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

Style fixes
  app/models/work.rb
  app/views/works/_meta.html.erb
  spec/controllers/orphans_controller_spec.rb
Labels: Awaiting Review

AO3-6224 Return a 404 when wrangler is not found
  app/controllers/tag_wranglers_controller.rb
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

Feedback and work delete fix
  app/models/creatorship.rb
  app/models/work_original_creator.rb
  db/migrate/20220911173601_create_work_original_creators.rb
  factories/work_original_creators.rb
  spec/models/work_original_creator_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

fix user suspension end time
  app/controllers/application_controller.rb
Labels: Awaiting Review

make admin script creation roles not case sensitive
  script/create_admin.rb
Labels: Awaiting Review

restrict access to spam page
  app/controllers/admin/spam_controller.rb
  app/policies/spam_policy.rb
  app/views/admin/_header.html.erb
  features/admins/admin_spam.feature
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

fix indents in spam policy
  app/policies/spam_policy.rb
Labels: Awaiting Review

AO3-6393 Prevent same language translations
  app/controllers/admin_posts_controller.rb
Labels: Awaiting Review

add unit tests
  app/controllers/admin_posts_controller.rb
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-6160 Fix grammatical error on delete pseud page
  config/locales/views/en.yml
Labels: Awaiting Review

rename spam policy to moderated work policy
  app/controllers/admin/spam_controller.rb
  app/policies/moderated_work_policy.rb
  app/policies/spam_policy.rb
  app/views/admin/_header.html.erb
Labels: Awaiting Review

change notice to error and add more unit tests
  app/controllers/admin_posts_controller.rb
  features/admins/admin_post_news.feature
Labels: Awaiting Review

rename redirect with notice to redirect with error
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

AO3-6398 Fix flaky gift tests.
  features/other_a/gift.feature
  features/step_definitions/gift_steps.rb
Labels: Awaiting Review

AO3-6397 Fix flaky co-creator test.
  features/works/work_create.feature
Labels: Awaiting Review

AO3-6398 Try to fix flaky tests in features/other_a/gift.feature. (#4343)
  features/other_a/gift.feature
  features/step_definitions/gift_steps.rb
Labels: Awaiting Review

AO3-6400 Fix flaky skin test.
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review

AO3-6397 Try to fix flaky co-creator test in features/works/work_create.feature. (#4344)
  features/works/work_create.feature
Labels: Awaiting Review

AO3-6381 Restrict admin access to spam page (#4340)
  app/controllers/admin/spam_controller.rb
  app/policies/moderated_work_policy.rb
  app/views/admin/_header.html.erb
  features/admins/admin_spam.feature
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

AO3-6399 Fix flaky hidden comments test.
  features/comments_and_kudos/hidden_comments.feature
Labels: Awaiting Review

AO3-6400 Try to fix the flaky test in features/admins/admin_skins.feature. (#4345)
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review

AO3-6399 Try to fix the flaky test in features/comments_and_kudos/hidden_comments.feature. (#4346)
  features/comments_and_kudos/hidden_comments.feature
Labels: Awaiting Review

Update test to match new behavior
  features/comments_and_kudos/hidden_comments.feature
Labels: Awaiting Review

Add new preference option
  app/controllers/preferences_controller.rb
  app/models/collection_item.rb
  app/models/work.rb
  app/views/comments/_commentable.html.erb
  app/views/preferences/index.html.erb
  config/locales/views/en.yml
  db/migrate/20220918015954_add_allow_collection_invitation_to_preference.rb
  features/other_a/preferences_edit.feature
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

remove translation admin role
  app/controllers/languages_controller.rb
  app/controllers/locales_controller.rb
  app/models/user.rb
  app/views/admin/admin_users/_user_listing.html.erb
  app/views/locales/index.html.erb
  factories/users.rb
  features/fixtures/roles.yml
  lib/tasks/defaults.rake
  spec/lib/tasks/defaults.rake_spec.rb
  test/fixtures/roles.yml
Labels: Awaiting Review

restrict access to locales
  app/controllers/locales_controller.rb
  app/policies/locale_policy.rb
  app/views/admin/_header.html.erb
  spec/controllers/locales_controller_spec.rb
Labels: Awaiting Review
