Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7254 Test admin post comment url
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

AO3-7279 Add failing test for async reveal of unrevealed collection
  spec/models/collection_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-7279 Change collection async reveal tasks to check if collection is still revealed/non-anonymous
  app/models/collection.rb
Labels: Awaiting Review

Applied suggestiong to not have ifthen
  app/models/search/search_counts.rb
Labels: Awaiting Review

AO3-7028 Fix a float: left that should float: right
  public/stylesheets/site/2.0/17-zone-home.css
Labels: Awaiting Review

AO3-7279 Use after commit to be safe
  app/models/collection.rb
Labels: Awaiting Review

Draft deletion notice added to multi chapter drafts
  app/views/chapters/show.html.erb
Labels: Awaiting Review

AO3-7210: Migrated skins-creating.html help file to localized help controller view
  app/controllers/help_controller.rb
  app/views/help/skins_creating.html.erb
  app/views/skins/_form.html.erb
  config/config.yml
  config/locales/views/en.yml
  config/routes.rb
  public/help/skins-creating.html
Labels: Awaiting Review

fix app/views/skins/_form.html.erb for lint
  app/views/skins/_form.html.erb
Labels: Awaiting Review

fix app/views/skins/_form.html.erb for lint again
  app/views/skins/_form.html.erb
Labels: Awaiting Review

added css translation
  config/locales/views/en.yml
Labels: Awaiting Review

normalize
  config/locales/views/en.yml
Labels: Awaiting Review

reverted .one_declaration_per_ruleset.description changes to match source exactly
  app/views/help/skins_creating.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7060 Blank values for past usernames and emails on user admin page (#5536)
  app/views/admin/admin_users/show.html.erb
Labels: Awaiting Review

AO3-7238 Add work's last updated time to akismet comment spam checks (#5521)
  app/models/comment.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7045 Use bigint for audits IDs (#5516)
  db/migrate/20251221104708_change_audits_id_to_bigint.rb
  spec/models/user_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7264 Allow different rate limits based on the current user (#5543)
  app/controllers/comments_controller.rb
  app/controllers/errors_controller.rb
  app/views/errors/429.html.erb
  config/config.yml
  config/docker/redis.yml
  config/gh-actions/redis.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/redis.example
  config/routes.rb
  features/comments_and_kudos/comments_rate_limit.feature
  features/comments_and_kudos/spam_comments.feature
  features/support/hooks.rb
  script/gh-actions/multiple_redis.sh
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-7262 Add comment_date_gmt to comment spam check (#5547)
  app/models/comment.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7274 Increase comment preview limit to 1000 characters
  app/views/comments/_comment_abbreviated_list.html.erb
Labels: Awaiting Review

Requested changes
  app/models/work.rb
Labels: Awaiting Review

AO3-7271 take cf data from header to model then akismet
  app/controllers/comments_controller.rb
  app/models/comment.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

Requested changes
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  features/bookmarks/bookmark_javascript.feature
  features/step_definitions/bookmark_steps.rb
Labels: Awaiting Review

Was overeager with my change
  app/models/work.rb
Labels: Awaiting Review

AO3-5748 Split off assignments with both offer and pinch hitter
  app/controllers/challenge_assignments_controller.rb
  app/models/challenge_assignment.rb
  spec/controllers/challenge_assignments_controller_spec.rb
Labels: Awaiting Review

Requested changes to tests
  features/collections/collection_navigation.feature
Labels: Awaiting Review

refactor: remove unused file (#5558)
  app/views/user_mailer/delete_signup_notification.text.erb
Labels: Awaiting Review

AO3-7047 Update comments id to bigint
  db/migrate/20260124181621_change_comments_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

AO3-7047 Migrate foreign keys and add tests
  db/migrate/20260124181621_change_comments_ids_to_bigint.rb
  spec/models/comment_spec.rb
  spec/models/inbox_comment_spec.rb
Labels: Awaiting Review, Has Migrations

Bump elasticsearch
  .github/workflows/automated-tests.yml
  docker-compose.yml
Labels: Awaiting Review

And the Gem
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

First draft
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

Maybe I should try this when still feeling sick
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

AO3-7036 Add test
  app/views/comments/_comment_actions.html.erb
  features/comments_and_kudos/comment_moderation.feature
Labels: Awaiting Review

AO3-7036 I18n
  app/views/comments/_comment_actions.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Added a test for the draft deletion message on multichapter drafts
  features/works/work_drafts.feature
Labels: Awaiting Review

AO3-7249 Track past emails and usernames via a separate table (#5533)
  app/jobs/audits_backfill_job.rb
  app/models/user.rb
  app/models/user_past_email.rb
  app/models/user_past_username.rb
  db/migrate/20260103083335_create_user_past_emails.rb
  db/migrate/20260103083447_create_user_past_usernames.rb
  lib/tasks/after_tasks.rake
  spec/jobs/audits_backfill_job_spec.rb
  spec/models/user_spec.rb
Labels: Awaiting Review, Has Migrations

Revert "AO3-7216 Hotfix that AsyncIndexerJob for UserIndexer gets stuck due to very large audits (#5491)"
  app/models/user.rb
  config/config.yml
Labels: Awaiting Review

AO3-7249 Fix filtering out changes of wrong type which broke on test. Added unit test for functionality
  app/jobs/audits_backfill_job.rb
  spec/jobs/audits_backfill_job_spec.rb
Labels: Awaiting Review

AO3-7249 rubocop
  app/jobs/audits_backfill_job.rb
Labels: Awaiting Review

AO3-7249 Typo
  spec/jobs/audits_backfill_job_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
