Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Feedback
  app/views/admin/admin_users/index.html.erb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

Default, default_all
  app/views/challenge_assignments/_assignment_blurb.html.erb
  app/views/challenge_assignments/_maintainer_index.html.erb
  app/views/challenge_assignments/show.html.erb
  config/locales/views/en.yml
  config/routes.rb
Labels: Awaiting Review

AO3-6882 Allow newer Ruby version to unblock upgrade (#5032)
  .ruby-version
  Gemfile
Labels: Awaiting Review, Gem Updates

Fix typo in contributing documentation (#5035)
  CONTRIBUTING.md
Labels: Awaiting Review

AO3-2898 use getElement() method instead of undocumented property
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Awaiting Review

AO3-6889 Add rack-timeout gem
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6889 Add rack-timeout gem (#5036)
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6882 Revert to use ruby-3.1.x by default
  .ruby-version
Labels: Awaiting Review

AO3-6882 Revert to use ruby-3.1.x by default (#5037)
  .ruby-version
Labels: Awaiting Review

AO3-6890 Add puma worker killer gem
  Gemfile
  Gemfile.lock
  config/config.yml
  config/initializers/puma_worker_killer.rb
Labels: Awaiting Review, Gem Updates

Remove initializer (it will be configured in Ansible)
  config/config.yml
  config/initializers/puma_worker_killer.rb
Labels: Awaiting Review

AO3-6890 Add puma worker killer gem (#5038)
  Gemfile
  Gemfile.lock
  config/config.yml
Labels: Awaiting Review, Gem Updates

AO3-6893 Initial Rails upgrade
  Gemfile
  Gemfile.lock
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  db/migrate/20250129101815_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250129101816_create_active_storage_variant_records.active_storage.rb
  db/migrate/20250129101817_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6893 Flipped config options and fixed deprecations
  app/controllers/api/v2/works_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/external_authors_controller.rb
  app/controllers/owned_tag_sets_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/controllers/works_controller.rb
  app/models/admin.rb
  app/models/search/bookmark_indexer.rb
  app/models/skin.rb
  app/models/story_parser.rb
  app/views/admin_posts/index.rss.builder
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/secrets.yml
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/requests/security_headers_spec.rb
Labels: Awaiting Review

Add Active Storage 7.1 changes to manual with_attached_* scopes
  app/controllers/blocked/users_controller.rb
  app/controllers/muted/users_controller.rb
Labels: Awaiting Review

AO3-6893 Rubocop
  app/controllers/owned_tag_sets_controller.rb
  app/views/admin_posts/index.rss.builder
  config/application.rb
  config/environments/production.rb
Labels: Awaiting Review

AO3-6847 Create anonymous_or_unrevealed_notification mailer preview
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  features/collections/collection_notification.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Do test still pass on this minimal pull
  app/helpers/resque_executor_wrap_helper.rb
  app/models/bookmark.rb
  app/models/concerns/async_with_resque.rb
Labels: Awaiting Review

Not a helper
  lib/resque_executor_wrap.rb
Labels: Awaiting Review

Apply patten to other classes that enqueue
  app/controllers/challenge_signups_controller.rb
  app/controllers/troubleshooting_controller.rb
  app/jobs/redis_set_job.rb
  app/models/challenge_assignment.rb
  app/models/challenge_signup_summary.rb
  app/models/concerns/filterable.rb
  app/models/indexing/index_queue.rb
  app/models/potential_match.rb
  app/models/pseud.rb
  app/models/redis_hit_counter.rb
  app/models/search/async_indexer.rb
  app/models/search/index_sweeper.rb
  app/models/search/indexer.rb
  app/models/serial_work.rb
  app/models/series.rb
  app/models/stat_counter.rb
  app/models/tag.rb
  app/models/tagging.rb
  app/models/user.rb
  app/models/work.rb
  lib/bookmarkable.rb
  lib/resque_executor_wrap.rb
  lib/searchable.rb
Labels: Awaiting Review

AO3-6890 Remove unusable config
  config/config.yml
Labels: Awaiting Review

rework page
  app/views/home/_dmca.html.erb
  app/views/home/dmca.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6890 Remove unusable config (#5042)
  config/config.yml
Labels: Awaiting Review

fix italics
  app/views/home/_dmca.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6820: switch back to separate pseud validation
  app/models/bookmark.rb
  features/bookmarks/bookmark_create.feature
  spec/models/bookmark_spec.rb
Labels: Awaiting Review

AO3-6820: switch validaiton syntax to appease rubocop
  app/models/bookmark.rb
Labels: Awaiting Review

abuse form edits
  app/views/abuse_reports/new.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

changing all cf_url to cf_ticket_url
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  features/step_definitions/support_steps.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Awaiting Review

consistent typo fix
  spec/models/feedback_reporters/abuse_reporter_spec.rb
Labels: Awaiting Review

AO3-6846 create admin_hidden_work_notification mailer
  app/mailers/user_mailer.rb
  app/models/work.rb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  config/locales/mailers/en.yml
  features/admins/admin_works.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6846 Made mailer work
  app/models/work.rb
  features/admins/admin_works.feature
Labels: Awaiting Review

AO3-6820: add presence validation to belongs_to instead
  app/models/bookmark.rb
  spec/models/bookmark_spec.rb
Labels: Awaiting Review

AO3-6846 Adding some parentheses
  app/views/user_mailer/admin_hidden_work_notification.html.erb
Labels: Awaiting Review

AO3-6846 Make i18n happy
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6893 Enable active storage related n+1 tests
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6892 Update schema and structure dumps
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

Suppress messy tables that should be deleted
  db/structure.sql
Labels: Awaiting Review

Suppress messy tables that should be deleted
  db/schema.rb
Labels: Awaiting Review

AO3-6892 Update schema and structure dumps (#5045)
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-6790: use find_by! to give 404 error
  app/controllers/pseuds_controller.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
