Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7255 add over-reporting limit for series and it's tests
  app/models/abuse_report.rb
  config/config.yml
  config/locales/models/en.yml
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

style: fix rubocop issues
  config/schedule.rb
  lib/tasks/reset_bookmark_tags.rake
  spec/lib/tasks/reset_bookmark_tags_spec.rb
Labels: Awaiting Review

AO3-7013 Update Rubocop to the latest version
  .rubocop.yml
  Gemfile
  Gemfile.lock
  spec/rubocop_spec_helper.rb
Labels: Awaiting Review, Gem Updates

AO3-6203 minor refactor of TagDecorator
  app/decorators/tag_decorator.rb
Labels: Awaiting Review

AO3-6203 activerecord-ify successful reindex parent tag query
  app/models/tag.rb
Labels: Awaiting Review

AO3-6203 use human model name in heading
  app/views/tags/show.html.erb
Labels: Awaiting Review

Update header view, add Cucumber test, and remove redundant unit test
  app/views/works/_work_header_navigation.html.erb
  features/comments_and_kudos/comment_moderation.feature
  spec/models/comment_spec.rb
Labels: Awaiting Review

double quotes
  app/views/works/_work_header_navigation.html.erb
Labels: Awaiting Review

lint issues
  app/views/works/_work_header_navigation.html.erb
Labels: Awaiting Review

lint issues #2
  app/views/works/_work_header_navigation.html.erb
Labels: Awaiting Review

lint fixing
  app/views/works/_work_header_navigation.html.erb
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  app/controllers/api/v2/works_controller.rb
  app/controllers/opendoors/tools_controller.rb
  app/models/search/work_indexer.rb
  app/models/story_parser.rb
  app/models/work.rb
  app/models/work_import_url.rb
  db/migrate/20260215000000_create_work_import_urls.rb
  db/migrate/20260215000001_remove_imported_from_url_from_works.rb
  factories/work_import_urls.rb
  factories/works.rb
  lib/tasks/opendoors.rake
  lib/tasks/work_import_urls.rake
  script/get_email_data.rb
  spec/models/work_import_url_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  db/migrate/20260215000000_create_work_import_urls.rb
Labels: Awaiting Review, Has Migrations

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  test/fixtures/works.yml
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  app/models/search/work_indexer.rb
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  script/get_email_data.rb
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  app/controllers/opendoors/tools_controller.rb
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  app/controllers/opendoors/tools_controller.rb
  app/models/work_import_url.rb
  db/migrate/20260215000001_remove_imported_from_url_from_works.rb
  factories/works.rb
  lib/tasks/opendoors.rake
Labels: Awaiting Review, Has Migrations

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  lib/tasks/opendoors.rake
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  lib/tasks/opendoors.rake
Labels: Awaiting Review

AO3-6591: Move imported_from_url to a new table with different variants in different columns
  db/migrate/20260215000001_remove_imported_from_url_from_works.rb
Labels: Awaiting Review, Has Migrations

AO3-6359 Updating psuede update validate to false, updating testing and testing descriptions
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-6203 rework caching behaviour with versioned keys
  app/controllers/tags_controller.rb
  app/models/tag.rb
  app/views/tags/show.html.erb
  features/tags_and_wrangling/tag_view.feature
Labels: Awaiting Review

AO3-6203 grab data directly in controller
  app/controllers/tags_controller.rb
  app/models/tag.rb
Labels: Awaiting Review

AO3-6203 drop distinct on mergers query
  app/models/tag.rb
Labels: Awaiting Review

AO3-6203 restore es-only scope
  app/controllers/tags_controller.rb
Labels: Awaiting Review

AO3-6203 remove unused translation keys
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7285 Adding user id on creations page for admin
  app/views/admin/admin_users/creations.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7285 Normalize en.yml locale file
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6916 Add devcontainer configuration
  .devcontainer/devcontainer.json
  .devcontainer/init.sh
  compose.yaml
  config/docker/Dockerfile
Labels: Awaiting Review

AO3-7293 Add unactioned and unwrangleable status filters to tag search
  app/models/search/tag_query.rb
  app/views/tags/_search_form.html.erb
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_search.feature
Labels: Awaiting Review

AO3-7293 Remove unused unwrangleable filter in TagQuery
  app/models/search/tag_query.rb
Labels: Awaiting Review

AO3-7284-Configurable-indexer-batch-size
  app/models/search/indexer.rb
  config/config.yml
  spec/models/search/indexer_spec.rb
Labels: Awaiting Review

A03-6359 Updating test description
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-7283-Configurable-number-of-shards-for-pseuds and-tags-index
  app/models/search/pseud_indexer.rb
  app/models/search/tag_indexer.rb
  config/config.yml
  spec/models/search/pseud_indexer_spec.rb
  spec/models/search/tag_indexer_spec.rb
Labels: Awaiting Review

AO3-7293 Use Tag::USER_DEFINED instead of listing types
  app/controllers/tags_controller.rb
Labels: Awaiting Review

AO3-7293 Map once
  app/decorators/tag_decorator.rb
Labels: Awaiting Review

refactor(bookmarks): remove reset_bookmark_tags rake task and revert schedule.rb
  config/schedule.rb
  lib/tasks/reset_bookmark_tags.rake
  spec/lib/tasks/reset_bookmark_tags_spec.rb
Labels: Awaiting Review

Renamed skins_parents i18n keys & used helper for archive faq link
  app/views/help/skins_parents.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

refactor(tags): replace rake task with resque job as requested
  app/jobs/reset_bookmark_tags_job.rb
  config/resque_schedule.yml
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
