Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7244 fix the messed up merge conflict
  config/locales/helpers/en.yml
Labels: Awaiting Review

Add test case for imported url autosave
  spec/models/imported_url_spec.rb
Labels: Awaiting Review

Remove bad copypaste
  spec/models/imported_url_spec.rb
Labels: Awaiting Review

Bringing over backfill task from different implementation to test on mine
  lib/tasks/work_import_urls.rake
Labels: Awaiting Review

Use original url string not a symbol
  app/models/imported_url.rb
Labels: Awaiting Review

Updated relation save
  app/models/story_parser.rb
Labels: Awaiting Review

Update task to work with my implementation
  lib/tasks/work_import_urls.rake
Labels: Awaiting Review

Fix According to PR comments :)
  app/controllers/application_controller.rb
  app/controllers/challenge/gift_exchange_controller.rb
  app/controllers/challenge/prompt_meme_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/challenge_claims_controller.rb
  app/controllers/challenge_requests_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/collection_participants_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/potential_matches_controller.rb
  spec/controllers/challenge_requests_controller_spec.rb
Labels: Awaiting Review

Fix syntax on new test class
  spec/models/imported_url_spec.rb
Labels: Awaiting Review

Add (Work)
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Fix indent
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Update index.html.erb
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Fix failing existing other_b/subscriptions tests
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Address erb-lint issues
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Add missing translations
  app/views/subscriptions/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Change "button with text" to "link"
  features/other_b/subscriptions.feature
Labels: Awaiting Review

Add test for if subscribed to a series that is set to unrevealed
  features/other_b/subscriptions.feature
Labels: Awaiting Review

Update subscriptions.feature
  features/other_b/subscriptions.feature
Labels: Awaiting Review

Address rubocop issues in web_steps.rb
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Don't nest in subscription div
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Normalize en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

Address Style/HashSyntax issues
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Change layout of conditionals to allow for unrevealed series to show fully
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Change to ==
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Revert "Address rubocop issues in web_steps.rb"
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Obfuscate unrevealed work in subscriptions page
  app/views/subscriptions/index.html.erb
  features/other_b/subscriptions.feature
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Update web_steps.rb
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Some minor syntax changes
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

AO3-7351 Deduplicate fandom tags for autocomplete
  app/models/tag.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

Add spacing to please Rubocop
  db/migrate/20260318013837_create_imported_urls.rb
  lib/tasks/work_import_urls.rake
  spec/models/imported_url_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7354 Bump Rails from 8.1.2 to 8.1.2.1
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7322-preselect-current-wrangler-in-assignment-filters
  app/views/tag_wranglers/index.html.erb
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Awaiting Review

AO3-7188 requested changes and simplify code a lot
  app/controllers/collections_controller.rb
  app/models/search/collection_query.rb
  app/models/search/collection_search_form.rb
Labels: Awaiting Review

AO3-7322-fix-lint-errors
  app/views/tag_wranglers/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

fix typo
  config/locales/views/en.yml
Labels: Awaiting Review

fix capitalization typo
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7322 normalize en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

[feedback] from redsummernight
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-7188 fix up tests when user is logged in plus rubocop
  app/models/search/collection_query.rb
  spec/models/search/collection_query_spec.rb
Labels: Awaiting Review

AO3-7354 Bump Rails from 8.1.2 to 8.1.2.1 (#5660)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
