Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

address sarken comments
  app/controllers/wrangling_guidelines_controller.rb
  app/views/admin/_header.html.erb
  app/views/wrangling_guidelines/show.html.erb
Labels: Awaiting Review

date localization suggestion
  app/controllers/application_controller.rb
Labels: Awaiting Review

avoid html in translation string
  app/controllers/application_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

fix rubocop errors
  app/controllers/wrangling_guidelines_controller.rb
  spec/controllers/wrangling_guidelines_controller_spec.rb
Labels: Awaiting Review

address linter comments pt 1
  app/views/collections/_sidebar.html.erb
Labels: Awaiting Review

address linter comments pt 2
  app/views/collections/_sidebar.html.erb
Labels: Awaiting Review

fix translation file issues
  app/controllers/application_controller.rb
  app/controllers/users/passwords_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

fix rubocop by moving some stuff to localization file
  app/controllers/wrangling_guidelines_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

fix UTs by fixing missing translation error
  app/views/collections/_sidebar.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6729 Remove include that was preloading wrong tags
  app/models/search/work_indexer.rb
  spec/models/search/work_indexer_spec.rb
Labels: Awaiting Review

AO3-6729 Add tests
  features/search/works_tags.feature
  features/step_definitions/work_search_steps.rb
Labels: Awaiting Review

AO3-6729 Fix tests
  features/search/works_tags.feature
  features/step_definitions/work_search_steps.rb
Labels: Awaiting Review

Fix n+1 queries
  app/models/comment.rb
  app/models/user.rb
  features/step_definitions/icon_steps.rb
Labels: Awaiting Review

Extract custom validator
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/user.rb
  app/validators/attachment_validator.rb
  config/config.yml
Labels: Awaiting Review

Remove sneaky query and fix error
  app/helpers/users_helper.rb
  app/models/comment.rb
  app/models/user.rb
  app/validators/attachment_validator.rb
Labels: Awaiting Review

review feedback
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/views/challenge_claims/_unposted_claim_blurb.html.erb
  app/views/collection_items/_item_fields.html.erb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/_form.html.erb
  app/views/collections/_header.html.erb
  features/step_definitions/icon_steps.rb
  test/fixtures/pseuds.yml
Labels: Awaiting Review

revert safe nav removal
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
Labels: Awaiting Review

Better image resizing
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
Labels: Awaiting Review

D'oh
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
Labels: Awaiting Review

Generic filename in rake task
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

Remove icon comment and update label
  app/models/collection.rb
  app/models/pseud.rb
  app/views/collections/_form.html.erb
  config/locales/views/en.yml
  spec/models/collection_spec.rb
  spec/models/pseud_spec.rb
Labels: Awaiting Review

AO3-6723 Update i18n-tasks and use default_i18n_subject matcher (#4811)
  Gemfile.lock
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  config/i18n-tasks.yml
Labels: Awaiting Review, Gem Updates

AO3-6017 Use unique names for users in mailer previews
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6017 Use the suggested Faker generators
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6017 Use trait
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-4728 Tidy and apply review feedback
  app/models/subscription.rb
  app/views/subscriptions/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  spec/controllers/subscriptions_controller_spec.rb
Labels: Awaiting Review

AO3-6017 Use unique names for users in mailer previews (#4815)
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6700 - move periods outside the strong tags.
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-4728 Tidy and fix subtle logic mistake
  app/views/subscriptions/index.html.erb
Labels: Awaiting Review

Revert "AO3-6727 Bump nokogiri from 1.16.3 to 1.16.5 (#4809)"
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "AO3-6570 Import Work error message overflows for long URLs (#4716)"
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Revert "AO3-5371 Add descriptive classes to external work and series blurbs (…"
  app/helpers/bookmarks_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

Revert "AO3-6087 Stop removing non-printable Unicode characters (#4798)"
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Revert "AO3-5506 Don't include hidden works in Readings (#4781)"
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

Revert "AO3-6706 Support Sentinel config for Redis clients (#4787)"
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Revert "AO3-6708 Add indices to owned set taggings (#4789)"
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Revert "AO3-5351 Make remaining text in feedback response i18n-able (#4788)"
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-6725 remove get recent bookmarks (#4808)"
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Revert "AO3-6704 Use URL from current host in abuse report response mailer pr…"
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-6017 Use unique names for users in mailer previews (#4815)"
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
