Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Hound (bis)
  app/models/chapter.rb
Labels: Awaiting Review

AO3-6119: Clean up old code for allowing works to be added to collections automatically
  db/migrate/20230429120200_remove_automatically_approve_collections.rb
  test/fixtures/preferences.yml
Labels: Awaiting Review, Has Migrations

Review suggestions
  app/controllers/tag_wranglers_controller.rb
  app/views/tag_wranglers/show.html.erb
Labels: Awaiting Review

Test improvements
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

updated comment description translation and added translated email test to abuse report mailer
  app/views/abuse_reports/new.html.erb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6314: Remove column dead from external_works table
  db/migrate/20230430160300_remove_dead_column.rb
  features/fixtures/external_works.yml
  test/fixtures/external_works.yml
Labels: Awaiting Review, Has Migrations

Updated translations from Phrase (#4503)
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/tr.yml
Labels: Awaiting Review

Typo fix
  app/controllers/tag_wranglers_controller.rb
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

AO3-5248 Change nonexistent user pages to 404
  app/controllers/users_controller.rb
  features/other_b/errors.feature
  spec/controllers/users_controller_spec.rb
Labels: Awaiting Review

AO3-5248 Fix indentation
  spec/controllers/users_controller_spec.rb
Labels: Awaiting Review

AO3-6490 Tweak tests and UI
  app/views/works/new_import.html.erb
  features/importing/work_import.feature
Labels: Awaiting Review

default: 0 to default:false
  db/migrate/20230418074141_add_spam_to_comments.rb
Labels: Awaiting Review, Has Migrations

AO3-5690 Clean up gifts when a user is deleted (#4465)
  app/models/pseud.rb
  spec/models/pseud_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6391 Improve the tag callbacks for updating TagNominations. (#4470)
  app/models/tag.rb
  features/step_definitions/tag_set_steps.rb
  features/tag_sets/tag_set_associations.feature
Labels: Awaiting Review

AO3-6460 Avoid caching stale AdminSetting (#4459)
  app/models/admin_setting.rb
  spec/models/admin_setting_spec.rb
Labels: Awaiting Review

AO3-5993 Remove OpenID tables (open_id_authentication_associations and open_id_authentication_nonces) (#4498)
  db/migrate/20230106203903_drop_open_id_tables.rb
Labels: Awaiting Review, Has Migrations

AO3-5942 Allow video embeds from bilibili.com (#4479)
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6429 Remove ARIA complementary role from work and chapter title, … (#4405)
  app/views/chapters/_chapter.html.erb
  app/views/chapters/show.html.erb
  app/views/comments/_commentable.html.erb
  app/views/works/_meta.html.erb
  app/views/works/_work_header.html.erb
  app/views/works/_work_header_notes.html.erb
  app/views/works/preview.html.erb
  app/views/works/show.html.erb
Labels: Awaiting Review

AO3-6003 Fix review comments
  app/controllers/comments_controller.rb
  app/helpers/mailer_helper.rb
  config/i18n-tasks.yml
  spec/lib/i18n/i18n_tasks_spec.rb
  spec/support/i18n_newlines_tasks.rb
Labels: Awaiting Review

Update 20230429120200_remove_automatically_approve_collections.rb
  db/migrate/20230429120200_remove_automatically_approve_collections.rb
Labels: Awaiting Review, Has Migrations

Update 20230429120200_remove_automatically_approve_collections.rb
  db/migrate/20230429120200_remove_automatically_approve_collections.rb
Labels: Awaiting Review, Has Migrations

AO3-6003 Use full keys for comments_controller locale
  app/controllers/comments_controller.rb
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Review fix
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6003 Add i18n-tasks to normalize locale files and add tests to detect missing and unused translation keys (#4497)
  Gemfile
  Gemfile.lock
  app/controllers/comments_controller.rb
  app/helpers/mailer_helper.rb
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  config/locales/validators/en.yml
  config/locales/views/en.yml
  spec/lib/i18n/i18n_tasks_spec.rb
  spec/support/i18n_newlines_tasks.rb
Labels: Awaiting Review, Gem Updates

AO3-6524 Filter banners before adding thermometers, insert goal as html not text
  public/javascripts/application.js
Labels: Awaiting Review

AO3-5801 Make kudos button selector more specific
  public/javascripts/application.js
Labels: Awaiting Review

AO3-3997 remove messages
  config/locales/validators/en.yml
Labels: Awaiting Review

AO3-6524 Be more selective about where we apply modal behavior
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

AO3-4994 normalize messages
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-3997 remove file
  app/validators/email_veracity_validator.rb
Labels: Awaiting Review

AO3-5556 Fix bad merge.
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-5556 Better fix.
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-5556 Fix intermittent test failure.
  features/collections/collection_invite.feature
Labels: Awaiting Review

re-added new i18n keys, normalized with i18n-tasks
  config/locales/mailers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6524 More specific selector for applying ajax behavior
  public/javascripts/application.js
Labels: Awaiting Review

AO3-6524 Modify toggled and expandable to avoid user content
  public/javascripts/application.js
Labels: Awaiting Review

AO3-4994 add hint for i18n-tasks
  app/helpers/date_helper.rb
Labels: Awaiting Review

More semicolons
  public/javascripts/ao3modal.js
  public/javascripts/application.js
Labels: Awaiting Review

AO3-6524 Remove JavaScript for removing final commas in IE8 and lower
  public/javascripts/application.js
  public/stylesheets/site/2.0/29-role-ie8_or_lower.css
Labels: Awaiting Review

AO3-6524 Make work form field toggling more specific
  public/javascripts/application.js
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
