Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-7114 Update password reset error messages and redirects when logged out (#5350)
  app/controllers/users/passwords_controller.rb
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/models/en.yml
  features/support/paths.rb
  features/users/authenticate_users.feature
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

AO3-7038 Restrict ability to grant invitations to all current users (#5306)
  app/controllers/admin/admin_invitations_controller.rb
  app/policies/invitation_policy.rb
  app/views/admin/admin_invitations/index.html.erb
  features/admins/admin_invitations.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

AO3-7023 Fix ExternalWorkscontroller#fetch when the URL is invalid (#5298)
  app/controllers/external_works_controller.rb
  spec/controllers/external_works_controller_spec.rb
Labels: Awaiting Review

AO3-6968 Add tag comment links to the wrangling bins (#5325)
  app/views/tag_wranglings/index.html.erb
  app/views/tags/wrangle.html.erb
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_wrangling.feature
Labels: Awaiting Review

AO3-2520 Make comment deletion work without JavaScript (#5332)
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_comment_actions.html.erb
  app/views/comments/_confirm_delete.html.erb
  config/locales/helpers/en.yml
  config/locales/views/en.yml
  features/comments_and_kudos/comment_blocking.feature
  features/comments_and_kudos/comments_delete.feature
  features/step_definitions/comment_steps.rb
  features/support/capybara.rb
  features/support/hooks.rb
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Awaiting Review

AO3-7126 Fix "Current Login" wording for clarity (#5362)
  config/locales/views/en.yml
  features/admins/users/admin_manage_users.feature
Labels: Awaiting Review

AO3-7086 Update password form, headers, error messages (#5289)
  app/controllers/users_controller.rb
  app/views/users/change_password.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/other_a/profile_edit.feature
  features/users/user_rename.feature
  spec/controllers/users_controller_spec.rb
Labels: Awaiting Review

AO3-7112 update reset password email (#5353)
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  config/locales/mailers/en.yml
  features/users/authenticate_users.feature
  spec/mailers/archive_devise_mailer_spec.rb
Labels: Awaiting Review

Don't waste time with config when you need to update all the error pages, update Support text
  app/views/feedbacks/new.html.erb
  app/views/layouts/_footer.html.erb
  config/config.yml
  config/locales/views/en.yml
Labels: Awaiting Review

save
  app/views/external_authors/claim.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

pluralize
  app/views/external_authors/claim.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Update brand color and rearrange CSS
  public/stylesheets/sandbox.css
Labels: Awaiting Review

AO3-7027 Normalize locale file
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7027 Remove blank line from config
  config/config.yml
Labels: Awaiting Review

AO3-7027 Use Font Awesome for all share icons
  app/helpers/share_helper.rb
  public/stylesheets/sandbox.css
Labels: Awaiting Review

AO3-4629 Update skins and skin wizard
  lib/skin_wizard.rb
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Awaiting Review

AO3-7085 dog
  app/controllers/works_controller.rb
  app/views/chapters/preview.html.erb
  app/views/works/preview.html.erb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7085 dog 2
  features/step_definitions/series_steps.rb
Labels: Awaiting Review

AO3-7085 remove wrong spec code
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-7085 normalize
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-4629 Use flexbox so the menus are closer to their current appearance and use more specific selectors to avoid affecting other things in works/chapters
  lib/skin_wizard.rb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/25-media-midsize.css
Labels: Awaiting Review

Make thread button appear even if comment is unreviewed
  app/views/comments/_comment_actions.html.erb
Labels: Awaiting Review

Remove 'username or'
  config/locales/controllers/en.yml
  config/locales/mailers/en.yml
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

Suggested changes
  app/controllers/preferences_controller.rb
  app/views/users/edit.html.erb
Labels: Awaiting Review

WIP notes
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
Labels: Awaiting Review

fix test
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-7148 Remove UnicodeUtils gem
  Gemfile
  Gemfile.lock
  app/models/tag.rb
Labels: Awaiting Review, Gem Updates

Still show restricted tags to logged-in users
  app/models/series.rb
  app/views/series/_series_module.html.erb
  features/bookmarks/bookmark_browse.feature
  features/users/user_dashboard.feature
  spec/models/series_spec.rb
Labels: Awaiting Review

AO3-7044: Migrate taggings table to BIGINT
  db/migrate/20251002101320_change_taggings_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

AO3-7148 Remove UnicodeUtils gem (#5382)
  Gemfile
  Gemfile.lock
  app/models/tag.rb
Labels: Awaiting Review, Gem Updates

AO3-7145 update ruby to 3.4 (#5375)
  .ruby-version
  Gemfile
  Gemfile.lock
  app/controllers/archive_faqs_controller.rb
  app/helpers/tags_helper.rb
  app/models/search/query.rb
  app/models/skin.rb
  app/models/story_parser.rb
  config/docker/Dockerfile
  lib/autocomplete_source.rb
  spec/helpers/validation_helper_spec.rb
Labels: Awaiting Review, Gem Updates

AO3-7045: Migrate audits table to BIGINT
  db/migrate/20251002104708_change_audits_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

AO3-7047: Migrate comments table to BIGINT
  db/migrate/20251002104815_change_comments_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

AO3-7048: Migrate inbox_comments table to BIGINT
  db/migrate/20251002104852_change_inbox_comments_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

Guard against no fandom tags
  app/models/series.rb
  spec/models/series_spec.rb
Labels: Awaiting Review

suggested changes
  config/locales/devise/en.yml
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

Revert users_controller changes
  app/controllers/users_controller.rb
Labels: Awaiting Review

Revert users_controller changes
  app/controllers/users_controller.rb
Labels: Awaiting Review

fix chapter number
  app/views/downloads/_download_chapter.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
Labels: Awaiting Review

AO3-7124 fix pdf chapter
  app/views/downloads/_download_chapter.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
Labels: Awaiting Review
