Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6352 Remove code comment
  app/views/bookmarks/_bookmark_blurb.html.erb
Labels: Awaiting Review

AO3-6325 Try setting classes when bookmarkable is nil in css_classes_for_bookmark_blurb
  app/helpers/bookmarks_helper.rb
Labels: Awaiting Review

AO3-6325 Don't leave bookmark or bookmarkable blurbs without classes
  app/helpers/bookmarks_helper.rb
Labels: Awaiting Review

AO3-6325 Remove additional code comment
  app/views/bookmarks/_bookmarkable_blurb.html.erb
Labels: Awaiting Review

AO3-6325 Put the god damn if in the right place
  app/helpers/bookmarks_helper.rb
Labels: Awaiting Review

AO3-6325 Tidy tidy
  app/helpers/bookmarks_helper.rb
Labels: Awaiting Review

AO3-6253 Use bookmarkable in bookmarkable blurb helper
  app/helpers/bookmarks_helper.rb
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  spec/helpers/bookmarks_helper_spec.rb
Labels: Awaiting Review

AO3-6325 Tests for nil bookmarkables
  spec/helpers/bookmarks_helper_spec.rb
Labels: Awaiting Review

AO3-6325 Tidy
  spec/helpers/bookmarks_helper_spec.rb
Labels: Awaiting Review

AO3-5986 Change strip to squish
  app/helpers/comments_helper.rb
Labels: Awaiting Review

AO3-5986 Create an 'Official' role (#4208)
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/models/user.rb
  config/initializers/gem-plugin_config/permit_yo_config.rb
  factories/admin.rb
  factories/users.rb
  features/comments_and_kudos/official_comments.feature
  features/fixtures/roles.yml
  lib/tasks/defaults.rake
  public/stylesheets/site/2.0/15-group-comments.css
  spec/helpers/comments_helper_spec.rb
  spec/lib/tasks/defaults.rake_spec.rb
  test/fixtures/roles.yml
Labels: Awaiting Review

AO3-6290 Add translation key
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

AO3-6328 Hound fix for instance variables, fix comment
  features/step_definitions/tag_steps.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-6127 Expose option for admins to hide comments
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/policies/comment_policy.rb
  app/views/comments/_comment_actions.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  features/comments_and_kudos/hidden_comments.feature
  public/stylesheets/site/2.0/15-group-comments.css
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6339 Update Gemfile.lock with resolved merge conflicts
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6339 Fuck it, try a bigger bump
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-61277 Apply fixups
  app/controllers/admin/user_creations_controller.rb
  app/helpers/comments_helper.rb
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Awaiting Review

AO3-6127 Hide comment in inbox comments
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
Labels: Awaiting Review

AO3-6127 Add corresponding tests
  features/comments_and_kudos/hidden_comments.feature
Labels: Awaiting Review

AO3-6327 Review changes.
  app/controllers/blocked/users_controller.rb
  app/controllers/comments_controller.rb
  app/views/blocked/users/_block.html.erb
  app/views/blocked/users/_blocked_user_blurb.html.erb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/confirm_unblock.html.erb
  app/views/blocked/users/index.html.erb
  app/views/comments/_comment_actions.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  app/views/pseuds/_pseud_blurb.html.erb
  app/views/pseuds/_pseud_module.html.erb
  app/views/users/_header_navigation.html.erb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/comments_and_kudos/comment_blocking.feature
  spec/controllers/comments_controller_blocking_spec.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6159 Updated pseud deletion preview text
  app/views/pseuds/delete_preview.html.erb
Labels: Awaiting Review

AO3-6327 CSS fixes.
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/confirm_unblock.html.erb
  app/views/blocked/users/index.html.erb
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

AO3-6325 Use destroy! to prevent silent failures in spec for nil bookmarkable CSS classes
  spec/helpers/bookmarks_helper_spec.rb
Labels: Awaiting Review

AO3-6325 Add creator, creation, and bookmarker IDs to bookmark blurbs (#4216)
  app/helpers/bookmarks_helper.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmark_blurb_short.html.erb
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  spec/helpers/bookmarks_helper_spec.rb
Labels: Awaiting Review

AO3-6327 check_blocked for InboxController.
  app/controllers/inbox_controller.rb
  spec/controllers/inbox_controller_spec.rb
Labels: Awaiting Review

AO3-6327 Simplify the check.
  app/controllers/inbox_controller.rb
Labels: Awaiting Review

Hybrid approach - model side
  app/models/concerns/wrangleable.rb
  app/models/user.rb
  spec/models/common_tagging_spec.rb
  spec/models/concerns/wrangleable_spec.rb
  spec/models/meta_tagging_spec.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

Hybrid approach - view side
  app/controllers/tag_wranglings_controller.rb
  app/controllers/tags_controller.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
Labels: Awaiting Review

Add tests to catch caveats of model-only
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Awaiting Review

AO3-6290 Add tests
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
  config/locales/phrase-exports/zh-CN.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6290 Pleasing the hound
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6327 More review comments.
  app/views/pseuds/_pseud_module.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Feedback 2
  app/views/bookmarks/_filters.html.erb
  app/views/works/_filters.html.erb
  features/search/filters.feature
Labels: Awaiting Review

Review feedback
  app/controllers/concerns/tag_wrangling.rb
  app/controllers/tag_wranglings_controller.rb
  app/controllers/tags_controller.rb
  app/models/concerns/wrangleable.rb
  app/models/user.rb
  db/migrate/20211230202951_create_last_wrangling_activities.rb
Labels: Awaiting Review, Has Migrations

Make test less brittle
  spec/controllers/tags_controller_spec.rb
Labels: Awaiting Review

Cleanup
  app/models/concerns/wrangleable.rb
Labels: Awaiting Review

AO3-6351 Fix comment threads from 2009.
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  test/fixtures/comments.yml
Labels: Awaiting Review

AO3-6351 Fix comment threads from 2009. (#4241)
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  test/fixtures/comments.yml
Labels: Awaiting Review

AO3-6345 Show 404 page when accessing admin user page for nonexistent user
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-6345 remove useless redirect
  app/controllers/admin/admin_users_controller.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
