Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-5499 Update routes.rb to remove send_activation
  config/routes.rb
Labels: Awaiting Review

AO3-5048 Prevent collection blurbs caching stale usernames/pseuds
  app/views/collections/_collection_blurb.html.erb
  config/config.yml
  features/other_a/pseud_delete.feature
  features/other_a/pseuds.feature
  features/step_definitions/collection_steps.rb
  features/users/user_delete.feature
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-5499 Remove send_activation code from routes and user policy (#4523)
  app/policies/user_policy.rb
  config/routes.rb
Labels: Awaiting Review

AO3-5499 List roles in user admin page meta
  app/views/admin/admin_users/show.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/admins/users/admin_manage_users.feature
Labels: Awaiting Review

AO3-5499 List roles in user admin page meta (#4525)
  app/views/admin/admin_users/show.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/admins/users/admin_manage_users.feature
Labels: Awaiting Review

AO3-5499 Correct class name on user admin page note
  app/views/admin/admin_users/show.html.erb
Labels: Awaiting Review

Removed Harry Potter references from search help and replaced with Sam Wilson
  public/help/bookmark-search-text-help.html
  public/help/tag-search-text-help.html
  public/help/work-search-text-help.html
Labels: Awaiting Review

Corrected html tag
  public/help/bookmark-search-text-help.html
Labels: Awaiting Review

AO3-5499 Correct class name on user admin page note (#4526)
  app/views/admin/admin_users/show.html.erb
Labels: Awaiting Review

AO3-6503 Fix tests
  features/admins/admin_settings.feature
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6243 Force authenticity token to be included for edit forms
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

AO3-6212 Add indices to tag_set_associations.
  Gemfile
  Gemfile.lock
  config/config.yml
  config/initializers/departure.rb
  db/migrate/20230610162442_add_indices_to_tag_set_associations.rb
Labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6212 Use the right environment check.
  config/initializers/departure.rb
  db/migrate/20230610162442_add_indices_to_tag_set_associations.rb
Labels: Awaiting Review, Has Migrations

AO3-6212 Indentation.
  config/initializers/departure.rb
Labels: Awaiting Review

AO3-6539 Easier admin access to user creations
  app/controllers/admin/admin_users_controller.rb
  app/helpers/comments_helper.rb
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_creations_summary.html.erb
  app/views/admin/admin_users/confirm_delete_user_creations.html.erb
  app/views/admin/admin_users/creations.html.erb
  app/views/admin/admin_users/show.html.erb
  app/views/comments/_comment_abbreviated_list.html.erb
  config/locales/helpers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_manage_users.feature
  features/step_definitions/generic_steps.rb
  public/stylesheets/site/2.0/11-group-listbox.css
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/helpers/comments_helper_spec.rb
Labels: Awaiting Review

AO3-6539 Tidy up user_is_banned
  app/controllers/admin/admin_users_controller.rb
Labels: Awaiting Review

AO3-6513 Allow archivists to directly add to collections
  app/controllers/collection_items_controller.rb
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/works/work_view.feature
  spec/controllers/collection_items_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review

Fixes from CI failures
  app/models/collection_item.rb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6539 Let admins access User Administraion and Invitations from dashboards and profiles
  app/views/users/_header.html.erb
  app/views/users/_header_navigation.html.erb
  config/locales/views/en.yml
  features/users/user_dashboard.feature
Labels: Awaiting Review

AO3-6539 Update one last ts() to t() in users/_header_navigation view
  app/views/users/_header_navigation.html.erb
Labels: Awaiting Review

Forgot to update similar tests indeed
  spec/controllers/comments_controller_spec.rb
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

Handle :js format
  app/controllers/kudos_controller.rb
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

Revert "Handle :js format"
  app/controllers/kudos_controller.rb
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-5728 Use YAML block collection for lists of allowed CSS properties
  config/config.yml
Labels: Awaiting Review

Make sure admin cannot create kudos through AJAX
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-5048 Increment collection blurb cache key
  app/sweepers/collection_sweeper.rb
  app/views/collections/_collection_blurb.html.erb
Labels: Awaiting Review

Recommendations from sarken
  app/controllers/collection_items_controller.rb
  app/views/comments/_commentable.html.erb
  spec/controllers/collection_items_controller_spec.rb
Labels: Awaiting Review

AO3-6539 Remove return from user_is_banned method
  app/controllers/admin/admin_users_controller.rb
Labels: Awaiting Review

AO3-6141 Disable user role checkboxes based on admin permissions (#4355)
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
Labels: Awaiting Review

AO3-4268 Implement full screen width dropdowns for small screen sizes (#4148)
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

AO3-5627 Prevent deleting sole published chapter of a work (must delete work instead) (#4406)
  app/controllers/chapters_controller.rb
  app/models/chapter.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-6199 Rename variable and method for banned media embed sources (#4356)
  config/config.yml
  lib/otw_sanitize/media_sanitizer.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
Labels: Awaiting Review

AO3-3997 Replace email_veracity with email_format (#4390)
  app/models/admin_blacklisted_email.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/invitation.rb
  app/models/invite_request.rb
  app/models/user.rb
  app/validators/email_veracity_validator.rb
  config/locales/validators/en.yml
  features/other_a/profile_edit.feature
  features/users/user_create.feature
  spec/models/abuse_report_spec.rb
  spec/models/admin_blacklisted_email_spec.rb
  spec/models/feedback_spec.rb
  spec/models/invitation_spec.rb
  spec/models/invite_request_spec.rb
  spec/models/user_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6158 Remove US$ before banner goal/progress values (#4272)
  public/javascripts/application.js
Labels: Awaiting Review

AO3-5777 Add thousands separators to long numbers in work blurbs (#4319)
  app/helpers/works_helper.rb
  app/views/works/_work_module.html.erb
  features/search/works_stats.feature
Labels: Awaiting Review

AO3-6243 Remove condition for comment form to be 'remote' to avoid CSRF token missing error (#4322)
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

AO3-6513 Allow archivists to directly add to collections (#4530)
  app/controllers/collection_items_controller.rb
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/works/work_view.feature
  spec/controllers/collection_items_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review

Revert "AO3-6141 Disable user role checkboxes based on admin permissions (#4355)"
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
Labels: Awaiting Review

Revert "AO3-4268 Implement full screen width dropdowns for small screen sizes (#4148)"
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

Revert "AO3-5627 Prevent deleting sole published chapter of a work (must delete work instead) (#4406)"
  app/controllers/chapters_controller.rb
  app/models/chapter.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
