Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-4696 Readd locale
  app/views/tags/show.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/pt-BR.yml
Labels: Awaiting Review

Updated translations from Phrase (#4517)
  config/locales/phrase-exports/pt-BR.yml
Labels: Awaiting Review

AO3-6532 Remove locale for Kyrgyz (ky)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/ky.yml
Labels: Awaiting Review

AO3-6532 Remove locale for Kyrgyz (ky) (#4518)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/ky.yml
Labels: Awaiting Review

AO3-6240 Move numbered mailer translation keys
  config/locales/mailers/en.yml
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

AO3-6240 Update the view files to use the moved keys
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/change_email.html.erb
  app/views/user_mailer/change_email.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  app/views/user_mailer/signup_notification.html.erb
  app/views/user_mailer/signup_notification.text.erb
Labels: Awaiting Review

AO3-5728 Fix alignment, trailing comma
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-6503 Refactor tests
  app/controllers/application_controller.rb
  app/helpers/comments_helper.rb
  app/models/admin_setting.rb
  features/admins/admin_settings.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6517 Prevent blocked users from leaving kudos on their blockers' works. (#4516)
  app/models/kudo.rb
  app/views/comments/_commentable.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/comments_and_kudos/kudos.feature
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-6490 Add comment options to import work form (#4467)
  app/controllers/works_controller.rb
  app/models/story_parser.rb
  app/views/works/_standard_form.html.erb
  app/views/works/edit_multiple.html.erb
  app/views/works/new_import.html.erb
  config/locales/views/en.yml
  features/importing/work_import.feature
Labels: Awaiting Review

AO3-6516 Replace "Chilling Effects" with "Lumen" on DMCA page (#4511)
  app/views/home/_dmca.html.erb
Labels: Awaiting Review

AO3-6119 Remove automatically_approve_collections from preferences (#4505)
  db/migrate/20230429120200_remove_automatically_approve_collections.rb
  test/fixtures/preferences.yml
Labels: Awaiting Review, Has Migrations

AO3-6044 Use PERMITTED_HOSTS to validate abuse report URLs (#4488)
  app/models/abuse_report.rb
  config/config.yml
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6278 Fix word counter to not count pipe characters as words (#4397)
  lib/tasks/work_tasks.rake
  lib/word_counter.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/lib/word_counter_spec.rb
Labels: Awaiting Review

AO3-6535 Update linters and cops
  .erb-lint.yml
  .hound.yml
  .rubocop.yml
  .rubocop_todo.yml
  .rubocop_todo_erb.yml
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Downgrades to please the Hound
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

More downgrades
  .rubocop.yml
  .rubocop_todo.yml
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Fix test issue and warning
  config/initializers/monkeypatches/mail_disable_starttls.rb
  features/support/formatter.rb
Labels: Awaiting Review

Revert unnecessary lockfile changes
  Gemfile.lock
  config/initializers/monkeypatches/mail_disable_starttls.rb
  features/support/formatter.rb
Labels: Awaiting Review, Gem Updates

Normalize i18n
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6503 Expand tests
  app/controllers/comments_controller.rb
  app/views/comments/_commentable.html.erb
  features/admins/admin_settings.feature
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6503 Fix test
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6503 Normalise en.yml
  config/locales/models/en.yml
Labels: Awaiting Review

Refactor new_merger.save out of syn_string=
  app/controllers/tags_controller.rb
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Pleasing the hound
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Fix typo
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Pleasing the hound
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Pleasing the hound
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Pleasing the hound
  app/models/tag.rb
Labels: Awaiting Review

AO3-2064 Normalise en.yml
  config/locales/models/en.yml
Labels: Awaiting Review

More precise message
  app/views/comments/_commentable.html.erb
  config/locales/views/en.yml
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

Better test description
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Missing test
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Normalize i18n files
  config/locales/models/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6243 Fix hash-key syntax
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

AO3-6240 Change change_email text mailer to not use html safe key
  app/views/user_mailer/change_email.text.erb
  config/locales/mailers/en.yml
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

AO3-6250 Show parent comment in email if you reply to a comment (#4215)
  app/mailers/comment_mailer.rb
  app/models/comment.rb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review

AO3-5499 Revamp user admin page (#4469)
  app/controllers/admin/admin_users_controller.rb
  app/views/admin/admin_users/_user_history.html.erb
  app/views/admin/admin_users/show.html.erb
  config/locales/views/en.yml
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_fnok.feature
  features/admins/users/admin_manage_users.feature
  features/other_a/invite_request.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/user_steps.rb
  features/support/paths.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-5499 Remove send_activation? alias from user policy
  app/policies/user_policy.rb
Labels: Awaiting Review
