Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6297 Revert accidental gem downgrades in MimeMagic removal (#4785)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

I rather dislike Gemfile.lock merges...
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Remove another duplicate key
  app/controllers/external_works_controller.rb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-4309 Customizable mailer previews for work and user subscriptions
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Use full i18n keys due to flash weirdness
  app/controllers/challenge_assignments_controller.rb
  app/controllers/collection_participants_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-5351 Make remaining text in feedback response i18n-able
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

HTML escape email text
  features/step_definitions/email_steps.rb
Labels: Awaiting Review

Remove apostrophes from cucumber
  features/other_b/support.feature
  features/step_definitions/email_steps.rb
Labels: Awaiting Review

AO3-6708 Add indices to owned set taggings
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Add tests
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

Fix examples
  config/initializers/gem-plugin_config/redis.rb
Labels: Awaiting Review

Update ts( to t(
  app/views/comments/_comment_form.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

If you start doing something...
  app/views/comments/_comment_form.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Test update
  features/importing/work_import.feature
Labels: Awaiting Review

Acceptable HTML
  app/views/comments/_comment_form.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6017 Improve locale keys
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6017 Add comments to mailer previews
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Allow admins to approve all unreviewed comments on admin posts
  app/controllers/comments_controller.rb
  app/policies/comment_policy.rb
Labels: Awaiting Review

Cucumber tests for moderating admin post comments
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
  features/support/paths.rb
Labels: Awaiting Review

Specs for admin post comment moderation
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Normalize locale file
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6713 Code style fixes
  app/controllers/comments_controller.rb
  app/policies/comment_policy.rb
  app/views/admin_posts/show.html.erb
  config/locales/controllers/en.yml
  features/support/paths.rb
Labels: Awaiting Review

AO3-6713 Code style again
  app/views/comments/unreviewed.html.erb
Labels: Awaiting Review

AO3-6713 Actually previous was fix for i18n-tasks-use not playing nice with relative keyes and this is a code style fix
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6713 More style fixes because it really just wants me to rewrite this entire action
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6713 Give the reviewdog what it wants (aka fuck it we remove the code that we supposedly shouldn't need)
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6713 More code style
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6713 Update feature test to check that I didn't break a redirect when refactoring the create action
  features/admins/admin_post_news.feature
  features/support/paths.rb
Labels: Awaiting Review

AO3-6712 Revert AO3-6666
  app/controllers/invite_requests_controller.rb
  app/models/invitation.rb
  app/views/invitations/_invitation.html.erb
  app/views/invite_requests/_invitation.html.erb
  app/views/invite_requests/_no_invitation.html.erb
  app/views/invite_requests/show.html.erb
  app/views/invite_requests/show.js.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20231027172035_add_resent_at_to_invitations.rb
  features/other_a/invite_queue.feature
  spec/controllers/invite_requests_controller_spec.rb
  spec/models/invitation_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6712 Add invitee email index to invitations
  db/migrate/20240415202120_add_index_to_invitations.rb
Labels: Awaiting Review, Has Migrations

AO3-6712 Make sure button has hover style and i18n
  app/views/invite_requests/status.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6712 Normalize
  config/locales/views/en.yml
Labels: Awaiting Review

Incase elastic does get an exact match
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

AO3-6669 Incase elastic does get an exact match (#4792)
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

AO3-6713 Put some changes in and see what Rubocop says
  app/policies/comment_policy.rb
Labels: Awaiting Review

AO3-6713 Put in the other changes I thought were in the last commit
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6713 Silence Reviewdog's complaints about redundant safe navigation in policies
  .rubocop.yml
Labels: Awaiting Review

AO3-6713 News post instead of admin post
  config/locales/views/en.yml
  features/admins/admin_post_news.feature
Labels: Awaiting Review

AO3-6713 Add missing colon
  .rubocop.yml
Labels: Awaiting Review

AO3-6608 - update checkbox text.
  config/locales/views/en.yml
Labels: Awaiting Review
