Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

change back to rerun jobss
  config/locales/views/en.yml
Labels: Awaiting Review

Reformatted toc for i18n
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/ru.yml
Labels: Awaiting Review

AO3-7258 linting issues
  app/models/abuse_report.rb
Labels: Awaiting Review

AO3-7258 fixing unit tests
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

AO3-7525 Add redirect to FAQs for locale iso changes
  app/controllers/archive_faqs_controller.rb
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Awaiting Review

AO3-7525 Typo
  app/controllers/archive_faqs_controller.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Awaiting Review

Add details about enforcement
  CODE_OF_CONDUCT.md
Labels: Awaiting Review

Wording update
  CODE_OF_CONDUCT.md
Labels: Awaiting Review

AO3-7258 fixing formatting issues
  config/locales/models/en.yml
Labels: Awaiting Review

Takedown
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Debug for dmca removal options
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

dmca takedown instruction & requirements & process
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

DMCA policy finished.
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5387 Allow check to pass with only title
  app/models/challenge_signup.rb
Labels: Awaiting Review

Modified changes to comply with i18n guidelines
  app/views/home/donate.html.erb
  app/views/home/site_map.html.erb
  app/views/layouts/_footer.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5387 Add test
  spec/controllers/challenge_signups_controller_spec.rb
Labels: Awaiting Review

Normalized yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7519 Update page_heading and page_title for new admin posts
  app/controllers/admin_posts_controller.rb
  app/views/admin_posts/new.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6726 Create LocaleLanguage model, migration, and rake task
  app/models/locale_language.rb
  config/initializers/archive_config/locale.rb
  db/migrate/20260703162340_create_locale_languages.rb
  factories/locale_language.rb
  lib/tasks/after_tasks.rake
Labels: Awaiting Review, Has Migrations

AO3-6726 Update specs and cucumber features
  factories/admin_post.rb
  factories/locales.rb
  features/admins/admin_languages.feature
  features/admins/admin_locales.feature
  features/other_a/abuse_report.feature
  features/other_b/support.feature
  features/step_definitions/admin_steps.rb
  features/support/hooks.rb
  features/support/paths.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locale_languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/helpers/admin_post_helper_spec.rb
  spec/models/admin_post_spec.rb
  spec/models/locale_language_spec.rb
  spec/models/locale_spec.rb
Labels: Awaiting Review

AO3-6726 Move locale associations from Language to LocaleLanguage
  app/controllers/abuse_reports_controller.rb
  app/controllers/admin_posts_controller.rb
  app/controllers/feedbacks_controller.rb
  app/controllers/languages_controller.rb
  app/controllers/locales_controller.rb
  app/helpers/admin_post_helper.rb
  app/helpers/language_helper.rb
  app/models/admin_post.rb
  app/models/admin_post_tag.rb
  app/models/archive_faq.rb
  app/models/feedback_reporters/feedback_reporter.rb
  app/models/language.rb
  app/models/locale.rb
  app/policies/language_policy.rb
  app/views/abuse_reports/new.html.erb
  app/views/admin_posts/_admin_post.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/_filters.html.erb
  app/views/admin_posts/show.html.erb
  app/views/feedbacks/new.html.erb
  app/views/languages/_form.html.erb
  app/views/locales/_locale_form.html.erb
  app/views/locales/index.html.erb
  config/initializers/archive_config/locale.rb
Labels: Awaiting Review

AO3-6726 Add LocaleLanguages views and i18n keys
  app/views/admin/_header.html.erb
  app/views/locale_languages/_form.html.erb
  app/views/locale_languages/edit.html.erb
  app/views/locale_languages/index.html.erb
  app/views/locale_languages/new.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6726 Add LocaleLanguages controller, policy, and routes
  app/controllers/locale_languages_controller.rb
  app/policies/locale_language_policy.rb
  config/routes.rb
Labels: Awaiting Review

AO3-7517 Disable phone number detection in emails on iOS
  app/views/layouts/mailer.html.erb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Awaiting Review

fix lint errs
  app/views/layouts/mailer.html.erb
Labels: Awaiting Review

Add code of conduct (#5859)
  CODE_OF_CONDUCT.md
Labels: Awaiting Review

AO3-7525 Use zh-Hans iso for Simplified Chinese (#5919)
  .phrase.yml
  app/controllers/archive_faqs_controller.rb
  app/views/layouts/_proxy_notice.html.erb
  config/application.rb
  config/i18n-tasks.yml
  config/locales/README.md
  config/locales/phrase-exports/zh-Hans.yml
  config/locales/rails-i18n/locale/zh-Hans.yml
  config/locales/rails-i18n/pluralization/zh-Hans.rb
  config/locales/views/zh-Hans.yml
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Awaiting Review

AO3-7489 Languages page: the default language links to recent works in all languages (#5854)
  app/views/languages/index.html.erb
  features/other_a/languages.feature
Labels: Awaiting Review

AO3-7448 Add #exercise_privacy_rights link to Privacy Policy (#5856)
  app/views/home/_privacy.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7449 Fix fanwork anchor pluralization (#5878)
  app/views/home/_content.html.erb
Labels: Awaiting Review

AO3-7452 Update technical integrity links in Content Policy (#5882)
  app/views/home/_content.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-3754 Fix preview notices using flash.now (#5886)
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7479 Remove unused gem awesome print (#5887)
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7508 Add link to TOS explaining final decisions (#5894)
  app/views/home/_tos.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7503 Change regex string for title when creating new tag set (#5884)
  app/models/tagset_models/owned_tag_set.rb
  config/locales/models/en.yml
  spec/models/owned_tag_set_spec.rb
Labels: Awaiting Review

AO3-7509 Add inspired_by link to Content Policy (#5903)
  app/views/home/_content.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7511 Update privacy rights link anchor in Privacy Policy (#5906)
  app/views/home/_privacy.html.erb
Labels: Awaiting Review

AO3-7510 Add link about bookmark rules to Content Policy (#5908)
  app/views/home/_content.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review
