Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

Revert "AO3-6723 Update i18n-tasks and use default_i18n_subject matcher (#4811)"
  Gemfile.lock
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  config/i18n-tasks.yml
Labels: Awaiting Review, Gem Updates

Revert "AO3-6720 Use Latin-script Serbian locale instead of Cyrillic (#4797)"
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/sr.yml
Labels: Awaiting Review

Revert "AO3-6017 Use unique names for users in mailer previews" (#4827)
  factories/users.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-5351 Make remaining text in feedback response i18n-able" (#4824)
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-6017 Add role of commenter to comment notification emails (#4683)"
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-6706 Support Sentinel config for Redis clients" (#4822)
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Revert "AO3-6708 Add indices to owned set taggings" (#4823)
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Revert "AO3-6725 remove get recent bookmarks" (#4825)
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Revert "AO3-6017 Add role of commenter to comment notification emails" (#4829)
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-6727 Bump nokogiri from 1.16.3 to 1.16.5" (#4817)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "AO3-6704 Use URL from current host in abuse report response mailer preview" (#4826)
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "AO3-5506 Don't include hidden works in Readings" (#4821)
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

Revert "AO3-6087 Stop removing non-printable Unicode characters" (#4820)
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Revert "AO3-6570 Import Work error message overflows for long URLs" (#4818)
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Revert "AO3-6720 Use Latin-script Serbian locale instead of Cyrillic" (#4828)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/sr.yml
Labels: Awaiting Review

Revert "AO3-5371 Add descriptive classes to external work and series blurbs" (#4819)
  app/helpers/bookmarks_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

Revert "Revert "AO3-5371 Add descriptive classes to external work and series …"
  app/helpers/bookmarks_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

Revert "Revert "AO3-6720 Use Latin-script Serbian locale instead of Cyrillic"…"
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/sr.yml
Labels: Awaiting Review

Revert "Revert "AO3-6570 Import Work error message overflows for long URLs" (…"
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Revert "Revert "AO3-6087 Stop removing non-printable Unicode characters" (#4820)"
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Revert "Revert "AO3-5506 Don't include hidden works in Readings" (#4821)"
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

Revert "Revert "AO3-6704 Use URL from current host in abuse report response m…"
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6727 Bump nokogiri from 1.16.3 to 1.16.5" (#4817)"
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "Revert "AO3-6017 Add role of commenter to comment notification emails…"
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6725 remove get recent bookmarks" (#4825)"
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Revert "Revert "AO3-6708 Add indices to owned set taggings" (#4823)"
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Revert "Revert "AO3-6706 Support Sentinel config for Redis clients" (#4822)"
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Revert "Revert "AO3-5351 Make remaining text in feedback response i18n-able" …"
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-5506 Don't include hidden works in Readings" (#4821)"
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

Revert "Revert "AO3-6704 Use URL from current host in abuse report response m…"
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6727 Bump nokogiri from 1.16.3 to 1.16.5" (#4817)"
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "Revert "AO3-6017 Add role of commenter to comment notification emails…"
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-6725 remove get recent bookmarks" (#4825)"
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Revert "Revert "AO3-6708 Add indices to owned set taggings" (#4823)"
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

Revert "Revert "AO3-6706 Support Sentinel config for Redis clients" (#4822)"
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Revert "Revert "AO3-5351 Make remaining text in feedback response i18n-able" …"
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Revert "Revert "AO3-5371 Add descriptive classes to external work and series blurbs"" (#4830)
  app/helpers/bookmarks_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

Revert "Revert "AO3-6720 Use Latin-script Serbian locale instead of Cyrillic"" (#4831)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/sr.yml
Labels: Awaiting Review

Revert "Revert "AO3-6570 Import Work error message overflows for long URLs"" (#4832)
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Revert "Revert "AO3-6087 Stop removing non-printable Unicode characters"" (#4841)
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review
