Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7457 Group collection item blurbs in one pass
  app/models/collection_item.rb
Labels: Awaiting Review

AO3-7457 Document collection item strict loading test
  spec/requests/collection_items_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7457 Interpolate mystery blurb collection links
  app/views/works/_mystery_blurb.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

exclude banned users from homepage
  app/decorators/homepage.rb
  db/migrate/20260722105052_add_index_on_banned_to_users.rb
Labels: Awaiting Review, Has Migrations

added tests: rouded_counts
  spec/models/search/homepage_decorator_spec.rb
Labels: Awaiting Review

moved css aspect-ratio tests
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

Ao3-7384 Updated based on PR comments
  app/controllers/skins_controller.rb
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

Ao3-7384 Updated based on Rubocop styling
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7384 Followed styling of original code
  app/controllers/skins_controller.rb
Labels: Awaiting Review

AO3-7501 Do not apply box-shadow on all items with wrapper class by default
  lib/skin_wizard.rb
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/12-group-meta.css
Labels: Awaiting Review

AO3-4059 Remove unused test step
  features/step_definitions/work_steps.rb
Labels: Awaiting Review

AO3-7536 Expire creator comment caches when creator-ships of anonymous work change
  app/models/creatorship.rb
  app/models/work.rb
  features/collections/collection_anonymity.feature
  spec/models/creatorship_spec.rb
Labels: Awaiting Review

change wrong skin kind
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

change wrong skin kind
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

AO3-7515 Move html files to html erb files
  app/controllers/help_controller.rb
  app/views/collections/_form.html.erb
  app/views/help/collections_name.html.erb
  app/views/help/icon_alt_text.html.erb
  app/views/help/icon_comment_text.html.erb
  app/views/pseuds/_pseuds_form.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/collection-name.html
  public/help/icon-alt-text.html
  public/help/pseud-icon-comment.html
Labels: Awaiting Review

AO3-6142 Make prompt meme claims show back up after deleting fill... (#5709)
  app/models/work.rb
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
Labels: Awaiting Review

AO3-6964 Fix that comment reply notice on moderated admin posts mentioned works (#5930)
  app/views/comments/_comment_form.html.erb
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-7499 Fix that canonical email was updated when requesting an email change (#5876)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-7520 AO3-7521 Fix page title when previewing admin posts (#5914)
  app/controllers/admin_posts_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7164 Bump rack-dev-mark to 0.8.1 (#5864)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7378 Add button to copy setup key to clipboard for totp (#5735)
  app/views/admin/totp/reauthenticate_create.erb
  config/locales/views/en.yml
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

AO3-7515 Fix erblint issue
  app/views/help/icon_comment_text.html.erb
Labels: Awaiting Review

AO3-6272 Fix chapter count caching 0 after posting draft (#5833)
  app/models/work.rb
  spec/models/work_spec.rb
  spec/requests/works_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-5556 Don't change collections on preview - Follow up PR (#5820)
  app/controllers/bookmarks_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/works_controller.rb
  app/helpers/works_helper.rb
  app/models/application_record.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/concerns/association_assignment.rb
  app/models/concerns/collectible.rb
  app/models/concerns/taggable.rb
  app/models/work.rb
  app/views/works/_meta.html.erb
  config/locales/controllers/en.yml
  config/locales/helpers/en.yml
  config/locales/models/en.yml
  factories/collections.rb
  features/bookmarks/bookmark_create.feature
  features/collections/collection_anonymity.feature
  features/collections/collection_invite.feature
  features/collections/work_preview_collections.feature
  lib/bookmarkable.rb
  lib/collectible.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/collections_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/works_owner_spec.rb
  spec/models/collection_item_spec.rb
  spec/models/concerns/collectible_spec.rb
  spec/models/search/collection_query_spec.rb
Labels: Awaiting Review

AO3-7515 normalize locale file
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5742 Fix work_skin_allowed validation never running (#5928)
  app/models/work.rb
  config/locales/models/en.yml
  factories/works.rb
  spec/models/work_spec.rb
Labels: Awaiting Review

AO3-7515 remove newline from locale file
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-2312 Update kudos_user_links comment
  app/helpers/kudos_helper.rb
Labels: Awaiting Review

AO3-7542 Add permalink and blog_lang to Akismet comment checks
  app/controllers/comments_controller.rb
  app/models/comment.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-4412 Fixing the N+1 issues in the homepage's inbox
  app/models/inbox_comment.rb
Labels: Awaiting Review

AO3-7472 removed the messages & updated tests but i still need to make it not list the related works
  app/helpers/works_helper.rb
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_preface.html.erb
  app/views/works/_work_approved_children.html.erb
  app/views/works/_work_header_notes.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7472 (accidentally removed some things, putting them back)
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7534 Update text on Media Category tag pages
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7534 Update text on Media Category tag pages
  app/views/tags/show.html.erb
Labels: Awaiting Review

AO3-4412 Fixing whitespace issues
  app/models/inbox_comment.rb
Labels: Awaiting Review

AO3-5743 Fixing grammer
  features/users/user_dashboard.feature
Labels: Awaiting Review

AO3-5743 Removing unecessary checks
  app/views/related_works/index.html.erb
Labels: Awaiting Review

AO3-5743 Fixing the N+1 issues when generating the fixed related works count
  app/models/related_work.rb
  app/models/user.rb
  app/views/users/_sidebar.html.erb
Labels: Awaiting Review

AO3-5743 Removing another N+1 issue when determining if the related works sections should show
  app/controllers/related_works_controller.rb
  app/views/related_works/index.html.erb
Labels: Awaiting Review

AO3-5743 Cleaning up syntax for rubocop
  app/models/related_work.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
