Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6201 Remove unused actions from the AutocompleteController
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

AO3-5962 Switch from rake task to resque scheduler.
  config/resque_schedule.yml
  config/schedule_production.rb
  features/other_a/invite_queue.feature
  features/step_definitions/admin_steps.rb
  lib/tasks/invitations.rake
Labels: Awaiting Review

AO3-6201 Remove unused actions from the AutocompleteController fix
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

AO3-6197 Remove unused Defensio config variables
  config/config.yml
Labels: Awaiting Review

fix
  app/helpers/comments_helper.rb
Labels: Awaiting Review

AO3-5734: Revise to include second and third fandom names
  app/models/download.rb
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6166 Add redirects for hidden/unrevealed works
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/kudos_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/collections_controller_spec.rb
  spec/controllers/kudos_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Awaiting Review

Use pseud byline for download authors (#3609)
  app/models/download.rb
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6339 Bump Rails to 6.0.5 (#4228)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6352 Add default Content-Security-Policy response header (#4255)
  config/application.rb
  spec/requests/security_headers_spec.rb
Labels: Awaiting Review

AO3-3846 Make draft chapters display on chapter rearrange page (#3799)
  app/controllers/chapters_controller.rb
  app/models/work.rb
  app/views/chapters/manage.html.erb
  features/works/chapter_edit.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-6358 Overwrite local configuration files in Docker init.sh (#4261)
  .gitignore
  script/docker/init.sh
Labels: Awaiting Review

AO3-6200 Make bookmark_if_exists faster to handle orphan_account (#4225)
  app/helpers/bookmarks_helper.rb
  spec/helpers/bookmarks_helper_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6216 Fix link for related works in downloads (#4135)
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_download_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Awaiting Review

AO3-5780 Add thousands separators to long numbers on series pages (#4254)
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  features/other_b/series.feature
Labels: Awaiting Review

AO3-5709 Remove factory_girl references from download specs (#4262)
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6338 Removed unused CollectionItem methods (#4258)
  app/models/collection_item.rb
Labels: Awaiting Review

AO3-5775 Add language to Download HTML view (#3918)
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Awaiting Review

AO3-6345 Return 404 when accessing admin user page for nonexistent user (#4242)
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-6346 Return HTML error pages for non-registered MIME types (#4250)
  app/controllers/errors_controller.rb
  spec/controllers/errors_controller_spec.rb
Labels: Awaiting Review

AO3-6159 Updated pseud deletion preview text (#4238)
  app/views/pseuds/delete_preview.html.erb
Labels: Awaiting Review

AO3-2675 Prevent adding parent skins with blank titles (#4196)
  app/controllers/skins_controller.rb
  app/models/skin.rb
  spec/models/skin_parent_spec.rb
Labels: Awaiting Review

Restrict access to Manage Invite Queue page
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  config/locales/views/en.yml
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Live with a redirect when not authorized to destroy
  app/controllers/invite_requests_controller.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Handle pundit errors in JSON format
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

The thing is the code has to work in addition to the tests passing
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Update feature test to use proper admin role
  features/admins/admin_invitations.feature
Labels: Awaiting Review

Update feature tests
  features/other_a/invite_queue.feature
  features/step_definitions/invite_steps.rb
Labels: Awaiting Review

Style fixes
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Handle JSON authorization failures in admin_only_access_denied, rename error_message to make it clear it expects an array, add factory test
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  spec/models/invite_request_spec.rb
Labels: Awaiting Review

AO3-6250 Use by_anonymous_creator
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
Labels: Awaiting Review

Let support have access
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Finish switch from find_by to find
  app/controllers/invite_requests_controller.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/sl.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/sl.yml
Labels: Awaiting Review

AO3-6208 Remove the TagWrangling#discuss functionality (#4281)
  app/controllers/tag_wranglings_controller.rb
  app/helpers/comments_helper.rb
  app/views/tag_wranglings/_wrangler_dashboard.html.erb
  app/views/tag_wranglings/discuss.html.erb
  config/routes.rb
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_comment.feature
Labels: Awaiting Review

AO3-5962 Drop position from invite requests to make sending invitations faster. (#4280)
  app/controllers/admin/admin_invitations_controller.rb
  app/controllers/invite_requests_controller.rb
  app/jobs/application_job.rb
  app/jobs/invite_from_queue_job.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/views/invite_requests/_invite_request.html.erb
  app/views/invite_requests/edit.html.erb
  app/views/invite_requests/manage.html.erb
  app/views/invite_requests/new.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  config/routes.rb
  config/schedule_production.rb
  db/migrate/20220622075958_drop_position_from_invite_requests.rb
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/invite_steps.rb
  lib/tasks/invitations.rake
  spec/controllers/admin/admin_invitations_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6332 Upgrade Elasticsearch to 7.17.1 (#4278)
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

AO3-5989 Fix broken external links in skins help text (#4271)
  app/views/skins/_wizard_form.html.erb
  public/help/skins-creating.html
Labels: Awaiting Review
