Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Facepalm
  app/models/admin_banner.rb
  app/models/admin_post.rb
  app/models/favorite_tag.rb
  app/models/reading.rb
  app/models/tag.rb
  features/support/paths.rb
Labels: Awaiting Review

AO3-7231 Move version to start for home keys
  app/decorators/homepage.rb
  app/models/admin_post.rb
  app/models/favorite_tag.rb
  app/models/reading.rb
Labels: Awaiting Review

AO3-7231 Consistency
  app/controllers/application_controller.rb
  app/controllers/tags_controller.rb
  app/models/admin_banner.rb
  app/models/tag.rb
Labels: Awaiting Review

AO3-7231 Bump cache keys for model and model array caches (#5569)
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/works_controller.rb
  app/decorators/homepage.rb
  app/models/admin_banner.rb
  app/models/admin_post.rb
  app/models/admin_setting.rb
  app/models/favorite_tag.rb
  app/models/reading.rb
  app/models/tag.rb
  app/models/work.rb
  features/support/paths.rb
Labels: Awaiting Review

AO3-7271 add tests
  app/controllers/comments_controller.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7271 add and remove some whitespaces
  spec/controllers/comments/default_rails_actions_spec.rb
Labels: Awaiting Review

Remove redundant prefs specs
  features/other_a/preferences_edit.feature
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

remove extra line (rubocop)
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6359: Additional pseud testing and user.rb fixes
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-6359: RuboCop fixes for extra space and array creation.
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

Just disable the thing because only volunteers can see it anyway
  app/controllers/skins_controller.rb
  app/views/skins/_form.html.erb
  features/admins/admin_skins.feature
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review

AO3-6983 Add support form notices (#5389)
  app/controllers/admin/support_notices_controller.rb
  app/controllers/feedbacks_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/support_notice_helper.rb
  app/models/support_notice.rb
  app/policies/support_notice_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/banners/index.html.erb
  app/views/admin/support_notices/_navigation.html.erb
  app/views/admin/support_notices/_support_notice.html.erb
  app/views/admin/support_notices/_support_notice_blurb.html.erb
  app/views/admin/support_notices/_support_notice_form.html.erb
  app/views/admin/support_notices/confirm_delete.html.erb
  app/views/admin/support_notices/edit.html.erb
  app/views/admin/support_notices/index.html.erb
  app/views/admin/support_notices/new.html.erb
  app/views/admin/support_notices/show.html.erb
  app/views/feedbacks/new.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20251215194643_create_support_notices.rb
  factories/support_notice.rb
  features/other_a/banner_general.feature
  features/other_b/support_notice.feature
  features/step_definitions/support_notice_steps.rb
  features/support/paths.rb
  public/stylesheets/site/2.0/16-zone-system.css
  spec/controllers/admin/support_notices_controller_spec.rb
  spec/models/support_notice_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7240 i18n rating, warning, fandom help files (#5530)
  app/controllers/help_controller.rb
  app/views/bookmarks/_external_work_fields.html.erb
  app/views/help/tags_fandoms.html.erb
  app/views/help/tags_ratings.html.erb
  app/views/help/tags_warnings.html.erb
  app/views/works/_work_form_tags.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/fandom-help.html
  public/help/rating-help.html
  public/help/warning-help.html
Labels: Awaiting Review

AO3-7246 Add Parent link to reply comments (#5528)
  app/views/comments/_comment_actions.html.erb
  config/locales/views/en.yml
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

AO3-3245 Manually entering the post link for a closed collection gives a misleading error (#5504)
  app/controllers/works_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Awaiting Review

AO3-7274 Increase comment preview character limit (#5556)
  app/views/comments/_comment_abbreviated_list.html.erb
Labels: Awaiting Review

AO3-7047 Migrate comments table to BIGINT (#5559)
  db/migrate/20260124181621_change_comments_ids_to_bigint.rb
  spec/models/comment_spec.rb
  spec/models/inbox_comment_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7281 Bump elasticsearch to 8.19.0 (#5560)
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

AO3-7279 Change collection async reveal tasks to check if collection is still revealed/non-anonymous (#5551)
  app/models/collection.rb
  spec/models/collection_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-7287 Fix N+1 queries in UserIndexer (#5568)
  app/models/search/user_indexer.rb
  spec/models/search/user_indexer_spec.rb
Labels: Awaiting Review

AO3-7260 Increase required password length (#5545)
  config/config.yml
  config/locales/views/en.yml
  features/users/authenticate_users.feature
  features/users/user_create.feature
  features/users/user_delete.feature
  features/users/user_edit.feature
  features/works/chapter_edit.feature
  spec/requests/rack_attack_spec.rb
Labels: Awaiting Review

Bump to 9.3.0
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

Test updates, fix things that got messed up in merge, line lenght tweaks
  app/controllers/skins_controller.rb
  features/other_b/skin_public.feature
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

Don't include apply to make public checkbox for admins
  app/views/skins/_form.html.erb
  features/other_b/skin_public.feature
Labels: Awaiting Review

AO3-7030 Cucumber expressions
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review

Merge fix
  app/controllers/help_controller.rb
Labels: Awaiting Review

Merge fix
  features/comments_and_kudos/comment_moderation.feature
Labels: Awaiting Review

Moved certain examples to locale file
  app/views/help/skins_creating.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7030 Code style fixes
  app/controllers/skins_controller.rb
  app/views/skins/_skin_module.html.erb
  lib/tasks/skin_tasks.rake
Labels: Awaiting Review

AO3-7030 Try to find some bracket layout that'll appease Reviewdog's contradictory issues
  app/controllers/skins_controller.rb
Labels: Awaiting Review

AO3-7030 Indent
  app/controllers/skins_controller.rb
Labels: Awaiting Review

AO3-7030 C'mon
  app/controllers/skins_controller.rb
Labels: Awaiting Review

Added a 'force delete' in step definition, and used it to add a test for posted work without posted draft, unsure if align with design style
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Awaiting Review

Fix cucumber press 'save draft' instead of follow
  features/works/work_download.feature
Labels: Awaiting Review

Added a cucumber test for single chaptered work
  features/works/work_download.feature
Labels: Awaiting Review

Update features/other_a/reading.feature
  features/other_a/reading.feature
Labels: Awaiting Review

Modify test scenerio description and changed field used for better readability
  app/views/downloads/show.html.erb
  features/works/work_download.feature
Labels: Awaiting Review

Changed the elsif back to chapters.size since chapters is contextual and 'include_draft_chapter = true' will pass the drafts in.
  app/views/downloads/show.html.erb
Labels: Awaiting Review

I think we have to use chapters here
  app/views/downloads/show.html.erb
Labels: Awaiting Review

AO3-7289 Rescue regex timeout in CSS cleaner
  lib/css_cleaner.rb
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
