Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-5949 Fix related works path
  app/controllers/related_works_controller.rb
  spec/controllers/related_works_controller_spec.rb
Labels: Awaiting Review

AO3-6259 Update Faraday to latest
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6936 refactoring translation key
  app/controllers/subscriptions_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

Use a blue that meets AAA guidelines even for small text
  public/stylesheets/masters/dark_mode/dark_mode_midsize.handheld_.css
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Awaiting Review

Also adjust blue used for notices etc
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Awaiting Review

Proxy notice border color
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Awaiting Review

Visited link color contrast against background fix
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Awaiting Review

Two more text contrast fixes (dashboard hover, autocomplete hover)
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Awaiting Review

Update README
  public/stylesheets/masters/dark_mode/README.md
Labels: Awaiting Review

Rename midsize sheet and update README
  public/stylesheets/masters/dark_mode/README.md
  public/stylesheets/masters/dark_mode/dark_mode_midsize_.css
Labels: Awaiting Review

One more README update
  public/stylesheets/masters/dark_mode/README.md
Labels: Awaiting Review

Update app/views/works/_work_header_notes.html.erb
  app/views/works/_work_header_notes.html.erb
Labels: Awaiting Review

AO3-6912 Use page subtitle for unrevealed works instead of page title (#5201)
  app/controllers/works_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Awaiting Review

AO3-7003: Allow `audio.com` embeds (#5203)
  config/config.yml
  lib/html_cleaner.rb
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6996 Remove no longer needed ignored_columns from models (#5204)
  app/models/invite_request.rb
  app/models/user.rb
Labels: Awaiting Review

AO3-6235 Allow policy_and_abuse admins to toggle invite requests in settings (#5214)
  app/policies/admin_setting_policy.rb
  spec/controllers/admin/settings_controller_spec.rb
Labels: Awaiting Review

AO3-6437 Remove unused tables (#5205)
  app/controllers/work_links_controller.rb
  app/models/work.rb
  app/models/work_link.rb
  app/views/stats/index.html.erb
  app/views/work_links/index.html.erb
  config/routes.rb
  db/migrate/20250530172134_drop_unused_tables.rb
Labels: Awaiting Review, Has Migrations

AO3-6515 Fix 500 error for work end notes without posted chapters (#5212)
  app/helpers/works_helper.rb
  app/views/works/_work_header_notes.html.erb
  config/locales/views/en.yml
  spec/helpers/works_helper_spec.rb
Labels: Awaiting Review

AO3-6588 Allow Open Doors and Support admins to set no_resets role (#5207)
  app/policies/user_policy.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-6936 using lazy translation keys
  app/controllers/subscriptions_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

Update footer link text and location
  app/views/layouts/_footer.html.erb
  config/locales/views/en.yml
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
Labels: Awaiting Review

Update footer links on error pages and remove invalid ARIA from all footers
  app/views/layouts/_footer.html.erb
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
Labels: Awaiting Review

Not branding
  public/stylesheets/masters/dark_mode/README.md
Labels: Awaiting Review

AO3-6936 fixing translation key syntax
  app/controllers/subscriptions_controller.rb
Labels: Awaiting Review

Update tinymce.min.js path
  app/helpers/application_helper.rb
Labels: Awaiting Review

Migrate to TinyMCE 6.8.6
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Awaiting Review

Appease the dog
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Awaiting Review

Only allow users with the official role to apply to make skins public
  app/models/skin.rb
  app/views/skins/_form.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

Tests
  app/models/skin.rb
  features/other_b/skin_public.feature
  features/step_definitions/skin_steps.rb
  spec/models/skin_spec.rb
Labels: Awaiting Review

Update features/step_definitions/bookmark_steps.rb
  features/step_definitions/bookmark_steps.rb
Labels: Awaiting Review

Update features/step_definitions/bookmark_steps.rb
  features/step_definitions/bookmark_steps.rb
Labels: Awaiting Review

Remove skins-approval help text
  app/views/skins/_skin_module.html.erb
  public/help/skins-approval.html
Labels: Awaiting Review

Add task for clearing unofficial skins
  lib/tasks/skin_tasks.rake
  spec/lib/tasks/skin_tasks.rake_spec.rb
Labels: Awaiting Review

add tests for destroy and invite_friend
  spec/controllers/invitations_controller_spec.rb
Labels: Awaiting Review

AO3-5949 Don't apply default source on work preview
  app/controllers/works_controller.rb
  app/views/works/preview.html.erb
Labels: Awaiting Review

AO3-5949 Redirect to multiple works page instead of userpage when orphaning a user
  app/controllers/orphans_controller.rb
Labels: Awaiting Review

AO3-5949 Update comment moderation spec
  spec/controllers/comments/comment_moderation_spec.rb
Labels: Awaiting Review

AO3-5949 Fix cucumber login step with javascript enabled
  features/step_definitions/user_steps.rb
Labels: Awaiting Review

AO3-5949 Fix cucumber tests that rely on the user page not being loaded
  features/support/paths.rb
Labels: Awaiting Review

AO3-5949 Don't touch shared login page path
  features/step_definitions/user_steps.rb
  features/support/paths.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
