Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-5743 Fixing the placement of a function
  app/models/user.rb
Labels: Awaiting Review

AO3-5743 Fixing the placement of a function, but for real this time
  app/models/user.rb
Labels: Awaiting Review

AO3-7543 the tests
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7543 the try
  app/models/comment.rb
Labels: Awaiting Review

fix: download arguments use a text column with explicit JSON serialization; added regression test for non-empty arguments
  app/models/generated_download.rb
  db/migrate/20260728000000_change_generated_download_arguments_to_text.rb
  db/schema.rb
  spec/models/generated_download_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7461 Clean up generated download implementation
  app/controllers/admin/admin_users_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/helpers/exports_helper.rb
  app/jobs/generated_download_job.rb
  db/migrate/20260727000000_create_generated_downloads.rb
  db/migrate/20260728000000_change_generated_download_arguments_to_text.rb
  db/schema.rb
Labels: Awaiting Review, Has Migrations

AO3-7461 Fix CI checks for generated downloads
  app/controllers/generated_downloads_controller.rb
  app/jobs/generated_download_job.rb
  app/views/generated_downloads/show.html.erb
  config/locales/views/en.yml
  config/routes.rb
  db/schema.rb
  spec/controllers/generated_downloads_controller_spec.rb
Labels: Awaiting Review

AO3-7461 Convert Active Storage filename for redirect
  app/controllers/generated_downloads_controller.rb
  spec/controllers/generated_downloads_controller_spec.rb
Labels: Awaiting Review

AO3-7461 Use string disposition for storage redirect
  app/controllers/generated_downloads_controller.rb
  spec/controllers/generated_downloads_controller_spec.rb
Labels: Awaiting Review

AO3-7461 Preserve exported CSV encoding
  app/helpers/exports_helper.rb
Labels: Awaiting Review

AO3-7461 Use Active Storage redirect helper correctly
  app/controllers/generated_downloads_controller.rb
  spec/controllers/generated_downloads_controller_spec.rb
Labels: Awaiting Review

AO3-7461 Decode stored CSV downloads as UTF-16LE
  app/jobs/generated_download_job.rb
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

AO3-7461 Preserve generated download MIME types
  app/jobs/generated_download_job.rb
Labels: Awaiting Review

AO3-7461 Expect safe content type for HTML downloads
  features/step_definitions/work_download_steps.rb
Labels: Awaiting Review

AO3-7461 Preserve download response content types
  app/controllers/generated_downloads_controller.rb
  app/jobs/generated_download_job.rb
  features/step_definitions/work_download_steps.rb
  spec/controllers/generated_downloads_controller_spec.rb
Labels: Awaiting Review

AO3-7505 Adding the unique index for collection name (rubocop asked me to)
  db/migrate/20260728014110_add_unique_index_to_collection_names.rb
Labels: Awaiting Review, Has Migrations

AO3-7557 Add test for pagy overflow
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-7557 Fix 500 error due to pagy overflow in admin posts index
  app/views/admin_posts/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7558 Add test for pagy overflow
  features/gift_exchanges/challenge_giftexchange.feature
Labels: Awaiting Review

AO3-7558 Fix 500 error due to pagy overflow in user assignment index
  app/views/challenge_assignments/_user_index.html.erb
Labels: Awaiting Review

AO3-7559 Bump loofah to 2.25.2 and rails-html-sanitizer to 1.7.1
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert reportable association
  app/models/abuse_report.rb
  app/models/bookmark.rb
  app/models/comment.rb
  app/models/series.rb
  app/models/user.rb
  app/models/work.rb
  db/migrate/20260415113151_add_reportable_to_abuse_report.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review, Has Migrations

address PR feedback: variant-tracking icon includes and comment-render assertion
  app/models/inbox_comment.rb
  spec/requests/inbox_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7382 Adding a test to ensure users are shown a 404 page when looking at a non-existent user's page
  spec/controllers/readings_controller_spec.rb
Labels: Awaiting Review

AO3-7382 Making it so users are shown a 404 page instead of their dashboard when looking at a non-existent user's page
  app/controllers/readings_controller.rb
Labels: Awaiting Review

fix(tags): filter the tags that have already been cleaned to prevent a batch loop in the query and fix incorrect update type
  app/jobs/enqueue_bookmarks_tags_job.rb
  app/jobs/reset_bookmark_tags_job.rb
Labels: Awaiting Review

test(tags): update taggings_count_cache in spec to reflect bookmark presence
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

fix(tags): use UnsortedTag type and add common tagging association to specs
  app/jobs/reset_bookmark_tags_job.rb
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

AO3-7382 i18n-ing readings_controller.rb
  app/controllers/readings_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7135 Record canonized/decanonized dates on tags
  app/models/search/tag_indexer.rb
  app/models/search/tag_query.rb
  app/models/search/tag_search_form.rb
  app/models/tag.rb
  app/views/tags/edit.html.erb
  config/locales/views/en.yml
  db/migrate/20260725153049_add_canonization_dates_to_tags.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/models/search/tag_query_spec.rb
  spec/models/tag_wrangling_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-5550 AO3-6022 nicer scopes + another test
  app/controllers/related_works_controller.rb
  app/helpers/related_works_helper.rb
  app/models/related_work.rb
  app/models/user.rb
  features/works/work_related.feature
Labels: Awaiting Review

better test name
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7382 Appeasing rubocop
  app/controllers/readings_controller.rb
Labels: Awaiting Review

AO3-7562 Bump rails gem to 8.1.3.1
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7147 Miscellaneous minor fixes per suggestion
  app/controllers/collections_controller.rb
  app/models/search/collection_query.rb
  app/views/collection_profile/show.html.erb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/index.html.erb
  app/views/tag_wranglings/_wrangler_dashboard.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  features/support/paths.rb
Labels: Awaiting Review

AO3-7562 Bump rails gem to 8.1.3.1 (#5955)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7542 Address pull request comments.
  app/models/comment.rb
  config/config.yml
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7506 Handle near-match pseuds in backfill task
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7472 copied over the scopes from my AO3-5550+6022 pr, made it not show the hidden works anywhere, added more tests
  app/controllers/related_works_controller.rb
  app/helpers/works_helper.rb
  app/models/related_work.rb
  app/models/work.rb
  app/views/chapters/show.html.erb
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_preface.html.erb
  app/views/users/_sidebar.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/_work_header_notes.html.erb
  app/views/works/_work_related_works.html.erb
  app/views/works/preview.html.erb
  app/views/works/show.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7472 unrenamed an accidentally renamed scope
  app/models/related_work.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
