Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

address feedback
  app/views/help/tags_search_text.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7135 Remove redundant indexing steps from search scenarios
  features/tags_and_wrangling/tag_search.feature
Labels: Awaiting Review

fix
  app/views/help/tags_search_text.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Added Donate or Volunteer to footer for nomaintenance
  public/nomaintenance.html
Labels: Awaiting Review

AO3-7387 Change stats page for non-existent user to 404
  app/controllers/stats_controller.rb
  spec/controllers/stats_controller_spec.rb
Labels: Awaiting Review

AO3-7608 i18n default messages in live_validation_for_field
  app/helpers/validation_helper.rb
  config/locales/helpers/en.yml
Labels: Awaiting Review

Update invalid_signup_notification.html.erb
  app/views/gift_exchange_mailer/invalid_signup_notification.html.erb
Labels: Awaiting Review

AO3-7600 Action review
  app/views/comments/_single_comment.html.erb
  app/views/inbox/_single_inbox_comment.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7609 Enable Rails/SaveBang Rubocop cop
  .rubocop.yml
Labels: Awaiting Review

AO3-7614 Update page title and navigation action on user stats page
  app/views/stats/_navigation.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/other_b/stats.feature
Labels: Awaiting Review

AO3-7613 Set proper @page_subtitle in TagWranglersController::show and add corresponding entry to locale file
  app/controllers/tag_wranglers_controller.rb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6745 Add pseud indexer n+1 and document specs
  spec/models/search/pseud_indexer_spec.rb
Labels: Awaiting Review

AO3-6745 Batch pseud indexer count queries per batch
  app/models/pseud.rb
  app/models/search/pseud_indexer.rb
Labels: Awaiting Review

fix Tag Wranglers page title and header
  app/controllers/tag_wranglers_controller.rb
  app/views/tag_wranglers/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5403 Fix series sort by work blurb
  app/models/chapter.rb
  app/models/series.rb
  app/models/work.rb
  db/migrate/20260926120000_add_posted_at_to_chapters.rb
  spec/models/chapter_spec.rb
  spec/models/series_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

Suggestions
  app/controllers/users/totp_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7610 completes change requests
  app/controllers/tag_wranglers_controller.rb
  app/views/tag_wranglers/index.html.erb
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Awaiting Review

AO3-5514 Use "Change the Labels" settings for challenge assignment emails (#5978)
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  features/gift_exchanges/challenge_giftexchange.feature
Labels: Awaiting Review

AO3-4930 Move Invited role conversion to before task
  lib/tasks/after_tasks.rake
  lib/tasks/before_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/before_tasks.rake_spec.rb
  spec/models/collection_participant_spec.rb
Labels: Awaiting Review

AO3-6969 Add pagination to the top of History and Marked for Later pages (#5956)
  app/views/readings/index.html.erb
Labels: Awaiting Review

AO3-7083 Update text on comment form for guests (#5958)
  app/views/comments/_comment_form.html.erb
  config/locales/views/en.yml
  features/comments_and_kudos/guest_comments.feature
Labels: Awaiting Review

refactored languages view
  app/views/languages/index.html.erb
Labels: Awaiting Review

AO3-7615 Update rubyzip and selenium-webdriver for CVE
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7294 Maintenance task to reset bookmark-only tags (#5580)
  app/jobs/enqueue_bookmarks_tags_job.rb
  app/jobs/reset_bookmark_tags_job.rb
  config/resque_schedule.yml
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

AO3-7342 Update embed sanitizer to new Allow syntax (#5893)
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-7382 Making the history page for a nonexistent user show an error 404 instead of redirecting (#5990)
  app/controllers/readings_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/readings_controller_spec.rb
Labels: Awaiting Review

AO3-7444 Implement Unicode's confusable check between guest names and banned usernames (#6004)
  app/models/concerns/confusable.rb
  app/validators/not_forbidden_name_validator.rb
  config/confusables.txt
  script/download_confusables_list.rb
  spec/models/concerns/confusable_spec.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-7582 i18n-ing the csv download help file (#5991)
  app/controllers/help_controller.rb
  app/views/challenge/gift_exchange/_challenge_signups.html.erb
  app/views/challenge/prompt_meme/_challenge_signups.html.erb
  app/views/challenge/shared/_challenge_requests.html.erb
  app/views/help/csv_download.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/csv-download.html
Labels: Awaiting Review

AO3-7590 Remove unused required-field.html help file (#6005)
  public/help/required-field.html
Labels: Awaiting Review

AO3-7594 Update html in invalid_signup_notification.html.erb mailer (#6015)
  app/views/gift_exchange_mailer/invalid_signup_notification.html.erb
Labels: Awaiting Review

AO3-7596 Bump mail from 2.8.1 to 2.9.1 (#6014)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7597 Add link for Donate or Volunteer to static error pages (#6024)
  public/400.html
  public/403.html
  public/404.html
  public/406-unsupported-browser.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
Labels: Awaiting Review

AO3-7606 Replace tag.strong with style_bold (#6029)
  app/views/user_mailer/admin_deleted_work_notification.html.erb
Labels: Awaiting Review

AO3-7615 Update rubyzip and selenium-webdriver for CVE (#6047)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7575 Remove shadow on news meta in certain skins (#5984)
  lib/skin_wizard.rb
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Awaiting Review

AO3-7610 fixed to standard key name
  app/controllers/tag_wranglers_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7610 fixed rubocop warning
  app/controllers/tag_wranglers_controller.rb
Labels: Awaiting Review

AO3-7617 Failing test first
  spec/models/admin_post_spec.rb
Labels: Awaiting Review

AO3-7617 Disable admin post comments by publication date
  app/models/admin_post.rb
Labels: Awaiting Review

AO3-3469 Add database unique index to collection name
  db/migrate/20260728014110_add_unique_index_to_collection_names.rb
  lib/tasks/after_tasks.rake
  spec/models/collection_spec.rb
Labels: Awaiting Review, Has Migrations
