Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

style: apply rubocop fixes to new job files
  app/jobs/reset_bookmark_tags_job.rb
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

AO3-6218 Allow certain admins to access all collection and challenge pages usually reserved for owners
  app/controllers/application_controller.rb
  app/controllers/challenge/gift_exchange_controller.rb
  app/controllers/challenge/prompt_meme_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/challenge_claims_controller.rb
  app/controllers/challenge_requests_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/collection_participants_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/potential_matches_controller.rb
  spec/controllers/challenge_assignments_controller_spec.rb
  spec/controllers/challenge_claims_controller_spec.rb
  spec/controllers/challenge_requests_controller_spec.rb
  spec/controllers/challenge_signups_controller_spec.rb
  spec/controllers/collection_items_controller_spec.rb
  spec/controllers/collection_participants_controller_spec.rb
  spec/controllers/collections_controller_spec.rb
  spec/controllers/gift_exchange_controller_spec.rb
  spec/controllers/potential_matches_controller_spec.rb
  spec/controllers/prompt_meme_controller_spec.rb
Labels: Awaiting Review

Fix Rubocob issues
  app/controllers/challenge/prompt_meme_controller.rb
  app/controllers/challenge_claims_controller.rb
  app/controllers/challenge_requests_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/potential_matches_controller.rb
Labels: Awaiting Review

fix rubocop
  app/controllers/challenge/gift_exchange_controller.rb
  app/controllers/challenge_claims_controller.rb
  app/controllers/challenge_requests_controller.rb
  app/controllers/challenge_signups_controller.rb
  app/controllers/potential_matches_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

fix #3
  config/locales/controllers/en.yml
Labels: Awaiting Review

try 4
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6498 Allow certain admins to access refused gifts page
  app/controllers/gifts_controller.rb
  app/views/gifts/index.html.erb
  config/locales/controllers/en.yml
  spec/controllers/gifts_controller_spec.rb
Labels: Awaiting Review

AO3-6699 Allow certain admins to choose FAQ categories for inclusion in main navigation
  app/controllers/archive_faqs_controller.rb
  app/models/archive_faq.rb
  app/policies/archive_faq_policy.rb
  app/views/archive_faqs/_admin_index.html.erb
  app/views/archive_faqs/_archive_faq_form.html.erb
  app/views/archive_faqs/_question_answer_fields.html.erb
  app/views/archive_faqs/manage.html.erb
  app/views/layouts/_header.html.erb
  app/views/menu/_menu_about.html.erb
  app/views/menu/_menu_faq.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20260218120000_add_faq_dropdown_fields_to_archive_faqs.rb
  db/migrate/20260218131500_add_faq_menu_position_to_archive_faqs.rb
  spec/controllers/archive_faqs_controller_spec.rb
  spec/models/archive_faq_spec.rb
Labels: Awaiting Review, Has Migrations

Fix linting issues
  app/controllers/archive_faqs_controller.rb
  app/views/archive_faqs/_archive_faq_form.html.erb
  config/locales/views/en.yml
  spec/models/archive_faq_spec.rb
Labels: Awaiting Review

fix test
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

fix tests
  spec/controllers/gifts_controller_spec.rb
Labels: Awaiting Review

AO3-7298 Bump rack from 2.2.20 to 2.2.22
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7299 Bump httparty from 0.21.0 to 0.24.2
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7030 Style fixes in specs
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7030 Add a space in the spec
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7030 Change line breaks in skin task spec
  spec/lib/tasks/skin_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7298 Bump rack from 2.2.20 to 2.2.22 (#5595)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7299 Bump httparty from 0.21.0 to 0.24.2 (#5596)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7265 Remove index action and view for prompts (#5578)
  app/controllers/prompts_controller.rb
  app/views/prompts/index.html.erb
  config/routes.rb
Labels: Awaiting Review

AO3-7236 Migrated skins-basics and skins-parents to help controller (#5581)
  app/controllers/help_controller.rb
  app/views/help/skins_basics.html.erb
  app/views/help/skins_parents.html.erb
  app/views/preferences/index.html.erb
  app/views/skins/_form.html.erb
  app/views/skins/_wizard_form.html.erb
  app/views/skins/index.html.erb
  app/views/skins/new.html.erb
  app/views/skins/new_wizard.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/skins-basics.html
  public/help/skins-parents.html
Labels: Awaiting Review

AO3-7036 Make thread button appear even if comment is unreviewed (#5562)
  app/views/comments/_comment_actions.html.erb
  features/comments_and_kudos/comment_moderation.feature
Labels: Awaiting Review

AO3-7297 Schema dump
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-7278 Add open_doors role to invitation find permissions (#5579)
  app/policies/invitation_policy.rb
  features/admins/admin_invitations.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

AO3-7300 Bump nokogiri from 1.18.10 to 1.19.1
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7297 Schema dump (#5597)
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-7300 Bump nokogiri from 1.18.10 to 1.19.1 (#5598)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7286 Fix spamban page header to display username and ID
  app/views/admin/admin_users/confirm_delete_user_creations.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7286 Normalize i18n en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7290 Move and indent overscroll-behavior property
  public/stylesheets/site/2.0/16-zone-system.css
Labels: Awaiting Review

AO3-7290 Prefer vanilla js over jquery
  app/views/layouts/_tos_prompt.html.erb
Labels: Awaiting Review

suggested changes
  app/controllers/admin/admin_users_controller.rb
  features/admins/users/admin_abuse_users.feature
  features/step_definitions/pseud_steps.rb
Labels: Awaiting Review

Update migration timestamp
  db/migrate/20260220092327_add_canonical_email_to_users.rb
Labels: Awaiting Review, Has Migrations

style: add trailing newline at end of file
  config/resque_schedule.yml
Labels: Awaiting Review

refactor(bookmark): optimize job with batching, guard clauses, and nonsynonymous scope
  app/jobs/reset_bookmark_tags_job.rb
Labels: Awaiting Review

test: split and clarify ResetBookmarkTagsJob specs per review
  spec/jobs/reset_bookmark_tags_job_spec.rb
Labels: Awaiting Review

AO3-6916 Use test container as well
  .devcontainer/devcontainer.json
  .devcontainer/init.sh
  .gitpod.yml
  compose.override.yaml
  compose.yaml
Labels: Awaiting Review

AO3-7282 Upgrade elasticsearch to 9.3.x (#5561)
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

Revert "AO3-7282 Upgrade elasticsearch to 9.3.x (#5561)"
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

Revert "AO3-7282 Upgrade elasticsearch to 9.3.x (#5561)" (#5601)
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

AO3-6916 Support docker commands in codespace
  .devcontainer/devcontainer.json
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
