Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

add inbox n+1 specs for guest and reply comments
  factories/comments.rb
  spec/requests/inbox_n_plus_one_spec.rb
Labels: Awaiting Review

updated cucumber tests
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

AO3-1250 Hide unrevealed and anonymous works from authors
  app/controllers/series_controller.rb
  app/models/series.rb
Labels: Awaiting Review

AO3-1250 on the work itself hide series info
  app/helpers/series_helper.rb
Labels: Awaiting Review

AO3-1250 skip over hidden works in the series
  app/helpers/series_helper.rb
Labels: Awaiting Review

AO3-1250: Fix where.not clause to filter either unrevealed or anon instead of AND, and uncomment matching test cases
  app/helpers/series_helper.rb
  features/collections/collection_anonymity.feature
Labels: Awaiting Review

AO3-1250 fix linting issues and swap ts() helper for t() translation lookup.
  app/controllers/series_controller.rb
  app/helpers/series_helper.rb
  config/locales/helpers/en.yml
Labels: Awaiting Review

AO3-1250 Scope series navigation step definitions to #series
  features/step_definitions/series_steps.rb
Labels: Awaiting Review

AO3-1250 fix linting issue - Normalize en.yml translation keys
  config/locales/helpers/en.yml
Labels: Awaiting Review

AO3-1250 Fix series positioning to use visible works only
  app/helpers/series_helper.rb
  config/locales/helpers/en.yml
Labels: Awaiting Review

AO3-7493 Rate limit commenting based on users's comment count (#5852)
  app/controllers/comments_controller.rb
  app/models/admin_setting.rb
  app/models/user.rb
  app/policies/admin_setting_policy.rb
  app/views/admin/settings/index.html.erb
  config/locales/views/en.yml
  db/migrate/20260604175237_add_comment_count_threshold_for_comment_rate_limit_to_admin_settings.rb
  features/comments_and_kudos/comments_rate_limit.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/settings_controller_spec.rb
  test/fixtures/admin_settings.yml
Labels: Awaiting Review, Has Migrations

AO3-6779 AO3-7250 Log work tag and language edits by admins correctly (#5532)
  app/controllers/works_controller.rb
  app/helpers/admin_helper.rb
  features/admins/admin_works.feature
Labels: Awaiting Review

AO3-7242 i18n help modals for work skins, privacy (#5540)
  app/controllers/help_controller.rb
  app/views/help/privacy_moderated_commenting.html.erb
  app/views/help/privacy_restricted_commenting.html.erb
  app/views/help/privacy_restricted_work.html.erb
  app/views/help/works_skins.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/edit_multiple.html.erb
  app/views/works/new_import.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/comments-moderated.html
  public/help/registered-users.html
  public/help/who-can-comment-on-this-work.html
  public/help/work-skins.html
Labels: Awaiting Review

AO3-6960 Admin post drafts and previews (#5822)
  app/controllers/admin_posts_controller.rb
  app/helpers/admin_post_helper.rb
  app/models/admin_post.rb
  app/models/admin_post_tag.rb
  app/policies/admin_post_policy.rb
  app/views/admin/_admin_nav.html.erb
  app/views/admin/_header.html.erb
  app/views/admin_posts/_admin_index.html.erb
  app/views/admin_posts/_admin_post.html.erb
  app/views/admin_posts/_admin_post_blurb.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/_filters.html.erb
  app/views/admin_posts/_posting_fieldset.html.erb
  app/views/admin_posts/drafts.html.erb
  app/views/admin_posts/index.html.erb
  app/views/admin_posts/index.rss.builder
  app/views/admin_posts/preview.html.erb
  app/views/admin_posts/show.html.erb
  app/views/comments/_commentable.html.erb
  app/views/home/_news_module.html.erb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20260509172710_add_posted_status_and_publication_date_to_admin_posts.rb
  factories/admin_post.rb
  features/admins/admin_post_draft_news.feature
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
  features/support/paths.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/helpers/admin_post_helper_spec.rb
  spec/models/admin_post_spec.rb
  spec/support/shared_examples/access_shared_examples.rb
Labels: Awaiting Review, Has Migrations

AO3-4989 Keep filtering when redirecting after deleting bookmark from user bookmarks page (#5625)
  app/controllers/bookmarks_controller.rb
  features/bookmarks/bookmark_javascript.feature
  features/step_definitions/bookmark_steps.rb
Labels: Awaiting Review

AO3-2782 Disallow assignment of noncanonical fandom wrangling (#5645)
  app/controllers/tag_wranglers_controller.rb
  app/helpers/tags_helper.rb
  app/models/freeform.rb
  config/locales/controllers/en.yml
  config/locales/helpers/en.yml
  features/step_definitions/web_steps.rb
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7421 Restrict special characters in offer/request titles
  app/models/prompt.rb
  app/views/prompts/_prompt_form.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  spec/models/prompt_spec.rb
Labels: Awaiting Review

AO3-7490 Fix reviewdog erblint for our version
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

Fix
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-6272 Never cache zero chapter count
  app/models/work.rb
  spec/requests/works_n_plus_one_spec.rb
Labels: Awaiting Review

Upgrade tool
  .erb_lint.yml
  .github/workflows/reviewdog.yml
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Revert "AO3-7498 Bump tk0miya/action-erblint from 44c5fe3552356fe8bff23f30d53…"
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

Revert "AO3-7498 Bump tk0miya/action-erblint from 44c5fe3552356fe8bff23f30d534aa4258aa3f7b to f8308537666091dac5e8880e94f3ea702b97ef70" (#5901)
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-7498 Update tk0miya/action-erblint and fork it to pin the reviewdog version
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-7509 add inspired_by link in content policy html.erb
  app/views/home/_content.html.erb
Labels: Awaiting Review

AO3-7509 add corresponding text
  config/locales/views/en.yml
Labels: Awaiting Review

Formatting
  app/views/home/_content.html.erb
Labels: Awaiting Review

AO3-5696 Disable orphan account user subscription emails (#5758)
  app/models/subscription.rb
  spec/models/subscription_spec.rb
Labels: Awaiting Review

AO3-7498 Update tk0miya/action-erblint and fork it to pin the reviewdog version (#5902)
  .github/workflows/reviewdog.yml
Labels: Awaiting Review

AO3-7511 Update privacy rights link anchor in Privacy Policy
  app/views/home/_privacy.html.erb
Labels: Awaiting Review

Formatting
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6547 Extract WorkRecipients concern from Work model
  app/models/concerns/work_recipients.rb
  app/models/work.rb
Labels: Awaiting Review

change var to 'decisions_are_final_link'
  app/views/home/_tos.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Preload unrevealed collections for work blurbs
  app/controllers/bookmarks_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/external_authors_controller.rb
  app/controllers/gifts_controller.rb
  app/controllers/orphans_controller.rb
  app/controllers/pseuds_controller.rb
  app/controllers/readings_controller.rb
  app/controllers/series_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/troubleshooting_controller.rb
  app/controllers/users_controller.rb
  app/controllers/works_controller.rb
  app/models/bookmark.rb
  app/models/collection_item.rb
  app/models/prompt.rb
  app/models/work.rb
  app/views/external_authors/claim.html.erb
  app/views/works/_mystery_blurb.html.erb
  config/locales/views/en.yml
  lib/collectible.rb
Labels: Awaiting Review

A03-7510 added link about bookmark rules to Content Policy
  app/views/home/_content.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Normalize en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7495 remove unnecessary 1 second hops
  features/tags_and_wrangling/tag_wrangling.feature
Labels: Awaiting Review

AO3-7522 Update browser page title when editing news post
  app/controllers/admin_posts_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6547 Refine WorkRecipients concern
  app/models/concerns/work_recipients.rb
  app/views/works/_standard_form.html.erb
  lib/creation_notifier.rb
Labels: Awaiting Review

Extract work blurb presenter
  app/presenters/work_blurb_presenter.rb
  app/views/bookmarks/_bookmark_item_module.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/collection_items/_item_fields.html.erb
  app/views/collections/_works_module.html.erb
  app/views/external_authors/claim.html.erb
  app/views/gifts/_gift_blurb.html.erb
  app/views/orphans/index.html.erb
  app/views/prompts/_prompt_blurb.html.erb
  app/views/readings/_reading_blurb.html.erb
  app/views/series/show.html.erb
  app/views/tags/show.html.erb
  app/views/troubleshooting/show.html.erb
  app/views/users/_contents.html.erb
  app/views/works/_adult.html.erb
  app/views/works/_mystery_blurb.html.erb
  app/views/works/_work_blurb.html.erb
  app/views/works/_work_module.html.erb
  app/views/works/collected.html.erb
  app/views/works/drafts.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
  spec/presenters/work_blurb_presenter_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
