Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Slight style edit
  features/gift_exchanges/challenge_giftexchange.feature
Labels: Awaiting Review

Fixed test
  spec/controllers/challenge_requests_controller_spec.rb
Labels: Awaiting Review

Update config/locales/mailers/en.yml
  config/locales/mailers/en.yml
Labels: Awaiting Review

Update app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
Labels: Awaiting Review

Rename tos_violation_bold locale key to may_not_repost.
  config/locales/mailers/en.yml
Labels: Awaiting Review

Apply suggestions from code review
  spec/controllers/challenge_requests_controller_spec.rb
Labels: Awaiting Review

Ran i18n normalize on en.yml.
  config/locales/mailers/en.yml
Labels: Awaiting Review

First batch of work
  app/controllers/fandoms_controller.rb
  app/models/search/search_counts.rb
Labels: Awaiting Review

Added restriction to the tag pages
  app/controllers/fandoms_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/works_controller.rb
Labels: Awaiting Review

Reverted autostyle
  app/controllers/tags_controller.rb
Labels: Awaiting Review

AO3-6983 Updates from review
  app/controllers/admin/support_notices_controller.rb
  app/helpers/support_notice_helper.rb
  app/models/support_notice.rb
  app/views/admin/_header.html.erb
  app/views/admin/banners/index.html.erb
  app/views/admin/support_notices/_navigation.html.erb
  app/views/admin/support_notices/_support_notice.html.erb
  app/views/admin/support_notices/_support_notice_blurb.html.erb
  app/views/admin/support_notices/_support_notice_form.html.erb
  app/views/admin/support_notices/index.html.erb
  app/views/admin/support_notices/show.html.erb
  app/views/feedbacks/new.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  db/migrate/20251215194643_create_support_notices.rb
  factories/support_notice.rb
  features/other_a/banner_general.feature
  features/other_b/support_notice.feature
  features/step_definitions/support_notice_steps.rb
  spec/controllers/admin/support_notices_controller_spec.rb
  spec/models/support_notice_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6983 Rubocop
  app/views/admin/support_notices/_support_notice.html.erb
Labels: Awaiting Review

AO3-7230 Schema dump Rails 7.2
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

Update to include new migration
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-7224 Fix unsanitized wildcards in fandom_string
  app/controllers/tag_wranglers_controller.rb
Labels: Awaiting Review

Remove missed field from sql structure
  db/structure.sql
Labels: Awaiting Review

AO3-7225 Update shoulda-matchers
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7225 Fix quotes
  Gemfile
Labels: Awaiting Review, Gem Updates

AO3-4666 Removed unneeded sign-up method (#5500)
  app/models/collection.rb
  features/gift_exchanges/challenge_giftexchange.feature
  spec/models/collection_spec.rb
Labels: Awaiting Review

AO3-7203 Update admin deleted work email preview and text (#5475)
  app/mailers/user_mailer.rb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  config/locales/mailers/en.yml
  features/admins/admin_works.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-7224 Eliminate chilled string warnings in our own code (#5503)
  app/controllers/archive_faqs_controller.rb
  app/controllers/fandoms_controller.rb
  app/controllers/tag_wranglers_controller.rb
  app/helpers/tags_helper.rb
  spec/models/story_parser_spec.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-7232 Define missing list styles in content and privacy policy (#5508)
  app/views/home/_content.html.erb
  app/views/home/_privacy.html.erb
Labels: Awaiting Review

AO3-7230 Schema dump Rails 7.2 (#5505)
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

Added run all index job to test
  spec/controllers/challenge_requests_controller_spec.rb
Labels: Awaiting Review

AO3-6227 track if match generation failed, added page and mailer and some tests
  app/controllers/challenge/gift_exchange_controller.rb
  app/controllers/potential_matches_controller.rb
  app/mailers/user_mailer.rb
  app/models/challenge_assignment.rb
  app/views/potential_matches/_in_progress.html.erb
  app/views/potential_matches/index.html.erb
  app/views/user_mailer/no_potential_matches_notification.html.erb
  app/views/user_mailer/no_potential_matches_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  db/migrate/20251217222100_add_no_potential_matches_found_to_gift_exchanges.rb
  features/gift_exchanges/challenge_giftexchange.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review, Has Migrations

Test + Fix
  app/controllers/tags_controller.rb
  app/models/search/search_counts.rb
  features/collections/collection_navigation.feature
Labels: Awaiting Review

Changed some names for readability
  features/collections/collection_navigation.feature
Labels: Awaiting Review

Maybe those hook will do the trick?
  spec/controllers/challenge_requests_controller_spec.rb
Labels: Awaiting Review

AO3-6277 make tests work (the previous message had a typo in the ticket number btw)
  app/models/challenge_assignment.rb
Labels: Awaiting Review

AO3-7231 Bump Rails version, run update task
  Gemfile
  Gemfile.lock
  app/controllers/errors_controller.rb
  app/views/errors/400.html.erb
  bin/dev
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_8_0.rb
  config/routes.rb
  public/400.html
  spec/controllers/errors_controller_spec.rb
Labels: Awaiting Review, Gem Updates

AO3-7231 Temporarily use alternative rails-i18n source
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7231 Don't touch owned tag set if it hasn't been persisted yet
  app/models/tagset_models/tag_set.rb
Labels: Awaiting Review

AO3-7231 Attempt a test run with 8.0 defaults
  config/initializers/new_framework_defaults_8_0.rb
Labels: Awaiting Review

AO3-7231 Set 8.0 defaults
  config/application.rb
  config/initializers/new_framework_defaults_8_0.rb
Labels: Awaiting Review

AO3-7231 Try deleting enqueue_after_transaction_commit?
  config/application.rb
Labels: Awaiting Review

AO3-7231 Set enqueue_after_transaction_commit on jobs
  app/jobs/application_job.rb
  app/jobs/application_mailer_job.rb
Labels: Awaiting Review

AO3-6277 make sign-up requests work again
  app/controllers/challenge/gift_exchange_controller.rb
  db/migrate/20251217222100_add_no_potential_matches_found_to_gift_exchanges.rb
Labels: Awaiting Review, Has Migrations

AO3-6277 rubocop
  app/controllers/challenge/gift_exchange_controller.rb
Labels: Awaiting Review

Did not forget linter, forgot rubocop
  app/controllers/tags_controller.rb
  app/models/search/search_counts.rb
Labels: Awaiting Review

AO3-6983 add prefix to enum, revert to use update
  app/models/support_notice.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
