Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7267 fix test phrasing
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6779 remove the if update_tags clause
  app/controllers/works_controller.rb
Labels: Awaiting Review

AO3-6779 more refactoring for rubocop
  app/controllers/works_controller.rb
Labels: Awaiting Review

AO3-7080 Prevent guest comments from suspended and banned accounts (#5444)
  app/controllers/comments_controller.rb
  app/models/admin_blacklisted_email.rb
  app/models/invite_request.rb
  app/models/user.rb
  config/locales/controllers/en.yml
  db/migrate/20260220092327_add_canonical_email_to_users.rb
  features/comments_and_kudos/add_comment.feature
  lib/email_canonicalizer.rb
  lib/tasks/after_tasks.rake
  spec/lib/email_canonicalizer_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6604 Prevent deletion of active admin banners (#5672)
  app/controllers/admin/banners_controller.rb
  app/views/admin/banners/_navigation.html.erb
  app/views/admin/banners/index.html.erb
  config/locales/controllers/en.yml
  features/other_a/banner_general.feature
  spec/controllers/admin/banners_controller_spec.rb
Labels: Awaiting Review

AO3-7140 Changed view of Assignment to be less confusing (#5541)
  app/views/challenge_assignments/_assignment_blurb.html.erb
  config/locales/views/en.yml
  features/gift_exchanges/challenge_giftexchange.feature
  features/step_definitions/work_steps.rb
Labels: Awaiting Review

AO3-7165 Fix picking skin from chooser without javascript (#5639)
  app/helpers/skin_cache_helper.rb
  app/models/skin.rb
  app/views/layouts/_footer.html.erb
Labels: Awaiting Review

AO3-7295 Remove unused and insecure reset_word_counts task (#5666)
  lib/tasks/work_tasks.rake
  spec/lib/tasks/work_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7322 Preselect Current Wrangler in Assignment Filters (#5661)
  app/views/tag_wranglers/index.html.erb
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Awaiting Review

AO3-7333 Add username to Challenge Claims page title (#5692)
  app/controllers/challenge_claims_controller.rb
  config/locales/controllers/en.yml
  features/other_a/challenge_claims.feature
Labels: Awaiting Review

AO3-7377 Bump Addressable from 2.8.7 to 2.9.0 (#5717)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7351 Deduplicate fandom tags for autocomplete (#5658)
  app/models/tag.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-6281 Stop escaping HTML on gifts page for non-users (#5705)
  app/views/gifts/index.html.erb
  features/other_a/gift.feature
Labels: Awaiting Review

AO3-6229 Add static 404 error page (#5711)
  public/404.html
Labels: Awaiting Review

AO3-6531 Fix comment decorator 500 error for orphaned comments (#5719)
  app/decorators/comment_decorator.rb
  lib/tasks/after_tasks.rake
  spec/decorators/comment_decorator_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-5946 allow lang attribute + fix a parser test
  app/views/help/html.html.erb
  config/initializers/gem-plugin_config/sanitizer_config.rb
  features/other_a/parser.feature
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6277 update migration timestamp
  db/migrate/20260414192753_add_no_potential_matches_found_to_gift_exchanges.rb
Labels: Awaiting Review, Has Migrations

Fix issue introduced by convenience in fixture
  spec/lib/tasks/before_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-6521 Add test
  app/helpers/works_helper.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7012 Fix test
  features/other_a/gift.feature
Labels: Awaiting Review

AO3-7012 Fix test
  features/other_a/gift.feature
Labels: Awaiting Review

AO3-5946 remove unnecessary line from spec test
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Adressed comments
  app/decorators/pseud_decorator.rb
  features/search/filters.feature
  features/step_definitions/collection_steps.rb
Labels: Awaiting Review

Removed newline so file is untouched by pr
  app/decorators/pseud_decorator.rb
Labels: Awaiting Review

AO3-7392 Allow pluralisation in mailer creation_attribution
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-3601 - Reindex bookmarks after pseud deletion transfer
  app/models/pseud.rb
Labels: Awaiting Review

AO3-7144 AO3-7147 Appease linter
  app/controllers/collections_controller.rb
  app/helpers/search_helper.rb
  app/models/search/collection_query.rb
  app/views/collections/_collection_blurb.html.erb
  app/views/tags/show.html.erb
  app/views/works/index.html.erb
  config/locales/helpers/en.yml
  config/locales/views/en.yml
  features/support/paths.rb
Labels: Awaiting Review

Updates per review
  app/controllers/help_controller.rb
  app/views/external_works/edit.html.erb
  app/views/help/recipients.html.erb
  app/views/help/works_languages.erb
  app/views/help/works_parents.html.erb
  app/views/help/works_recipients.html.erb
  app/views/help/works_series.html.erb
  app/views/help/works_translation_link.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/_work_form_associations_language.html.erb
  app/views/works/edit_multiple.html.erb
  app/views/works/new_import.html.erb
  config/locales/views/en.yml
  config/routes.rb
Labels: Awaiting Review

Fixed help path reference
  app/views/works/_standard_form.html.erb
Labels: Awaiting Review

AO3-6531 - Add spec for orphaned comment with nil threaded_left
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-6531 - Handle nil threaded_left in orphaned comment placeholder task
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

AO3-6531 Fix create_placeholders_for_orphaned_comments task 500 (#5736)
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7147 Fix collections index page title's i18n
  app/controllers/collections_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7381 Update Devise to 5.0.3 (#5727)
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7253 Improve work over-reporting limit
  app/models/abuse_report.rb
  app/models/bookmark.rb
  app/models/comment.rb
  app/models/series.rb
  app/models/user.rb
  app/models/work.rb
  config/config.yml
  config/locales/models/en.yml
  db/migrate/20260415113151_add_reportable_to_abuse_report.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review, Has Migrations

More refactoring
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

AO3-7390 Also allow stroke and stroke-width
  app/views/help/skins_creating.html.erb
  config/config.yml
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-7188 reviewer changes
  app/models/search/collection_query.rb
  features/collections/collection_browse.feature
  spec/models/search/collection_query_spec.rb
Labels: Awaiting Review

AO3-7324 order user creations by date, not pseud
  app/controllers/admin/admin_users_controller.rb
Labels: Awaiting Review

AO3-7324 add tests for user creation ordering
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
