Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-7039 Restrict ability to grant invitations to people in queue (#5447)
  app/controllers/admin/admin_invitations_controller.rb
  app/policies/invitation_policy.rb
  app/views/admin/admin_invitations/index.html.erb
  features/admins/admin_invitations.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

AO3-7056 i18n comment_reply_notification and edited_comment_reply_notification
  app/models/comment.rb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  config/locales/mailers/en.yml
  features/comments_and_kudos/add_comment.feature
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

AO3-7056 fix text comment notification footer for tags
  app/views/comment_mailer/_comment_notification_footer.text.erb
Labels: Awaiting Review

AO3-7056 don't auto-create a user/admin recipient for mailer previews
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

AO3-7056 fix placement of the 'comment reply sent' work subject test
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review

PR feedback
  app/models/chapter.rb
  features/step_definitions/email_steps.rb
  features/step_definitions/work_steps.rb
  features/works/chapter_edit.feature
Labels: Awaiting Review

AO3-7197 edit filter for draft page
  app/controllers/works_controller.rb
Labels: Awaiting Review

AO3-7061 Fix page title on password reset page
  config/locales/controllers/en.yml
Labels: Awaiting Review

Add test
  features/users/authenticate_users.feature
Labels: Awaiting Review

use page_subtitle
  app/controllers/users/passwords_controller.rb
Labels: Awaiting Review

AO3-7061 Fix page title on password reset page (#5469)
  app/controllers/users/passwords_controller.rb
  config/locales/controllers/en.yml
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-6918 Eliminate admin preferences page
  app/controllers/admin/preferences_controller.rb
  app/views/admin/preferences/show.html.erb
  app/views/admins/index.html.erb
  app/views/users/sessions/_greeting.html.erb
  config/locales/views/en.yml
  config/routes.rb
  features/admins/authenticate_admins_with_totp.feature
  public/stylesheets/site/2.0/12-group-meta.css
  spec/controllers/admin/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6918 Remove redirect to admin_preferences_path
  app/controllers/admin/totp_controller.rb
  spec/controllers/admin/totp_controller_spec.rb
Labels: Awaiting Review

AO3-6918 Update failing tests (need to reload the page after updating database)
  features/admins/authenticate_admins_with_totp.feature
Labels: Awaiting Review

AO3-6918 Fix missing HTML tag
  app/views/admins/index.html.erb
Labels: Awaiting Review

Make local texts non-English friendly.
  app/controllers/bookmarks_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

Normalize YAML textt.
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7205 Move success_msg for bookmarks updated to its own var.
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

Test success msg derives collection name from test's generated collection.
  spec/controllers/bookmarks_controller_spec.rb
Labels: Awaiting Review

Fix AO3-7138
  app/views/collection_participants/index.html.erb
  app/views/people/index.html.erb
Labels: Awaiting Review

AO3-7185 Hide comments on draft works and chapters
  app/controllers/comments_controller.rb
  app/views/chapters/show.html.erb
  app/views/works/_work_header_navigation.html.erb
  app/views/works/show.html.erb
  features/works/work_drafts.feature
Labels: Awaiting Review

Add test for flash error in comments_controller@create
  spec/controllers/comments/comments_controller_spec.rb
Labels: Awaiting Review

AO3-7133 Add condition for span_if_current for flat view
  app/views/stats/index.html.erb
Labels: Awaiting Review

Add changes requested
  app/models/challenge_assignment.rb
  db/migrate/20251112114418_remove_pinch_request_signup_from_challenge_assignments.rb
Labels: Awaiting Review, Has Migrations

Only update required gems
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Only update required gems
  Gemfile
Labels: Awaiting Review, Gem Updates

Only update required gems
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Only update required gems
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Only update required gems
  .rubocop.yml
  Gemfile
Labels: Awaiting Review, Gem Updates

Only update required gems
  .rubocop.yml
  config/initializers/rails_i18n_pluralization_fix.rb
Labels: Awaiting Review

Only update required gems
  Gemfile
  Gemfile.lock
  config/initializers/rails_i18n_pluralization_fix.rb
Labels: Awaiting Review, Gem Updates

Remove deprecated helper of rubocop
  spec/rubocop_spec_helper.rb
Labels: Awaiting Review

feedback
  features/step_definitions/email_steps.rb
  features/works/chapter_edit.feature
Labels: Awaiting Review

AO3-4666
  app/models/collection.rb
Labels: Awaiting Review

AO3-5871
  app/models/work.rb
Labels: Awaiting Review

AO3-7203 Update admin deleted work notification email content.
  app/mailers/user_mailer.rb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
Labels: Awaiting Review

AO3-7203 Add spec tests for admin mail deletion notification.
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-7049 Restrict ability to manage users invite requests
  app/controllers/user_invite_requests_controller.rb
  app/policies/user_invite_request_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
  spec/controllers/user_invite_requests_controller_spec.rb
Labels: Awaiting Review

Switched wrong class ordering
  app/views/people/index.html.erb
Labels: Awaiting Review

AO3-7203 Check in locales changes for email notification.
  config/locales/mailers/en.yml
Labels: Awaiting Review
