Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

implement fake success messages
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  config/initializers/devise.rb
  config/locales/controllers/en.yml
  features/other_a/profile_edit.feature
  features/users/authenticate_users.feature
  spec/controllers/users/passwords_controller.rb
Labels: Awaiting Review

lint
  app/models/user.rb
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

fix test
  features/users/authenticate_users.feature
Labels: Awaiting Review

lint
  app/views/preferences/index.html.erb
  app/views/users/_sidebar.html.erb
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

lint
  app/views/preferences/index.html.erb
Labels: Awaiting Review

Change success text and tests
  app/controllers/users/passwords_controller.rb
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  features/users/authenticate_users.feature
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

Fix text
  app/controllers/users/passwords_controller.rb
  config/locales/devise/en.yml
Labels: Awaiting Review

Change texts
  app/controllers/users/passwords_controller.rb
  app/views/users/passwords/new.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/users/authenticate_users.feature
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

i18n
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7064 Update most test-related gems
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Try downgrading rails-i18n
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Attempt to fix bookmarks controller
  app/controllers/api/v2/bookmarks_controller.rb
Labels: Awaiting Review

Style fix
  app/controllers/api/v2/bookmarks_controller.rb
Labels: Awaiting Review

Try to use a transaction
  app/controllers/api/v2/bookmarks_controller.rb
Labels: Awaiting Review

Edited return statement in invite_request.rb to check for email error messages of the type taken instead of the specific error string for the duplicate error for better maintainability.
  app/models/invite_request.rb
Labels: Awaiting Review

Special error handling to fix test mismatches
  app/controllers/api/v2/bookmarks_controller.rb
Labels: Awaiting Review

AO3-7046 Migrate subscription table to bigint
  db/migrate/20250718220533_change_subscriptions_id_to_bigint.rb
Labels: Awaiting Review, Has Migrations

AO3-7065 Fix flaky bookmarks v2 API tests
  config/initializers/gem-plugin_config/webmock.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
Labels: Awaiting Review

AO3-7065 Fix flaky bookmarks v2 API tests (#5279)
  config/initializers/gem-plugin_config/webmock.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
Labels: Awaiting Review

Add tests
  app/views/works/_work_module.html.erb
  features/bookmarks/bookmark_browse.feature
  features/collections/collection_browse.feature
  features/other_a/gift.feature
  features/other_a/reading.feature
  features/step_definitions/work_steps.rb
  features/works/work_browse.feature
Labels: Awaiting Review

Change redirect path and tests
  app/controllers/users/passwords_controller.rb
  features/users/authenticate_users.feature
  spec/controllers/users/passwords_controller_spec.rb
Labels: Awaiting Review

AO3-5801 revert to HTML
  lib/html_cleaner.rb
Labels: Awaiting Review

AO3-5801 Revert "AO3-5801 revert to HTML"
  lib/html_cleaner.rb
Labels: Awaiting Review

Pull structure.sql from primary
  db/structure.sql
Labels: Awaiting Review

AO3-7001 Permanently strip image embeds from comment notification emails (#5215)
  app/models/comment.rb
  app/views/comment_mailer/comment_notification.html.erb
  app/views/comment_mailer/comment_notification.text.erb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  app/views/comment_mailer/comment_sent_notification.html.erb
  app/views/comment_mailer/comment_sent_notification.text.erb
  app/views/comment_mailer/edited_comment_notification.html.erb
  app/views/comment_mailer/edited_comment_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review

AO3-7011 Make hidden inputs hidden and unfocusable (#5227)
  public/stylesheets/site/2.0/07-interactions.css
Labels: Awaiting Review

AO3-7032 Duplicate error message if email address is already part of invitation queue (#5265)
  app/models/invite_request.rb
  spec/models/invite_request_spec.rb
Labels: Awaiting Review

AO3-6929 include username with pseud on gift exchange signups page (#5221)
  app/views/challenge/gift_exchange/_challenge_signups.html.erb
  features/gift_exchanges/challenge_giftexchange.feature
  features/step_definitions/challege_gift_exchange_steps.rb
Labels: Awaiting Review

AO3-6060 Tag comments emailed to no longer wranglers (#5202)
  app/models/comment.rb
  spec/models/comment_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6746 Expire chapter byline cache when pseud is renamed (#5225)
  app/models/chapter.rb
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseuds.feature
  features/step_definitions/work_steps.rb
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-5352 i18n deleted work notification attachment (#5198)
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_chapter.html.erb
  app/views/downloads/_download_preface.html.erb
  app/views/downloads/show.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
Labels: Awaiting Review

AO3-3154 Make usernames in kudos emails links (#5244)
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  spec/mailers/kudo_mailer_spec.rb
Labels: Awaiting Review

AO3-6565 Make user indexer shards configurable (#5274)
  app/models/search/user_indexer.rb
  config/config.yml
Labels: Awaiting Review

Remove triggers
  db/structure.sql
Labels: Awaiting Review

AO3-7052 Current schema dump (#5266)
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-5801 typo
  lib/html_cleaner.rb
Labels: Awaiting Review

Override @page_title in registrations_controller
  app/controllers/users/registrations_controller.rb
Labels: Awaiting Review

lint
  app/controllers/users/passwords_controller.rb
Labels: Awaiting Review

AO3-7021-formatting for language code abbr display
  app/views/languages/index.html.erb
  config/locales/views/en.yml
  spec/controllers/languages_controller_spec.rb
Labels: Awaiting Review

AO3-7021-changed the abbr tag
  app/views/languages/index.html.erb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
