Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Move activity set to User model
  app/controllers/concerns/tag_wrangling.rb
  app/models/comment.rb
  app/models/concerns/wrangleable.rb
  app/models/user.rb
  spec/models/comment_spec.rb
  spec/models/concerns/wrangleable_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6361 Fix admin email change text
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-6361 Fix admin email change text (#4327)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-5242 Prevent modal dialog from repositioning on mobile scroll
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

Make tests consistent with :frozen
  app/views/tag_wranglers/show.html.erb
  db/migrate/20211230202951_create_last_wrangling_activities.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/models/comment_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Has Migrations

AO3-6259 change elasticsearch-transport to elastic-transport
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6259 change elasticsearch-transport to elastic-transport fix
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6259 change elasticsearch-transport to elastic-transport fix
  app/controllers/application_controller.rb
  app/models/search/query.rb
Labels: Awaiting Review

AO3-6367 Update Rails to 6.0.5.1 and all its associated dependencies
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6367 Update Rails to 6.0.5.1 and all its associated dependencies fix
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6367 Update Rails to 6.0.5.1 and all its associated dependencies fix
  config/application.rb
Labels: Awaiting Review

AO3-6367 whitelisting classes by default
  config/application.rb
Labels: Awaiting Review

Add classes to permitted
  config/application.rb
Labels: Awaiting Review

AO3 6308 fix message time for end of user suspension initial commit
  app/controllers/application_controller.rb
Labels: Awaiting Review

addressed hound style issues
  app/controllers/application_controller.rb
Labels: Awaiting Review

AO3-6389 Avoid Dreamwidth URLs in external work tests.
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/external_work_steps.rb
  spec/controllers/external_works_controller_spec.rb
Labels: Awaiting Review

AO3-6389 Stop using Dreamwidth URLs in external work tests. (#4331)
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/external_work_steps.rb
  spec/controllers/external_works_controller_spec.rb
Labels: Awaiting Review

Spacing + localization fixes
  app/helpers/application_helper.rb
  app/views/tag_wranglers/show.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Style nitpick
  app/helpers/application_helper.rb
Labels: Awaiting Review

Use strip within helper
  app/helpers/application_helper.rb
Labels: Awaiting Review

AO3-6286 Revert "AO3-6286 Do not allow suspended/banned users to give kudos"
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  public/javascripts/application.js
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-6089 make admin creation script roles not case sensitive
  script/create_admin.rb
Labels: Awaiting Review

AO3-6381 Restrict access to spam page first attempt
  app/controllers/admin/spam_controller.rb
  app/policies/spam_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/spam/index.html.erb
Labels: Awaiting Review

AO3-6343 Fix flaky test.
  factories/skins.rb
Labels: Awaiting Review

AO3-6343 Fix flaky test introduced in AO3-6343 (#4333)
  factories/skins.rb
Labels: Awaiting Review

AO3-6286 Prevent suspended users from leaving kudos
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  config/locales/models/en.yml
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-6286 Indentation fix
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

Only show to admins for now
  app/views/tag_wranglers/show.html.erb
Labels: Awaiting Review

AO3-6380 Restrict access to admin activities.
  app/controllers/admin/activities_controller.rb
  app/policies/admin_activity_policy.rb
  app/views/admin/_header.html.erb
  spec/controllers/admin/activities_controller_spec.rb
Labels: Awaiting Review

AO3-6380 Freeze for Hound.
  app/policies/admin_activity_policy.rb
Labels: Awaiting Review

Revert "Only show to admins for now"
  app/views/tag_wranglers/show.html.erb
Labels: Awaiting Review

AdminBlacklistedEmail policy and specs
  app/controllers/admin/blacklisted_emails_controller.rb
  app/policies/admin_blacklisted_email_policy.rb
  app/views/admin/_header.html.erb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Awaiting Review

Update features
  features/admins/admin_email_blacklist.feature
Labels: Awaiting Review

Remove unused new action
  app/controllers/admin/blacklisted_emails_controller.rb
  config/routes.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Awaiting Review

Replace blacklist language
  app/controllers/admin/blacklisted_emails_controller.rb
  app/views/admin/_header.html.erb
  app/views/admin/blacklisted_emails/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/admins/admin_email_blacklist.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Awaiting Review

We got style
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Awaiting Review

Clarify test step
  features/admins/admin_email_blacklist.feature
Labels: Awaiting Review

Look for both labels in the test
  features/admins/admin_email_blacklist.feature
Labels: Awaiting Review

add unit tests
  features/admins/admin_spam.feature
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

fix hound violations
  app/policies/spam_policy.rb
  spec/controllers/admin/spam_controller_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
