Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Hound (always two or more)
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

Hound
  app/helpers/comments_helper.rb
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

AO3-5901 Pseud switcher text on the New Pseud page
  app/views/users/_sidebar.html.erb
Labels: Awaiting Review

Update features/comments_and_kudos/spam_comments.feature
  features/comments_and_kudos/spam_comments.feature
Labels: Awaiting Review

Update features/comments_and_kudos/spam_comments.feature
  features/comments_and_kudos/spam_comments.feature
Labels: Awaiting Review

Update features/step_definitions/comment_steps.rb
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

Explicit popup confirm in test
  features/comments_and_kudos/spam_comments.feature
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

Update app/views/users/_sidebar.html.erb
  app/views/users/_sidebar.html.erb
Labels: Awaiting Review

Add test for hiding feature
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

Work page test
  features/comments_and_kudos/add_comment.feature
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

Add test for the cancel button not being updated
  features/comments_and_kudos/add_comment.feature
  features/step_definitions/comment_steps.rb
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Hound
  features/step_definitions/comment_steps.rb
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

Hound (bis)
  features/step_definitions/web_steps.rb
Labels: Awaiting Review

AO3-5901 Ensure pseud switcher shows current pseud
  app/helpers/pseuds_helper.rb
  features/other_a/pseuds.feature
Labels: Awaiting Review

AO3-5901 Don't use instance vars in helpers
  app/helpers/pseuds_helper.rb
  app/views/users/_sidebar.html.erb
Labels: Awaiting Review

AO3-5901 Remove code unused since 2013
  app/helpers/users_helper.rb
Labels: Awaiting Review

AO3-5901 Pseud switcher text on the New Pseud page (#4579)
  app/helpers/pseuds_helper.rb
  app/helpers/users_helper.rb
  app/views/users/_sidebar.html.erb
  features/other_a/pseuds.feature
Labels: Awaiting Review

AO3-6552 Add menuitem ARIA role to login link
  app/views/layouts/_header.html.erb
Labels: Awaiting Review

Adding
  app/controllers/admin/admin_users_controller.rb
  app/models/log_item.rb
  config/config.yml
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-4595 Move character counter inside conditional
  app/views/pseuds/_pseuds_form.html.erb
Labels: Awaiting Review

AO3-4595 Code style fixes
  app/policies/pseud_policy.rb
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

Remove
  app/controllers/admin/admin_users_controller.rb
  config/config.yml
  factories/fannish_next_of_kin.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

Replace many ifelse with case
  app/helpers/users_helper.rb
Labels: Awaiting Review

Display logs on admin page
  app/helpers/users_helper.rb
  app/views/admin/admin_users/_user_history.html.erb
Labels: Awaiting Review

Forgot to log admin identity
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

Also show logs on the FNOK side
  app/controllers/admin/admin_users_controller.rb
  app/helpers/users_helper.rb
  app/views/admin/admin_users/_user_history.html.erb
Labels: Awaiting Review

Test for display
  features/admins/users/admin_fnok.feature
Labels: Awaiting Review

Add Alterity
  Gemfile
Labels: Awaiting Review, Gem Updates

Forgot to commit previously
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Hound
  app/controllers/admin/admin_users_controller.rb
  app/helpers/users_helper.rb
Labels: Awaiting Review

Hound (bis)
  app/helpers/users_helper.rb
Labels: Awaiting Review

Hound (ter)
  app/helpers/users_helper.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

Better test name?
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Awaiting Review

Handle feature flag on and off
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Awaiting Review

Add i18n keys to exceptions
  config/i18n-tasks.yml
Labels: Awaiting Review

Use better anchors
  app/models/preference.rb
  spec/models/preference_spec.rb
Labels: Awaiting Review

AO3-4595 Remove unnecessary &. and prevent ensure_user from encountering issues if it is used when already logged in as admin, like find_or_create_new_user
  app/models/admin_activity.rb
  features/support/user.rb
Labels: Awaiting Review

AO3-2722 Make i18n format not conflict with other validations
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6488 Return empty array for orphan_account assignments
  app/helpers/works_helper.rb
Labels: Awaiting Review

AO3-3207 Try to make step definition clearer
  features/other_b/series_order.feature
  features/step_definitions/series_steps.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
