Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Normalized english yml file
  config/locales/views/en.yml
Labels: Awaiting Review

fix: move controller translations to proper place
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

base comment redirect on referer not param
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-7406 Move gift exchange notifications to GiftExchangeMailer
  app/mailers/gift_exchange_mailer.rb
  app/mailers/user_mailer.rb
  app/models/challenge_assignment.rb
  app/models/collection.rb
  app/models/potential_match.rb
  app/views/gift_exchange_mailer/assignment_default_notification.html.erb
  app/views/gift_exchange_mailer/assignment_default_notification.text.erb
  app/views/gift_exchange_mailer/assignments_sent_notification.html.erb
  app/views/gift_exchange_mailer/assignments_sent_notification.text.erb
  app/views/gift_exchange_mailer/invalid_signup_notification.html.erb
  app/views/gift_exchange_mailer/invalid_signup_notification.text.erb
  app/views/gift_exchange_mailer/potential_match_generation_notification.html.erb
  app/views/gift_exchange_mailer/potential_match_generation_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/gift_exchange_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/gift_exchange_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-7406 Remove empty line
  app/mailers/gift_exchange_mailer.rb
Labels: Awaiting Review

AO3-7406 Fix: move gift exchange notification calls to right mailer in spec
  spec/mailers/gift_exchange_mailer_spec.rb
Labels: Awaiting Review

AO3-6395 fix naming nit and log on invalid change bug
  app/controllers/admin/banners_controller.rb
  spec/controllers/admin/banners_controller_spec.rb
Labels: Awaiting Review

clean up redirect logic and consider comments flow
  app/controllers/comments_controller.rb
  features/comments_and_kudos/comments_redirect.feature
  spec/controllers/comments/comments_controller_spec.rb
Labels: Awaiting Review

AO3-7406 Remove duplicate gift exchange notifs from UserMailer
  app/mailers/user_mailer.rb
Labels: Awaiting Review

Add feature test for downloaded works with a deleted inspiration
  features/works/work_related.feature
Labels: Awaiting Review

clean up unnecessary use of variables
  app/controllers/comments_controller.rb
Labels: Awaiting Review

Added test case for removing the connection to a deleted relationship
  features/works/work_related.feature
Labels: Awaiting Review

apply rubocop linting
  app/controllers/comments_controller.rb
Labels: Awaiting Review

Add rationale to the string limits on create_imported_urls migration
  db/migrate/20260318013837_create_imported_urls.rb
Labels: Awaiting Review, Has Migrations

AO3-6860 Allow CSS aspect-ratio property in skins
  app/views/help/skins_creating.html.erb
  config/config.yml
  config/locales/views/en.yml
  lib/css_cleaner.rb
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

AO3-7427 Use config file for activerecord encryption config
  .github/workflows/automated-tests.yml
  config/application.rb
  config/config.yml
  docker-compose.yml
Labels: Awaiting Review

Adding tests to ensure related work emails are always sent
  features/step_definitions/work_related_steps.rb
  features/works/work_related.feature
Labels: Awaiting Review

follow view full work param when origin is not clear
  app/controllers/comments_controller.rb
  spec/controllers/comments/comments_controller_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
Labels: Awaiting Review

apply rubocop for changed row
  app/controllers/comments_controller.rb
Labels: Awaiting Review

remove change in line so I don't trigger rubocop i18n
  app/controllers/comments_controller.rb
Labels: Awaiting Review

work path should go to work not chapter
  spec/controllers/comments/comments_controller_spec.rb
Labels: Awaiting Review

Fixing indentation and turning regex into cucumber syntax
  features/step_definitions/work_related_steps.rb
Labels: Awaiting Review

AO3-7425 - Fix word count when posting draft from Edit Tag page
  app/controllers/works_controller.rb
  features/works/work_edit_tags.feature
Labels: Awaiting Review

Fix failing tests
  config/locales/views/en.yml
  lib/css_cleaner.rb
Labels: Awaiting Review

AO3-7358 Fix: 500 error sending item_added_notification for bookmark of deleted work
  app/views/collection_mailer/item_added_notification.html.erb
  app/views/collection_mailer/item_added_notification.text.erb
Labels: Awaiting Review

AO3-6395 refactor conditional logic
  app/controllers/admin/banners_controller.rb
Labels: Awaiting Review

address rubocop warnings
  app/controllers/admin/banners_controller.rb
Labels: Awaiting Review

AO3-6395 address rubocop warnings
  app/controllers/admin/banners_controller.rb
Labels: Awaiting Review

Allow Rails to manage YJIT default
  config/application.rb
Labels: Awaiting Review

AO3-7443 Remove Google from embed allowlist
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Update the TOS FAQ
  app/views/home/tos_faq.html.erb
Labels: Awaiting Review

Adressed PR comments
  app/controllers/collections_controller.rb
  app/helpers/application_helper.rb
  app/models/search/collection_search_form.rb
  app/views/collections/index.html.erb
  public/stylesheets/site/2.0/17-zone-home.css
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Awaiting Review

Making test not fail, hopefully
  app/controllers/collections_controller.rb
  app/helpers/application_helper.rb
  app/models/search/collection_search_form.rb
Labels: Awaiting Review

AO3-7189 Allow admins to change user skin via the Preferences page
  app/controllers/preferences_controller.rb
  app/policies/preference_policy.rb
  spec/controllers/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6454 AO3-6198 Remove Akismetor and handle Akismet API calls ourselves
  Gemfile
  Gemfile.lock
  app/models/abuse_report.rb
  app/models/comment.rb
  app/models/feedback.rb
  app/models/work.rb
  config/config.yml
  config/initializers/monkeypatches/akismetor.rb
  features/support/hooks.rb
  lib/akismet_client.rb
  spec/lib/akismet_client_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_spec.rb
  spec/models/spam_report_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Gem Updates

AO3-7345 Update success message for setting a site skin for a session
  app/controllers/skins_controller.rb
  config/locales/controllers/en.yml
  features/other_b/skin_public.feature
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7160 Fix clipped autocomplete dropdown when assigning a pinch hitter
  public/stylesheets/site/2.0/10-types-groups.css
Labels: Awaiting Review

AO3-7390 Allow fill, stroke, and stroke-width properties in CSS
  app/views/help/skins_creating.html.erb
  config/config.yml
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-7388 Redirect to user skin page with error if trying to preview a skin you can't use
  app/controllers/skins_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7391 Fix IE CSS selector (#5789)
  public/stylesheets/site/2.0/29-role-ie8_or_lower.css
  public/stylesheets/site/2.0/30-role-ie5.css
  public/stylesheets/site/2.0/31-role-ie6.css
  public/stylesheets/site/2.0/32-role-ie7.css
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
