Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

Assorted additional fixes
  app/decorators/collection_decorator.rb
  app/models/collection.rb
  app/models/search/collection_query.rb
  app/views/collections/_collection_blurb.html.erb
  spec/models/collection_spec.rb
  spec/models/search/collection_decorator_spec.rb
  spec/models/search/collection_query_spec.rb
Labels: Awaiting Review

Initial version of tags in more places
  app/views/collection_profile/show.html.erb
  app/views/collections/show.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

update opendoors links to https
  app/controllers/user_invite_requests_controller.rb
  app/helpers/mailer_helper.rb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
Labels: Awaiting Review

reverting for invite requests controller
  app/controllers/user_invite_requests_controller.rb
Labels: Awaiting Review

for the dog
  app/views/user_mailer/invitation_to_claim.html.erb
Labels: Awaiting Review

Update invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.html.erb
Labels: Awaiting Review

AO3-7086: fixing the text
  app/controllers/users_controller.rb
  app/views/users/change_password.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/users/authenticate_users.feature
  features/users/user_rename.feature
  spec/controllers/users_controller_spec.rb
Labels: Awaiting Review

AO3-7086: creating more keys
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7086: creating another key
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7086: fixing keys issues
  app/controllers/users_controller.rb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7086: fixing an unused key
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7086: removed unused key
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7090 Update action mailer default protocol (#5299)
  app/helpers/mailer_helper.rb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  config/application.rb
  config/environments/test.rb
  features/step_definitions/email_steps.rb
  spec/mailers/admin_mailer_spec.rb
Labels: Awaiting Review

AO3-3071 Add chapter number to comment notifications for multi-chaptered works (#5286)
  app/helpers/mailer_helper.rb
  app/mailers/comment_mailer.rb
  app/views/comment_mailer/_comment_notification_footer_for_other.html.erb
  app/views/comment_mailer/_comment_notification_footer_for_other.text.erb
  app/views/comment_mailer/comment_notification.html.erb
  app/views/comment_mailer/comment_notification.text.erb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  app/views/comment_mailer/comment_sent_notification.html.erb
  app/views/comment_mailer/comment_sent_notification.text.erb
  app/views/comment_mailer/edited_comment_notification.html.erb
  app/views/comment_mailer/edited_comment_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  config/i18n-tasks.yml
  config/locales/mailers/en.yml
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

AO3-7073 Remove location, email, dob from profile & tests (#5293)
  app/controllers/preferences_controller.rb
  app/controllers/profile_controller.rb
  app/controllers/users_controller.rb
  app/decorators/profile_presenter.rb
  app/models/preference.rb
  app/models/profile.rb
  app/views/preferences/index.html.erb
  app/views/profile/show.html.erb
  app/views/users/edit.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  db/migrate/20250802035535_remove_location_and_date_of_birth_from_profiles.rb
  db/migrate/20250802035646_remove_email_visible_and_date_of_birth_visible_from_preferences.rb
  features/other_a/preferences_edit.feature
  features/other_a/profile_edit.feature
  features/step_definitions/profile_steps.rb
  public/help/privacy-preferences.html
  spec/controllers/profile_controller_spec.rb
  spec/models/profile_presenter_spec.rb
  test/fixtures/preferences.yml
  test/fixtures/profiles.yml
Labels: Awaiting Review, Has Migrations

Update skin README files to provide information on media (#5300)
  public/stylesheets/masters/dark_mode/README.md
  public/stylesheets/masters/reversi/README.md
  public/stylesheets/masters/snow/README.md
  public/stylesheets/masters/snow_blue/README.md
Labels: Awaiting Review

AO3-5996 Set spam on Comment create
  app/models/comment.rb
Labels: Awaiting Review

AO3-5996 Add Comment.spam create specs
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-7038 Restrict ability to grant invitations to all current users
  app/controllers/admin/admin_invitations_controller.rb
  app/policies/admin_invitation_policy.rb
  app/views/admin/admin_invitations/index.html.erb
  features/admins/admin_invitations.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

AO3-7023 Fix spec to check js format
  spec/controllers/external_works_controller_spec.rb
Labels: Awaiting Review

AO3-7043 Add spec for filter_tagging bigint ID
  spec/models/filter_tagging_spec.rb
Labels: Awaiting Review

AO3-7043 Add filter_tagging factory
  factories/tags.rb
Labels: Awaiting Review

AO3-7086: added the removed key
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5996 Resolve reviewdog issues
  lib/tasks/comment_tasks.rake
  spec/lib/tasks/comments.rake_spec.rb
Labels: Awaiting Review

AO3-7058 Initial upgrade to Rails 7.2
  Gemfile
  Gemfile.lock
  bin/brakeman
  bin/rubocop
  bin/setup
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_2.rb
  config/puma.rb
  public/406-unsupported-browser.html
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Gem Updates

AO3-7058 Use new config defaults
  config/application.rb
  config/initializers/new_framework_defaults_7_2.rb
Labels: Awaiting Review

AO3-7058 Remove puma.rb
  config/application.rb
  config/initializers/filter_parameter_logging.rb
  config/puma.rb
Labels: Awaiting Review

AO3-7058 Fix enum syntax deprecation
  app/models/admin_post.rb
  app/models/collection_item.rb
  app/models/work.rb
Labels: Awaiting Review

AO3-7058 Fix tests
  config/environments/production.rb
  spec/lib/tasks/notifications.rake_spec.rb
  spec/lib/tasks/resanitize.rake_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/comment_spec.rb
  spec/models/search/async_indexer_spec.rb
  spec/models/tag_wrangling_spec.rb
Labels: Awaiting Review

AO3-7058 Try enabling enqueue_after_transaction_commit
  config/initializers/new_framework_defaults_7_2.rb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-7020 Do not pre-generate the URL
  app/helpers/application_helper.rb
Labels: Awaiting Review

AO3-7075 Add padding around the grey blurb on the history page
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

AO3-7089 Removed redundant shared example
  spec/controllers/users_controller_spec.rb
Labels: Awaiting Review

Add feature tests
  app/views/collection_profile/show.html.erb
  features/collections/collection_browse.feature
  features/collections/collection_create.feature
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
Labels: Awaiting Review

update tag wranglings index page
  app/views/tag_wranglings/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

lint/normalization
  app/views/tag_wranglings/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Update en.yml/white space
  app/views/tag_wranglings/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Update index.html.erb
  app/views/tag_wranglings/index.html.erb
Labels: Awaiting Review

AO3-7058 Set filter_parameters only in once place
  config/application.rb
  config/initializers/filter_parameter_logging.rb
Labels: Awaiting Review

AO3-7087 Validate for leaked passwords
  Gemfile
  Gemfile.lock
  app/models/admin.rb
  app/models/user.rb
  config/locales/devise/en.yml
Labels: Awaiting Review, Gem Updates
