Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-7444 remove a trailing whitespace
  script/download_confusables_list.rb
Labels: Awaiting Review

AO3-7565 Fix Fulfilled Claims button not showing as actively pressed
  app/views/challenge_claims/_user_index.html.erb
Labels: Awaiting Review

Update syntax for Ruby 1.9 hash syntax (remove => and replace with :)
  app/views/challenge_claims/_user_index.html.erb
Labels: Awaiting Review

Update file to use Rails built-in 't' helper instead of 'ts'
  app/views/challenge_claims/_user_index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7563 AO3-7547 Prevent creating work relations when parent is not visible
  app/models/related_work.rb
  config/locales/models/en.yml
  factories/users.rb
  features/works/work_related.feature
  spec/models/related_work_spec.rb
Labels: Awaiting Review

AO3-7564 Hide title of unrevealed work on edit page of child related work
  app/views/works/_standard_form.html.erb
  config/locales/views/en.yml
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7539 Bump websocket-driver from 0.8.0 to 0.8.2 (#5939)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7559 Bump loofah to 2.25.2 and rails-html-sanitizer to 1.7.1 (#5953)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6925 Improve test
  features/collections/collection_browse.feature
  features/support/paths.rb
Labels: Awaiting Review

AO3-4250 Made gift recipients update on blurbs on pseud / username changes
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseud_delete.feature
  features/other_a/pseuds.feature
  features/users/user_delete.feature
  features/users/user_edit.feature
Labels: Awaiting Review

AO3-4250 Action review
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseud_delete.feature
  features/other_a/pseuds.feature
  features/users/user_delete.feature
  features/users/user_edit.feature
Labels: Awaiting Review

Updates per review
  app/controllers/admin/settings_controller.rb
  app/jobs/audits_cleanup_job.rb
  app/models/admin_setting.rb
  app/policies/admin_setting_policy.rb
  app/views/admin/settings/index.html.erb
  config/locales/views/en.yml
  config/resque_schedule.yml
  db/migrate/20260506200220_add_preserve_audit_records_usernames_admin_setting.rb
  db/migrate/20260805200220_add_preserve_audit_records_user_ids_to_admin_settings.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/jobs/audits_cleanup_job_spec.rb
  test/fixtures/admins.yml
Labels: Awaiting Review, Has Migrations

rubocop fix
  app/models/admin_setting.rb
Labels: Awaiting Review

Update en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

Update show.html.erb
  app/views/tags/show.html.erb
Labels: Awaiting Review

AO3-7506 Add test for save failure in backfill task
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Update pull request template with AI policy acknowledgment (#5933)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Review

Update lib/css_cleaner.rb
  lib/css_cleaner.rb
Labels: Awaiting Review

AO3-7472 account for hidden external works + test whether admins can see hidden works
  app/models/related_work.rb
  features/step_definitions/admin_steps.rb
  features/step_definitions/work_related_steps.rb
  features/works/work_download.feature
  features/works/work_related.feature
Labels: Awaiting Review

AO3-7472 more consistent test steps
  features/step_definitions/work_related_steps.rb
Labels: Awaiting Review

AO3-7472 rubocop
  features/step_definitions/work_related_steps.rb
Labels: Awaiting Review

AO3-6329 Fix cached work blurbs mixing time zones
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

Suggestions
  app/controllers/users/sessions_controller.rb
  app/controllers/users/totp_controller.rb
  app/models/admin.rb
  app/models/user.rb
  app/views/users/totp/reauthenticate_create.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/users/authenticate_users_with_totp.feature
  spec/controllers/users/totp_controller_spec.rb
Labels: Awaiting Review

i18n
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

update tag search results and tag search text to be i18n compatible
  app/controllers/help_controller.rb
  app/views/help/tags_search_results.html.erb
  app/views/help/tags_search_text.html.erb
  app/views/tags/_search_form.html.erb
  app/views/tags/search.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/tag-search-results-help.html
  public/help/tag-search-text-help.html
Labels: Awaiting Review

AO3-6538 Add help link on Tag Options for challenges
  app/controllers/help_controller.rb
  app/views/help/prompt_restriction_tag_set_gift_exchange.html.erb
  app/views/help/prompt_restriction_tag_set_prompt_meme.html.erb
  app/views/prompt_restrictions/_prompt_restriction_form.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/prompt-restriction-tag-set.html
Labels: Awaiting Review

AO3-6538 Fix i18n
  app/views/prompt_restrictions/_prompt_restriction_form.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

update search results help for tags to be i18n compatible
  app/controllers/help_controller.rb
  app/views/help/tags_search_results.html.erb
  app/views/tags/search.html.erb
  config/locales/views/en.yml
  config/routes.rb
  public/help/tag-search-results-help.html
Labels: Awaiting Review

AO3-7050 Restrict ability to send invitation to email address
  app/controllers/admin/admin_invitations_controller.rb
  app/policies/invitation_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
  features/admins/admin_invitations.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

Fix typos/format in code of conduct
  CODE_OF_CONDUCT.md
Labels: Awaiting Review

AO3-2373 Adding tests to ensure related work emails are always sent (#5802)
  features/step_definitions/work_related_steps.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-4059 Change chapters_controller to 404 if given work id is invalid (#5929)
  app/controllers/chapters_controller.rb
  features/step_definitions/work_steps.rb
  features/works/work_view.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-4412 Resolving N+1 issues when loading inbox comments on the homepage (#5913)
  app/models/inbox_comment.rb
  spec/requests/homepage_inbox_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6521 Show titles of restricted related works to admins (#5730)
  app/helpers/works_helper.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-6860 Allow CSS aspect-ratio property in skins (#5800)
  app/views/help/skins_creating.html.erb
  config/config.yml
  config/locales/views/en.yml
  lib/css_cleaner.rb
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

AO3-6925 Remove Open Challenges link from Subcollections page (#5957)
  app/views/collections/index.html.erb
  config/locales/views/en.yml
  features/collections/collection_browse.feature
  features/support/paths.rb
Labels: Awaiting Review

AO3-7393 AO3-7395 Fix blank/invalid pseud editing behavior (#5765)
  app/models/pseud.rb
  features/other_a/pseuds.feature
Labels: Awaiting Review

AO3-7403 Eager load associations that are used on inbox page (#5890)
  app/models/inbox_comment.rb
  spec/requests/inbox_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7519 Update browser page title when creating an AO3 News Post (#5924)
  app/controllers/admin_posts_controller.rb
  app/views/admin_posts/new.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7531 Remove active URL validation for external works (#5940)
  app/controllers/api/v2/bookmarks_controller.rb
  app/models/external_work.rb
  app/validators/url_active_validator.rb
  app/validators/url_format_validator.rb
  features/works/work_related.feature
  spec/models/external_work_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review
