Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-4355 Set language for admin posts RSS
  app/views/admin_posts/index.html.erb
  app/views/admin_posts/show.html.erb
  features/admins/admin_post_news.feature
Labels: Awaiting Review

AO3-5989 changed both links mentioned in bug report to functional W3Schools alternatives as suggested
  app/views/skins/_wizard_form.html.erb
  public/help/skins-creating.html
Labels: Awaiting Review

AO3-6052 Changed relevant text
  script/create_admin.rb
Labels: Awaiting Review

AO3-5961 Removed unneccesary Rails logger usages
  lib/autocomplete_source.rb
  lib/html_cleaner.rb
Labels: Awaiting Review

AO3-5961 Removed unneccesary Rails logger usages
  app/controllers/application_controller.rb
  app/models/download_writer.rb
  app/models/invite_request.rb
  app/models/pseud.rb
  app/models/search/async_indexer.rb
  app/models/search/indexer.rb
  app/models/tagset_models/tag_nomination.rb
  app/models/user.rb
  app/sweepers/collection_sweeper.rb
Labels: Awaiting Review

AO3-6127 Modify can_reply_to_comment to hide reply button for hidden comments
  app/helpers/comments_helper.rb
  app/views/home/_inbox_module.html.erb
Labels: Awaiting Review

AO3-6284 Added local variable for work type to make collection message accurate
  app/controllers/collection_items_controller.rb
Labels: Awaiting Review

AO3-6160 Used i18n to pluralize 'bookmark' when appropriate in pseud deletion screen
  app/views/pseuds/delete_preview.html.erb
Labels: Awaiting Review

AO3-6077 Changed phrasing of series text from 'Part # of the _ series' to 'Part # of _'
  app/helpers/series_helper.rb
Labels: Awaiting Review

AO3-6318 Created disallow_robots? application helper; hide_from_search_engines Cucmbtests
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/other_b/disallow_robots.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/user_steps.rb
  features/users/hide_from_search_engines.feature
Labels: Awaiting Review

AO3-6318 Style fixes
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/step_definitions/generic_steps.rb
Labels: Awaiting Review

Removed mistakenly-committed empty file
  features/other_b/disallow_robots.feature
Labels: Awaiting Review

AO3-6075 Swapped word count and chapter count order in HTML downloads, made chapters visible if work is single-chapter in HTML downloads.
  app/views/downloads/_download_preface.html.erb
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

AO3-6144 Feedback
  app/models/work.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-6158 Removed US$ before banner goal/progress values
  public/javascripts/application.js
Labels: Awaiting Review

AO3-5989 Updated W3Schools links to be https rather than http
  public/help/skins-creating.html
Labels: Awaiting Review

AO3-6284 Added cucumber test and fixed mistake in code
  app/controllers/collection_items_controller.rb
  features/collections/collectible_moderated_collection.feature
  opendoors_result.txt
Labels: Awaiting Review

AO3-5772 Removed redundant cucumber step and all uses of it
  features/gift_exchanges/challenge_giftexchange.feature
  features/gift_exchanges/challenge_yuletide.feature
  features/step_definitions/challege_gift_exchange_steps.rb
  features/step_definitions/generic_steps.rb
Labels: Awaiting Review

AO3-5837 Removed unused code branch, code still works.
  app/controllers/bookmarks_controller.rb
Labels: Awaiting Review

fix tests, updates hyperlinks to follow i18n standards
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  config/locales/mailers/en.yml
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6280 fix inconsistent text in new invitations email and add unit tests for fix
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

switch hash syntax from rocket to json style
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
Labels: Awaiting Review

Internationalized page
  app/views/pseuds/delete_preview.html.erb
Labels: Awaiting Review

AO3-6127 Add server-side checks
  app/controllers/comments_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6332 upgrade elasticsearch to 7.17.1
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

AO3-4603 Allow ctrl key combos in modals
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

AO3-6332 upgrade elasticsearch to 7.17.1
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

var instead of const
  public/javascripts/ao3modal.js
Labels: Awaiting Review

AO3-6360 remove unused methods from ApplicationHelper
  app/helpers/application_helper.rb
Labels: Awaiting Review

Inline variable
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

rename keys
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-5962 Make invitations faster.
  app/controllers/admin/admin_invitations_controller.rb
  app/controllers/invite_requests_controller.rb
  app/jobs/application_job.rb
  app/jobs/invite_from_queue_job.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/views/invite_requests/edit.html.erb
  app/views/invite_requests/manage.html.erb
  app/views/invite_requests/new.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  db/migrate/20220622075958_drop_position_from_invite_requests.rb
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/invite_steps.rb
  spec/controllers/admin/admin_invitations_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-5962 I18n-ize invite_requests/invite_request.
  app/views/invite_requests/_invite_request.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Update automated-tests.yml
  .github/workflows/automated-tests.yml
Labels: Awaiting Review

Update Gemfile
  Gemfile
Labels: Awaiting Review, Gem Updates

Update Gemfile.lock
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Update Gemfile.lock
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Update docker-compose.yml
  docker-compose.yml
Labels: Awaiting Review

AO3-5734: Revise - redundant tests
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6208 Remove the TagWrangling#discuss Functionality
  app/controllers/tag_wranglings_controller.rb
  app/views/tag_wranglings/_wrangler_dashboard.html.erb
  app/views/tag_wranglings/discuss.html.erb
  config/routes.rb
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_comment.feature
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
