Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Test fixes for dynamic pseud list on profile
  features/other_a/pseuds.feature
  features/step_definitions/pseud_steps.rb
Labels: Awaiting Review

Dynamically load pseuds on profile page from commit 9e68b3e
  app/controllers/profile_controller.rb
  app/decorators/profile_presenter.rb
  app/helpers/pseuds_helper.rb
  app/models/pseud.rb
  app/views/profile/pseuds.js.erb
  app/views/profile/show.html.erb
  config/locales/views/en.yml
  config/routes.rb
  features/other_a/profile_edit.feature
  spec/controllers/profile_controller_spec.rb
  spec/models/pseud_spec.rb
Labels: Awaiting Review

AO3-6503 Add guest comment off option
  app/controllers/comments_controller.rb
  app/policies/admin_setting_policy.rb
  app/views/admin/settings/index.html.erb
  app/views/comments/_commentable.html.erb
  config/locales/views/en.yml
  db/migrate/20230408145819_add_guest_comment_off_to_admin_settings.rb
  db/schema.rb
  db/structure.sql
  features/admins/admin_settings.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/models/comment_spec.rb
  test/fixtures/admin_settings.yml
Labels: Awaiting Review, Has Migrations

Move all reset code into the case statement
  script/reset_database.sh
Labels: Awaiting Review

AO3-6503 Fix tests
  features/admins/admin_settings.feature
  spec/controllers/comments_controller_spec.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6503 Pleasing the hound
  app/controllers/comments_controller.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6503 Fix tests
  db/schema.rb
Labels: Awaiting Review

AO3-6503 Fix tests 2
  db/structure.sql
Labels: Awaiting Review

AO3-6503 Fix tests 3
  db/schema.rb
  db/structure.sql
Labels: Awaiting Review

AO3-6503 Fix typo
  features/admins/admin_settings.feature
  spec/controllers/admin/settings_controller_spec.rb
Labels: Awaiting Review

AO3-6503 Hide reply button
  app/helpers/comments_helper.rb
  features/admins/admin_settings.feature
Labels: Awaiting Review

AO3-6503 Pleasing the hound
  app/helpers/comments_helper.rb
Labels: Awaiting Review

AO3-3867 Update step definition with correct params for items awaiting user approval
  features/step_definitions/collection_steps.rb
Labels: Awaiting Review

AO3-3867 Remove unused methods
  app/models/collection_item.rb
Labels: Awaiting Review

AO3-3867 Remove else in step definition
  features/step_definitions/collection_steps.rb
Labels: Awaiting Review

AO3-3867 Don't repeat list of statuses
  app/views/collection_items/index.html.erb
Labels: Awaiting Review

AO3-3867 Update test to use correct step
  features/collections/collectible_moderated_collection.feature
Labels: Awaiting Review

AO3-6504 Avoid resetting dev databases twice for Docker (#4491)
  lib/tasks/database_seed.rake
  script/reset_database.sh
Labels: Awaiting Review

AO3-3867 Add/update TODOs
  app/controllers/collection_items_controller.rb
  app/views/collection_items/_collection_item_controls.html.erb
Labels: Awaiting Review

AO3-3867 Remove leftover code from when this originally included mailer changes
  config/locales/helpers/en.yml
Labels: Awaiting Review

Use PERMITTED_HOSTS
  app/models/abuse_report.rb
  config/config.yml
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-5778 Update cache keys in work blurb
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

Add back staging hosts
  config/config.yml
Labels: Awaiting Review

Fix typo
  config/config.yml
Labels: Awaiting Review

AO3-5778 AO3-5782 Add thousands separators to long numbers in work meta and downloads (#4440)
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/downloads/_download_preface.html.erb
  app/views/share/_embed_meta.html.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/batch_subscription_notification.html.erb
  app/views/user_mailer/batch_subscription_notification.text.erb
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

AO3-6509 Retry TagMethodJobs on deadlock.
  app/jobs/tag_method_job.rb
Labels: Awaiting Review

AO3-6510 Handle hit counts with RedisHashJobs.
  app/jobs/hit_count_update_job.rb
  app/jobs/readings_job.rb
  app/jobs/redis_hash_job.rb
  app/jobs/redis_job_spawner.rb
  app/jobs/redis_set_job.rb
  app/jobs/redis_set_job_spawner.rb
  app/jobs/tag_count_update_job.rb
  app/models/redis_hit_counter.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/reading_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  lib/redis_scanning.rb
  spec/jobs/hit_count_update_job_spec.rb
  spec/models/redis_hit_counter_spec.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-3867 Make item_status required
  features/step_definitions/collection_steps.rb
Labels: Awaiting Review

Fix local tests
  spec/controllers/api/v2/api_works_spec.rb
Labels: Awaiting Review

AO3-6003 Install i18n-tasks
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  spec/i18n_spec.rb
Labels: Awaiting Review, Gem Updates

AO3-6003 Fix lazy lookup of chapters controller locale in locale file
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6003 Fix incorrect reporting of permission_denied locale in comments controller
  app/controllers/comments_controller.rb
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Fix typo in locale key in comments controller
  app/controllers/comments_controller.rb
Labels: Awaiting Review

AO3-6003 Fix typos in locale keys in muted+blocked views
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
Labels: Awaiting Review

AO3-6003 Fix that support.array.words_connector was reported as a missing locale
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Make clear that only en files are read
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Remove test that has incorrect failures
  spec/i18n_spec.rb
Labels: Awaiting Review

AO3-6003 Configure searcher to find ActiveRecord translations
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Ignore unused of common ActiveRecord locale
  app/helpers/mailer_helper.rb
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Ignore unused of common devise locale
  config/i18n-tasks.yml
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
