Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6457 Improve the scalability of the StatCounter job. (#4433)
  .rubocop.yml
  app/jobs/readings_to_database_job.rb
  app/jobs/redis_set_job.rb
  app/jobs/redis_set_job_spawner.rb
  app/jobs/stat_counter_job.rb
  app/models/stat_counter.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/work_steps.rb
  lib/redis_scanning.rb
Labels: Awaiting Review

AO3-6458 Use new batch code for tag count updates.
  app/jobs/tag_count_update_job.rb
  app/models/scheduled_tag_job.rb
  app/models/tag.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/series_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-6458 unless blank? => if present?
  app/jobs/tag_count_update_job.rb
Labels: Awaiting Review

AO3-6459 Use new batch code for readings.
  app/jobs/readings_job.rb
  app/models/reading.rb
  app/models/user.rb
  config/config.yml
  config/resque_schedule.yml
  config/schedule.rb
  features/other_a/reading.feature
  features/step_definitions/reading_steps.rb
  features/step_definitions/work_steps.rb
  lib/tasks/reading_tasks.rake
Labels: Awaiting Review

AO3-6459 Use new batch code for readings to try to address LockWaitTimeout errors. (#4435)
  app/jobs/readings_job.rb
  app/models/reading.rb
  app/models/user.rb
  config/config.yml
  config/resque_schedule.yml
  config/schedule.rb
  features/other_a/reading.feature
  features/step_definitions/reading_steps.rb
  features/step_definitions/work_steps.rb
  lib/tasks/reading_tasks.rake
Labels: Awaiting Review

AO3-6458 Use a new queue, tag_counts, for the jobs.
  app/jobs/tag_count_update_job.rb
  config/resque_schedule.yml
Labels: Awaiting Review

AO3-6458 Use the step to run the tag count jobs.
  features/step_definitions/series_steps.rb
  features/step_definitions/work_steps.rb
Labels: Awaiting Review

AO3-6458 Use new batch code for tag count updates to try to address LockWaitTimeout errors. (#4434)
  app/jobs/tag_count_update_job.rb
  app/models/scheduled_tag_job.rb
  app/models/tag.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/series_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

Updated password reset limit code per review
  app/models/concerns/password_resets_limitable.rb
  app/models/user.rb
  db/migrate/20220612064434_add_resets_requested_to_users.rb
  features/step_definitions/user_steps.rb
Labels: Awaiting Review, Has Migrations

Added trailing newline
  db/migrate/20220612064434_add_resets_requested_to_users.rb
Labels: Awaiting Review, Has Migrations

Simplified hidden user Cucumber tests
  features/other_a/preferences_edit_more.feature
Labels: Awaiting Review

Test improvements from review
  features/other_a/pseuds.feature
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-6462 Make scan_set_in_batches return more consistent batch sizes.
  lib/redis_scanning.rb
Labels: Awaiting Review

AO3-6462 Make scan_set_in_batches return more consistent batch sizes. (#4438)
  lib/redis_scanning.rb
Labels: Awaiting Review

Reverted unnecessary change
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

Revert unrelated gem updates
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6365 Add interface for muting users via CSS (#4324)
  app/controllers/muted/users_controller.rb
  app/helpers/mute_helper.rb
  app/models/mute.rb
  app/models/user.rb
  app/policies/mute_policy.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/search_results.html.erb
  app/views/layouts/_includes.html.erb
  app/views/muted/_muted_items_notice.html.erb
  app/views/muted/users/_muted_user_blurb.html.erb
  app/views/muted/users/confirm_mute.html.erb
  app/views/muted/users/confirm_unmute.html.erb
  app/views/muted/users/index.html.erb
  app/views/preferences/index.html.erb
  app/views/series/index.html.erb
  app/views/users/_header_navigation.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20220821213412_create_mutes.rb
  features/step_definitions/mute_steps.rb
  features/support/paths.rb
  features/users/muting.feature
  spec/controllers/muted/users_controller_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6422 Change block limit from 1000 to 2000
  config/config.yml
Labels: Awaiting Review

AO3-6440 Add Recoverable, Lockable, and separate password length config to admins (#4415)
  app/controllers/admin/passwords_controller.rb
  app/helpers/mailer_helper.rb
  app/mailers/admin_mailer.rb
  app/mailers/archive_devise_mailer.rb
  app/models/admin.rb
  app/views/admin/mailer/reset_password_instructions.html.erb
  app/views/admin/mailer/reset_password_instructions.text.erb
  app/views/admin/passwords/edit.html.erb
  app/views/admin/passwords/new.html.erb
  app/views/admin/sessions/new.html.erb
  app/views/admin_mailer/set_password_notification.html.erb
  app/views/admin_mailer/set_password_notification.text.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  config/config.yml
  config/docker/Dockerfile
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20221218033319_add_recoverable_lockable_to_admins.rb
  factories/admin.rb
  features/admins/admin_works.feature
  features/admins/authenticate_admins.feature
  features/other_a/profile_edit.feature
  features/step_definitions/admin_steps.rb
  public/stylesheets/site/2.0/16-zone-system.css
  script/create_admin.rb
  script/lock_admin.rb
  script/unlock_admin.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/archive_devise_mailer_spec.rb
  spec/models/admin_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6422 Limit the number of accounts users can block (#4394)
  app/models/block.rb
  app/views/blocked/users/index.html.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/step_definitions/block_steps.rb
  spec/controllers/blocked/users_controller_spec.rb
Labels: Awaiting Review

Seperated adding work ids from clean url method
  app/models/abuse_report.rb
Labels: Awaiting Review

AO3-6469 Upgrade to Rails 6.1.
  Gemfile
  Gemfile.lock
  app/models/abuse_report.rb
  app/models/admin.rb
  app/models/admin_post_tag.rb
  app/models/api_key.rb
  app/models/archive_faq.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/external_author_name.rb
  app/models/invite_request.rb
  app/models/kudo.rb
  app/models/language.rb
  app/models/locale.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/tag.rb
  app/models/tagset_models/owned_tag_set.rb
  app/models/user.rb
  app/validators/email_blacklist_validator.rb
  app/validators/email_format_validator.rb
  app/validators/email_veracity_validator.rb
  app/validators/url_active_validator.rb
  app/validators/url_format_validator.rb
  config/initializers/monkeypatches/fix_phraseapp.rb
  config/routes.rb
  config/storage.yml
Labels: Awaiting Review, Gem Updates

AO3-6469 Fixes for Hound.
  app/validators/email_blacklist_validator.rb
  app/validators/email_format_validator.rb
  app/validators/email_veracity_validator.rb
Labels: Awaiting Review

Created test for adding work ids to abuse reports
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

Hound changes
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

Reworked test to match style
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

Seperated before_validation from unrelated comment
  app/models/abuse_report.rb
Labels: Awaiting Review

AO3-6469 Starting on review comments.
  app/models/user.rb
Labels: Awaiting Review

AO3-6469 Update comment with the current number.
  config/routes.rb
Labels: Awaiting Review

Hound fix for word counter and spec
  lib/word_counter.rb
  spec/lib/word_counter_spec.rb
Labels: Awaiting Review

Updated reset word counts rake to update all languages
  lib/tasks/work_tasks.rake
  spec/lib/tasks/work_tasks.rake_spec.rb
Labels: Awaiting Review

Hound fix
  spec/lib/tasks/work_tasks.rake_spec.rb
Labels: Awaiting Review

Hound fix
  spec/lib/word_counter_spec.rb
Labels: Awaiting Review

AO3-5778 Move chapter_total_display to WorksHelper
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/downloads/_download_preface.html.erb
  app/views/share/_embed_meta.html.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/batch_subscription_notification.html.erb
  app/views/user_mailer/batch_subscription_notification.text.erb
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

AO3-5778 Add delimiter to long numbers in work meta
  app/helpers/works_helper.rb
Labels: Awaiting Review

AO3-5356 Add lang attribute to abuse reports
  app/views/abuse_reports/new.html.erb
Labels: Awaiting Review

AO3-5356 Add lang attribute to support requests
  app/views/feedbacks/new.html.erb
Labels: Awaiting Review

AO3-5356 Add lang attribute to FAQ filters
  app/views/archive_faqs/_filters.html.erb
Labels: Awaiting Review

AO3-5356 Add lang attribute to work import
  app/views/works/new_import.html.erb
Labels: Awaiting Review

AO3-5356 Add lang attribute to filters
  app/views/bookmarks/_filters.html.erb
  app/views/works/_filters.html.erb
Labels: Awaiting Review
