Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6290 Fix typo
  spec/helpers/mailer_helper_spec.rb
Labels: Awaiting Review

AO3-6327 Handle nil blocked_id.
  app/controllers/blocked/users_controller.rb
  spec/controllers/blocked/users_controller_spec.rb
Labels: Awaiting Review

AO3-6327 Add extra bullet point to description.
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Remove visible: true from autocomplete finders since it's default now
  features/step_definitions/autocomplete_steps.rb
Labels: Awaiting Review

AO3-6327 Handle nil blocked_id, and add a little extra information to the description of blocking. (#4253)
  app/controllers/blocked/users_controller.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  config/locales/views/en.yml
  spec/controllers/blocked/users_controller_spec.rb
Labels: Awaiting Review

Fix comment typo
  features/support/capybara.rb
Labels: Awaiting Review

Keep gems in Gemfile without versions
  Gemfile
Labels: Awaiting Review, Gem Updates

Add Gemfile.lock changes
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-5780 Add thousands separators to long numbers on series pages
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
Labels: Awaiting Review

AO3-6346 HTML error pages (such as 404) for unregistered MIME types
  app/controllers/errors_controller.rb
  spec/controllers/errors_controller_spec.rb
Labels: Awaiting Review

AO3-6345 raise RecordNotFound for Rails builtin 404 redirect
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-6312 add guests_comments_off to preferences table
  db/migrate/20220530151556_add_guests_comments_off_to_preference.rb
Labels: Awaiting Review, Has Migrations

AO3-6312 add guests comments off checkbox to user preferences
  app/controllers/preferences_controller.rb
  app/views/preferences/index.html.erb
  features/other_a/preferences_edit.feature
Labels: Awaiting Review

AO3-6312 added guests comments off description to help text
  public/help/comment-preferences.html
Labels: Awaiting Review

Wrap the submit in a span and maintain existing styling
  app/views/blocked/users/index.html.erb
  app/views/collection_participants/_add_participants_form.html.erb
  public/stylesheets/site/2.0/07-interactions.css
Labels: Awaiting Review

AO3-6352 Add default Content-Security-Policy response header
  config/application.rb
  spec/requests/security_headers_spec.rb
Labels: Awaiting Review

Put the input and button on separate lines on mobile
  public/stylesheets/site/2.0/25-media-midsize.css
Labels: Awaiting Review

Fix order of blocking bullet points
  app/views/blocked/users/index.html.erb
Labels: Awaiting Review

AO3-5780 add thousands separator to number of works, too.
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
Labels: Awaiting Review

Reorder confirm block bullet points
  app/views/blocked/users/confirm_block.html.erb
Labels: Awaiting Review

AO3-6354 Ignore hidden elements with Capybara in feature tests (#4252)
  Gemfile
  Gemfile.lock
  features/admins/admin_skins.feature
  features/bookmarks/bookmark_create.feature
  features/bookmarks/bookmark_share.feature
  features/collections/collection_anonymity.feature
  features/comments_and_kudos/add_comment.feature
  features/other_a/gift.feature
  features/other_a/hit_counts.feature
  features/other_a/preferences_edit_more.feature
  features/other_b/skin.feature
  features/other_b/skin_public.feature
  features/other_b/skin_wizard.feature
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/external_work_steps.rb
  features/step_definitions/generic_steps.rb
  features/step_definitions/page_title_steps.rb
  features/step_definitions/skin_steps.rb
  features/step_definitions/tag_set_steps.rb
  features/step_definitions/work_steps.rb
  features/support/capybara.rb
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/works/work_create.feature
  features/works/work_dates_edit.feature
  features/works/work_delete.feature
  features/works/work_download.feature
  features/works/work_edit.feature
  features/works/work_edit_tags.feature
  features/works/work_share.feature
Labels: Awaiting Review, Gem Updates

AO3-4659 Tweaks to block user and collection participant forms (#4256)
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  app/views/collection_participants/_add_participants_form.html.erb
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/25-media-midsize.css
Labels: Awaiting Review

AO3-6328 Cleaned up rspec and added step to ensure reindex
  features/step_definitions/tag_steps.rb
  spec/models/tag_spec.rb
  spec/support/tag_spec_helper.rb
Labels: Awaiting Review

AO3-6328 Hound fix, removed unnecessary comments
  spec/models/tag_spec.rb
  spec/support/tag_spec_helper.rb
Labels: Awaiting Review

AO3-6338 Removed unused CollectionItem methods
  app/models/collection_item.rb
Labels: Awaiting Review

Restrict access to Manage Invite Queue page
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  config/locales/views/en.yml
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Live with a redirect when not authorized to destroy
  app/controllers/invite_requests_controller.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

AO3-6321 Changed links and text to Support instead of Abuse
  app/views/home/tos_faq.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Made spacing more consistent with spec tests
  spec/models/tag_spec.rb
Labels: Awaiting Review

Handle pundit errors in JSON format
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

The thing is the code has to work in addition to the tests passing
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Awaiting Review

Update feature test to use proper admin role
  features/admins/admin_invitations.feature
Labels: Awaiting Review

Update feature tests
  features/other_a/invite_queue.feature
  features/step_definitions/invite_steps.rb
Labels: Awaiting Review

AO3-5780 add tests to show series metadata on series page.
  features/other_b/series.feature
Labels: Awaiting Review

Update tests, keep div container ID suffix free
  app/views/share/_share.html.erb
  spec/helpers/share_helper_spec.rb
Labels: Awaiting Review

AO3-6358 Overwrite local configuration files in Docker init.sh
  .gitignore
  script/docker/init.sh
Labels: Awaiting Review

AO3-5054 Adding tests for user rename updating kudos
  app/models/kudo.rb
  app/models/user.rb
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-3846 Added test that draft chapters are displayed on chapter rearrange page
  features/works/chapter_edit.feature
Labels: Awaiting Review

AO3-3846 Switched chapter ChaptersController#manage to include drafts
  app/controllers/chapters_controller.rb
Labels: Awaiting Review

AO3-3846 Updated rspec test to account for new filtering
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review
