Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6790 add user and admin test cases
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

AO3-6791 raise error when user isn't found
  app/controllers/pseuds_controller.rb
Labels: Awaiting Review

AO3-6791 add test case
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

AO3-6791 use one line for raise statement
  app/controllers/pseuds_controller.rb
Labels: Awaiting Review

AO3-6790 rubocop fixes
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

AO3-6791 rubocop fix
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review

AO3-6897 Change run_background_reindex_queue to run every 11 minutes
  config/resque_schedule.yml
Labels: Awaiting Review

AO3-6897 Change run_background_reindex_queue to run every 11 minutes (#5048)
  config/resque_schedule.yml
Labels: Awaiting Review

Revert "AO3-5578 Use rails_blob_url to allow ActiveStorage caching (#5009)"
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
Labels: Awaiting Review

Disable ActiveStorage proxy
  config/environments/production.rb
  config/environments/staging.rb
Labels: Awaiting Review

AO3-6898 Disable ActiveStorage proxying (#5049)
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  config/environments/production.rb
  config/environments/staging.rb
Labels: Awaiting Review

AO3-6893 Use departure for active_storage_blobs migration
  .rubocop.yml
  config/config.yml
  db/migrate/20250129101815_add_service_name_to_active_storage_blobs.active_storage.rb
Labels: Awaiting Review, Has Migrations

Revert "AO3-6898 Disable ActiveStorage proxying (#5049)"
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  config/environments/production.rb
  config/environments/staging.rb
Labels: Awaiting Review

Revert "AO3-6898 Disable ActiveStorage proxying" (#5050)
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  config/environments/production.rb
  config/environments/staging.rb
Labels: Awaiting Review

AO3-6893 Fix tests
  app/models/story_parser.rb
  db/migrate/20250129101815_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20250129101816_create_active_storage_variant_records.active_storage.rb
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
Labels: Awaiting Review, Has Migrations

Doggy
  db/migrate/20250129101817_remove_not_null_on_active_storage_blobs_checksum.active_storage.rb
Labels: Awaiting Review, Has Migrations

Allow any ruby-3.2
  Gemfile
Labels: Awaiting Review, Gem Updates

Allow any ruby-3.2 (#5051)
  Gemfile
Labels: Awaiting Review, Gem Updates

AO3-6872 Only notify creators when a work is added to a collection by an archivist (#5024)
  app/models/collection_item.rb
  features/bookmarks/bookmark_create.feature
Labels: Awaiting Review

AO3-6518 Spam check runs on abuse reports if the email you enter has different capitalization than the email on your account (#4755)
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Awaiting Review

AO3-6766 Allow color-scheme in skins (#4928)
  config/config.yml
  public/help/skins-creating.html
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-6777 Fix that tag names could be blank (#4892)
  app/models/tag.rb
  features/step_definitions/tag_steps.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-5792 Add missing class to additional tag groups in Tag Sets to fix skins (#4960)
  app/views/owned_tag_sets/_show_tags_alpha_listbox.html.erb
Labels: Awaiting Review

AO3-6863 Update co-creator subject lines and tests (#5003)
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6585 Refactor work_info partials for emails to use tag_groups (#4985)
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
Labels: Awaiting Review

AO3-6820 Fix error when creating a bookmark without a pseud ID (#5043)
  app/models/bookmark.rb
  spec/models/bookmark_spec.rb
Labels: Awaiting Review

AO3-6870 Update proxy notice to include Russian, Ukranian translations (#5014)
  app/views/layouts/_proxy_notice.html.erb
  config/locales/views/ru.yml
  config/locales/views/uk.yml
Labels: Awaiting Review

AO3-6859 Fix admins being disallowed from tags pages (#5001)
  app/controllers/tags_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/tags_controller_spec.rb
Labels: Awaiting Review

AO3-6814 Respect locale preferences for archivist_added_to_collection_notification email (#5023)
  app/models/collection_item.rb
  features/collections/collection_notification.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Replace will_paginate with pagy for works
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/works_controller.rb
  app/helpers/application_helper.rb
  app/views/works/index.html.erb
  config/initializers/gem-plugin_config/pagy.rb
Labels: Awaiting Review, Gem Updates

AO3-6820 Update error message to "can't be blank"
  config/locales/models/en.yml
  spec/models/bookmark_spec.rb
Labels: Awaiting Review

AO3-6820 Update error message to "Pseud can't be blank" (#5052)
  config/locales/models/en.yml
  spec/models/bookmark_spec.rb
Labels: Awaiting Review

AO3-6893 Minor fixes
  config/application.rb
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-6884 Update to Ruby 3.2
  .ruby-version
  Gemfile
  Gemfile.lock
  config/docker/Dockerfile
Labels: Awaiting Review, Gem Updates

Reproduce previous HTML
  app/helpers/application_helper.rb
  app/views/works/index.html.erb
  config/initializers/gem-plugin_config/pagy.rb
  config/locales/views/en.yml
Labels: Awaiting Review

Simpler use code
  app/helpers/application_helper.rb
  app/views/works/index.html.erb
Labels: Awaiting Review

Update parser gem
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Use for bookmarks
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/index.html.erb
Labels: Awaiting Review

Add pagy to history
  app/controllers/readings_controller.rb
  app/views/readings/index.html.erb
Labels: Awaiting Review

Use query_result values, not defaults
  app/controllers/application_controller.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
