Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-6127 Log hiding and unhiding comments (#4320)
  app/controllers/comments_controller.rb
  features/comments_and_kudos/hidden_comments.feature
Labels: Awaiting Review

AO3-6343 Policy changes for skins.
  app/controllers/admin/skins_controller.rb
  app/controllers/skins_controller.rb
  app/policies/skin_policy.rb
Labels: Awaiting Review

AO3-6343 Disable and hide disallowed actions.
  app/views/admin/skins/index.html.erb
  app/views/admin/skins/index_approved.html.erb
  app/views/admin/skins/index_rejected.html.erb
  app/views/skins/_skin_actions.html.erb
Labels: Awaiting Review

AO3-6343 Test fixes.
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
  spec/controllers/admin/admin_skins_controller_spec.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-5628 Invalidate chapter count cache when saving drafts
  app/models/work.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-5628 Added empty line after guard clause for rubocop
  app/models/work.rb
Labels: Awaiting Review

AO3-5628 removed unnecessary invalidate_work_chapter_count calls from tests
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-5628 Switched to change matchers
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-5628 Fixed style errors
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-6365 Draft
  app/controllers/muted/users_controller.rb
  app/helpers/mute_helper.rb
  app/models/mute.rb
  app/models/user.rb
  app/views/layouts/_includes.html.erb
  app/views/muted/users/_mute_css.html.erb
  app/views/muted/users/_muted_user_blurb.html.erb
  app/views/muted/users/confirm_mute.html.erb
  app/views/muted/users/confirm_unmute.html.erb
  app/views/muted/users/index.html.erb
  app/views/preferences/index.html.erb
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20220821213412_create_mutes.rb
Labels: Awaiting Review, Has Migrations

AO3-6365 Pleasing the hound
  app/helpers/mute_helper.rb
Labels: Awaiting Review

AO3-6365 Add buttons
  app/helpers/mute_helper.rb
  app/models/user.rb
  app/policies/mute_policy.rb
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
  app/views/users/_header_navigation.html.erb
Labels: Awaiting Review

AO3-6365 Add cache
  app/controllers/muted/users_controller.rb
  app/helpers/mute_helper.rb
Labels: Awaiting Review

AO3-6365 Add translation strings
  config/locales/controllers/en.yml
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6365 Add tests
  app/policies/mute_policy.rb
  features/step_definitions/mute_steps.rb
  features/support/paths.rb
  features/users/mute.feature
  spec/controllers/muted/users_controller_spec.rb
Labels: Awaiting Review

AO3-6365 Add tests to ensure muted content is not visible
  features/users/mute.feature
Labels: Awaiting Review

AO3-6365 Update strings
  app/views/muted/users/confirm_mute.html.erb
  app/views/muted/users/confirm_unmute.html.erb
  app/views/muted/users/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6365 Add count inaccurate notice
  app/helpers/mute_helper.rb
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/search_results.html.erb
  app/views/series/index.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6365 Minor refactoring
  app/controllers/muted/users_controller.rb
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
Labels: Awaiting Review

AO3-6365 Make page subtitle translatable
  app/controllers/muted/users_controller.rb
  app/helpers/mute_helper.rb
  features/users/mute.feature
Labels: Awaiting Review

fixed atom text type for authour name
  app/views/tags/feed.atom.builder
Labels: Awaiting Review

used xml:base as described in rfc 4287
  app/views/tags/feed.atom.builder
Labels: Awaiting Review

Review suggestions
  app/models/comment.rb
  app/models/roles_user.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
Labels: Awaiting Review

AO3-6344 Add retry-after header when rate limited (#4298)
  config/initializers/rack_attack.rb
  spec/requests/rack_attack_spec.rb
Labels: Awaiting Review

AO3-6349 When reindexing works, try to perform fewer database queries. (#4291)
  app/models/search/bookmarked_work_indexer.rb
  app/models/search/indexer.rb
  app/models/search/work_creator_indexer.rb
  app/models/search/work_indexer.rb
  app/models/work.rb
  spec/models/search/bookmarked_work_indexer_spec.rb
  spec/models/search/work_creator_indexer_spec.rb
  spec/models/search/work_indexer_spec.rb
Labels: Awaiting Review

AO3-6343 Restrict admin access to skin management features. (#4323)
  app/controllers/admin/skins_controller.rb
  app/controllers/skins_controller.rb
  app/policies/skin_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/skins/index.html.erb
  app/views/admin/skins/index_approved.html.erb
  app/views/admin/skins/index_rejected.html.erb
  app/views/skins/_skin_actions.html.erb
  factories/skins.rb
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-5122 Refactor sharing code (#3014)
  app/helpers/application_helper.rb
  app/helpers/share_helper.rb
  app/helpers/tags_helper.rb
  app/views/share/_embed_link_bookmark.html.erb
  app/views/share/_embed_link_header.html.erb
  app/views/share/_embed_link_work.html.erb
  app/views/share/_embed_meta.html.erb
  app/views/share/_embed_meta_bookmark.erb
  app/views/share/_share.html.erb
  spec/helpers/share_helper_spec.rb
  spec/helpers/works_helper_spec.rb
Labels: Awaiting Review

AO3-6361 Record admin email change (#4302)
  app/controllers/users_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-6311 Edited comment reply notification sent to creator of deleted comment (#4321)
  app/mailers/comment_mailer.rb
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

AO3-6280 Fix inconsistent text in new invitations email (#4275)
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6360 Remove unused methods from ApplicationHelper (#4279)
  app/helpers/application_helper.rb
Labels: Awaiting Review

AO3-6369 Remove unused Pseud scopes and methods (#4304)
  app/models/pseud.rb
Labels: Awaiting Review

AO3-6077 Make series info consistent across locations (#4310)
  app/helpers/series_helper.rb
  features/other_b/series.feature
  features/other_b/series_lock.feature
  features/other_b/series_order.feature
  features/works/work_download.feature
Labels: Awaiting Review

AO3-6370 Case insensitive email validation for User (#4314)
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-3357 Add a button to clear filters (#4200)
  app/helpers/search_helper.rb
  app/views/bookmarks/_filters.html.erb
  app/views/collections/_filters.html.erb
  app/views/works/_collection_filters.html.erb
  app/views/works/_filters.html.erb
  features/bookmarks/bookmark_filter.feature
  features/collections/collection_browse.feature
  features/search/filters.feature
Labels: Awaiting Review

AO3-6384 Fix intermittent user_dashboard test failures (#4316)
  features/step_definitions/work_steps.rb
Labels: Awaiting Review

AO3-6364 Further restrict admin access for managing invitation queue (#4287)
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/invite_steps.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/models/invite_request_spec.rb
Labels: Awaiting Review

AO3-6259 upgrade elasticsearch to 8.4.0
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Awaiting Review, Gem Updates

Move wrangler message
  app/models/concerns/wrangleable.rb
  app/views/tag_wranglers/show.html.erb
  config/locales/views/en.yml
  db/migrate/20211230202951_create_last_wrangling_activities.rb
Labels: Awaiting Review, Has Migrations

Cleanup specs
  factories/last_wrangling_activity.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/models/comment_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review
