Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

Consolidate validation
  app/models/challenge_models/gift_exchange.rb
Labels: Awaiting Review

Upgrade rails to 6.1.7.4
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6575 Turn News posts sidebar into navigation
  app/views/admin_posts/_sidebar.html.erb
Labels: Awaiting Review

AO3-6567 Use % for translate_string instead of I18n.translate. (#4586)
  app/views/tag_set_nominations/_tag_nominations_by_fandom.html.erb
  config/initializers/monkeypatches/translate_string.rb
Labels: Awaiting Review

AO3-6545 Default FAQ to last valid locale instead of always English (#4577)
  app/controllers/archive_faqs_controller.rb
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Awaiting Review

AO3-6488 Optimize Challenge queries to make orphaned works editable (#4561)
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/works/_standard_form.html.erb
Labels: Awaiting Review

AO3-6530 Display validation messages on top of footer (#4571)
  public/stylesheets/site/2.0/07-interactions.css
Labels: Awaiting Review

AO3-4867 & AO3-4868 Prevent pseud ambiguity issues. (#4570)
  app/controllers/challenge_assignments_controller.rb
  app/controllers/collection_participants_controller.rb
  app/controllers/gifts_controller.rb
  app/models/block.rb
  app/models/challenge_assignment.rb
  app/models/collection_item.rb
  app/models/concerns/creatable.rb
  app/models/creatorship.rb
  app/models/gift.rb
  app/models/mute.rb
  app/models/pseud.rb
  lib/creation_notifier.rb
  spec/models/challenge_assignment_spec.rb
  spec/models/owned_tag_set_spec.rb
Labels: Awaiting Review

AO3-6536 Add elections admin role (#4541)
  app/models/admin.rb
  app/policies/comment_policy.rb
  config/locales/models/en.yml
  features/comments_and_kudos/admin_info.feature
  spec/controllers/admin/activities_controller_spec.rb
  spec/controllers/admin/banners_controller_spec.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/admin/spam_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-6192 Disable admin post comments after 2 weeks (#4574)
  app/models/admin_post.rb
  config/config.yml
  config/resque_schedule.yml
  spec/models/admin_post_spec.rb
Labels: Awaiting Review

AO3-6556 Update text to refer to account activation rather than confirmation (#4585)
  app/views/users/confirmation.html.erb
  config/locales/devise/en.yml
  config/locales/views/en.yml
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
Labels: Awaiting Review

AO3-6552 Login link needs ARIA role (#4580)
  app/views/layouts/_header.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-4820 Validate skins with "archive" in title
  app/controllers/skins_controller.rb
  app/models/skin.rb
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review

AO3-6212 - Add no-check-unique-key-change to default options.
  config/config.yml
Labels: Awaiting Review

AO3-4309 Refactor a bit
  app/helpers/mailer_helper.rb
  app/views/user_mailer/batch_subscription_notification.html.erb
  app/views/user_mailer/batch_subscription_notification.text.erb
Labels: Awaiting Review

Remove Alterity actually
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Add pt-online-schema-change syntax for prod
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
Labels: Awaiting Review, Has Migrations

Remove explicit foreign key
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
Labels: Awaiting Review, Has Migrations

Implicit NULL default value
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
Labels: Awaiting Review, Has Migrations

AO3-6506 Avoid "should" in test names.
  spec/models/search/bookmark_query_spec.rb
Labels: Awaiting Review

AO3-6506 Add tests for the match_all query.
  spec/models/search/pseud_query_spec.rb
  spec/models/search/tag_query_spec.rb
Labels: Awaiting Review

AO3-6506 Use build_stubbed.
  spec/models/search/bookmark_query_spec.rb
Labels: Awaiting Review

AO3-6506 Extra aggregation tests.
  spec/models/search/bookmark_query_spec.rb
  spec/models/search/bookmarkable_query_spec.rb
Labels: Awaiting Review

AO3-6506 Facet tests.
  spec/models/search/bookmark_search_form_spec.rb
Labels: Awaiting Review

AO3-6506 For Hound.
  spec/models/search/bookmark_query_spec.rb
  spec/models/search/bookmarkable_query_spec.rb
Labels: Awaiting Review

AO3-6577 Upgrade Rails to 6.1.7.4 (#4592)
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Updated robots.txt to block chatGPT
  public/robots.public.txt
Labels: Awaiting Review

AO3-6583 Updated the robots.txt to block chatGPT.
  public/robots.public.txt
Labels: Awaiting Review

removed extra spacing from code changes.
  app/controllers/collection_participants_controller.rb
Labels: Awaiting Review

changed validation order to limit ban check.
  app/models/creatorship.rb
Labels: Awaiting Review

Consolidate username validations
  app/models/user.rb
Labels: Awaiting Review

AO3-6548 Add "(Guest)" to guest names in web UI and emails
  app/helpers/comments_helper.rb
  app/helpers/mailer_helper.rb
  app/views/comment_mailer/comment_notification.html.erb
  app/views/comment_mailer/comment_notification.text.erb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  app/views/comment_mailer/edited_comment_notification.html.erb
  app/views/comment_mailer/edited_comment_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  features/comments_and_kudos/guest_comments.feature
  public/images/imageset.png
  public/stylesheets/site/2.0/15-group-comments.css
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

AO3-6548 Pleasing the hound
  app/helpers/comments_helper.rb
  app/helpers/mailer_helper.rb
Labels: Awaiting Review

AO3-6548 Pleasing the hound
  app/helpers/comments_helper.rb
Labels: Awaiting Review

AO3-6548 Fix tests
  app/helpers/comments_helper.rb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
Labels: Awaiting Review

AO3-6548 Fix test
  features/comments_and_kudos/inbox.feature
Labels: Awaiting Review

AO3-6548 Fix test
  features/comments_and_kudos/inbox.feature
Labels: Awaiting Review

AO3-6589 Don't call ts() on user-generated text.
  app/controllers/admin/blacklisted_emails_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/opendoors/external_authors_controller.rb
  app/controllers/opendoors/tools_controller.rb
  app/controllers/redirect_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/helpers/series_helper.rb
  app/models/work.rb
  app/models/work_skin.rb
  app/views/archive_faqs/show.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/menu/_menu_fandoms.html.erb
  app/views/works/_search_box.html.erb
  lib/css_cleaner.rb
Labels: Awaiting Review

AO3-6589 Woof.
  app/controllers/challenge_assignments_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/models/work_skin.rb
  lib/css_cleaner.rb
Labels: Awaiting Review

Adjusted robots per request of reviewer.
  public/robots.public.txt
Labels: Awaiting Review
