Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-4603 Allow ctrl key combos in modals (#4277)
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

AO3-6264 Update text of invitation email (#4268)
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  config/locales/mailers/en.yml
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6144 Prevent protected users' works from being cited as related works (#4244)
  app/models/work.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-6127 Expose option for admins to hide comments (#4236)
  app/controllers/admin/user_creations_controller.rb
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/policies/comment_policy.rb
  app/views/comments/_comment_actions.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  features/comments_and_kudos/hidden_comments.feature
  public/stylesheets/site/2.0/15-group-comments.css
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6335 Fix comment cache expiration. (#4212)
  app/views/comments/_single_comment.html.erb
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/comment_moderation.feature
  features/tags_and_wrangling/tag_comment.feature
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-5601 Use DownloadWriter for deleted work email attachments (#4130)
  app/mailers/user_mailer.rb
  app/models/download_writer.rb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6337 Remove unused CollectionItemsController#destroy action
  app/controllers/collection_items_controller.rb
Labels: Awaiting Review

AO3-6337 Remove unused CollectionItemsController#destroy action fix
  app/controllers/collection_items_controller.rb
  spec/controllers/collection_items_controller_spec.rb
Labels: Awaiting Review

Update feature tests
  features/admins/admin_invitations.feature
Labels: Awaiting Review

AO3-6307 Don't translate key names in creatorship emails (#4223)
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Awaiting Review

Tidy
  app/controllers/application_controller.rb
  spec/models/invite_request_spec.rb
Labels: Awaiting Review

add www to transformativeworks.org link
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6264 Update OTW link URL in invitation email (#4290)
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-2197 AO3-5635 Clean up kudos validations and kudos on chapters (#4188)
  app/controllers/kudos_controller.rb
  app/models/chapter.rb
  app/models/kudo.rb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  factories/kudos.rb
  lib/tasks/after_tasks.rake
  public/javascripts/application.js
  spec/controllers/kudos_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-5734 (revise)
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6337 fix
  app/controllers/collection_items_controller.rb
  config/routes.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/pt-BR.yml
Labels: Awaiting Review

AO3-6337 delete params
  app/controllers/collection_items_controller.rb
Labels: Awaiting Review

Updated translations from Phrase (#4288)
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
Labels: Awaiting Review

Remove unused can_destroy? method alias
  app/policies/invite_request_policy.rb
Labels: Awaiting Review

AO3-6349 Reduce queries when indexing works.
  app/models/search/bookmarked_work_indexer.rb
  app/models/search/indexer.rb
  app/models/search/work_creator_indexer.rb
  app/models/search/work_indexer.rb
  app/models/work.rb
  spec/models/search/bookmarked_work_indexer_spec.rb
  spec/models/search/work_creator_indexer_spec.rb
  spec/models/search/work_indexer_spec.rb
Labels: Awaiting Review

AO3-6307 Add mailer previews for creatorship notifications
  Gemfile
  Gemfile.lock
  app/mailers/user_mailer.rb
  app/models/creatorship.rb
  config/environments/development.rb
  config/environments/staging.rb
  config/initializers/monkeypatches/mailers_controller.rb
  features/support/factories.rb
  spec/spec_helper.rb
  test/mailers/previews/application_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review, Gem Updates

AO3-5734 (revise, hopefully for the last time)
  app/models/download.rb
  spec/models/download_spec.rb
Labels: Awaiting Review

[wip]
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-2197 Fix edge cases of chapter kudos cleanup
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  app/sweepers/kudos_sweeper.rb
  factories/kudos.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-4603 Allow meta key in modal for macOS
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

Use db for original creator storage
  app/models/pseud.rb
  app/models/work.rb
  db/migrate/20220717185757_add_original_creators_to_work.rb
  features/step_definitions/admin_steps.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

Job to clean original_creator_ids
  app/models/work.rb
  config/config.yml
  config/resque_schedule.yml
  spec/models/work_spec.rb
Labels: Awaiting Review

Fix style issues
  db/migrate/20220717185757_add_original_creators_to_work.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-2197 Fix edge cases of chapter kudos cleanup (#4293)
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  app/sweepers/kudos_sweeper.rb
  factories/kudos.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-6307 Add mailer previews for creatorship notifications (#4292)
  Gemfile
  Gemfile.lock
  app/mailers/user_mailer.rb
  app/models/creatorship.rb
  config/environments/development.rb
  config/environments/staging.rb
  config/initializers/monkeypatches/mailers_controller.rb
  features/support/factories.rb
  spec/spec_helper.rb
  test/mailers/previews/application_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review, Gem Updates

AO3-6307 Fix factory_bot loading for mailer previews
  test/mailers/previews/application_mailer_preview.rb
Labels: Awaiting Review

AO3-6307 Fix factory_bot loading for mailer previews (#4295)
  test/mailers/previews/application_mailer_preview.rb
Labels: Awaiting Review

AO3-4603 Allow meta key in modal for macOS (#4294)
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Awaiting Review

AO3-6307 Fix faker loading for mailer previews
  Gemfile
Labels: Awaiting Review, Gem Updates

Remove duplicated gem requirement
  Gemfile
Labels: Awaiting Review, Gem Updates

Helper and integration test fixes per review
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/other_a/preferences_edit_more.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/preferences_steps.rb
  features/step_definitions/user_steps.rb
  features/users/hide_from_search_engines.feature
Labels: Awaiting Review

AO3-6192 Added Rake task to expire commenting on admin posts older than a configurable period
  config/config.yml
  config/schedule.rb
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/admin_steps.rb
  lib/tasks/admin_post_tasks.rake
Labels: Awaiting Review

Fixed ApplicationHelpers.disallow_robots? attribute access bug
  app/helpers/application_helper.rb
Labels: Awaiting Review

AO3-6371 Add no resets role
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  lib/tasks/defaults.rake
  spec/lib/tasks/defaults.rake_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
