Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6719 Control which types of comments have image safety mode enabled via config
  app/models/comment.rb
  app/views/comments/_single_comment.html.erb
  app/views/inbox/_inbox_comment_contents.html.erb
  config/config.yml
  features/comments_and_kudos/inbox.feature
  features/step_definitions/comment_steps.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6719 Remove outdated test that is covered elsewhere
  features/comments_and_kudos/comments_adminposts.feature
Labels: Awaiting Review

AO3-6719 Use // instead of %r{} for regex
  lib/html_cleaner.rb
Labels: Awaiting Review

AO3-6719 Make strip_images work when no src
  lib/html_cleaner.rb
Labels: Awaiting Review

AO3-6719 Make sure tests are returning something that resembles what a sanitized field would return
  spec/models/feedback_reporters/abuse_reporter_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Awaiting Review

AO3-6719 Test strip_images with a variety of img tags
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6719 Code style
  spec/mailers/admin_mailer_spec.rb
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6719 Have we ever heard of committing the tests? No
  features/comments_and_kudos/image_safety_mode.feature
Labels: Awaiting Review

AO3-6719 Add image-safety-mode to cache key
  app/views/comments/_single_comment.html.erb
Labels: Awaiting Review

AO3-6719 Tidy, extend tests
  app/helpers/comments_helper.rb
  app/views/comments/_single_comment.html.erb
  features/comments_and_kudos/image_safety_mode.feature
Labels: Awaiting Review

AO3-6719 Update steps to ensure we're running the sanitizer
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

AO3-6719 Use the HTML that breaks right for the tags too
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

AO3-6719 Woof
  features/step_definitions/comment_steps.rb
Labels: Awaiting Review

AO3-6719 Remove a duplicate cuke, add a little more coverage in email specs
  features/comments_and_kudos/add_comment.feature
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review

AO3-6565 Appease dog somewhat
  app/models/indexing/scheduled_reindex_job.rb
  app/models/pseud.rb
  app/models/roles_user.rb
  app/models/search/user_query.rb
Labels: Awaiting Review

AO3-6565 Appease dog somewhat 2
  app/models/pseud.rb
  app/models/search/user_indexer.rb
Labels: Awaiting Review

AO3-6493 Basic functionality
  app/mailers/tag_wrangling_admin_mailer.rb
  app/models/user.rb
  app/views/tag_wrangling_admin_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_admin_mailer/wrangler_username_change_notification.text.erb
  features/users/user_rename.feature
  test/mailers/previews/tag_wrangling_admin_mailer_preview.rb
Labels: Awaiting Review

AO3-6493 Only notify for wranglers
  app/models/user.rb
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-6493 I18n emails
  app/mailers/tag_wrangling_admin_mailer.rb
  app/models/user.rb
  app/views/tag_wrangling_admin_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_admin_mailer/wrangler_username_change_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/tag_wrangling_admin_mailer_spec.rb
  test/mailers/previews/tag_wrangling_admin_mailer_preview.rb
Labels: Awaiting Review

AO3-6719 Leave src URLs instead of emptiness for images stripped in AO3-6564 (#4799)
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  app/views/admin/banners/_banner.html.erb
  app/views/bookmarks/_bookmark_blurb_short.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/comments/_single_comment.html.erb
  app/views/inbox/_inbox_comment_contents.html.erb
  app/views/layouts/_banner.html.erb
  app/views/pseuds/_pseud_module.html.erb
  app/views/share/_embed_meta_bookmark.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/config.yml
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/comments_and_kudos/image_safety_mode.feature
  features/comments_and_kudos/inbox.feature
  features/other_a/abuse_report.feature
  features/other_b/support.feature
  features/step_definitions/comment_steps.rb
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/models/comment_spec.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Awaiting Review

AO3-6493 Configurable email address
  app/mailers/tag_wrangling_admin_mailer.rb
  app/models/user.rb
  config/config.yml
  config/locales/mailers/en.yml
  features/users/user_rename.feature
  spec/mailers/tag_wrangling_admin_mailer_spec.rb
  test/mailers/previews/tag_wrangling_admin_mailer_preview.rb
Labels: Awaiting Review

AO3-6493 Better email address config name
  app/mailers/tag_wrangling_admin_mailer.rb
  config/config.yml
  spec/mailers/tag_wrangling_admin_mailer_spec.rb
Labels: Awaiting Review

AO3-6493 Reviewdog
  app/models/user.rb
Labels: Awaiting Review

AO3-6565 Appease dog somewhat 3
  app/views/admin/admin_users/index.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6565 Fix
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6493 Use placeholder email address
  config/config.yml
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-6493 Rename TagWranglingAdminMailer to TagWranglingSupervisorMailer
  app/mailers/tag_wrangling_supervisor_mailer.rb
  app/models/user.rb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/tag_wrangling_supervisor_mailer_spec.rb
  test/mailers/previews/tag_wrangling_admin_mailer_preview.rb
  test/mailers/previews/tag_wrangling_supervisor_mailer_preview.rb
Labels: Awaiting Review

AO3-5890 - Add link to individual prompt and prompt user for prompt meme posts
  app/views/prompts/_prompt_blurb.html.erb
Labels: Awaiting Review

AO3-6700 - finish ticket, i18n compliant.
  app/views/orphans/_orphan_user.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6700 - address pr feedback.
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6674 Upgrade gems and config to Rails 7.0 (#4727)
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/collection_participants_controller.rb
  app/controllers/external_works_controller.rb
  app/helpers/application_helper.rb
  app/helpers/skin_cache_helper.rb
  app/views/downloads/show.html.erb
  bin/rails
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/i18n-tasks.yml
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/cookie_rotator.rb
  config/initializers/cors.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/new_framework_defaults_7_0.rb
  config/locales/controllers/en.yml
  db/schema.rb
  features/other_a/languages.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/prompt_memes_c/challenge_promptmeme_claims.feature
  features/step_definitions/email_steps.rb
  features/support/formatter.rb
  features/tag_sets/tag_set_associations.feature
  features/works/work_related.feature
  lib/challenge_core.rb
  lib/tasks/after_tasks.rake
  spec/controllers/external_works_controller_spec.rb
  spec/helpers/share_helper_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Gem Updates

AO3-6017 Merge fix
  spec/mailers/admin_mailer_spec.rb
Labels: Awaiting Review

AO3-6612 AO3-6710 Extend creatopship mailer previews
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6710 Remove creatorship_notification i18n for works
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6710 Update tests for creatorship_notification
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-5578 Replace kt-paperclip with ActiveStorage
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/views/challenge_claims/_unposted_claim_blurb.html.erb
  app/views/collection_items/_item_fields.html.erb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/_form.html.erb
  app/views/collections/_header.html.erb
  app/views/pseuds/_pseuds_form.html.erb
  config/docker/Dockerfile
  config/environments/production.rb
  config/environments/staging.rb
  config/locales/models/en.yml
  config/storage.yml
  db/migrate/20240323013245_create_active_storage_tables.active_storage.rb
  lib/tasks/after_tasks.rake
  spec/controllers/pseuds_controller_spec.rb
Labels: Awaiting Review, Gem Updates, Has Migrations

Task to migrate icons in S3
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

Ah lockfiles, my constant nemesis
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6087 (tweaking test messages)
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6493 Use standard informal greeting
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.text.erb
  config/locales/mailers/en.yml
  test/mailers/previews/tag_wrangling_supervisor_mailer_preview.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
