Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Fix brackets issue
  app/views/admin/admin_invitations/index.html.erb
Labels: Awaiting Review

AO3-6896 wrap long username in kudos
  public/stylesheets/site/2.0/10-types-groups.css
Labels: Awaiting Review

AO3-6935 Change skin title uniqueness to case insensitive
  app/models/skin.rb
  spec/models/skin_spec.rb
Labels: Awaiting Review

AO3-6913 AO3-6597 Allow queue to send invitations every N hours (#5091)
  .erb-lint.yml
  app/controllers/invite_requests_controller.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/views/admin/admin_invitations/index.html.erb
  app/views/admin/settings/index.html.erb
  app/views/invite_requests/_index_closed.html.erb
  app/views/invite_requests/_index_open.html.erb
  app/views/invite_requests/_invite_request.html.erb
  app/views/invite_requests/status.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/models/invite_request_spec.rb
Labels: Awaiting Review

AO3-5573 Fix sorting on user collected works page (#5093)
  app/views/works/_collection_filters.html.erb
  features/search/works_collected.feature
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Awaiting Review

AO3-6877 Change collection name to title for notes on works that fill prompts (#5102)
  app/views/works/_work_header_notes.html.erb
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/prompt_memes_c/challenge_promptmeme_claims.feature
Labels: Awaiting Review

AO3-6952 Skip submitting deleted comments to spam checker when spam-banning (#5115)
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

AO3-6961 Fix incorrect classes on caution text and update Reversi styling of caution text (#5123)
  app/views/orphans/_orphan_pseud.html.erb
  app/views/orphans/_orphan_series.html.erb
  app/views/orphans/_orphan_user.html.erb
  app/views/orphans/_orphan_work.html.erb
  app/views/users/change_username.html.erb
  app/views/works/_adult.html.erb
  app/views/works/confirm_delete_multiple.html.erb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Awaiting Review

AO3-6957 Fix highlight for form fields outside dl's (#5121)
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

AO3-6830 Add creator IDs to abuse reports (#5088)
  app/models/abuse_report.rb
  app/models/feedback_reporters/abuse_reporter.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
Labels: Awaiting Review

AO3-6578 Normalize i18n-task
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-5513 Fix tests
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_wrangling_media.feature
Labels: Awaiting Review

Fix style issues
  app/models/redis_mail_queue.rb
Labels: Awaiting Review

AO3-5919 Use set to avoid KEYS command to deliver kudos
  app/models/redis_mail_queue.rb
Labels: Awaiting Review

AO3-6684 Add accessible label for hide banner button
  app/views/layouts/_banner.html.erb
Labels: Awaiting Review

Remove unused selector from CSS
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Update hover and focus of hide banner on reversi skin
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Awaiting Review

AO3-3524 Add 4shared.com to allowed embeds
  lib/otw_sanitize/embed_sanitizer.rb
Labels: Awaiting Review

Rubocop fixes
  lib/otw_sanitize/embed_sanitizer.rb
Labels: Awaiting Review

Center the X bubble on the corner
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

Fix indentation linter issue
  app/views/layouts/_banner.html.erb
Labels: Awaiting Review

Pull out moderation/spam related specs
  spec/controllers/comments/comment_moderation__spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-6388 Add confirm email change request mail
  app/controllers/users_controller.rb
  app/mailers/archive_devise_mailer.rb
  app/views/admin/mailer/reset_password_instructions.html.erb
  app/views/admin/mailer/reset_password_instructions.text.erb
  app/views/tos_update_mailer/tos_update_notification.html.erb
  app/views/tos_update_mailer/tos_update_notification.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  app/views/user_mailer/admin_spam_work_notification.html.erb
  app/views/user_mailer/admin_spam_work_notification.text.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  app/views/users/mailer/confirmation_instructions.html.erb
  app/views/users/mailer/confirmation_instructions.text.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  config/initializers/devise.rb
  config/locales/controllers/en.yml
  config/locales/mailers/en.yml
  config/routes.rb
  db/migrate/20250407174814_add_unconfirmed_email_to_users.rb
  spec/mailers/archive_devise_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/archive_devise_mailer_preview.rb
Labels: Awaiting Review, Has Migrations

Switch order of tests
  spec/controllers/comments/comment_moderation__spec.rb
Labels: Awaiting Review

Move blocking spec into folder
  spec/controllers/comments/comments_controller_blocking_spec.rb
Labels: Awaiting Review

Fix typo in file name
  spec/controllers/comments/comment_moderation_spec.rb
Labels: Awaiting Review

Pull out default rails actions into a spec file
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Update default_rails_actions_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
Labels: Awaiting Review

Create freeze_spec.rb
  spec/controllers/comments/freeze_spec.rb
Labels: Awaiting Review

Delete duplicate freeze specs
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Pull out hide specs
  spec/controllers/comments/hide_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Renamed blocking spec file
  spec/controllers/comments/blocking_spec.rb
Labels: Awaiting Review

Pull out reply specs
  spec/controllers/comments/reply_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Pull out hidden/unrevealed specs
  spec/controllers/comments/hidden_and_unrevealed_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

Move file with remaining specs
  spec/controllers/comments/comments_controller_spec.rb
Labels: Awaiting Review

Newlines
  spec/controllers/comments/hidden_and_unrevealed_spec.rb
  spec/controllers/comments/reply_spec.rb
Labels: Awaiting Review

Rubocop indentation
  spec/controllers/comments/comment_moderation_spec.rb
  spec/controllers/comments/comments_controller_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/comments/reply_spec.rb
Labels: Awaiting Review

AO3-6956 Corrected error message for duplicate comments
  app/models/comment.rb
Labels: Awaiting Review

AO3-6918 Initial implementation
  Gemfile
  Gemfile.lock
  app/controllers/admin/sessions_controller.rb
  app/controllers/admins_controller.rb
  app/controllers/application_controller.rb
  app/helpers/qr_code_helper.rb
  app/models/admin.rb
  app/views/admin/preferences/show.html.erb
  app/views/admin/preferences/totp_setup.erb
  app/views/admin/preferences/totp_setup_backup_codes.html.erb
  app/views/admin/sessions/totp.html.erb
  app/views/users/sessions/_greeting.html.erb
  config/application.rb
  config/initializers/devise.rb
  config/initializers/filter_parameter_logging.rb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20250407201151_add_devise_two_factor_to_admins.rb
  docker-compose.yml
  public/stylesheets/site/2.0/02-elements.css
Labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6918 lint
  app/controllers/admin/sessions_controller.rb
  app/controllers/admins_controller.rb
  app/helpers/qr_code_helper.rb
  app/models/admin.rb
  app/views/admin/preferences/show.html.erb
  app/views/admin/preferences/totp_setup.erb
  config/config.yml
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
