Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-3846 Added tests demonstrating the buggy behavior of ordering for draft chapters
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-3846 Added (Draft) to draft chapters on manage chapters page
  app/views/chapters/manage.html.erb
Labels: Awaiting Review

AO3-3846 Made reordering include draft works
  app/models/work.rb
Labels: Awaiting Review

AO3-3846 Added a test for handling of partially set chapter orderings
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-3846 Corrected rspec errors
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-3846 Updated feature test to match html changes
  features/works/chapter_edit.feature
Labels: Awaiting Review

AO3-6339 Bump Rails to 6.0.5 (#4228)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-6338 Removed unused CollectionItem methods (#4258)
  app/models/collection_item.rb
Labels: Awaiting Review

AO3-2675 Prevent adding parent skins with blank titles (#4196)
  app/controllers/skins_controller.rb
  app/models/skin.rb
  spec/models/skin_parent_spec.rb
Labels: Awaiting Review

AO3-6352 Add default Content-Security-Policy response header (#4255)
  config/application.rb
  spec/requests/security_headers_spec.rb
Labels: Awaiting Review

AO3-5775 Add language to Download HTML view (#3918)
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Awaiting Review

AO3-5780 Add thousands separators to long numbers on series pages (#4254)
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  features/other_b/series.feature
Labels: Awaiting Review

AO3-6345 Return 404 when accessing admin user page for nonexistent user (#4242)
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

Use pseud byline for download authors (#3609)
  app/models/download.rb
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6159 Updated pseud deletion preview text (#4238)
  app/views/pseuds/delete_preview.html.erb
Labels: Awaiting Review

AO3-6200 Make bookmark_if_exists faster to handle orphan_account (#4225)
  app/helpers/bookmarks_helper.rb
  spec/helpers/bookmarks_helper_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-5709 Remove factory_girl references from download specs
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6346 remove unnecessary parts
  app/controllers/errors_controller.rb
  spec/controllers/errors_controller_spec.rb
Labels: Awaiting Review

AO3-5709 Remove factory_girl references from download specs (#4262)
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6328 Add tests for reindexing, fix IndexQueue key computing
  app/models/indexing/index_queue.rb
  spec/models/tag_spec.rb
  spec/support/tag_spec_helper.rb
Labels: Awaiting Review

AO3-6328 Hound fixes
  app/models/indexing/index_queue.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-5054 user rename updates kudos
  app/models/kudo.rb
  app/models/user.rb
  app/sweepers/kudos_sweeper.rb
  app/views/kudos/_kudos.html.erb
  features/users/user_rename.feature
Labels: Awaiting Review

AO3-6328 Use base_class in IndexQueue
  app/models/indexing/index_queue.rb
Labels: Awaiting Review

AO3-5522: Limit number of password resets
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  config/config.yml
  config/locales/controllers/en.yml
  db/migrate/20220612064434_add_resets_requested_to_users.rb
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  spec/models/user_spec.rb
Labels: Awaiting Review, Has Migrations

Style fixes
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-6250 Feedback
  app/mailers/comment_mailer.rb
  app/models/comment.rb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review

AO3-3846 changed works -> chapters in test description
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-3846 Make draft chapters display on chapter rearrange page (#3799)
  app/controllers/chapters_controller.rb
  app/models/work.rb
  app/views/chapters/manage.html.erb
  features/works/chapter_edit.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

AO3-6346 Return HTML error pages for non-registered MIME types (#4250)
  app/controllers/errors_controller.rb
  spec/controllers/errors_controller_spec.rb
Labels: Awaiting Review

AO3-6358 Overwrite local configuration files in Docker init.sh (#4261)
  .gitignore
  script/docker/init.sh
Labels: Awaiting Review

AO3-5054 user rename updates kudos (new approach + tests)
  app/models/kudo.rb
  app/models/user.rb
  app/models/work.rb
  app/sweepers/kudos_sweeper.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

AO3-5054 fix indentation/quotes.
  app/models/work.rb
Labels: Awaiting Review

AO3-5734 Stop truncating and sanitizing page titles of HTML downloads
  app/models/download.rb
  features/works/work_download.feature
  spec/models/download_spec.rb
Labels: Awaiting Review

AO3-6216 Fix link for related works in downloads (#4135)
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_download_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Awaiting Review

AO3-6318 Include series in the privay preference "Hide my work from search engines when possible"
  app/views/layouts/application.html.erb
  public/help/privacy-preferences.html
Labels: Awaiting Review

AO3-6127 Apply changes
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  config/routes.rb
Labels: Awaiting Review

AO3-6264 update invitation email text
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

update cucumber tests to check invite email contents
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
Labels: Awaiting Review

AO3-6264 update text of email requested changes
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6264 update cucumber tests to click on second link in invitation email instead of first
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
Labels: Awaiting Review
