Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6003 Mark mailer locale as used
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Awaiting Review

AO3-6003 Ignore unused of locale used by Justifiable concern
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Ignore unused of more devise locale
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Ignore unused of more ActiveRecord locale
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Add test to ensure locale does not contain newlines
  config/i18n-tasks.yml
  lib/i18n_newlines_tasks.rb
  spec/i18n_spec.rb
Labels: Awaiting Review

AO3-6003 Remove newlines from signup_notification mailer locale
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6003 Move i18n_spec to better location
  spec/lib/i18n/i18n_tasks_spec.rb
Labels: Awaiting Review

AO3-6003 Changed config to search files of all locales
  config/i18n-tasks.yml
  spec/lib/i18n/i18n_tasks_spec.rb
Labels: Awaiting Review

AO3-6003 Minor fixes
  Gemfile
  lib/i18n_newlines_tasks.rb
  spec/lib/i18n/i18n_tasks_spec.rb
Labels: Awaiting Review, Gem Updates

AO3-6003 Add locale that uses default values to ignore_missing
  config/i18n-tasks.yml
Labels: Awaiting Review

AO3-6003 Normalize English locale files
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  config/locales/validators/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6512 Use before(:each) instead of before(:all)
  spec/controllers/api/v2/api_works_spec.rb
Labels: Awaiting Review

remove ao3 from WHITELIST-REGEXES
  lib/otw_sanitize/embed_sanitizer.rb
Labels: Awaiting Review

fix tests
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

Revert "fix tests"
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

fix tests
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

add column info to migration
  db/migrate/20230106203903_drop_open_id_tables.rb
Labels: Awaiting Review, Has Migrations

add migration to remove columns from preferences and remove mentions of those columns from preferences.yml
  db/migrate/20230418071728_remove_edit_emails_and_plain_text_skin_from_preferences.rb
  test/fixtures/preferences.yml
Labels: Awaiting Review, Has Migrations

add spam column to comments table
  db/migrate/20230418074141_add_spam_to_comments.rb
Labels: Awaiting Review, Has Migrations

AO3-5777 Update cache keys after merge
  app/views/works/_work_module.html.erb
Labels: Awaiting Review

remove ao3 from elsewhere in embed_sanitizer
  lib/otw_sanitize/embed_sanitizer.rb
Labels: Awaiting Review

AO3-6512 Fix api works RSpec tests leaking state (#4496)
  spec/controllers/api/v2/api_works_spec.rb
Labels: Awaiting Review

AO3-6510 Handle hit counts with RedisHashJobs, a modified version of the RedisSetJob. (#4495)
  app/jobs/hit_count_update_job.rb
  app/jobs/readings_job.rb
  app/jobs/redis_hash_job.rb
  app/jobs/redis_job_spawner.rb
  app/jobs/redis_set_job.rb
  app/jobs/redis_set_job_spawner.rb
  app/jobs/tag_count_update_job.rb
  app/models/redis_hit_counter.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/reading_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  lib/redis_scanning.rb
  spec/jobs/hit_count_update_job_spec.rb
  spec/models/redis_hit_counter_spec.rb
  spec/models/tag_spec.rb
Labels: Awaiting Review

AO3-6509 Retry TagMethodJobs on deadlock and lock wait timeout. (#4494)
  app/jobs/tag_method_job.rb
Labels: Awaiting Review

AO3-6097 Remove Dewplayer from repo (#4427)
  .codeclimate.yml
  .jshintignore
  lib/otw_sanitize/embed_sanitizer.rb
  public/system/dewplayer/README.md
  public/system/dewplayer/covers/0.jpg
  public/system/dewplayer/covers/1.jpg
  public/system/dewplayer/covers/2.jpg
  public/system/dewplayer/covers/3.jpg
  public/system/dewplayer/covers/Thumbs.db
  public/system/dewplayer/dewplayer-bubble-vol.swf
  public/system/dewplayer/dewplayer-bubble.swf
  public/system/dewplayer/dewplayer-mini-127.swf
  public/system/dewplayer/dewplayer-mini.swf
  public/system/dewplayer/dewplayer-multi.swf
  public/system/dewplayer/dewplayer-playlist-cover.swf
  public/system/dewplayer/dewplayer-playlist.swf
  public/system/dewplayer/dewplayer-rect.swf
  public/system/dewplayer/dewplayer-vinyl-en.swf
  public/system/dewplayer/dewplayer-vinyl.swf
  public/system/dewplayer/dewplayer-vol.swf
  public/system/dewplayer/dewplayer.swf
  public/system/dewplayer/dewplayer.zip
  public/system/dewplayer/index-swfobject-js.htm
  public/system/dewplayer/index-xhtml.htm
  public/system/dewplayer/mp3/test1.mp3
  public/system/dewplayer/mp3/test2.mp3
  public/system/dewplayer/mp3/test3.mp3
  public/system/dewplayer/playlist.xml
  public/system/dewplayer/styles.css
  public/system/dewplayer/swfobject.js
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

hound
  db/migrate/20230418074141_add_spam_to_comments.rb
Labels: Awaiting Review, Has Migrations

Revert "AO3-2228 Add color picker for skin wizard (#4366)"
  app/views/skins/_wizard_form.html.erb
  public/help/skins-wizard-accent-color.html
Labels: Awaiting Review

AO3-6514 Revert "AO3-2228 Add color picker for skin wizard" (#4500)
  app/views/skins/_wizard_form.html.erb
  public/help/skins-wizard-accent-color.html
Labels: Awaiting Review

AO3-5556 Don't change collections on preview.
  app/controllers/bookmarks_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/works_controller.rb
  app/models/application_record.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/concerns/collectible.rb
  app/models/concerns/taggable.rb
  app/models/work.rb
  app/views/works/_meta.html.erb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  features/bookmarks/bookmark_create.feature
  features/collections/collection_anonymity.feature
  features/collections/work_preview_collections.feature
  lib/collectible.rb
  spec/lib/works_owner_spec.rb
  spec/models/concerns/collectible_spec.rb
Labels: Awaiting Review

AO3-5556 For Hound.
  app/models/collection_item.rb
Labels: Awaiting Review

AO3-5556 Add test for unmark_for_destruction.
  factories/collections.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review

AO3-6470 Tag wrangler report CSV
  app/controllers/tag_wranglers_controller.rb
  app/policies/tag_wrangler_policy.rb
  app/views/tag_wranglers/show.html.erb
  config/locales/views/en.yml
  config/routes.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

Test & style fixes
  app/controllers/tag_wranglers_controller.rb
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

Fix test the right way
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/tr.yml
Labels: Awaiting Review

Updated translations from Phrase
  config/locales/phrase-exports/bn.yml
Labels: Awaiting Review

--no-edit
  app/controllers/application_controller.rb
  app/controllers/autocomplete_controller.rb
Labels: Awaiting Review

More up-to-date, more generic, error message
  app/controllers/chapters_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

Clearer method name
  app/controllers/chapters_controller.rb
  app/models/chapter.rb
Labels: Awaiting Review

Hound
  app/controllers/chapters_controller.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
