Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-6918 lint 2
  Gemfile
  app/controllers/admin/sessions_controller.rb
  app/models/admin.rb
  config/application.rb
  config/initializers/devise.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review, Gem Updates

Updated to match suggestions
  app/models/comment.rb
  config/locales/models/en.yml
  spec/models/comment_spec.rb
Labels: Awaiting Review

Added test case
  config/locales/models/en.yml
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6918 Fix broken tests
  app/models/admin.rb
  app/views/admin/preferences/show.html.erb
  app/views/admin/preferences/totp_setup.erb
  config/locales/views/en.yml
  features/admins/authenticate_admins.feature
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-6918 integration tests
  app/controllers/admins_controller.rb
  app/models/admin.rb
  app/views/admin/preferences/totp_setup.erb
  config/locales/controllers/en.yml
  docker-compose.yml
  features/admins/authenticate_admins_with_totp.feature
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-6918 Fix i18n & github ci
  .github/workflows/automated-tests.yml
  app/controllers/admin/sessions_controller.rb
  config/locales/views/en.yml
Labels: Awaiting Review

Aligned with formatting guidelines
  spec/models/comment_spec.rb
Labels: Awaiting Review

Fixed test
  spec/models/comment_spec.rb
Labels: Awaiting Review

AO3-6845 display invitations in table
  app/controllers/admin/admin_invitations_controller.rb
  app/views/admin/admin_invitations/find.html.erb
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Awaiting Review

AO3-6845 give invitation view lift up
  app/views/invitations/_invitation.html.erb
Labels: Awaiting Review

AO3-6845 update how params is passed
  app/views/admin/admin_invitations/find.html.erb
Labels: Awaiting Review

AO3-6845 i18n improvement
  app/views/invitations/_invitation.html.erb
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
Labels: Awaiting Review

AO3-6845 i18n improvement
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-6920 Backup code generation script
  app/mailers/admin_mailer.rb
  app/views/admin_mailer/totp_2fa_backup_codes.html.erb
  app/views/admin_mailer/totp_2fa_backup_codes.text.erb
  config/locales/mailers/en.yml
  script/send_backup_codes_to_admin.rb
  test/mailers/previews/admin_mailer_preview.rb
Labels: Awaiting Review

Update config/locales/models/en.yml
  config/locales/models/en.yml
Labels: Awaiting Review

Updated links to documentation in CSS files
  public/stylesheets/site/2.0/01-core.css
  public/stylesheets/site/2.0/02-elements.css
  public/stylesheets/site/2.0/03-region-header.css
  public/stylesheets/site/2.0/04-region-dashboard.css
  public/stylesheets/site/2.0/05-region-main.css
  public/stylesheets/site/2.0/06-region-footer.css
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/09-roles-states.css
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/11-group-listbox.css
  public/stylesheets/site/2.0/12-group-meta.css
  public/stylesheets/site/2.0/13-group-blurb.css
  public/stylesheets/site/2.0/14-group-preface.css
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Awaiting Review

AO3-6845 fix cucumber tests
  features/admins/admin_invitations.feature
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-6845 fix cucumber tests
  features/step_definitions/admin_steps.rb
Labels: Awaiting Review

AO3-6845 fix cucumber tests
  features/other_a/invite_queue.feature
Labels: Awaiting Review

Updated rspec test to only use partial matching
  spec/models/comment_spec.rb
Labels: Awaiting Review

Normalized translations
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6388 Add confirm email change page
  app/controllers/users_controller.rb
  app/views/preferences/index.html.erb
  app/views/users/change_email.html.erb
  app/views/users/confirm_change_email.html.erb
  app/views/users/mailer/confirmation_instructions.html.erb
  app/views/users/mailer/confirmation_instructions.text.erb
  config/locales/controllers/en.yml
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  features/other_a/orphan_account.feature
  features/other_a/preferences_edit.feature
  features/other_a/profile_edit.feature
  features/step_definitions/profile_steps.rb
  features/step_definitions/user_steps.rb
  features/support/paths.rb
  spec/controllers/users_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6388 Add PAC footer
  app/mailers/user_mailer.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  config/locales/mailers/en.yml
  features/step_definitions/email_custom_steps.rb
  spec/mailers/archive_devise_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-6388 Update email change mail
  app/controllers/users_controller.rb
  app/views/user_mailer/change_email.html.erb
  app/views/user_mailer/change_email.text.erb
  config/locales/mailers/en.yml
  features/other_a/profile_edit.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6388 Minor fixes
  app/controllers/admin/admin_users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/mailers/archive_devise_mailer.rb
  config/locales/controllers/en.yml
  db/migrate/20250407174814_add_unconfirmed_email_to_users.rb
  spec/controllers/users_controller_spec.rb
  spec/mailers/archive_devise_mailer_spec.rb
  spec/models/user_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-6388 Remove hardcoded AO3
  app/views/user_mailer/change_email.html.erb
  app/views/user_mailer/change_email.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-5712 Prevent non-fandom tags from another tagset association
  app/models/prompt.rb
  config/locales/models/en.yml
  factories/tags.rb
  spec/models/prompt_spec.rb
Labels: Awaiting Review

Fix regex and update tests
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-6918 Refactor routing
  app/controllers/admin/preferences_controller.rb
  app/controllers/admins_controller.rb
  app/models/admin.rb
  app/views/admin/preferences/show.html.erb
  app/views/admin/preferences/totp_setup.erb
  app/views/users/sessions/_greeting.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
Labels: Awaiting Review

Fixed reply notice
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

AO3-6918 Add rspec
  app/controllers/admin/preferences_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/admin/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6918 Lint
  app/controllers/admin/preferences_controller.rb
  spec/controllers/admin/preferences_controller_spec.rb
Labels: Awaiting Review

AO3-6918 Lint 2
  app/controllers/admin/preferences_controller.rb
Labels: Awaiting Review

AO3-6918 Fix i18n
  app/controllers/admin/preferences_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-6028 Use official role name
  app/views/tag_wrangling_supervisor_mailer/inactive_wrangler_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/inactive_wrangler_notification.text.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.text.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

Fix i18n 2
  app/controllers/admin/preferences_controller.rb
Labels: Awaiting Review

AO3-6388 Change date format to include timezone
  app/models/user.rb
  app/views/users/change_email.html.erb
  app/views/users/change_username.html.erb
  app/views/users/mailer/confirmation_instructions.html.erb
  app/views/users/mailer/confirmation_instructions.text.erb
  features/other_a/profile_edit.feature
  spec/mailers/archive_devise_mailer_spec.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

Review feedback
  app/models/prompt.rb
  spec/models/prompt_spec.rb
Labels: Awaiting Review

Rubocop fix
  app/models/prompt.rb
Labels: Awaiting Review

AO3-6963 Remove excess whitespace from page titles
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/comments_and_kudos/inbox.feature
  features/tag_sets/tag_set.feature
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
