Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

AO3-5949 redirect to series rather than edit series page when cancelling series orphan
  app/controllers/orphans_controller.rb
Labels: Awaiting Review

AO3-5949 A slightly more robust fix for AO3-6402
  app/controllers/users_controller.rb
Labels: Awaiting Review

AO3-5949 Update comment moderation spec
  spec/controllers/comments/comment_moderation_spec.rb
Labels: Awaiting Review

AO3-5949 Be more explicit with relative uri checks
  app/controllers/application_controller.rb
Labels: Awaiting Review

AO3-5949 Add tests for login redirects
  features/users/authenticate_users.feature
Labels: Awaiting Review

AO3-5949 rename it_redirects_to_user_login -> it_redirects_to_user_login_with_error
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/collection_items_controller_spec.rb
  spec/controllers/collection_participants_controller_spec.rb
  spec/controllers/comments/comments_controller_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/comments/freeze_spec.rb
  spec/controllers/comments/hide_spec.rb
  spec/controllers/gifts_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/controllers/opendoors/tools_controller_spec.rb
  spec/controllers/owned_tag_sets_controller_spec.rb
  spec/controllers/readings_controller_spec.rb
  spec/controllers/subscriptions_controller_spec.rb
  spec/controllers/tag_set_associations_controller_spec.rb
  spec/controllers/tag_set_nominations_controller_spec.rb
  spec/controllers/troubleshooting_controller_spec.rb
  spec/controllers/unsorted_tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/support/redirect_expectation_helper.rb
Labels: Awaiting Review

AO3-5949 Fix logout redirect when javascript is disabled
  app/controllers/users/sessions_controller.rb
  app/views/users/sessions/_greeting.html.erb
  app/views/users/sessions/confirm_logout.html.erb
Labels: Awaiting Review

AO3-5949 Update work_edit to account for redirect change
  features/works/work_edit.feature
Labels: Awaiting Review

AO3-5949 Add test for logout redirect without javascript enabled
  features/support/capybara.rb
  features/support/hooks.rb
  features/users/authenticate_users.feature
Labels: Awaiting Review

Sync stylesheets
  public/stylesheets/README.md
  public/stylesheets/site/user_skins_to_load/low_vision_default_site_screen_.css
  public/stylesheets/site/user_skins_to_load/reversi_site_screen_.css
Labels: Awaiting Review

dog
  app/helpers/application_helper.rb
  lib/tasks/skin_tasks.rake
Labels: Awaiting Review

AO3-7122 Change collection open_doors and multifandom nil values to false
  db/migrate/20250906065547_change_collection_multifandom_and_open_doors_default.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Has Migrations

AO3-7122 Use the reindexing task instead
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7122 Remove unneeded negated matcher
  spec/spec_helper.rb
Labels: Awaiting Review

Make spelling of multifandom consistent
  config/locales/views/en.yml
Labels: Awaiting Review

marcus8448: Add cucumber tag to disable js emulation
  features/comments_and_kudos/comments_delete.feature
  features/step_definitions/comment_steps.rb
  features/support/capybara.rb
  features/support/hooks.rb
Labels: Awaiting Review

AO3-5949 Don't reuse previous page when cancel button not clicked
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
Labels: Awaiting Review

AO3-7122 Use migration to change nil to false and then disallow nil values
  db/migrate/20250906065547_change_collection_multifandom_and_open_doors_null_and_default.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/collection_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7122 Change nil to false for collections' open_doors and multifandom columns (#5355)
  db/migrate/20250906065547_change_collection_multifandom_and_open_doors_null_and_default.rb
  spec/models/collection_spec.rb
Labels: Awaiting Review, Has Migrations

AO3-7123 Add filter for multifandom collections
  app/controllers/collections_controller.rb
  app/models/search/collection_query.rb
  app/models/search/collection_search_form.rb
  app/views/collections/_filters.html.erb
  features/collections/collection_browse.feature
  features/step_definitions/collection_steps.rb
  spec/models/search/collection_query_spec.rb
Labels: Awaiting Review

AO3-6026 Fix alignment of tags in collection blurb
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

AO3-7123 i18n
  app/views/collections/_filters.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7123 The word 'Challenge' went missing
  config/locales/views/en.yml
Labels: Awaiting Review

move faq key
  app/views/user_mailer/claim_notification.html.erb
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6026 Fix alignment of tags in collection blurb (#5357)
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

Update auth_error.html.erb
  app/views/errors/auth_error.html.erb
Labels: Awaiting Review

Update application_controller.rb
  app/controllers/application_controller.rb
Labels: Awaiting Review

AO3-6026 Reduce N+1 queries in fandom crossover method
  lib/fandom_crossover.rb
Labels: Awaiting Review

AO3-6026 Reduce N+1 queries in fandom crossover method (#5359)
  lib/fandom_crossover.rb
Labels: Awaiting Review

Update config/locales/mailers/en.yml
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6026 Don't touch collection timestamp when tagging
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

AO3-6026 Don't touch collection timestamp when tagging (#5360)
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

Bump simplecov-cobertura to 3.1.0
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Update en.yml for "current login" clarity
  config/locales/views/en.yml
Labels: Awaiting Review

Update admin_manage_users.feature
  features/admins/users/admin_manage_users.feature
Labels: Awaiting Review

Update admin_manage_users.feature Take Two
  features/admins/users/admin_manage_users.feature
Labels: Awaiting Review

AO3-6026 Fix collection tag backfill issues
  app/models/bookmark.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Allow non-canonicals
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Review feedback
  app/models/bookmark.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Only public bookmarks
  lib/tasks/after_tasks.rake
Labels: Awaiting Review
