Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

Refactor done
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7384 Redirects to 404 page if user does not exist (including deleted users)
  app/controllers/skins_controller.rb
Labels: Awaiting Review

AO3-7384 Test file
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7384 Test file fix
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7384 Test file 2
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7384 Test file 3
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-7384 Fixed Rubocop Errors
  app/controllers/skins_controller.rb
  spec/controllers/skins_controller_spec.rb
Labels: Awaiting Review

AO3-5984 Add over- and under-max word count tests
  features/search/filters.feature
Labels: Awaiting Review

AO3-5984 Deleted confusing documentation line
  config/config.yml
Labels: Awaiting Review

AO3-5984 Clarified documentation again
  config/config.yml
Labels: Awaiting Review

AO3-5984 Modify clamping control flow to fit with tests
  app/models/search/bookmarkable_query.rb
  app/models/search/work_query.rb
Labels: Awaiting Review

AO3-6246 Migrate nomination limit message to i18n
  app/models/tagset_models/tag_set_nomination.rb
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-7506 Add backfill task for missing username pseuds
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Reorder checklist to list Contributing Guidelines first
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Review

AO3-7506 Fix rubocop offenses
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Minor corrections and formatting
  app/views/home/takedown.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Linting
  app/views/home/takedown.html.erb
Labels: Awaiting Review

AO3-6184 Destroy taggings when admin post tag is deleted
  app/models/admin_post_tag.rb
  spec/models/admin_post_tag_spec.rb
Labels: Awaiting Review

Fix incorrect committee link and add Archive of Our Own link
  app/views/home/about.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Changes from PR comments: Remove unreachable code and related spec. Fix new spec naming.
  app/controllers/works_controller.rb
  spec/controllers/works/drafts_spec.rb
Labels: Awaiting Review

AO3-7539 Bump websocket-driver from 0.8.0 to 0.8.2
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7531 Remove active URL validation for external works
  app/controllers/api/v2/bookmarks_controller.rb
  app/models/external_work.rb
  app/validators/url_active_validator.rb
  app/validators/url_format_validator.rb
  features/works/work_related.feature
  spec/models/external_work_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-6028 Update migration timestamp
  db/migrate/20260718085435_add_sent_inactivity_notifications_to_last_wrangling_activity.rb
Labels: Awaiting Review, Has Migrations

AO3-6028 Update email text and default config values
  app/jobs/inactive_wrangler_supervisor_notification_job.rb
  app/mailers/tag_wrangling_supervisor_mailer.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/inactive_wrangler_notification.html.erb
  app/views/user_mailer/inactive_wrangler_notification.text.erb
  config/config.yml
  config/locales/mailers/en.yml
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/mailers/tag_wrangling_supervisor_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/tag_wrangling_supervisor_mailer_preview.rb
Labels: Awaiting Review

AO3-6028 Update inactivity notification to go chairs instead of supervisors
  app/jobs/inactive_wrangler_supervisor_notification_job.rb
  app/mailers/tag_wrangling_leadership_mailer.rb
  app/models/user.rb
  app/views/tag_wrangling_leadership_mailer/inactive_wrangler_notification.html.erb
  app/views/tag_wrangling_leadership_mailer/inactive_wrangler_notification.text.erb
  app/views/tag_wrangling_leadership_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_leadership_mailer/wrangler_username_change_notification.text.erb
  config/config.yml
  config/locales/mailers/en.yml
  features/step_definitions/email_custom_steps.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/jobs/inactive_wrangler_supervisor_notification_job_spec.rb
  spec/mailers/tag_wrangling_leadership_mailer_spec.rb
  test/mailers/previews/tag_wrangling_leadership_mailer_preview.rb
  test/mailers/previews/tag_wrangling_supervisor_mailer_preview.rb
Labels: Awaiting Review

AO3-6028 Skip notifications if threshold is zero
  app/jobs/inactive_wrangler_notification_job.rb
  app/jobs/inactive_wrangler_supervisor_notification_job.rb
  spec/jobs/inactive_wrangler_notification_job_spec.rb
  spec/jobs/inactive_wrangler_supervisor_notification_job_spec.rb
Labels: Awaiting Review

AO3-6028 Normalize i18n
  config/locales/mailers/en.yml
Labels: Awaiting Review

AO3-6028 Update email subject
  app/mailers/user_mailer.rb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review

AO3-7531 Fix RuboCop lint errors
  app/validators/url_format_validator.rb
  spec/models/external_work_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

AO3-2373 when testing if a related work email has been sent, it now actually checks that the right type of email was sent
  features/step_definitions/work_related_steps.rb
  features/works/work_related.feature
Labels: Awaiting Review

AO3-2373 Rubocop likes Cucumber expressions better than regex
  features/step_definitions/work_related_steps.rb
Labels: Awaiting Review

fix review comments
  lib/css_cleaner.rb
  spec/lib/css_cleaner_spec.rb
Labels: Awaiting Review

Adress PR Comments
  app/views/layouts/mailer.html.erb
Labels: Awaiting Review

Update spec/support/shared_examples/mailer_shared_examples.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Awaiting Review

Merge i18n keys for About page h2 title
  app/views/home/about.html.erb
  config/locales/views/en.yml
Labels: Awaiting Review

Update spec/support/shared_examples/mailer_shared_examples.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Awaiting Review

AO3-7156 Add scheduled task to delete unused admin post tags.
  app/models/admin_post_tag.rb
  config/resque_schedule.yml
  factories/admin_post_tags.rb
  lib/tasks/tag_tasks.rake
  spec/models/admin_post_tag_spec.rb
Labels: Awaiting Review

AO3-4412 fixing the N+1 test for the inbox on the homepage
  spec/requests/homepage_inbox_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7457 Reuse work blurb includes
  app/controllers/readings_controller.rb
  app/models/work.rb
Labels: Awaiting Review

AO3-7457 Rename collection item blurb preload scope
  app/controllers/collection_items_controller.rb
  app/models/collection_item.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
