Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

AO3-7329 Add username to Blocked Users page title
  app/controllers/blocked/users_controller.rb
  config/locales/controllers/en.yml
  features/users/blocking.feature
Labels: Awaiting Review

AO3-7330 Add username to History page title
  app/controllers/readings_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

Add test to inbox_controller_spec for Error 404 message
  spec/controllers/inbox_controller_spec.rb
Labels: Awaiting Review

address pr comments
  spec/models/search/tag_indexer_spec.rb
Labels: Awaiting Review

AO3-7328 Delete testing/linter-related binstubs
  bin/brakeman
  bin/rubocop
Labels: Awaiting Review

Remove PseudIndexer test
  spec/models/search/pseud_indexer_spec.rb
Labels: Awaiting Review

Disallowed assignment of non-canonical fandoms through site
  app/controllers/tag_wranglers_controller.rb
  app/views/tags/edit.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
Labels: Awaiting Review

Proper pluralization
  app/controllers/tag_wranglers_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7330 Reflect changes in testing
  features/other_a/reading.feature
Labels: Awaiting Review

Added rake task
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Finalized tests
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Adressed rubocop
  app/controllers/tag_wranglers_controller.rb
Labels: Awaiting Review

Adressed style
  app/views/tags/edit.html.erb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Reverted some changes
  app/controllers/tag_wranglers_controller.rb
  lib/tasks/after_tasks.rake
Labels: Awaiting Review

Forgot an S
  app/controllers/tag_wranglers_controller.rb
Labels: Awaiting Review

Fixed pluralization
  app/controllers/tag_wranglers_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

AO3-7342 Update embed sanitizer to new Allow syntax
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

fix issues with rubocop
  lib/otw_sanitize/embed_sanitizer.rb
Labels: Awaiting Review

Fixed locales
  app/controllers/tag_wranglers_controller.rb
  config/locales/controllers/en.yml
Labels: Awaiting Review

Fixed test
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Switched to factory
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

AO3-7346 Bump json from 2.18.1 to 2.19.2
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

Add migration for new imported urls table
  db/migrate/20260318013837_create_imported_urls.rb
Labels: Awaiting Review, Has Migrations

Remove wrangler (x) button on tag wranglers page so clickable area matches button instead of text
  app/views/tag_wranglers/index.html.erb
Labels: Awaiting Review

Added model and fixed syntax
  app/models/imported_url.rb
  db/migrate/20260318013837_create_imported_urls.rb
Labels: Awaiting Review, Has Migrations

Remove wrangler (x) button on tag wranglers page, make clickable area match button
  app/views/tag_wranglers/index.html.erb
Labels: Awaiting Review

Syntax changes for appropraite version syntax
  app/views/tag_wranglers/index.html.erb
Labels: Awaiting Review

Update tag_wrangling tests to use × instead of x
  features/tags_and_wrangling/tag_wrangling_admin.feature
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Awaiting Review

AO3-7328 Upgrade gems and configs to Rails 8.1.x (#5635)
  Gemfile
  Gemfile.lock
  app/models/tag.rb
  bin/brakeman
  bin/rubocop
  bin/setup
  config/application.rb
  config/initializers/content_security_policy.rb
  lib/autocomplete_source.rb
Labels: Awaiting Review, Gem Updates

AO3-7346 Bump json from 2.18.1 to 2.19.2 (#5647)
  Gemfile.lock
Labels: Awaiting Review, Gem Updates

AO3-7350 Add test
  spec/requests/readings_n_plus_one_spec.rb
Labels: Awaiting Review

AO3-7350 Fix N+1 queries on readings index
  app/controllers/readings_controller.rb
Labels: Awaiting Review

AO3-6198 Use empty strings for Akismet info in config
  config/config.yml
Labels: Awaiting Review

AO3-6454 Remove Akismetor and handle Akismet API calls ourselves
  Gemfile
  Gemfile.lock
  app/models/abuse_report.rb
  app/models/comment.rb
  app/models/feedback.rb
  app/models/work.rb
  config/initializers/monkeypatches/akismetor.rb
  features/support/hooks.rb
  lib/akismet_client.rb
  spec/lib/akismet_client_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review, Gem Updates

AO3-6454 Set Akismet key and blog in client
  app/models/abuse_report.rb
  app/models/comment.rb
  app/models/feedback.rb
  app/models/work.rb
  lib/akismet_client.rb
  spec/lib/akismet_client_spec.rb
Labels: Awaiting Review

Merge fix
  config/locales/views/en.yml
Labels: Awaiting Review

AO3-7330 Add username to History page title (#5644)
  app/controllers/readings_controller.rb
  config/locales/controllers/en.yml
  features/other_a/reading.feature
Labels: Awaiting Review

AO3-7323 Update introductory text on logged-out homepage (#5629)
  app/views/home/_intro_module.html.erb
  config/locales/views/en.yml
  features/other_a/homepage.feature
Labels: Awaiting Review

AO3-7329 Add username to Blocked Users page title (#5643)
  app/controllers/blocked/users_controller.rb
  config/locales/controllers/en.yml
  features/users/blocking.feature
Labels: Awaiting Review

AO3-7120 Change user troubleshooting to also reindex user in admin user search (#5484)
  app/controllers/admin/admin_users_controller.rb
  config/locales/views/en.yml
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Awaiting Review

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"
