Repository otwcode/otwarchive, changes with the labels that .github/labeler.yml gives for each.
All labels: Awaiting Review, Gem Updates, Has Migrations

.github/labeler.yml:

# Label to be added when the PR is updated:
"Awaiting Review":
  - "**/*"

# Labels to be removed when the PR is updated:
"Reviewed: Ready to Merge": []
"Reviewed: Action Needed": []

# Labels based on which files are modified:
"Gem Updates":
  - "Gemfile"
  - "Gemfile.lock"

"Has Migrations":
  - "db/migrate/**/*"

"Scope: i18n Only":
  - all:
    - "config/locales/**/*"

"Scope: Tests Only":
  - all:
    - "+(factories|features|spec|test|.github)/**/*"

No ao3-app19
  config/servers.yml
Labels: Awaiting Review

Hopefully the tests should fail
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
Labels: Awaiting Review

Found more bits
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmarks.html.erb
Labels: Awaiting Review

And remove the failing test
  features/bookmarks/bookmark_create.feature
Labels: Awaiting Review

Listen to the hound
  app/controllers/bookmarks_controller.rb
Labels: Awaiting Review

Style and minor test fixes
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/work_skin.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review

Install libvips for tests
  .github/workflows/automated-tests.yml
Labels: Awaiting Review

AO3-6612 Use separate methods instead of url parameters
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Remove uneeded div
  app/views/bookmarks/_bookmark_blurb.html.erb
Labels: Awaiting Review

AO3-6704 Match mailer preview name to mailer name
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

Follow Sarkens instructions (I hope)
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

AO3-6723 Update i18n-tasks and use default_i18n_subject matcher
  Gemfile.lock
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  config/i18n-tasks.yml
Labels: Awaiting Review, Gem Updates

Validate skins with "archive" in title
  app/controllers/skins_controller.rb
  app/models/skin.rb
  config/locales/models/en.yml
  db/migrate/20240416174046_add_unique_index_to_skins_title.rb
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
Labels: Awaiting Review, Has Migrations

AO3-4820-AO3-3810 Fix
  app/models/skin.rb
Labels: Awaiting Review

Normalize
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6565 Feedback
  app/views/admin/admin_users/index.html.erb
  app/views/admin/admin_users/show.html.erb
Labels: Awaiting Review

Update preview name
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-4820-AO3-3810 Remove support link
  app/models/skin.rb
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-5371 Add descriptive classes to external work and series blurbs (#4560)
  app/helpers/bookmarks_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  config/locales/models/en.yml
Labels: Awaiting Review

AO3-6720 Use Latin-script Serbian locale instead of Cyrillic (#4797)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/sr.yml
Labels: Awaiting Review

AO3-6570 Import Work error message overflows for long URLs (#4716)
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Awaiting Review

AO3-6087 Stop removing non-printable Unicode characters (#4798)
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Awaiting Review

AO3-5860 Prevent leaving comments or kudos when logged in as admin (#4378)
  app/controllers/comments_controller.rb
  app/controllers/kudos_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_comment_form.html.erb
  app/views/comments/_commentable.html.erb
  config/locales/views/en.yml
  features/admins/admin_settings.feature
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/kudos.feature
  features/importing/work_import.feature
  features/tags_and_wrangling/tag_comment.feature
  spec/controllers/comments_controller_spec.rb
  spec/controllers/kudos_controller_spec.rb
Labels: Awaiting Review

AO3-5506 Don't include hidden works in Readings (#4781)
  app/controllers/readings_controller.rb
  app/controllers/works_controller.rb
  features/other_a/reading.feature
Labels: Awaiting Review

AO3-6704 Use URL from current host in abuse report response mailer preview (#4782)
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6017 Add role of commenter to comment notification emails (#4683)
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Awaiting Review

AO3-6725 remove get recent bookmarks (#4808)
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/fetch_recent.js.erb
  app/views/bookmarks/hide_recent.js.erb
  config/routes.rb
  features/bookmarks/bookmark_create.feature
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Awaiting Review

AO3-6708 Add indices to owned set taggings (#4789)
  db/migrate/20240404183910_add_indices_to_owned_set_taggings.rb
Labels: Awaiting Review, Has Migrations

AO3-5860 Error message when commenting as admin
  app/controllers/comments_controller.rb
Labels: Awaiting Review

Also prioritize admin warning in view
  app/views/comments/_commentable.html.erb
  features/comments_and_kudos/add_comment.feature
Labels: Awaiting Review

Rabbit hole of behavior changes
  features/comments_and_kudos/comments_adminposts.feature
  features/comments_and_kudos/hidden_works.feature
Labels: Awaiting Review

Revert
  app/controllers/comments_controller.rb
  app/views/comments/_commentable.html.erb
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/comments_and_kudos/hidden_works.feature
Labels: Awaiting Review

AO3-6706 Support Sentinel config for Redis clients (#4787)
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
Labels: Awaiting Review

Just update tests
  features/comments_and_kudos/add_comment.feature
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-5860 Update tests for error message when commenting as admin (#4813)
  features/comments_and_kudos/add_comment.feature
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review

AO3-5351 Make remaining text in feedback response i18n-able (#4788)
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  config/locales/mailers/en.yml
  features/other_b/support.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6710 Add comment to mailer preview special case
  test/mailers/previews/user_mailer_preview.rb
Labels: Awaiting Review

AO3-6724 Update volunteering/about information
  app/controllers/home_controller.rb
  app/views/home/about.html.erb
  app/views/home/donate.html.erb
  config/locales/views/en.yml
  features/other_a/homepage.feature
Labels: Awaiting Review

AO3-6724 Use https for all links
  app/views/home/about.html.erb
  app/views/home/donate.html.erb
Labels: Awaiting Review

AO3-6713 Enable comment moderation for admin posts (#4790)
  .rubocop.yml
  app/controllers/admin_posts_controller.rb
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/policies/comment_policy.rb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/show.html.erb
  app/views/comments/_comment_actions.html.erb
  app/views/comments/_comment_form.html.erb
  app/views/comments/unreviewed.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20240303042804_add_moderated_commenting_enabled_to_admin_posts.rb
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
  features/support/paths.rb
  spec/controllers/comments_controller_spec.rb
Labels: Awaiting Review, Has Migrations
