Repository otwcode/otwarchive, pull requests merged in 2018-07, with the labels that each got.

#3328 AO3-5073 Fix intermittent feature failure by adding a call to reading…
  features/other_a/reading.feature
Labels: Reviewed: Ready to Merge

#3361 AO3-5455 Split RSpec tests into groups to avoid Travis timeouts
  .travis.yml
  spec/controllers/api/api_authorization_spec.rb
  spec/controllers/api/api_base_controller_spec.rb
  spec/controllers/api/api_bookmarks_spec.rb
  spec/controllers/api/api_helper.rb
  spec/controllers/api/api_works_spec.rb
  spec/miscellaneous/helpers/exports_helper_spec.rb
  spec/miscellaneous/helpers/home_helper_spec.rb
  spec/miscellaneous/helpers/inbox_helper_spec.rb
  spec/miscellaneous/helpers/share_helper_spec.rb
  spec/miscellaneous/helpers/tag_sets_helper_spec.rb
  spec/miscellaneous/helpers/user_invite_requests_helper_spec.rb
  spec/miscellaneous/helpers/validation_helper_spec.rb
  spec/miscellaneous/helpers/works_helper_spec.rb
  spec/miscellaneous/lib/autocomplete_source_spec.rb
  spec/miscellaneous/lib/collectible_spec.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
  spec/miscellaneous/lib/logfile_reader_spec.rb
  spec/miscellaneous/lib/string_cleaner_spec.rb
  spec/miscellaneous/lib/tasks/resque.rake_spec.rb
  spec/miscellaneous/lib/url_formatter_spec.rb
  spec/miscellaneous/lib/word_counter_spec.rb
  spec/miscellaneous/lib/works_owner_spec.rb
  spec/miscellaneous/lib/xhtml_splitter_spec.rb
  spec/miscellaneous/mailers/abuse_mailer_spec.rb
  spec/miscellaneous/mailers/collection_mailer_spec.rb
  spec/miscellaneous/mailers/comment_mailer_spec.rb
  spec/miscellaneous/mailers/feedback_mailer_spec.rb
  spec/miscellaneous/mailers/user_mailer_spec.rb
  spec/miscellaneous/requests/comments_spec.rb
  spec/models/elasticsearch/rollout_elasticsearch_upgrade_spec.rb
  spec/models/user_spec.rb
  spec/models/work_search_form_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#3121 AO3-5227 Remove unused advanced_search_string method
  app/helpers/advanced_search_helper.rb
Labels: Reviewed: Ready to Merge

#3123 AO3-5228 AO3-5424 Remove unused tags_helper methods and view
  app/helpers/tags_helper.rb
  app/views/tag_wranglings/_footer.html.erb
Labels: Reviewed: Ready to Merge

#3157 AO3-4928 extend gifts_controller coverage
  factories/gift.rb
  features/other_a/gift.feature
  features/support/paths.rb
  spec/controllers/gifts_controller_spec.rb
  spec/models/gift_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3364 AO3-5462 Change the number of tags displayed in the new tag search.
  app/models/search/tag_query.rb
  config/config.yml
  spec/models/search/tag_query_spec.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3363 AO3-5461 Revise the crossover check to look for a single fandom whose top-level meta-tags are equal to the set of all top-level meta-tags.
  app/models/work.rb
  spec/models/work_spec.rb
Labels: Reviewed: Ready to Merge

#3306 AO3-5329 work search summary
  app/models/search/work_search_form.rb
  features/search/works_info.feature
  features/search/works_stats.feature
Labels: Reviewed: Ready to Merge

#3367 AO3-5463 Show anonymous & unrevealed works in user's Works in Collections
  app/models/search/work_query.rb
  app/models/search/work_search_form.rb
  factories/collections.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#3373 AO3-5468 Change Status to Completion Status on work filter and search
  app/views/works/_filters.html.erb
  app/views/works/_search_form.html.erb
Labels: Reviewed: Ready to Merge

#3371 AO3-5466 Upgrade nokogiri to 1.8.3
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Reviewed: Ready to Merge

#3368 AO3-4842 Stop stripping carriage returns from Support and Abuse request descriptions
  app/models/feedback_reporters/feedback_reporter.rb
Labels: Reviewed: Ready to Merge

#3375 AO3-5470 Make Work.index_name always return the old index name (for IndexSubqueue compatibility)
  app/models/bookmark.rb
  app/models/pseud.rb
  app/models/tag.rb
  app/models/work.rb
  spec/models/elasticsearch/rollout_elasticsearch_upgrade_spec.rb
  spec/models/index_subqueue_spec.rb
Labels: Reviewed: Ready to Merge

#3374 AO3-5467 Standardize fallback fonts in certain places
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/09-roles-states.css
Labels: Reviewed: Ready to Merge

#3377 AO3-5472 Fix filter selection using checkboxes with iOS VoiceOver
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Reviewed: Ready to Merge

#3383 AO3-4842 Add <br /> between paragraphs for Support and PAC tickets
  app/models/feedback_reporters/feedback_reporter.rb
  lib/html_cleaner.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3384 AO3-5472 Fix VoiceOver outline position in iOS 10.3.1
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3060 AO3-5172 Reduce calls to Tag.reset_filter_count in Tag.remove_filter_taggings.
  app/models/tag.rb
Labels: Reviewed: Ready to Merge

#3144 AO3-4579 Challenge signup/creation email address warning
  app/views/challenge_signups/_signup_form.html.erb
  app/views/collections/_form.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#3382 AO3-4470: Standardize caching of admin settings and default skin
  app/controllers/application_controller.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/models/skin.rb
  app/models/tag.rb
  app/models/work.rb
  app/views/users/confirmation.html.erb
  lib/tasks/tag_tasks.rake
Labels: Reviewed: Ready to Merge

#3380 AO3-5167: Improve performance of ownership checks
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/helpers/users_helper.rb
  app/models/collection_item.rb
  app/models/user.rb
Labels: Reviewed: Ready to Merge

#3362 AO3-5456 Remove tests for Elasticsearch 0.90
  .travis.yml
  features/bookmarks/bookmark_browse.feature
  features/bookmarks/bookmark_search.feature
  features/bookmarks/delete_bookmarkable.feature
  features/collections/collectible_closed_collection.feature
  features/collections/collectible_moderated_collection.feature
  features/collections/collectible_open_collection.feature
  features/collections/collection_navigation.feature
  features/other_a/people_search.feature
  features/other_b/bookmark_indexing.feature
  features/search/exceeding_maximum.feature
  features/search/filters.feature
  features/search/people_search.feature
  features/search/works_info.feature
  features/search/works_stats.feature
  features/search/works_tags.feature
  features/step_definitions/search_steps.rb
  features/support/elasticsearch_methods.rb
  features/support/hooks.rb
  features/works/work_browse.feature
  script/prepare_codeship.sh
  script/travis_elasticsearch_upgrade.sh
  spec/controllers/works/rollout_elasticsearch_upgrade_spec.rb
  spec/models/elasticsearch/rollout_elasticsearch_upgrade_spec.rb
  spec/models/index_subqueue_spec.rb
  spec/models/work_search_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3386 AO3-5483 Explain new behavior of spaces in search help text
  public/help/work-search-text-help.html
Labels: Reviewed: Ready to Merge

#3313 AO3-5287 Update filter counts on a schedule.
  app/models/filter_count.rb
  app/models/filter_tagging.rb
  app/models/tag.rb
  app/models/work.rb
  config/resque_schedule.yml
  features/other_a/media.feature
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  spec/models/filter_count_spec.rb
Labels: Reviewed: Ready to Merge

#3391 AO3-5287 Install Redis 3.2.1 on Codeship
  Gemfile
  script/prepare_codeship.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3138 AO3-4905 Removed check for recently reset password in change email sc…
  app/views/users/change_email.html.erb
  features/other_a/profile_edit.feature
  features/step_definitions/profile_steps.rb
Labels: Reviewed: Ready to Merge

#3387 AO3-5484 Handle missing inherited meta tags when computing first-class meta tags for crossover check.
  app/models/work.rb
  spec/models/work_spec.rb
Labels: Reviewed: Ready to Merge

#3390 AO3-5465 Task for reindexing incorrectly classified crossovers/non-crossovers.
  lib/tasks/after_tasks.rake
Labels: Reviewed: Ready to Merge

#3065 AO3-5177: Avoid unnecessary db calls for tag nominations
  app/controllers/tag_set_nominations_controller.rb
  app/models/tagset_models/owned_tag_set.rb
Labels: Reviewed: Ready to Merge

#3381 AO3-5479 Smear the tag counts a bit
  app/models/tag.rb
Labels: Reviewed: Ready to Merge

#3388 AO3-5474 Remove admin setting for disabling guest downloads
  app/controllers/admin/settings_controller.rb
  app/controllers/downloads_controller.rb
  app/models/admin_setting.rb
  app/views/admin/settings/index.html.erb
  app/views/user_sessions/new.html.erb
  db/migrate/20180712000145_remove_guest_downloading_off_from_admin_settings.rb
  features/admins/admin_settings.feature
  features/step_definitions/admin_steps.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3394 AO3-5491 Use cluster health API to wait for Travis ES startup
  script/travis_elasticsearch_upgrade.sh
Labels: Awaiting Review, Scope: Tests Only

#3389 AO3-5485 Run rake db:otwseed in Travis
  .travis.yml
  lib/tasks/database_seed.rake
  script/check_syntax
  test/fixtures/admin_settings.yml
  test/fixtures/admins.yml
  test/fixtures/languages.yml
  test/fixtures/locales.yml
  test/fixtures/questions.yml
  test/fixtures/tags.yml
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only
