Repository otwcode/otwarchive, pull requests merged in 2018-12, with the labels that each got.

#3479 AO3-2839 Use separate migration for failed_attempts default
  db/migrate/20181017032400_moves_users_to_devise.rb
  db/migrate/20181201022717_change_failed_attempts_default.rb
Labels: Has Migrations, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3482 AO3-2839 Handle lost cookies for users
  app/controllers/application_controller.rb
  app/views/home/lost_cookie.html.erb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3484 AO3-2839 Make full-page caching logged-in cookies permanent
  app/controllers/application_controller.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3485 AO3-2839 Keep invitation token when sign-up form is submitted
  app/controllers/users/registrations_controller.rb
  features/users/user_create.feature
  spec/controllers/users/registrations_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3487 AO3-2839 Update selectors for alert flash messages
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3489 AO3-5576 Use Devise::Recoverable.
  app/controllers/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users_controller.rb
  app/mailers/archive_devise_mailer.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/home/first_login_help.html.erb
  app/views/layouts/application.html.erb
  app/views/passwords/new.html.erb
  app/views/user_mailer/reset_password.html.erb
  app/views/user_mailer/reset_password.text.erb
  app/views/users/change_password.html.erb
  app/views/users/change_username.html.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  app/views/users/passwords/edit.html.erb
  app/views/users/passwords/new.html.erb
  app/views/users/sessions/_passwd_small.html.erb
  app/views/users/sessions/new.html.erb
  config/config.yml
  config/environments/test.rb
  config/initializers/devise.rb
  config/locales/devise.en.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20181222022628_remove_recently_reset_from_users.rb
  features/other_a/profile_edit.feature
  features/step_definitions/user_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_comment.feature
  features/users/authenticate_users.feature
  lib/devise_failure_message_options.rb
  test/fixtures/users.yml
Labels: Has Config Changes, Has Migrations, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3490 AO3-2839 Add unique index to Devise token columns
  db/migrate/20181017032400_moves_users_to_devise.rb
  db/migrate/20181222042042_add_unique_index_to_user_confirmation_tokens.rb
Labels: Has Migrations, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3491 AO3-2839 AO3-5576 Update login forms, password reset emails, and password change notice
  app/controllers/users_controller.rb
  app/validators/email_format_validator.rb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/sessions/_passwd.html.erb
  app/views/users/sessions/_passwd_small.html.erb
  config/locales/devise.en.yml
  features/other_a/profile_edit.feature
  features/step_definitions/profile_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  features/tags_and_wrangling/tag_comment.feature
  features/users/authenticate_users.feature
  features/users/password_compatibility.feature
  spec/miscellaneous/requests/comments_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3492 AO3-5588 ao3-app04 returning to the fold
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3493 AO3-5587 Add unique index to user emails
  db/migrate/20181224173813_add_unique_index_to_user_emails.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3494 AO3-5576 Remove outdated footnote on change email page
  app/views/users/change_email.html.erb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3495 AO3-5589 Fix certain passwords
  config/config.yml
  features/users/authenticate_users.feature
  lib/html_cleaner.rb
Labels: Has Config Changes, Priority: Critical, Reviewed: Ready to Merge

#3497 AO3-5590 Fix comment on login lookup
  app/models/user.rb
Labels: Awaiting Review

#3498 AO3-5589 Add password_check to list of encrypted fields
  config/config.yml
Labels: Has Config Changes, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3481 AO3-5579 Update Rails from 5.1.3 to 5.1.6.1
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Reviewed: Ready to Merge

#3499 AO3-5579 Update bullet to 5.9.0
  Gemfile
  Gemfile.lock
Labels: Awaiting Review, Gem Updates, Priority: High - Broken on Test

#3396 AO3-5494 Rescue search errors and respond with error message
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/people_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/works_controller.rb
  app/models/search/query.rb
  app/models/search/query_result.rb
  features/bookmarks/bookmark_search.feature
  features/search/works_info.feature
Labels: Reviewed: Ready to Merge

#3483 AO3-5580 Prevent error in SerialWork after_destroy callback when series is nil.
  app/models/serial_work.rb
  spec/models/serial_work_spec.rb
Labels: Reviewed: Ready to Merge

#3486 AO3-5584 CollectionItemsController permissions.
  app/controllers/collection_items_controller.rb
  app/views/collection_items/_item_fields.html.erb
  spec/controllers/collection_items_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3349 AO3-1305 Fix word count in work preview
  app/controllers/works_controller.rb
  app/models/work.rb
  features/works/work_edit.feature
Labels: Reviewed: Ready to Merge

#3245 AO3-4310 Translate invite request decline email
  app/mailers/user_mailer.rb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  config/locales/en.yml
  spec/miscellaneous/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Scope: i18n Only
