Repository otwcode/otwarchive, pull requests merged in 2018-11, with the labels that each got.

#3457 AO3-5555 Look for new URL in DeviantArt test
  features/importing/work_import_da.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3458 AO3-5558 Check series ownership.
  app/models/work.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#3455 AO3-5543 AO3-5553 Update gems nokogiri and loofah
  Gemfile
  Gemfile.lock
  script/gem_security.sh
Labels: Gem Updates, Reviewed: Ready to Merge

#3460 AO3-5562 Use Dependabot for gem updates
  Gemfile
  script/gem_security.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3464 AO3-5554 Fix ruby version syntax inside .ruby-version
  .ruby-version
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3466 AO3-5566 Add tests for previewing when adding work to collection
  features/collections/collection_anonymity.feature
Labels: Awaiting Review, Priority: Low, Scope: Tests Only

#3465 AO3-5560 Comment permissions on hidden works.
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_comment_actions.html.erb
  app/views/comments/_commentable.html.erb
  app/views/comments/_single_comment.html.erb
  features/comments_and_kudos/hidden_works.feature
  features/support/paths.rb
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3426 AO3-5529 Order collected works by date updated by default
  app/models/search/work_query.rb
  app/models/search/work_search_form.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3467 AO3-5559 Rename bookmark notes, comment content, and series notes columns
  app/controllers/api/v1/bookmarks_controller.rb
  app/controllers/api/v2/bookmarks_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/series_controller.rb
  app/helpers/share_helper.rb
  app/models/bookmark.rb
  app/models/comment.rb
  app/models/search/bookmark_indexer.rb
  app/models/series.rb
  app/views/bookmarks/_bookmark_blurb_short.html.erb
  app/views/bookmarks/_bookmark_form.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/comments/_comment_abbreviated_list.html.erb
  app/views/comments/_comment_form.html.erb
  app/views/comments/_single_comment.html.erb
  app/views/comments/_single_comment_abbreviated.html.erb
  app/views/inbox/_inbox_comment_contents.html.erb
  app/views/series/edit.html.erb
  app/views/series/show.html.erb
  app/views/tag_wranglings/discuss.html.erb
  config/config.yml
  config/initializers/gem-plugin_config/sanitizer_config.rb
  db/migrate/20181113063726_rename_columns_that_do_not_allow_css.rb
  factories/comments.rb
  features/importing/work_import_dw.feature
  features/other_a/parser.feature
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/work_steps.rb
  lib/html_cleaner.rb
  lib/plugins/acts_as_commentable/comment_methods.rb
  spec/controllers/api/v1/api_bookmarks_spec.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
  spec/controllers/comments_controller_spec.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
  spec/models/comment_spec.rb
  test/fixtures/bookmarks.yml
  test/fixtures/comments.yml
  test/fixtures/series.yml
Labels: Has Config Changes, Has Migrations, Priority: High, Reviewed: Ready to Merge

#3468 AO3-5567 Tell Hound to stop caring about length
  config/.rubocop.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3448 AO3-5547 Upgrade Elasticsearch to 6.4.3 for CI
  script/prepare_codeship.sh
  script/travis_elasticsearch_upgrade.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3470 AO3-5560 Use shared examples for hidden commentable tests
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3469 AO3-5570 Upgrade tests to use Elasticsearch 6.5.0
  script/prepare_codeship.sh
  script/travis_elasticsearch_upgrade.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3472 AO3-5561 Fix comment permissions on unrevealed works
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_commentable.html.erb
  features/comments_and_kudos/hidden_works.feature
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3471 AO3-5571 Add better error handling to bookmark import
  app/controllers/api/v2/base_controller.rb
  app/controllers/api/v2/bookmarks_controller.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
Labels: Reviewed: Ready to Merge

#3473 AO3-2378 Add task to reset word count for works of a language
  lib/tasks/after_tasks.rake
  spec/miscellaneous/lib/tasks/admin_tasks.rake_spec.rb
  spec/miscellaneous/lib/tasks/after_tasks.rake_spec.rb
  spec/miscellaneous/lib/tasks/resque.rake_spec.rb
  spec/spec_helper.rb
  spec/support/task_example_group.rb
Labels: Reviewed: Ready to Merge

#3474 AO3-5541 Make draft deletion more robust.
  app/models/work.rb
  factories/works.rb
  features/step_definitions/admin_steps.rb
  features/step_definitions/rake_steps.rb
  features/step_definitions/reading_steps.rb
  features/step_definitions/work_steps.rb
  lib/tasks/work_tasks.rake
  spec/miscellaneous/lib/tasks/work_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#3476 AO3-2839 Devise front end fixes
  app/controllers/users/sessions_controller.rb
  app/views/users/registrations/_passwd.html.erb
  features/users/authenticate_users.feature
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3477 AO3-2839 Fix Devise settings, remove unused code in users_controller
  app/controllers/users_controller.rb
  config/initializers/devise.rb
  config/routes.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
