Repository otwcode/otwarchive, pull requests merged in 2018-09, with the labels that each got.

#3418 AO3-5489 Best match sorting for bookmarks
  app/models/search/bookmark_query.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3417 AO3-5482 Avoid saving long paths in session cookie
  app/controllers/application_controller.rb
Labels: Reviewed: Ready to Merge

#3425 Ignore vulnerability in ruby-ffi 1.9.18
  script/gem_security.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3154 AO3-4366 Add manage and user invitations buttons to admin user page
  app/views/admin/admin_users/show.html.erb
  features/other_a/invite_request.feature
  features/support/paths.rb
Labels: Reviewed: Ready to Merge

#3420 AO3-4638 Use MySQL 5.7.22 in CI
  .travis.yml
  config/database.codeship.yml
  config/database.travis.yml
  script/prepare_codeship.sh
  script/travis_configure.sh
  script/travis_mysql.sh
  script/travis_set_read_isolation.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3422 AO3-5382 Store the signup summary in Memcached.
  app/controllers/challenge_signups_controller.rb
  app/models/challenge_signup.rb
  app/models/challenge_signup_summary.rb
  app/views/challenge_signups/summary.html.erb
  features/gift_exchanges/signup_summary.feature
  features/step_definitions/challenge_steps.rb
Labels: Awaiting Review, Priority: High

#3423 AO3-5488 Make ticket tracker URLs more configurable
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  config/config.yml
Labels: Has Config Changes, Priority: High, Reviewed: Ready to Merge

#3428 AO3-5534 Encode form data in PAC/Support ticket requests
  app/models/feedback_reporters/feedback_reporter.rb
Labels: Priority: High, Reviewed: Ready to Merge
