Repository otwcode/otwarchive, pull requests merged in 2018-02, with the labels that each got.

#3244 AO3-5319 Invitation ownership
  app/controllers/invitations_controller.rb
  app/models/user.rb
Labels: Priority: Hot Fixed on Beta (Critical), Reviewed: Ready to Merge

#3242 AO3-5339 Upgrade nokogiri to 1.8.2
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Priority: High, Reviewed: Ready to Merge

#3241 AO3-5237 Fix typo and missing words in help files
  public/help/bookmark-search-type-help.html
  public/help/skins-parents.html
  public/help/warning-help.html
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3243 AO3-5337 Update factories to make non-canonical tags by default
  factories/tags.rb
  features/tags_and_wrangling/tag_wrangling_more.feature
  spec/controllers/autocomplete_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/models/pseud_search_form_spec.rb
  spec/models/tag_spec.rb
  spec/models/work_search_form_exclusion_filters_spec.rb
Labels: Reviewed: Ready to Merge

#3246 AO3-5336 Fix OTP filter to account for synonymous relationships
  app/models/work.rb
  spec/models/work_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3247 AO3-5237 Update work import and tag set help
  public/help/tagset-about.html
  public/help/work-import.html
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3249 AO3-5354 Update Sinatra
  Gemfile.lock
Labels: Gem Updates, Priority: High

#3250 AO3-5355 Add new fields to bookmark filters
  app/views/bookmarks/_filters.html.erb
  public/help/bookmark-search-bookmarker-tags-notes-help.html
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge
