Repository otwcode/otwarchive, pull requests merged in 2018-03, with the labels that each got.

#3251 AO3-5340 Show bookmarks of deleted items.
  app/models/bookmark.rb
  app/models/search/bookmark_query.rb
  app/models/search/pseud_indexer.rb
  features/bookmarks/delete_bookmarkable.feature
  features/step_definitions/series_steps.rb
  lib/bookmarkable.rb
  spec/models/bookmark_query_spec.rb
  spec/models/bookmarkable_query_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3252 AO3-5305 Overhaul bookmark index pages to arrange by bookmarkable.
  .travis.yml
  app/controllers/bookmarks_controller.rb
  app/decorators/bookmarkable_decorator.rb
  app/decorators/pseud_decorator.rb
  app/models/search/bookmark_query.rb
  app/models/search/bookmark_search_form.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/pseud_query.rb
  app/models/search/query.rb
  app/models/search/query_result.rb
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  app/views/bookmarks/_bookmarks.html.erb
  app/views/bookmarks/index.html.erb
  features/bookmarks/bookmark_privacy.feature
  features/bookmarks/delete_bookmarkable.feature
  features/collections/collection_navigation.feature
  features/other_a/people_search.feature
  features/search/filters.feature
  features/search/works_stats.feature
  features/search/works_tags.feature
  lib/searchable.rb
  spec/models/bookmark_query_spec.rb
  spec/models/bookmark_search_form_spec.rb
  spec/models/bookmarkable_query_spec.rb
  spec/models/work_query_spec.rb
Labels: Awaiting review, Priority: Broken on Test (High)

#3254 AO3-5358 Fix intermittent test failure in pseud searches
  spec/models/pseud_search_form_spec.rb
Labels: Reviewed: Ready to Merge

#3255 AO3-5305 Fix new-search feature tests for Codeship
  features/support/hooks.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3256 AO3-5305 Try to fix bookmark sorting.
  app/models/search/bookmark_query.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/query.rb
  spec/models/bookmark_search_form_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3257 AO3-5359 Show more precise results at top in people search
  app/models/search/pseud_indexer.rb
  app/models/search/pseud_query.rb
  spec/models/search/pseud_decorator_spec.rb
  spec/models/search/pseud_query_spec.rb
  spec/models/search/pseud_search_form_spec.rb
Labels: Reviewed: Ready to Merge

#3258 AO3-5355 Add filtering bookmarks by bookmarker's tag names
  app/controllers/bookmarks_controller.rb
  app/helpers/advanced_search_helper.rb
  app/models/search/bookmark_query.rb
  app/models/search/bookmark_search_form.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/taggable_query.rb
  app/views/bookmarks/_filters.html.erb
  features/search/filters.feature
  features/step_definitions/bookmark_steps.rb
  spec/models/bookmark_search_form_exclusion_filters_spec.rb
  spec/models/bookmarkable_query_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3259 AO3-5355 Update Skin Wizard for new filters
  lib/skin_wizard.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3260 AO3-5361 Link text and alignment changes for bookmarks
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Reviewed: Ready to Merge

#3261 AO3-5355 Stop adding merger IDs in bookmarker tag exclusions
  app/models/search/bookmark_query.rb
  spec/models/bookmark_search_form_exclusion_filters_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3262 AO3-5274 In filters, text of selected tag not bolded on old browsers
  app/helpers/application_helper.rb
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3264 AO3-5361 Fix lingering "View All" link on bookmarks
  app/views/bookmarks/fetch_recent.js.erb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3263 AO3-5364 Turn collection bookmark counts into bookmarked item counts for new search.
  app/controllers/bookmarks_controller.rb
  app/models/collection.rb
  app/sweepers/challenge_signup_sweeper.rb
  app/sweepers/collection_sweeper.rb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/_sidebar.html.erb
  features/collections/collectible_closed_collection.feature
  features/collections/collectible_moderated_collection.feature
  features/collections/collectible_open_collection.feature
  features/collections/collection_navigation.feature
  spec/models/collection_spec.rb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3268 AO3-5331 Try to fix handling of non-existent tag names in work search and bookmark listings.
  app/models/search/bookmark_query.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/query.rb
  app/models/search/taggable_query.rb
  app/models/search/work_query.rb
  app/models/search/work_search_form.rb
  features/search/filters.feature
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3267 AO3-5365 Update bookmarkable blurb
  app/helpers/bookmarks_helper.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmarkable_blurb.html.erb
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3271 AO3-5363 Rename "bookmarked item" search fields to use "work"
  app/views/bookmarks/_search_form.html.erb
  features/bookmarks/bookmark_search.feature
  script/gem_security.sh
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge

#3272 AO3-5331 Don't exclude mergers when excluding non-canonical tags.
  app/models/search/taggable_query.rb
  spec/models/bookmark_search_form_exclusion_filters_spec.rb
  spec/models/work_search_form_exclusion_filters_spec.rb
Labels: Reviewed: Ready to Merge

#3270 AO3-5274 Revert "In filters, text of selected tag not bolded on old browsers"
  app/helpers/application_helper.rb
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
Labels: Priority: Broken on Test (High), Reviewed: Ready to Merge
