Repository otwcode/otwarchive, pull requests merged in 2019-08, with the labels that each got.

#3437 AO3-4682 add success message when unassigning wrangler from a fandom
  app/controllers/tag_wranglers_controller.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#2936 AO3-5039 Prevent non canonical tags from being favorited
  app/models/favorite_tag.rb
  factories/favorite_tags.rb
  spec/models/favorite_tag_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3597 AO3-5691 Fix error message when editing a work's publication date to the future
  app/controllers/works_controller.rb
  features/works/work_dates_edit.feature
Labels: Reviewed: Ready to Merge

#2484 AO3-4592 Un-hide works affected by anon/unrevealed collection invitation bug
  lib/tasks/after_tasks.rake
Labels: Priority: High, Reviewed: Ready to Merge

#3545 AO3-4159 Add last login information to admin user display
  app/views/admin/admin_users/_user_history.html.erb
  features/admins/users/admin_manage_users.feature
Labels: Reviewed: Ready to Merge

#3601 AO3-5720 Modify the rules of CollectionItem#approve_automatically.
  app/models/collection_item.rb
Labels: Reviewed: Ready to Merge

#3603 AO3-4159 Fix formatting for user last login information
  app/views/admin/admin_users/_user_history.html.erb
  features/admins/users/admin_manage_users.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3604 AO3-4592 Fix task to reveal stuck anonymous/unrevealed works
  factories/collections.rb
  lib/tasks/after_tasks.rake
  spec/miscellaneous/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3605 AO3-5480 Switch to Zoho Desk REST API for Support and Abuse forms
  app/models/abuse_report.rb
  app/models/feedback.rb
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/feedback_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  app/views/abuse_reports/report.xml.erb
  app/views/feedbacks/report.xml.erb
  config/config.yml
  features/other_a/abuse_report.feature
  features/other_b/support.feature
  lib/html_cleaner.rb
  lib/zoho_auth_client.rb
  lib/zoho_resource_client.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
  spec/miscellaneous/lib/zoho_auth_client_spec.rb
  spec/miscellaneous/lib/zoho_resource_client_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
  spec/models/feedback_reporters/feedback_reporter_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
  spec/spec_helper.rb
  spec/support/zoho_client_spec_helper.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3611 AO3-5658 Don't escape error messages on the Edit Multiple Works page, and make the invalid tag error message appear.
  app/controllers/works_controller.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3616 AO3-5658 Remove sentence from privacy help pop-up
  public/help/privacy-preferences.html
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3619 AO3-5334 Rename "Remove Me As Author" to "Remove Me As Co-Creator"
  app/controllers/series_controller.rb
  app/controllers/works_controller.rb
  app/models/work.rb
  app/views/series/_series_navigation.html.erb
  app/views/works/_work_form_pseuds.html.erb
  app/views/works/edit.html.erb
  features/other_b/series.feature
  features/search/people_search.feature
  features/works/work_edit.feature
  features/works/work_edit_multiple.feature
  spec/models/work_spec.rb
Labels: Reviewed: Ready to Merge
