Repository otwcode/otwarchive, pull requests merged in 2019-09, with the labels that each got.

#3620 AO3-5334 Update confirmation prompt when removing self from series
  app/helpers/series_helper.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3622 AO3-5658 AO3-5751 Make the ability to view drafts more consistent, and add admin access to the user drafts page.
  app/controllers/application_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/series_controller.rb
  app/controllers/works_controller.rb
  app/helpers/series_helper.rb
  app/helpers/works_helper.rb
  app/models/bookmark.rb
  app/models/concerns/creatable.rb
  app/models/external_work.rb
  app/models/series.rb
  app/models/work.rb
  app/views/chapters/_chapter.html.erb
  app/views/chapters/show.html.erb
  app/views/users/_sidebar.html.erb
  app/views/works/show.html.erb
  spec/controllers/works/drafts_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3623 AO3-5658 Update co-creator notification text
  config/locales/en.yml
  features/works/chapter_edit.feature
Labels: Coder Has Actioned Review, Priority: High - Broken on Test

#3624 AO3-5753 Increase the comment length
  config/config.yml
Labels: Reviewed: Ready to Merge

#3133 AO3-5024 Reword error message when failing to log in as admin
  config/locales/devise.en.yml
  features/admins/authenticate_admins.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#3170 AO3-5076 Update FAQ links in TOS FAQ
  app/views/home/tos_faq.html.erb
Labels: Reviewed: Ready to Merge

#3598 AO3-5583 Add an anchor to the comment page links.
  app/views/comments/_commentable.html.erb
Labels: Reviewed: Ready to Merge

#3621 AO3-5730 Fix labels for chapter title and number in new work form
  app/views/works/_standard_form.html.erb
Labels: Reviewed: Ready to Merge

#3606 AO3-5077 Fix TOS FAQ Anchor Links
  app/views/home/tos_faq.html.erb
Labels: Reviewed: Ready to Merge

#3083 AO3-5179 Delete About Orphaning page and replace links with FAQ
  app/controllers/orphans_controller.rb
  app/views/home/_tos.html.erb
  app/views/orphans/about.html.erb
  app/views/orphans/new.html.erb
  config/routes.rb
Labels: Reviewed: Ready to Merge

#3600 AO3-5673 fandoms | users | works numbers on homepage are hard to parse
  app/views/home/_intro_module.html.erb
Labels: Reviewed: Ready to Merge

#3599 AO3-5688 link to orphaning faq in account deletion preview
  app/views/users/delete_preview.html.erb
Labels: Reviewed: Ready to Merge

#3613 AO3-5733 Check the current user is a maintainer before showing privileged info
  app/views/challenge_assignments/_assignment_blurb.html.erb
  features/gift_exchanges/challenge_giftexchange.feature
  features/step_definitions/challege_gift_exchange_steps.rb
Labels: Priority: Critical, Reviewed: Ready to Merge

#3626 AO3-5655 Move admin_helper_spec to the correct folder
  spec/miscellaneous/helpers/admin_helper_spec.rb
  spec/miscellaneous/helpers/admin_post_helper_spec.rb
  spec/miscellaneous/helpers/exports_helper_spec.rb
  spec/miscellaneous/helpers/home_helper_spec.rb
  spec/miscellaneous/helpers/inbox_helper_spec.rb
  spec/miscellaneous/helpers/share_helper_spec.rb
  spec/miscellaneous/helpers/tag_sets_helper_spec.rb
  spec/miscellaneous/helpers/user_invite_requests_helper_spec.rb
  spec/miscellaneous/helpers/validation_helper_spec.rb
  spec/miscellaneous/helpers/works_helper_spec.rb
  spec/spec_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3629 AO3-5024 Correct error message when entering wrong password for admin
  config/locales/devise.en.yml
  features/admins/authenticate_admins.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3630 AO3-5688 Change "co-author" to "co-creator" on delete preview page
  app/views/users/delete_preview.html.erb
  features/users/user_delete.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3632 AO3-5688 Use double quotes and translatable text on delete user preview page
  app/views/users/delete_preview.html.erb
  config/locales/en.yml
  features/step_definitions/web_steps.rb
  features/users/user_delete.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3636 AO3-5613 Fix revealing hidden warning tags in work meta
  app/controllers/tags_controller.rb
  app/helpers/tags_helper.rb
  app/views/tags/show_hidden.js.erb
  app/views/works/_meta.html.erb
  features/other_a/preferences_edit.feature
  features/step_definitions/preferences_steps.rb
  features/step_definitions/user_steps.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3635 AO3-5652 Index more series data
  app/models/search/work_indexer.rb
  app/models/search/work_query.rb
  spec/models/search/work_search_form_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3290 AO3-5391 Remove unused taggable methods
  app/controllers/tags_controller.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  config/brakeman.ignore
  config/config.yml
  features/step_definitions/preferences_steps.rb
  features/step_definitions/user_steps.rb
  lib/taggable.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3628 AO3-5703 Search for works and bookmarks by language short name
  app/models/external_work.rb
  app/models/search/bookmark_search_form.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/work_indexer.rb
  app/models/search/work_query.rb
  app/models/search/work_search_form.rb
  app/models/series.rb
  app/models/work.rb
  app/views/bookmarks/_filters.html.erb
  app/views/bookmarks/_search_form.html.erb
  app/views/works/_filters.html.erb
  app/views/works/_search_form.html.erb
  features/bookmarks/bookmark_search.feature
  spec/models/search/bookmark_query_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/work_query_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Needs Reindex, Reviewed: Ready to Merge

#3631 AO3-5707: Fix for legacy warning search
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/models/search/bookmark_search_form.rb
  app/models/search/work_indexer.rb
  app/models/search/work_search_form.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Reviewed: Ready to Merge

#3639 AO3-5613 Prevent error when challenge assignment email contains warning tags
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  config/locales/en.yml
  features/gift_exchanges/notification_emails.feature
  features/step_definitions/challege_gift_exchange_steps.rb
  features/step_definitions/challenge_steps.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3645 AO3-5613 Avoid breaking work warnings for mass import API
  app/controllers/api/v2/works_controller.rb
  spec/controllers/api/v2/api_works_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
