Repository otwcode/otwarchive, pull requests merged in 2019-01, with the labels that each got.

#3500 AO3-5584 Make removal come last.
  app/controllers/collection_items_controller.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3478 AO3-5533 & AO3-5544 Don't use after_commit for update_anon_unrevealed.
  app/models/collection_item.rb
  features/collections/collection_anonymity.feature
  lib/collectible.rb
  spec/miscellaneous/lib/collectible_spec.rb
Labels: Reviewed: Ready to Merge

#3395 AO3-5493 Add wrangling data to tag index
  app/controllers/application_controller.rb
  app/controllers/tags_controller.rb
  app/models/common_tagging.rb
  app/models/search/tag_indexer.rb
  app/models/search/tag_query.rb
  app/models/tag.rb
  app/models/tagging.rb
  app/views/tag_wranglers/show.html.erb
  app/views/tag_wranglings/index.html.erb
  app/views/tags/edit.html.erb
  app/views/tags/wrangle.html.erb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling.feature
  spec/controllers/tags_controller_spec.rb
  spec/models/search/tag_query_spec.rb
Labels: Reviewed: Ready to Merge

#3504 AO3-5493 Allow searching for tags used only in drafts
  app/models/search/tag_indexer.rb
  app/models/search/tag_query.rb
  app/models/tag.rb
  app/models/tagging.rb
  app/models/work.rb
  config/config.yml
  spec/models/comment_spec.rb
  spec/models/search/tag_query_wrangling_spec.rb
  spec/models/tag_spec.rb
Labels: Has Config Changes, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3507 AO3-5600 Fix google_visualr git gem reference
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Reviewed: Ready to Merge

#3506 AO3-5493 Reindex tags synchronously for wrangling changes
  app/models/common_tagging.rb
  app/models/tag.rb
  features/support/paths.rb
  spec/models/tag_spec.rb
Labels: Coder Has Actioned Review, Priority: High - Broken on Test

#3511 AO3-5602 Typo in TOS FAQ
  app/views/home/tos_faq.html.erb
Labels: Reviewed: Ready to Merge

#3334 AO3-5400 Fix 500 error on admin activity show page when admin is deleted
  app/helpers/admin_helper.rb
  app/views/admin/activities/index.html.erb
  app/views/admin/activities/show.html.erb
  factories/admin.rb
  spec/helpers/admin_helper_spec.rb
Labels: Reviewed: Ready to Merge

#3436 AO3-5198 remove user-facing count on all skins
  app/views/skins/_header.html.erb
Labels: Priority: Low, Reviewed: Ready to Merge

#3346 AO3-5375 bookmark search filter languages
  app/controllers/bookmarks_controller.rb
  app/models/search/bookmark_search_form.rb
  app/views/bookmarks/_filters.html.erb
  app/views/bookmarks/_search_form.html.erb
  features/bookmarks/bookmark_filter.feature
  features/bookmarks/bookmark_search.feature
  features/step_definitions/bookmark_steps.rb
  spec/models/search/bookmark_search_form_spec.rb
Labels: Reviewed: Ready to Merge
