Repository otwcode/otwarchive, pull requests merged in 2019-11, with the labels that each got.

#3676 AO3-5693 Supply values for whitelisted boolean attributes
  lib/otw_sanitize/media_sanitizer.rb
  spec/miscellaneous/lib/media_sanitizer_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3679 AO3-5693 Remove invalid closing tags on track and source elements
  lib/html_cleaner.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3681 AO3-5693 Add comment about media blacklist format
  config/config.yml
Labels: Reviewed: Ready to Merge

#3682 AO3-5809 Add paste to RTE context menu and toolbar, and and hr to the context menu
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Priority: Critical, Reviewed: Ready to Merge

#3683 AO3-5811 Disable TinyMCE's context menu
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Awaiting Review, Priority: Critical

#3685 AO3-5772 Exclude third party or minified JS files from checks
  .codeclimate.yml
  .hound.yml
  .jshintignore
  .jshintrc
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3684 AO3-5812 Disable mobile RTE
  public/javascripts/mce_editor.js
  public/javascripts/mce_editor.min.js
Labels: Priority: Critical, Reviewed: Ready to Merge

#3667 AO3-5790 Fix work and bookmark searches for certain languages
  app/models/search/bookmarkable_query.rb
  app/models/search/work_query.rb
  spec/models/search/bookmark_query_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/work_query_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3614 AO3-5702 Require language when posting a new work
  app/models/work.rb
  app/views/works/_work_form_associations_language.html.erb
  factories/works.rb
  features/collections/collection_navigation.feature
  features/gift_exchanges/challenge_yuletide.feature
  features/other_a/help.feature
  features/other_b/sanitizer.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/step_definitions/challege_gift_exchange_steps.rb
  features/step_definitions/challenge_promptmeme_steps.rb
  features/step_definitions/challenge_yuletide_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_steps.rb
  features/tags_and_wrangling/tag_cloud.feature
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/tags_and_wrangling/tag_wrangling_freeforms.feature
  features/tags_and_wrangling/tag_wrangling_relationships.feature
  features/works/chapter_edit.feature
  features/works/work_create.feature
  features/works/work_delete.feature
  features/works/work_drafts.feature
  features/works/work_languages.feature
  features/works/work_lock.feature
  features/works/work_related.feature
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/work_search_form_spec.rb
  spec/models/work_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3633 AO3-5639 Don't count hits on unrevealed and hidden works
  lib/work_stats.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#3502 AO3-5593 Rewrite definition of approved_collections.
  app/controllers/collections_controller.rb
  app/controllers/works_controller.rb
  app/models/collection.rb
  lib/collectible.rb
Labels: Reviewed: Ready to Merge

#3677 AO3-5194 Update schema and structure files
  db/schema.rb
  db/structure.sql
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3590 AO3-4571 Fix challenge assignment equality check.
  app/models/challenge_assignment.rb
  features/gift_exchanges/challenge_giftexchange.feature
Labels: Reviewed: Ready to Merge

#2995 AO3-5101 Fix saving open challenges with sign-up close date & no sign-up open date
  features/prompt_memes_c/challenge_promptmeme_claims.feature
  features/step_definitions/challenge_steps.rb
  lib/challenge_core.rb
Labels: Reviewed: Ready to Merge

#3687 AO3-5815 Add shared examples for mailer specs
  spec/miscellaneous/mailers/collection_mailer_spec.rb
  spec/miscellaneous/mailers/comment_mailer_spec.rb
  spec/miscellaneous/mailers/user_mailer_spec.rb
  spec/spec_helper.rb
  spec/support/mailer_macros.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3689 Update README.md
  ACKNOWLEDGMENTS.md
  README.md
Labels: Reviewed: Ready to Merge

#3688 AO3-5814 Move CI scripts, remove unused scripts
  .travis.yml
  script/codeship/ebook_converters.sh
  script/codeship/test_prepare.sh
  script/codeship/try.sh
  script/cucumber
  script/delayed_job
  script/find
  script/process/inspector
  script/process/reaper
  script/process/spawner
  script/rails
  script/travis/configure.sh
  script/travis/ebook_converters.sh
  script/travis/elasticsearch_upgrade.sh
  script/travis/multiple_redis.sh
  script/travis/mysql.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3670 AO3-5616 Fix FAQ category display with RTL scripts
  public/stylesheets/site/2.0/16-zone-system.css
Labels: Reviewed: Ready to Merge

#2996 AO3-5102 Don't show when challenge sign-ups were closed; change "authors revealed" to "creators"
  app/views/challenge/shared/_challenge_form_schedule.html.erb
  app/views/challenge/shared/_challenge_meta.html.erb
  features/gift_exchanges/challenge_giftexchange.feature
  features/gift_exchanges/challenge_yuletide.feature
Labels: Reviewed: Ready to Merge

#3690 AO3-5814 Allow skipping Codeship tests using commit messages
  config/codeship/database.yml
  config/codeship/redis.yml
  script/codeship/ebook_converters.sh
  script/codeship/setup.sh
  script/codeship/test_prepare.sh
  script/codeship/try.sh
Labels: Awaiting Review, Scope: Tests Only

#3153 AO3-4605 Add language field to import from url page
  app/controllers/works_controller.rb
  app/views/works/new_import.html.erb
  features/importing/archivist.feature
  features/importing/work_import.feature
  features/importing/work_import_da.feature
  features/importing/work_import_dw.feature
  features/importing/work_import_errors.feature
  features/importing/work_import_ffn.feature
  features/importing/work_import_lj.feature
  features/step_definitions/archivist_steps.rb
  features/step_definitions/work_import_steps.rb
  spec/controllers/works/importing_spec.rb
Labels: Coder Has Actioned Review

#3617 AO3-5749 Update Elasticsearch to 6.8.5 and its gem to 6.8.0
  Gemfile
  Gemfile.lock
  script/codeship/setup.sh
  script/travis/elasticsearch_upgrade.sh
Labels: Coder Has Actioned Review, Gem Updates

#3694 AO3-5749 Fix Elasticsearch 6.8.5 on Codeship
  script/codeship/setup.sh
Labels: Awaiting Review, Priority: High - Broken on Test, Scope: Tests Only

#3697 AO3-5826 Update nokogiri to 1.10.5
  Gemfile.lock
  lib/html_cleaner.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
Labels: Gem Updates, Gem Updates: Security, Reviewed: Ready to Merge

#3695 AO3-5825 Cache work and bookmark counts on dashboard sidebar
  app/helpers/users_helper.rb
  app/models/search/bookmark_search_form.rb
  app/models/search/work_search_form.rb
  app/views/users/_contents.html.erb
  app/views/users/_sidebar.html.erb
  config/config.yml
  features/bookmarks/bookmark_privacy.feature
  features/step_definitions/search_steps.rb
  features/users/user_dashboard.feature
Labels: Has Config Changes, Priority: High, Reviewed: Ready to Merge
