Repository otwcode/otwarchive, pull requests merged in 2019-06, with the labels that each got.

#2986 AO3-5097 admin users refactoring
  app/controllers/admin/admin_users_controller.rb
  app/models/fannish_next_of_kin.rb
  app/models/user_manager.rb
  app/views/admin/admin_users/_user_form.html.erb
  app/views/admin/admin_users/show.html.erb
  config/routes.rb
  features/admins/users/admin_fnok.feature
Labels: Reviewed: Ready to Merge

#3141 AO3-5099 Add option for exact string match for admin user search
  app/controllers/admin/admin_users_controller.rb
  app/models/user.rb
  app/views/admin/admin_users/index.html.erb
  features/admins/users/admin_find_users.feature
Labels: Reviewed: Ready to Merge

#3454 AO3-3953 Remove collection-scoped tag links
  app/helpers/tags_helper.rb
  app/views/fandoms/index.html.erb
  app/views/tags/index.html.erb
  features/collections/collection_navigation.feature
  features/support/paths.rb
Labels: Reviewed: Ready to Merge

#3582 AO3-5699 Pass works instead of whole response to claim notification method
  app/controllers/api/v2/works_controller.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
  spec/controllers/api/v2/api_works_spec.rb
Labels: Reviewed: Ready to Merge

#3585 AO3-5697 Add unique index to meta_taggings table.
  db/migrate/20190611212339_add_unique_index_to_meta_taggings.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3583 AO3-3953 Expire caches of work blurbs, metas, and links on tag pages
  app/models/work.rb
  app/views/tags/show.html.erb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3586 AO3-5099 & AO3-5126 Separate "Name or email" query into two fields, and fix the results count.
  app/controllers/admin/admin_users_controller.rb
  app/models/user.rb
  app/views/admin/admin_users/index.html.erb
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_fnok.feature
  features/admins/users/admin_manage_users.feature
  features/step_definitions/archivist_steps.rb
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_admin.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
