Repository otwcode/otwarchive, pull requests merged in 2019-04, with the labels that each got.

#3549 AO3-5647 Remove unused bookmark code.
  app/models/bookmark.rb
Labels: Reviewed: Ready to Merge

#3546 AO3-5473 Remove disable_filtering admin setting.
  app/controllers/admin/settings_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/models/admin_setting.rb
  app/models/bookmark.rb
  app/models/work.rb
  app/sweepers/collection_sweeper.rb
  app/views/admin/settings/index.html.erb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/_sidebar.html.erb
  db/migrate/20190323185300_drop_disable_filtering_from_admin_settings.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3013 AO3-5123 Refactor tag display methods
  app/helpers/tags_helper.rb
  app/helpers/works_helper.rb
  app/models/freeform.rb
  app/models/rating.rb
  app/models/tag.rb
  app/models/warning.rb
  app/views/works/_search_form.html.erb
Labels: Reviewed: Ready to Merge

#3550 AO3-5637 Check include/exclude before caching in work listings.
  app/controllers/works_controller.rb
Labels: Reviewed: Ready to Merge

#3548 AO3-5648 Keep anchor links intact in imported works
  app/models/story_parser.rb
  spec/models/story_parser_spec.rb
Labels: Reviewed: Ready to Merge

#3510 AO3-5526 Too much space between stats lines on work blurbs
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Reviewed: Ready to Merge

#3435 AO3-4681 Add success message when deleting wrangling guideline
  app/controllers/wrangling_guidelines_controller.rb
  features/tags_and_wrangling/wrangling_guidelines.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#3424 AO3-5310 Track and display IP address of invitation requests
  app/controllers/invite_requests_controller.rb
  app/views/invite_requests/manage.html.erb
  db/migrate/20180917212655_add_ip_address_to_invite_requests.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Has Migrations, Priority: High, Reviewed: Ready to Merge

#3027 AO3-5143 Fix sign up link on claim imported works page
  app/views/external_authors/claim.html.erb
  features/importing/archivist.feature
Labels: Reviewed: Ready to Merge

#3173 AO3-5135 Fix removing collections from Edit Works page
  app/controllers/works_controller.rb
  features/works/work_edit_multiple.feature
Labels: Reviewed: Ready to Merge

#3553 AO3-5650 Set work language from API
  app/controllers/api/v2/works_controller.rb
  spec/controllers/api/api_helper.rb
  spec/controllers/api/v2/api_works_spec.rb
Labels: Reviewed: Ready to Merge

#3108 AO3-5204 Upgrade scrollTo plugin to fix problem in Chrome
  public/javascripts/jquery.scrollTo.js
  public/javascripts/jquery.scrollTo.min.js
Labels: Reviewed: Ready to Merge

#3556 AO3-4681 Fix spec for notice on deleting wrangling guidelines
  spec/controllers/wrangling_guidelines_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge, Scope: Tests Only

#3557 AO3-5598 Set race_condition_ttl on cached AdminSetting
  app/models/admin_setting.rb
Labels: Reviewed: Ready to Merge

#3558 AO3-5653 Fix intermittent AbuseReport alternate URL test failures
  spec/models/abuse_report_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3559 AO3-5315 Switch away from the deprecated KeyboardEvent.keyCode property
  public/javascripts/jquery.tokeninput.js
  public/javascripts/jquery.tokeninput.min.js
Labels: Reviewed: Ready to Merge

#3560 AO3-5654 Update various dotfiles
  .gitattributes
  .gitignore
  .simplecov
  .travis.yml
  app/views/archive_faqs/_question_answer_fields.html.erb
  app/views/challenge/prompt_meme/edit.html.erb
  app/views/owned_tag_sets/confirm_delete.html.erb
  app/views/tag_set_nominations/confirm_delete.html.erb
  app/views/tag_set_nominations/confirm_destroy_multiple.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  app/views/users/change_email.html.erb
  features/cassette_library/cucumber_tags/work_import_nul_character.yml
  features/collections/collection_participants.feature
  public/help/bookmark-filters-exclude-tags.html
  public/help/bookmark-filters-include-tags.html
  public/help/bookmark-search-bookmarker-tag.html
  public/help/bookmark-search-work-tag.html
  public/help/challenge-category-tags.html
  public/help/comments-anonymous.html
  public/help/work-filters-exclude-tags.html
  public/help/work-filters-include-tags.html
  public/javascripts/jquery-ui-timepicker-addon.js
  public/javascripts/jquery.purr.js
  public/system/dewplayer/index-swfobject-js.htm
  public/system/dewplayer/index-xhtml.htm
  public/system/dewplayer/playlist.xml
  public/system/dewplayer/styles.css
  test/fixtures/chapters.yml
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3554 AO3-5651 Bump Elasticsearch on test to 6.7.0
  script/prepare_codeship.sh
  script/travis_elasticsearch_upgrade.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3531 AO3-5267 Re-allow full screen videos in iframe
  config/initializers/gem-plugin_config/sanitizer_config.rb
Labels: Reviewed: Ready to Merge

#3561 AO3-4996 Update Contact Us link on About Us page
  app/views/home/about.html.erb
Labels: Reviewed: Ready to Merge

#3348 AO3-2808 Add jpeg to SUPPORTED_EXTERNAL_URLS
  config/config.yml
  spec/models/skin_spec.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3047 AO3-4110 Include private bookmarks in sidebar tally shown to admins
  app/models/search/bookmark_search_form.rb
  features/bookmarks/bookmark_privacy.feature
Labels: Reviewed: Ready to Merge

#3566 AO3-5672 Remove hypens from nonprofit and noncommercial on homepage
  app/views/home/_intro_module.html.erb
Labels: Reviewed: Ready to Merge

#3551 AO3-5245 Update Open Doors rake task to use AO3 ids to find works
  lib/tasks/opendoors.rake
  spec/miscellaneous/lib/tasks/opendoors.rake_spec.rb
  spec/spec_helper.rb
  spec/support/fixtures/opendoors_import_url_mapping.csv
Labels: Reviewed: Ready to Merge

#3552 AO3-5572 Make API messages an array rather than a string
  app/controllers/api/v2/works_controller.rb
  app/models/story_parser.rb
  features/step_definitions/work_import_steps.rb
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/controllers/api/v2/api_works_spec.rb
Labels: Reviewed: Ready to Merge

#3565 AO3-5664 Remove v1 API
  app/controllers/api/v1/base_controller.rb
  app/controllers/api/v1/bookmarks_controller.rb
  app/controllers/api/v1/works_controller.rb
  spec/controllers/api/v1/api_authorization_spec.rb
  spec/controllers/api/v1/api_base_controller_spec.rb
  spec/controllers/api/v1/api_bookmarks_spec.rb
  spec/controllers/api/v1/api_works_spec.rb
Labels: Reviewed: Ready to Merge

#3564 AO3-5656 Fix downloading works with nil summary
  app/models/download_writer.rb
Labels: Reviewed: Ready to Merge

#3563 AO3-5180 Better word breaking for mobile headings
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Reviewed: Ready to Merge
