Repository otwcode/otwarchive, pull requests merged in 2019-10, with the labels that each got.

#3648 AO3-5784 Update Ruby to 2.6.5
  .hound.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  config/.rubocop.yml
  config/initializers/gem-plugin_config/webmock.rb
Labels: Gem Updates, Reviewed: Ready to Merge

#3441 AO3-4560 Rename work posting buttons
  app/controllers/works_controller.rb
  app/views/chapters/_chapter_form.html.erb
  app/views/chapters/preview.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/edit_tags.html.erb
  app/views/works/preview.html.erb
  app/views/works/preview_tags.html.erb
  features/admins/admin_works.feature
  features/bookmarks/bookmark_indexing.feature
  features/collections/collectible_multiple_collections.feature
  features/collections/collection_anonymity.feature
  features/collections/collection_navigation.feature
  features/importing/archivist.feature
  features/importing/work_import.feature
  features/other_a/gift.feature
  features/other_a/page_title.feature
  features/other_a/parser.feature
  features/other_a/reading.feature
  features/other_b/series.feature
  features/other_b/series_lock.feature
  features/other_b/subscriptions.feature
  features/other_b/subscriptions_fandoms.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/prompt_memes_c/challenge_promptmeme_claims.feature
  features/prompt_memes_c/challenge_promptmeme_deletion.feature
  features/search/people_search.feature
  features/step_definitions/series_steps.rb
  features/step_definitions/work_steps.rb
  features/works/chapter_edit.feature
  features/works/work_create.feature
  features/works/work_dates_edit.feature
  features/works/work_download.feature
  features/works/work_drafts.feature
  features/works/work_edit.feature
  features/works/work_edit_tags.feature
  features/works/work_related.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3649 AO3-5632 Set Referrer-Policy header
  config/application.rb
  spec/miscellaneous/requests/security_headers_spec.rb
Labels: Reviewed: Ready to Merge

#3646 AO3-5761 Add Rack Attack for basic rate limiting
  Gemfile
  Gemfile.lock
  config/config.yml
  config/environments/production.rb
  config/environments/staging.rb
  config/initializers/rack_attack.rb
Labels: Gem Updates, Has Config Changes, Reviewed: Ready to Merge

#3084 AO3-3617 Make autocomplete handle uppercase accents.
  features/other_a/autocomplete.feature
  lib/autocomplete_source.rb
Labels: Reviewed: Ready to Merge

#3650 AO3-5785 Prevent mods from adding others' anonymous works to their collections
  app/controllers/collection_items_controller.rb
  features/collections/collectible_multiple_collections.feature
Labels: Priority: High, Reviewed: Ready to Merge

#3625 AO3-4353 AO3-5786 Cache tag sets with tag types, fix 500 when listing tags in tag sets
  app/models/tagset_models/tag_set.rb
  app/views/owned_tag_sets/show_options.html.erb
Labels: Reviewed: Ready to Merge

#3651 AO3-5787 Add supported public site skins to repository for tracking purposes
  public/stylesheets/README.md
  public/stylesheets/README.txt
  public/stylesheets/masters/low_vision_default/README.md
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/masters/reversi/README.md
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow/README.md
  public/stylesheets/masters/snow/snow_site_screen_.css
  public/stylesheets/masters/snow_blue/README.md
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
Labels: Reviewed: Ready to Merge

#3637 AO3-5693 Support HTML5 media tags
  config/config.yml
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/html_cleaner.rb
  lib/otw_sanitize/embed_sanitizer.rb
  lib/otw_sanitize/media_sanitizer.rb
  lib/otw_sanitize/user_class_sanitizer.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
  spec/miscellaneous/lib/media_sanitizer_spec.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3652 AO3-5789 Update Database Cleaner and test-only gems
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Reviewed: Ready to Merge, Scope: Tests Only

#3653 AO3-5788 Move Travis to Ubuntu Bionic 18.04
  .travis.yml
  script/travis_ebook_converters.sh
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3351 AO3-4080 Fix css regex to support shadow box fully
  lib/css_cleaner.rb
  spec/models/skin_spec.rb
Labels: Has Config Changes, Priority: Low, Reviewed: Ready to Merge

#3662 AO3-5795 Update mysql2 gem for Debian 10 support
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Reviewed: Ready to Merge

#3663 AO3-5797 Update server names in deploy script for staging
  config/deploy/staging.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3641 AO3-5758 Add Hound rules for bundler, layout, and style
  config/.rubocop.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3665 AO3-5758 Fix renamed cop in rubocop 0.72.0
  config/.rubocop.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge, Scope: Tests Only

#3671 AO3-5800 New frontend server for staging
  config/deploy/staging.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3668 AO3-5693 Allow standard html within audio and video tags
  lib/html_cleaner.rb
  lib/otw_sanitize/media_sanitizer.rb
  spec/miscellaneous/lib/html_cleaner_spec.rb
  spec/miscellaneous/lib/media_sanitizer_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3675 AO3-5693 Restrict width of video elements
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
