Repository otwcode/otwarchive, pull requests merged in 2019-12, with the labels that each got.

#3696 AO3-5817 Check contents of decoded emails in specs
  spec/miscellaneous/mailers/abuse_mailer_spec.rb
  spec/miscellaneous/mailers/admin_mailer_spec.rb
  spec/miscellaneous/mailers/feedback_mailer_spec.rb
  spec/miscellaneous/mailers/user_mailer_spec.rb
  spec/support/matchers/have_html_part_content.rb
  spec/support/matchers/have_text_part_content.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3699 AO3-5832 Add Error 444 page for Elasticsearch
  public/444.html
Labels: Priority: High, Reviewed: Ready to Merge

#3700 AO3-5834 Allow cache expiration on works and bookmarks to be configurable
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  config/config.yml
Labels: Coder Has Actioned Review, Has Config Changes, Priority: High

#3701 AO3-5832 Return 444 for Elasticsearch errors
  app/controllers/application_controller.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3640 AO3-5762 Only do search setup in rspec when needed
  app/models/search/bookmark_indexer.rb
  app/models/search/indexer.rb
  app/models/search/work_indexer.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/miscellaneous_spec.rb
  spec/models/search/bookmark_search_form_exclusion_filters_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/pseud_query_spec.rb
  spec/models/search/pseud_search_form_spec.rb
  spec/models/search/stat_counter_indexer_spec.rb
  spec/models/search/tag_query_spec.rb
  spec/models/search/tag_query_wrangling_spec.rb
  spec/models/search/work_search_form_exclusion_filters_spec.rb
  spec/models/search/work_search_form_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3703 AO3-5762 Simplify search setup in feature tests
  features/step_definitions/fixtures_steps.rb
  features/step_definitions/search_steps.rb
  features/support/elasticsearch_methods.rb
  features/support/env.rb
  features/support/hooks.rb
  spec/models/search/tag_query_wrangling_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3705 AO3-5832 Change the HTTP code used for Elasticsearch errors
  app/controllers/application_controller.rb
  public/445.html
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3706 AO3-5832 Update comment on status code for Elasticsearch errors
  app/controllers/application_controller.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3707 AO3-5834 Rename cache expiration config settings
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/models/search/indexer.rb
  config/config.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3607 AO3-4194 Associate fields/labels of request invites form
  app/views/user_invite_requests/new.html.erb
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
Labels: Reviewed: Ready to Merge

#3660 AO3-5362 Move background logo down and right
  public/stylesheets/site/2.0/05-region-main.css
Labels: Reviewed: Ready to Merge

#3669 AO3-5738 Update page that appears after account is set up
  app/views/users/confirmation.html.erb
  config/brakeman.ignore
  features/importing/archivist.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
  features/users/user_create.feature
Labels: Reviewed: Ready to Merge

#3658 AO3-5773 Avoid re-escaping ampersands in titles of external work bookmarks
  app/models/external_work.rb
Labels: Reviewed: Ready to Merge

#3440 AO3-4991 Reorder series page navigation buttons
  app/views/series/_series_navigation.html.erb
Labels: Reviewed: Ready to Merge

#3708 AO3-5838 Expand test coverage of bookmarks controller index action
  app/controllers/application_controller.rb
  factories/bookmarks.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/models/bookmark_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3139 AO3-5839 Add pseud tests
  features/other_a/pseuds.feature
  features/step_definitions/pseud_steps.rb
  features/step_definitions/series_steps.rb
  features/step_definitions/user_steps.rb
  spec/controllers/pseuds_controller_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3709 AO3-5813 Remove HTML for mailers from locale file
  app/helpers/mailer_helper.rb
  app/mailers/user_mailer.rb
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/user_mailer/archive_notification.html.erb
  app/views/user_mailer/archive_notification.text.erb
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  config/locales/mailers/en.yml
  spec/miscellaneous/helpers/mailer_helper_spec.rb
  spec/miscellaneous/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#3711 AO3-5818 Update Referrer-Policy for YouTube's embedding restrictions
  config/application.rb
  spec/miscellaneous/requests/security_headers_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3710 AO3-5759 Add Lockup to password protect staging
  Gemfile
  Gemfile.lock
  config/application.rb
  config/config.yml
  config/routes.rb
  config/secrets.yml
Labels: Reviewed: Ready to Merge

#3712 AO3-5823 Rate limit Elasticsearch queries
  config/config.yml
  config/initializers/rack_attack.rb
Labels: Has Config Changes, Reviewed: Ready to Merge

#3714 AO3-5841 Add internal network to Rack::Attack safe list
  config/initializers/rack_attack.rb
Labels: Priority: Critical - Hot Fixed, Reviewed: Ready to Merge

#3715 AO3-5841 Add loopback addresses to Rack::Attack safe list
  config/initializers/rack_attack.rb
Labels: Priority: Critical, Reviewed: Ready to Merge

#3647 AO3-3847 Expire cached work blurbs and metas after renaming series
  app/helpers/cache_helper.rb
  app/models/series.rb
  app/models/work.rb
  features/other_b/series.feature
Labels: Reviewed: Ready to Merge
