Repository otwcode/otwarchive, pull requests merged in 2019-07, with the labels that each got.

#3589 AO3-5097 Don't display update success message when FNOK is unchanged
  app/models/user_manager.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3591 AO3-5549 Handle deleted users in spam alert.
  app/mailers/admin_mailer.rb
  app/views/admin_mailer/send_spam_alert.html.erb
  app/views/admin_mailer/send_spam_alert.text.erb
  spec/miscellaneous/mailers/admin_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#3575 AO3-5678 Fix Brakeman warnings for SQL injection
  app/controllers/archive_faqs_controller.rb
  app/controllers/challenge_requests_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/invite_requests_controller.rb
  app/controllers/questions_controller.rb
  app/controllers/series_controller.rb
  app/controllers/wrangling_guidelines_controller.rb
  app/models/archive_faq.rb
  app/models/challenge_claim.rb
  app/models/chapter.rb
  app/models/collection.rb
  app/models/inbox_comment.rb
  app/models/potential_match.rb
  app/models/series.rb
  app/models/user.rb
  app/models/work.rb
  app/models/wrangling_guideline.rb
  app/views/invite_requests/_invite_request.html.erb
  config/brakeman.ignore
Labels: Reviewed: Ready to Merge

#3578 AO3-5682 Refactor code that uses send
  app/controllers/invitations_controller.rb
  app/controllers/tags_controller.rb
  config/brakeman.ignore
Labels: Reviewed: Ready to Merge

#3577 AO3-5689 Refactor code to avoid use of eval
  app/controllers/collections_controller.rb
  app/controllers/stats_controller.rb
  app/views/challenge/shared/_challenge_form_delete.html.erb
  app/views/collection_profile/show.html.erb
  app/views/collections/_sidebar.html.erb
  app/views/potential_matches/_no_match_required.html.erb
  config/brakeman.ignore
Labels: Reviewed: Ready to Merge

#3593 Skip DeviantArt importing tests
  features/importing/work_import_da.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3594 AO3-5689 Fix sorting stats by descending date
  app/controllers/stats_controller.rb
  features/other_b/stats.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
