Repository otwcode/otwarchive, pull requests merged in 2020-08, with the labels that each got.

#3875 AO3-5897 Call check_for_flash when calling redirect_to, so that flash messages are properly displayed even when the redirect occurs before_action.
  app/controllers/application_controller.rb
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#2916 AO3-4275 Add task to clean up non-canonical warnings
  lib/tasks/tag_tasks.rake
  spec/lib/tasks/tag_tasks.rake_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3156 AO3-4925 Extend tests for tag_wranglings_controller, remove unused code
  app/controllers/tag_wranglings_controller.rb
  spec/controllers/tag_wranglings_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3867 AO3-4634 Prompt meme claims access restriction
  app/controllers/challenge_claims_controller.rb
  app/models/challenge_claim.rb
  app/models/challenge_models/prompt_meme.rb
  spec/controllers/challenge_claims_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3876 AO3-6012 Use MariaDB in Travis CI and Docker
  .travis.yml
  config/travis/database.yml
  docker-compose.yml
  script/check_syntax
  script/travis/mysql.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3877 AO3-5975 Display warning on proxies
  app/views/layouts/_javascripts.html.erb
  app/views/layouts/_proxy_notice.html.erb
  app/views/layouts/application.html.erb
  config/locales/views/en.yml
  config/locales/views/zh-CN.yml
  public/stylesheets/site/2.0/16-zone-system.css
Labels: Priority: High, Reviewed: Ready to Merge

#3879 AO3-5975 Provide explicit list of non-proxy hosts
  app/views/layouts/_javascripts.html.erb
  config/config.yml
Labels: Has Production Config Changes, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3882 AO3-5975 Update proxy notice
  app/views/layouts/_proxy_notice.html.erb
  config/locales/views/en.yml
  config/locales/views/zh-CN.yml
  public/stylesheets/site/2.0/16-zone-system.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3892 AO3-6033 Update codecov gem to 0.2.0
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Priority: High, Reviewed: Ready to Merge

#3862 AO3-5765 Rails 5.2 upgrade
  Gemfile
  Gemfile.lock
  app/controllers/collection_items_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/skins_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/decorators/homepage.rb
  app/helpers/search_helper.rb
  app/models/application_record.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/comment.rb
  app/models/language.rb
  app/models/tag.rb
  app/models/tagset_models/fandom_nomination.rb
  app/models/tagset_models/tag_set_association.rb
  app/models/work.rb
  app/views/admin/spam/index.html.erb
  app/views/home/index.html.erb
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/archive_config/locale.rb
  config/initializers/archive_config/settings_for_admin.rb
  config/initializers/monkeypatches/cve_2020_5267.rb
  config/initializers/monkeypatches/errors.rb
  config/initializers/monkeypatches/textarea_convert_html_to_newlines.rb
  factories/series.rb
  features/other_b/errors.feature
  features/other_b/subscriptions_fandoms.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/challenge_promptmeme_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/web_steps.rb
  features/step_definitions/work_steps.rb
  features/support/hooks.rb
  features/tags_and_wrangling/tag_wrangling_more.feature
  features/users/user_dashboard.feature
  lib/pagination_list_link_renderer.rb
  script/reset_database.sh
  spec/controllers/users/registrations_controller_spec.rb
  spec/spec_helper.rb
  spec/support/matchers/be_valid_verbose.rb
Labels: Gem Updates, Reviewed: Ready to Merge

#3883 AO3-6014 Keep the private robots.txt copy in all environments
  config/deploy/staging.rb
  public/robots.private.txt
  public/robots.public.txt
  public/robots.txt
Labels: Reviewed: Ready to Merge

#3886 AO3-5991 Use ActiveJob to send delayed mails instead of Resque::Mailer.
  Gemfile
  Gemfile.lock
  app/controllers/admin/admin_users_controller.rb
  app/controllers/user_invite_requests_controller.rb
  app/controllers/users/registrations_controller.rb
  app/controllers/users_controller.rb
  app/mailers/README.md
  app/mailers/admin_mailer.rb
  app/mailers/collection_mailer.rb
  app/mailers/comment_mailer.rb
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  app/models/abuse_report.rb
  app/models/challenge_assignment.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/creatorship.rb
  app/models/external_author.rb
  app/models/feedback.rb
  app/models/invitation.rb
  app/models/potential_match.rb
  app/models/redis_mail_queue.rb
  app/models/spam_report.rb
  app/models/work.rb
  config/application.rb
  config/environments/test.rb
  config/initializers/gem-plugin_config/resque_mailer.rb
  config/initializers/monkeypatches/deliver_after_commit.rb
  config/initializers/resque_mailer.rb
  lib/tasks/admin_tasks.rake
  lib/tasks/after_tasks.rake
  spec/mailers/admin_mailer_spec.rb
  spec/models/spam_report_spec.rb
Labels: Gem Updates, Reviewed: Ready to Merge
