Repository otwcode/otwarchive, pull requests merged in 2020-10, with the labels that each got.

#3698 AO3-3306 AO3-5831 AO3-5833 Improve autocomplete compatibility with screen readers
  app/helpers/application_helper.rb
  app/views/admin/skins/index_approved.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/bookmarks/_external_work_fields.html.erb
  app/views/challenge_assignments/_maintainer_index_defaulted.html.erb
  app/views/collections/_filters.html.erb
  app/views/collections/_form.html.erb
  app/views/potential_matches/_assignment_with_request.html.erb
  app/views/prompts/_prompt_form_tag_options.html.erb
  app/views/skins/_skin_parent_fields.html.erb
  app/views/tag_set_nominations/_review_individual_nom.html.erb
  app/views/tag_set_nominations/_tag_nominations.html.erb
  app/views/tag_set_nominations/_tag_nominations_by_fandom.html.erb
  app/views/tags/edit.html.erb
  app/views/works/_work_form_pseuds.html.erb
  app/views/works/_work_form_tags.html.erb
  public/javascripts/application.js
  public/javascripts/jquery.tokeninput.js
  public/javascripts/jquery.tokeninput.min.js
Labels: Priority: High, Reviewed: Ready to Merge

#3903 AO3-5357 Address issues with the related works page & anonymous/unrevealed works.
  app/controllers/related_works_controller.rb
  app/views/related_works/index.html.erb
  features/step_definitions/work_related_steps.rb
  features/works/work_related.feature
Labels: Priority: High, Reviewed: Ready to Merge

#3793 AO3-5820 Add "Select" label to checkboxes for inbox comments
  app/views/inbox/show.html.erb
  features/comments_and_kudos/inbox.feature
Labels: Reviewed: Ready to Merge

#3880 AO3-5861 Fix 500 on /users/{invalid}/works/collected
  app/controllers/works_controller.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#3826 AO3-5925 Add limited HTML instructions to logged out comment forms
  app/views/comments/_comment_form.html.erb
Labels: Reviewed: Ready to Merge

#3829 AO3-5952 Fix table alignment in RTL languages
  public/stylesheets/site/2.0/02-elements.css
Labels: Reviewed: Ready to Merge

#3874 AO3-5987 Defer generating share options for bookmarks
  app/controllers/bookmarks_controller.rb
  app/views/bookmarks/_bookmark_owner_navigation.html.erb
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/share.html.erb
  app/views/bookmarks/show.html.erb
  app/views/share/_share.html.erb
  app/views/works/share.html.erb
  config/routes.rb
  features/bookmarks/bookmark_share.feature
  features/step_definitions/share_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/works/work_share.feature
  public/stylesheets/sandbox.css
  spec/controllers/bookmarks_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3894 AO3-6000 Rename fields on guest comment form to reduce chances of browser autofilling non-fannish names
  app/views/comments/_comment_form.html.erb
  features/admins/admin_email_blacklist.feature
  features/admins/admin_post_news.feature
  features/step_definitions/comment_steps.rb
Labels: Reviewed: Ready to Merge

#3885 AO3-6016 Remove anon_commenting_disabled column, and associated code.
  .rubocop.yml
  app/controllers/works_controller.rb
  app/models/work.rb
  app/views/works/edit_multiple.html.erb
  db/migrate/20200814233538_remove_anon_commenting_disabled_from_works.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/work_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3902 AO3-6056 Update confirmation text on the "Drop Claim" button for prompts
  app/views/prompts/_prompt_controls.html.erb
Labels: Reviewed: Ready to Merge

#3908 AO3-5950 Set "do not track" parameter and update homepage Twitter widget
  app/views/home/index.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#3904 AO3-6021 Remove unused ChallengeSweeper and ChallengeSignupSweeper.
  app/sweepers/challenge_signup_sweeper.rb
  app/sweepers/challenge_sweeper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3910 AO3-6020 Remove unused TagSweeper class.
  app/controllers/tags_controller.rb
  app/sweepers/tag_sweeper.rb
Labels: Priority: Low, Reviewed: Ready to Merge
