Repository otwcode/otwarchive, pull requests merged in 2020-04, with the labels that each got.

#3780 AO3-5904 Add delays to make orphaning tests less flaky
  features/importing/archivist.feature
  features/other_a/orphan_pseud.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3783 Update README.md with new travis-ci.com badge
  README.md
Labels: Awaiting Review

#3784 AO3-5911 Update Elasticsearch to 6.8.8 in CI
  script/codeship/setup.sh
  script/travis/elasticsearch_upgrade.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3781 AO3-5497 Let guests bypass the TOS prompt (GET param & localStorage)
  app/views/layouts/_javascripts.html.erb
  app/views/layouts/_tos_prompt.html.erb
  public/javascripts/jquery.cookie.js
Labels: Reviewed: Ready to Merge

#3782 AO3-5906 Move adult content warning acceptance to separate cookie
  app/controllers/application_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3787 AO3-5906 Set view adult response header for nginx to convert to cookie
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3788 AO3-5906 Revert: Set view adult response header for nginx to convert to cookie
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3786 AO3-5908 Redirect to work_chapter_path after accepting adult content warning
  app/controllers/works_controller.rb
Labels: Awaiting Review

#3789 AO3-5914 Remove decommissioned servers
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3790 AO3-5908 Redirect to a multi-chapter work's first chapter with a relative URL
  app/controllers/works_controller.rb
Labels: Reviewed: Ready to Merge

#3791 AO3-5915 Write TOS acceptance to cookie when localStorage not available
  app/views/layouts/_javascripts.html.erb
Labels: Priority: Critical, Reviewed: Ready to Merge

#3792 AO3-5916 Add an additional front end staging server
  config/deploy/staging.rb
Labels: Reviewed: Ready to Merge

#3794 AO3-5917 Set TOS acceptance cookie in browsers that don't handle localStorage
  app/views/layouts/_javascripts.html.erb
  app/views/layouts/_tos_prompt.html.erb
  public/javascripts/js.cookie.min.js
Labels: Awaiting Review, Priority: Critical

#3797 AO3-5905 Add a separate Redis instance for hit counts
  .gitignore
  config/backup.example
  config/redis.example
  config/redis.travis.example
  config/travis/database.yml
  config/travis/redis.yml
  features/support/hooks.rb
  script/performance/benchmarker
  script/performance/profiler
  script/performance/request
  script/travis/configure.sh
  script/travis/multiple_redis.sh
  spec/spec_helper.rb
Labels: Has Config Changes, Priority: High, Reviewed: Ready to Merge

#3796 AO3-5905 New hit count code (for compatibility with nginx caching)
  app/controllers/chapters_controller.rb
  app/controllers/hit_count_controller.rb
  app/controllers/works_controller.rb
  app/models/admin_setting.rb
  app/models/redis_hit_counter.rb
  app/models/stat_counter.rb
  app/models/work.rb
  app/views/chapters/show.html.erb
  app/views/hit_count/_include.html.erb
  app/views/works/show.html.erb
  config/config.yml
  config/resque_schedule.yml
  config/routes.rb
  config/schedule.rb
  config/schedule_web.rb
  db/migrate/20200406185632_drop_last_visitor_from_stat_counters.rb
  db/migrate/20200406190444_drop_old_columns_from_works.rb
  db/migrate/20200412142208_drop_stats_updated_at_from_admin_settings.rb
  features/other_a/hit_counts.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/work_search_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/support/wait_for_ajax.rb
  lib/logfile_reader.rb
  lib/tasks/after_tasks.rake
  lib/tasks/statistics_tasks.rake
  lib/uses_temp_files.rb
  lib/work_stats.rb
  public/javascripts/application.js
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/hit_count_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/lib/logfile_reader_spec.rb
  spec/models/redis_hit_counter_spec.rb
  test/fixtures/admin_settings.yml
  test/fixtures/stat_counters.yml
  test/fixtures/works.yml
Labels: Has Config Changes, Has Migrations, Priority: High, Reviewed: Ready to Merge

#2514 AO3-4622 Remove broken hit count preferences
  app/controllers/preferences_controller.rb
  app/controllers/stats_controller.rb
  app/helpers/works_helper.rb
  app/models/preference.rb
  app/views/preferences/index.html.erb
  app/views/stats/index.html.erb
  app/views/works/_work_module.html.erb
  db/migrate/20200415010506_remove_hits_from_preferences.rb
  features/other_a/preferences_edit.feature
  features/other_b/stats.feature
  features/step_definitions/preferences_steps.rb
  features/step_definitions/work_search_steps.rb
  public/help/statistics-preferences.html
  test/fixtures/preferences.yml
Labels: Has Migrations, Reviewed: Ready to Merge

#2778 AO3-4750 Add link to most recent chapter in work blurbs
  app/helpers/works_helper.rb
  app/views/works/_work_module.html.erb
  features/step_definitions/preferences_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/works/work_browse.feature
Labels: Reviewed: Ready to Merge

#3800 AO3-5905 Don't yield empty batches in the new hit count code.
  app/models/redis_hit_counter.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3801 AO3-5921 Try to fix some intermittent test failures.
  features/step_definitions/user_steps.rb
  features/tags_and_wrangling/tag_wrangling.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3802 AO3-5905 Use one set for the hit count code.
  app/models/redis_hit_counter.rb
  config/resque_schedule.yml
  spec/models/redis_hit_counter_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3803 AO3-4750 Expire work blurbs when chapters are reordered
  app/models/chapter.rb
  features/works/work_browse.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3804 AO3-4750 Expire work index caches when a work's chapters are reordered
  app/models/chapter.rb
  features/works/work_browse.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3805 AO3-4622 Add pt-online-schema-change for hit count preference migration
  db/migrate/20200415010506_remove_hits_from_preferences.rb
Labels: Has Migrations, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3777 AO3-5757 Update Cucumber to 3.1 and retry feature tests
  .travis.yml
  Gemfile
  Gemfile.lock
  config/cucumber.yml
  features/bookmarks/bookmark_browse.feature
  features/bookmarks/bookmark_search.feature
  features/search/works_anonymous.feature
  features/search/works_info.feature
  features/search/works_restricted.feature
  features/search/works_stats.feature
  features/search/works_tags.feature
  features/step_definitions/challenge_promptmeme_steps.rb
  features/step_definitions/web_steps.rb
  features/support/capybara.rb
  features/support/database_cleaner.rb
  features/support/env.rb
  features/support/formatter.rb
  features/support/hooks.rb
  features/support/sphinx.rb
  features/tags_and_wrangling/tag_search.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/works/work_drafts.feature
  features/works/work_lock.feature
  lib/tasks/cucumber.rake
Labels: Gem Updates, Reviewed: Ready to Merge, Scope: Tests Only

#3810 AO3-5757 Print feature file names in Cucumber output
  features/support/formatter.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge, Scope: Tests Only

#3602 AO3-5338 Work factories should create posted works by default
  factories/bookmarks.rb
  factories/series.rb
  factories/works.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  features/step_definitions/work_search_steps.rb
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/kudos_controller_spec.rb
  spec/controllers/orphans_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/drafts_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
  spec/helpers/mailer_helper_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/creatorships.rake_spec.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/lib/works_owner_spec.rb
  spec/mailers/admin_mailer_spec.rb
  spec/models/challenge_assignment_spec.rb
  spec/models/collection_spec.rb
  spec/models/redis_hit_counter_spec.rb
  spec/models/search/bookmark_search_form_exclusion_filters_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/pseud_search_form_spec.rb
  spec/models/search/stat_counter_indexer_spec.rb
  spec/models/search/tag_query_wrangling_spec.rb
  spec/models/search/work_search_form_exclusion_filters_spec.rb
  spec/models/search/work_search_form_spec.rb
  spec/models/spam_report_spec.rb
  spec/models/tag_spec.rb
  spec/models/work_spec.rb
  spec/requests/comments_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3720 AO3-5667 Rewrite the code that generates FilterTaggings from Taggings
  Gemfile
  Gemfile.lock
  app/controllers/tags_controller.rb
  app/controllers/troubleshooting_controller.rb
  app/controllers/works_controller.rb
  app/models/bookmark.rb
  app/models/collection.rb
  app/models/concerns/async_with_resque.rb
  app/models/concerns/filterable.rb
  app/models/concerns/taggable.rb
  app/models/external_work.rb
  app/models/filter_count.rb
  app/models/filter_tagging.rb
  app/models/filter_updater.rb
  app/models/inherited_meta_tag_updater.rb
  app/models/meta_tagging.rb
  app/models/redis_search_index_queue.rb
  app/models/tag.rb
  app/models/tagging.rb
  app/models/work.rb
  app/views/tags/edit.html.erb
  app/views/tags/show.html.erb
  app/views/troubleshooting/show.html.erb
  app/views/works/_work_header_navigation.html.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  factories/tags.rb
  features/admins/admin_works.feature
  features/other_a/media.feature
  features/step_definitions/tag_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/tags_and_wrangling/tag_wrangling_freeforms.feature
  features/tags_and_wrangling/tag_wrangling_relationships.feature
  features/works/work_view.feature
  lib/bookmarkable.rb
  lib/searchable.rb
  lib/tasks/indexing.rake
  lib/tasks/tag_tasks.rake
  spec/controllers/tags_controller_spec.rb
  spec/controllers/troubleshooting_controller_spec.rb
  spec/controllers/works/miscellaneous_spec.rb
  spec/lib/tasks/tag_tasks.rake_spec.rb
  spec/models/concerns/filterable_spec.rb
  spec/models/tag_spec.rb
  spec/models/tag_wrangling_spec.rb
  spec/spec_helper.rb
  spec/support/matchers/add_to_reindex_queue.rb
Labels: Gem Updates, Has Config Changes, Reviewed: Ready to Merge

#3812 AO3-5927 Disable jQuery animations in test environment
  app/views/layouts/_javascripts.html.erb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3816 AO3-5667 Add unique index to filter_taggings table
  db/migrate/20200423205608_add_unique_index_to_filter_taggings.rb
  spec/lib/tasks/tag_tasks.rake_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3819 AO3-5667 Update wording of some troubleshooting options, and change permissions on "Reindex Work" option.
  app/controllers/troubleshooting_controller.rb
  config/locales/views/en.yml
  spec/controllers/troubleshooting_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3822 AO3-5667 Use the reindex_world queue for the Tag:reset_filters task (both the filter jobs and the reindexing jobs).
  app/models/concerns/filterable.rb
  app/models/filter_updater.rb
  app/models/indexing/index_queue.rb
  app/models/indexing/scheduled_reindex_job.rb
  lib/tasks/search.rake
  lib/tasks/tag_tasks.rake
  spec/lib/tasks/search_tasks.rake_spec.rb
  spec/lib/tasks/tag_tasks.rake_spec.rb
  spec/spec_helper.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3823 AO3-5943 Disable Style/ClassAndModuleChildren and more cops
  .hound.yml
  .rubocop.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only
