Repository otwcode/otwarchive, pull requests merged in 2020-03, with the labels that each got.

#3761 AO3-5807 Add --ask-pass option to pt-online-schema-change command.
  db/migrate/20200221045607_drop_approved_from_feedbacks.rb
Labels: Has Migrations, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3762 AO3-5873 Task to update kudos count on indexed works
  lib/tasks/after_tasks.rake
  spec/miscellaneous/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#3750 AO3-5869 Modify the kudos table to make the ID a bigint, and add unique indices.
  db/migrate/20200210013551_add_unique_indices_to_kudos_and_change_id_type.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3760 AO3-5868 Change kudo uniqueness validation to use users instead of pseuds
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  features/comments_and_kudos/kudos.feature
  public/javascripts/application.js
  spec/controllers/kudos_controller_spec.rb
  spec/models/kudo_spec.rb
Labels: Reviewed: Ready to Merge

#3754 AO3-5872 Move RSpec tests back to the default directory structure
  .travis.yml
  spec/controllers/challenge_claims_controller_spec.rb
  spec/controllers/challenge_signups_controller_spec.rb
  spec/controllers/series_controller_spec.rb
  spec/helpers/admin_helper_spec.rb
  spec/helpers/admin_post_helper_spec.rb
  spec/helpers/exports_helper_spec.rb
  spec/helpers/home_helper_spec.rb
  spec/helpers/inbox_helper_spec.rb
  spec/helpers/mailer_helper_spec.rb
  spec/helpers/share_helper_spec.rb
  spec/helpers/tag_sets_helper_spec.rb
  spec/helpers/tag_type_helper_spec.rb
  spec/helpers/user_invite_requests_helper_spec.rb
  spec/helpers/validation_helper_spec.rb
  spec/helpers/works_helper_spec.rb
  spec/lib/autocomplete_source_spec.rb
  spec/lib/collectible_spec.rb
  spec/lib/html_cleaner_spec.rb
  spec/lib/logfile_reader_spec.rb
  spec/lib/media_sanitizer_spec.rb
  spec/lib/string_cleaner_spec.rb
  spec/lib/tasks/admin_tasks.rake_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/creatorships.rake_spec.rb
  spec/lib/tasks/opendoors.rake_spec.rb
  spec/lib/tasks/resque.rake_spec.rb
  spec/lib/tasks/tag_tasks.rake_spec.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/lib/url_formatter_spec.rb
  spec/lib/word_counter_spec.rb
  spec/lib/works_owner_spec.rb
  spec/lib/zoho_auth_client_spec.rb
  spec/lib/zoho_resource_client_spec.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/collection_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/external_author_spec.rb
  spec/models/search/pseud_query_spec.rb
  spec/models/search/tag_query_spec.rb
  spec/requests/comments_spec.rb
  spec/requests/security_headers_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3763 AO3-5888 Rearrange all the servers
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3766 AO3-5893 Download wkhtmltox packages from GitHub
  script/codeship/ebook_converters.sh
  script/travis/ebook_converters.sh
Labels: Priority: High, Reviewed: Ready to Merge, Scope: Tests Only

#3748 AO3-5859 Change all kudos displays to use users instead of pseuds
  app/controllers/chapters_controller.rb
  app/controllers/kudos_controller.rb
  app/controllers/works_controller.rb
  app/helpers/chapters_helper.rb
  app/models/kudo.rb
  app/models/pseud.rb
  app/models/user.rb
  app/models/work.rb
  app/sweepers/kudos_sweeper.rb
  app/views/kudos/_kudos.html.erb
  app/views/kudos/index.html.erb
  app/views/kudos/show.html.erb
  config/brakeman.ignore
  features/comments_and_kudos/kudos.feature
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/kudos_controller_spec.rb
  spec/models/kudo_spec.rb
  spec/models/user_spec.rb
Labels: Reviewed: Ready to Merge

#3765 AO3-5892 Fix intermittent failures in UserMailer specs
  spec/mailers/user_mailer_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#3674 AO3-4539 Remove spam verification for logged-in users on the Support, Abuse forms
  app/models/abuse_report.rb
  app/models/feedback.rb
  spec/mailers/admin_mailer_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_spec.rb
Labels: Reviewed: Ready to Merge

#3143 AO3-5040 Anonymous works and series will now send subscription emails
  app/helpers/mailer_helper.rb
  app/mailers/user_mailer.rb
  app/models/subscription.rb
  app/views/user_mailer/batch_subscription_notification.html.erb
  app/views/user_mailer/batch_subscription_notification.text.erb
  features/other_b/subscriptions.feature
  features/step_definitions/subscription_steps.rb
  lib/creation_notifier.rb
Labels: Reviewed: Ready to Merge

#3768 AO3-5869 Update parameters for pt-online-schema-change commands
  db/migrate/20200210013551_add_unique_indices_to_kudos_and_change_id_type.rb
Labels: Has Migrations, Priority: Critical - Hot Fixed, Reviewed: Ready to Merge

#3693 AO3-5821 Make Statistics bar chart Y-axis start at 0
  app/controllers/stats_controller.rb
Labels: Reviewed: Ready to Merge

#3095 AO3-5193 Stop non-admins from making canonicals into synonyms
  app/models/tag.rb
  app/views/tags/edit.html.erb
  features/bookmarks/bookmark_indexing.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/tags_and_wrangling/tag_wrangling_freeforms.feature
  features/tags_and_wrangling/tag_wrangling_relationships.feature
  spec/controllers/tags_controller_spec.rb
  spec/models/tag_spec.rb
Labels: Reviewed: Ready to Merge

#3735 AO3-5708 Remove BulletproofMailer.
  app/mailers/user_mailer.rb
  lib/bulletproof_mailer.rb
Labels: Reviewed: Ready to Merge

#3770 AO3-5896 Download wkhtmltopdf from media.transformativeworks.org
  script/codeship/ebook_converters.sh
  script/travis/ebook_converters.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3771 AO3-5898 Monkey patch XSS vulnerability in ActionView
  config/initializers/monkeypatches/cve_2020_5267.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3772 AO3-5821 Adjustments to Statistics chart display
  app/controllers/stats_controller.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3774 AO3-5900 Make spam checks pass in tests by default
  features/other_a/abuse_report.feature
  features/step_definitions/admin_steps.rb
  features/support/env.rb
  spec/mailers/admin_mailer_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3773 AO3-5887 Remove pseud_id column from kudos table
  app/controllers/kudos_controller.rb
  app/models/user.rb
  db/migrate/20200325021219_drop_pseud_id_from_kudos.rb
  spec/controllers/kudos_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/user_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3776 AO3-5902 Decommission ao3-app02
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3778 AO3-5162 Stop preloading name and email on guest comment forms
  app/controllers/comments_controller.rb
  app/views/comments/_comment_form.html.erb
Labels: Reviewed: Ready to Merge
