Repository otwcode/otwarchive, pull requests merged in 2020-09, with the labels that each got.

#3897 AO3-6049 Fix intermittent failures in tests for marking spam comments
  features/admins/admin_works.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3895 AO3-6048 Add linters to main Gemfile (and install pwgen)
  .gitignore
  .hound.yml
  Gemfile
  Gemfile.linters
  Gemfile.lock
  config/docker/Dockerfile
Labels: Gem Updates, Reviewed: Ready to Merge, Scope: Tests Only

#3896 AO3-6047 Clean up include statements to fix issues introduced by Resque 2.0 upgrade.
  app/helpers/skin_cache_helper.rb
  app/mailers/admin_mailer.rb
  app/models/external_work.rb
  app/models/prompt.rb
  app/models/skin.rb
  app/models/work_skin.rb
  factories/skins.rb
  features/step_definitions/skin_steps.rb
  features/step_definitions/user_steps.rb
  lib/css_cleaner.rb
  spec/helpers/works_helper_spec.rb
  spec/lib/html_cleaner_spec.rb
  spec/models/skin_spec.rb
  spec/models/work_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3898 AO3-6049 Fix intermittent failures in tests for comments and more
  factories/users.rb
  features/comments_and_kudos/comment_moderation.feature
  features/importing/archivist_creatorships.feature
  features/users/user_dashboard.feature
  features/works/chapter_edit.feature
  features/works/work_edit.feature
Labels: Awaiting Review, Priority: High - Broken on Test, Scope: Tests Only

#3899 AO3-6051 AO3-4551 AO3-4829 Use MemCacheStore and overhaul skin caching
  app/controllers/admin/skins_controller.rb
  app/controllers/preferences_controller.rb
  app/controllers/skins_controller.rb
  app/helpers/skin_cache_helper.rb
  app/helpers/skins_helper.rb
  app/models/admin_setting.rb
  app/models/preference.rb
  app/models/skin.rb
  app/models/skin_parent.rb
  app/views/layouts/_footer.html.erb
  app/views/layouts/_includes.html.erb
  app/views/skins/_form.html.erb
  app/views/skins/_header.html.erb
  app/views/skins/_revert_skin_form.html.erb
  app/views/skins/_skin_navigation.html.erb
  app/views/skins/_update_skin_form.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
  features/support/hooks.rb
  lib/tasks/skin_tasks.rake
  spec/models/skin_spec.rb
  spec/spec_helper.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3900 AO3-5765 Update Rails to 5.2.4.4
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Priority: High - Broken on Test, Reviewed: Ready to Merge

#3901 AO3-6048 Revert "AO3-6048 Add linters to main Gemfile (and install pwgen)"
  .gitignore
  .hound.yml
  Gemfile
  Gemfile.linters
  Gemfile.lock
  config/docker/Dockerfile
Labels: Gem Updates, Priority: High - Broken on Test, Reviewed: Ready to Merge
