Repository otwcode/otwarchive, pull requests merged in 2020-02, with the labels that each got.

#3743 AO3-5735 Fix admin post direction attributes
  app/helpers/language_helper.rb
  app/views/admin_posts/_admin_post.html.erb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3744 AO3-5676 Make user data script print in console instead of to file
  script/get_user_data.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3702 AO3-5723 Update sign-up confirmation email
  config/locales/mailers/en.yml
  spec/miscellaneous/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#3746 AO3-5851 Add rake task to fill in user_id for existing kudos
  lib/tasks/after_tasks.rake
  spec/controllers/invite_requests_controller_spec.rb
  spec/miscellaneous/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#3745 AO3-5863 Add new Devise info to GDPR script
  script/get_user_data.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3737 AO3-5857 Add rails-i18n locale file for Dutch (nl)
  config/application.rb
  config/locales/defaults/nl.yml
Labels: Reviewed: Ready to Merge

#3337 AO3-3547 Add option to add notes to user
  app/helpers/users_helper.rb
  app/models/user_manager.rb
  app/views/admin/admin_users/show.html.erb
  config/config.yml
  features/admins/users/admin_abuse_users.feature
Labels: Reviewed: Ready to Merge

#3656 AO3-4139 Reversi: Make notes on required fields easier to read
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Reviewed: Ready to Merge

#2716 AO3-4836 500 error when approving moderated comments on work you didn't create
  app/controllers/comments_controller.rb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3169 AO3-4205 Add IP address when importing works without preview
  app/controllers/works_controller.rb
  app/models/story_parser.rb
  features/importing/work_import.feature
Labels: Reviewed: Ready to Merge

#3749 AO3-5316 Fix flash messages in UsersController#activate.
  app/controllers/users_controller.rb
  features/other_a/invite_queue.feature
  spec/controllers/users_controller_spec.rb
Labels: Priority: Critical - Hot Fixed, Reviewed: Ready to Merge

#3738 AO3-5028 Notify creators when a collection maintainer makes their work unrevealed and/or anonymous.
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  config/locales/mailers/en.yml
  features/collections/collection_anonymity.feature
  public/help/collection-preferences.html
Labels: Reviewed: Ready to Merge

#3751 AO3-5028 Don't use keyword arguments in the mailer.
  app/mailers/user_mailer.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3752 AO3-4139 fix hard to read text on required fields in reversi
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3753 AO3-5028 Assorted text changes for the anonymous/unrevealed notification emails.
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  config/locales/mailers/en.yml
  features/collections/collection_anonymity.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3757 AO3-5875 Remove Lockup gem
  Gemfile
  Gemfile.lock
  config/application.rb
  config/config.yml
  config/routes.rb
  config/secrets.yml
Labels: Gem Updates, Reviewed: Ready to Merge

#3758 AO3-5807 Drop approved column from feedbacks table.
  app/models/feedback.rb
  db/migrate/20200221045607_drop_approved_from_feedbacks.rb
Labels: Has Migrations, Reviewed: Ready to Merge
