Repository otwcode/otwarchive, pull requests merged in 2020-12, with the labels that each got.

#3926 AO3-6083 Use HTML5 data- attributes for custom autocomplete attributes
  app/helpers/application_helper.rb
  app/views/admin/skins/index_approved.html.erb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/bookmarks/_external_work_fields.html.erb
  app/views/challenge_assignments/_maintainer_index_defaulted.html.erb
  app/views/collections/_filters.html.erb
  app/views/collections/_form.html.erb
  app/views/potential_matches/_assignment_with_request.html.erb
  app/views/prompts/_prompt_form_tag_options.html.erb
  app/views/skins/_skin_parent_fields.html.erb
  app/views/tag_set_nominations/_review_individual_nom.html.erb
  app/views/tag_set_nominations/_tag_nominations.html.erb
  app/views/tag_set_nominations/_tag_nominations_by_fandom.html.erb
  app/views/tags/edit.html.erb
  app/views/works/_work_form_pseuds.html.erb
  app/views/works/_work_form_tags.html.erb
  public/javascripts/application.js
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3927 AO3-5833 Improve autocomplete compatibility with iOS touchscreens
  public/javascripts/jquery.tokeninput.js
  public/javascripts/jquery.tokeninput.min.js
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3928 AO3-6082 Run tests with GitHub Actions.
  .github/workflows/automated-tests.yml
  .simplecov
  .travis.yml
  config/gh-actions/database.yml
  config/gh-actions/local.yml
  config/gh-actions/redis.yml
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/resque.rb
  features/support/env.rb
  script/check_syntax
  script/check_syntax_file
  script/codeship/setup.sh
  script/gem_security.sh
  script/gh-actions/configure_database.sh
  script/gh-actions/ebook_converters.sh
  script/gh-actions/multiple_redis.sh
  script/travis/configure.sh
  script/travis/ebook_converters.sh
  script/travis/elasticsearch_upgrade.sh
  script/travis/multiple_redis.sh
  script/travis/mysql.sh
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3930 AO3-6082 Use colors in test logs and max concurrent jobs in GitHub Actions
  .github/workflows/automated-tests.yml
  ACKNOWLEDGMENTS.md
  README.md
  config/cucumber.yml
  spec/spec_helper.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge, Scope: Tests Only

#3932 AO3-6091 Changes to the CollectionParticipantsController.
  app/controllers/collection_participants_controller.rb
  app/views/collection_participants/_participant_form.html.erb
  config/routes.rb
  spec/controllers/collection_participants_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3931 AO3-6090 Finish TODOs from dropping the anon_commenting_disabled column from the works table.
  app/controllers/works_controller.rb
  app/models/work.rb
  spec/controllers/works/multiple_actions_spec.rb
Labels: Reviewed: Ready to Merge

#3917 AO3-6068 Load default skin in rake task
  lib/tasks/skin_tasks.rake
Labels: Priority: Low, Reviewed: Ready to Merge

#3916 AO3-6048 Add pwgen to Dockerfile
  config/docker/Dockerfile
Labels: Reviewed: Ready to Merge

#3914 AO3-6063 Fix indexing works with no stat counter.
  app/models/work.rb
  spec/models/search/work_indexer_spec.rb
Labels: Reviewed: Ready to Merge

#3913 AO3-6009 Policy & Abuse link in first login banner
  app/views/users/show.html.erb
  config/locales/views/en.yml
  features/other_a/banner_login.feature
Labels: Reviewed: Ready to Merge

#3909 AO3-6019 Rename creator invitations to co-creator requests
  app/controllers/creatorships_controller.rb
  app/helpers/mailer_helper.rb
  app/mailers/user_mailer.rb
  app/models/creatorship.rb
  app/views/chapters/_chapter.html.erb
  app/views/chapters/show.html.erb
  app/views/creatorships/show.html.erb
  app/views/series/show.html.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
  app/views/users/_sidebar.html.erb
  app/views/works/show.html.erb
  config/locales/mailers/en.yml
  features/collections/collection_anonymity.feature
  features/other_a/gift.feature
  features/other_a/pseud_delete.feature
  features/other_b/series.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/search/people_search.feature
  features/step_definitions/user_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/works/chapter_edit.feature
  features/works/work_create.feature
  features/works/work_delete.feature
  features/works/work_edit.feature
  features/works/work_edit_multiple.feature
  features/works/work_related.feature
  public/help/privacy-preferences.html
Labels: Reviewed: Ready to Merge

#3907 AO3-5685 Use DELETE method when logging out.
  app/controllers/admin/sessions_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/users/sessions_controller.rb
  app/views/admin/sessions/confirm_logout.html.erb
  app/views/users/sessions/_greeting.html.erb
  app/views/users/sessions/confirm_logout.html.erb
  config/initializers/devise.rb
  config/routes.rb
  features/admins/admin_invitations.feature
  features/admins/admin_post_news.feature
  features/admins/admin_tasks.feature
  features/admins/admin_works.feature
  features/bookmarks/bookmark_create.feature
  features/comments_and_kudos/spam_comments.feature
  features/other_a/abuse_report.feature
  features/other_a/homepage.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_use.feature
  features/other_b/skin.feature
  features/other_b/skin_public.feature
  features/search/works_restricted.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/banner_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_steps.rb
  features/users/authenticate_users.feature
  features/works/work_download.feature
  features/works/work_edit.feature
  features/works/work_view.feature
Labels: Reviewed: Ready to Merge

#3906 AO3-6046 Do not show proxy notification if viewing from a file
  app/views/layouts/_javascripts.html.erb
Labels: Reviewed: Ready to Merge

#3905 AO3-6057 Make Persian (Farsi, fa) a right-to-left language
  app/helpers/language_helper.rb
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
Labels: Reviewed: Ready to Merge

#3891 AO3-5615 Fandom validation rules for unwrangleable tags
  app/models/tag.rb
  app/views/tags/edit.html.erb
  features/step_definitions/tag_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling.feature
  spec/models/tag_spec.rb
Labels: Reviewed: Ready to Merge

#3833 AO3-5909 Delete skins without JavaScript
  app/controllers/skins_controller.rb
  app/views/skins/_skin_actions.html.erb
  app/views/skins/confirm_delete.html.erb
  config/locales/views/en.yml
  config/routes.rb
  features/other_b/skin.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#3828 AO3-5822 Reverse margins for lists written in RTL languages
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Reviewed: Ready to Merge

#2644 AO3-4743 Fix error on external works page showing only duplicates
  app/controllers/external_works_controller.rb
  app/models/external_work.rb
  app/views/external_works/index.html.erb
  features/bookmarks/bookmark_external.feature
  features/support/paths.rb
Labels: Reviewed: Ready to Merge

#3798 AO3-3582 Update jquery.livequery.min.js to v1.3.6
  public/javascripts/application.js
  public/javascripts/jquery.livequery.min.js
Labels: Priority: Low, Reviewed: Ready to Merge

#2754 AO3-4879 Fix error when updating an external_author fails
  app/controllers/external_authors_controller.rb
  spec/controllers/external_authors_controller_spec.rb
  spec/support/login_macros.rb
Labels: Reviewed: Ready to Merge

#3657 AO3-5791 Restrict width of user-inserted images
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Reviewed: Ready to Merge

#3055 AO3-4744 Fix auto-filling work info for previously-bookmarked URLs
  app/views/bookmarks/_external_work_fields.html.erb
  app/views/external_works/fetch.js.erb
  features/bookmarks/bookmark_external.feature
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/external_work_steps.rb
Labels: Reviewed: Ready to Merge

#3935 AO3-6066 Avoid errors when indexing batch is empty.
  app/models/search/async_indexer.rb
  app/models/search/index_sweeper.rb
  app/models/search/indexer.rb
  app/models/search/stat_counter_indexer.rb
  spec/models/search/async_indexer_spec.rb
  spec/models/search/index_sweeper_spec.rb
  spec/models/search/stat_counter_indexer_spec.rb
  spec/models/search/work_indexer_spec.rb
Labels: Reviewed: Ready to Merge

#3939 AO3-6009 Updated login banner text & links
  app/views/users/show.html.erb
  config/locales/views/en.yml
  features/other_a/banner_login.feature
  features/step_definitions/banner_steps.rb
Labels: Priority: High - Broken on Test, Reviewed: Action Needed

#3934 AO3-6086 Make collections taggable behind the scenes
  app/models/bookmark.rb
  app/models/collection.rb
  app/models/concerns/taggable.rb
  app/models/filter_updater.rb
  app/models/tag.rb
  app/models/tagging.rb
  config/config.yml
  db/migrate/20201210140123_add_organizational_fields_to_collections.rb
  spec/models/concerns/filterable_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3937 AO3-6064 Avoid DelegationError when indexing pseuds with deleted users.
  .rubocop.yml
  app/models/pseud.rb
  spec/models/search/bookmark_indexer_spec.rb
  spec/models/search/pseud_indexer_spec.rb
Labels: Reviewed: Ready to Merge

#3940 AO3-5909 Fix the confirmation message when deleting a skin
  config/locales/views/en.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3941 AO3-3582 Fix scrolling when loading comments via AJAX
  public/javascripts/application.js
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3943 AO3-3765 Fix links in tag comment notifications.
  app/views/comment_mailer/_comment_notification_footer_for_tag.html.erb
  app/views/comment_mailer/_comment_notification_footer_for_tag.text.erb
  features/tags_and_wrangling/tag_comment.feature
  spec/mailers/comment_mailer_spec.rb
Labels: Awaiting Review, Priority: High

#3936 AO3-5958 Use Devise helpers for authentication in specs
  factories/users.rb
  features/admins/users/admin_manage_users.feature
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/profile_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  features/support/user.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/controllers/challenge_claims_controller_spec.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
  spec/controllers/gifts_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/drafts_spec.rb
  spec/lib/tasks/admin_tasks.rake_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/user_invitation_spec.rb
  spec/requests/admin_settings_request_spec.rb
  spec/requests/comments_spec.rb
  spec/spec_helper.rb
  spec/support/login_macros.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3945 AO3-6098 Update servers in production deploy script
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3947 AO3-6100 Grant support admins access to admin posts
  app/policies/admin_post_policy.rb
  spec/controllers/admin_posts_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3946 AO3-6096 Replace Dewplayer embeds with audio tags when sanitizing HTML
  lib/otw_sanitize/embed_sanitizer.rb
  lib/otw_sanitize/media_sanitizer.rb
  lib/otw_sanitize/user_class_sanitizer.rb
  lib/tasks/after_tasks.rake
  spec/lib/html_cleaner_spec.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3949 AO3-6096 Handle encoded characters in Dewplayer audio URLs
  lib/otw_sanitize/embed_sanitizer.rb
  lib/otw_sanitize/media_sanitizer.rb
  lib/tasks/after_tasks.rake
  spec/lib/html_cleaner_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge
