Repository otwcode/otwarchive, pull requests merged in 2020-07, with the labels that each got.

#3821 AO3-5518 Create roles for admins
  Gemfile
  Gemfile.lock
  app/controllers/admin/activities_controller.rb
  app/controllers/admin/admin_invitations_controller.rb
  app/controllers/admin/admin_users_controller.rb
  app/controllers/admin/api_controller.rb
  app/controllers/admin/banners_controller.rb
  app/controllers/admin/base_controller.rb
  app/controllers/admin/blacklisted_emails_controller.rb
  app/controllers/admin/settings_controller.rb
  app/controllers/admin/skins_controller.rb
  app/controllers/admin/spam_controller.rb
  app/controllers/admin/user_creations_controller.rb
  app/controllers/admin_posts_controller.rb
  app/controllers/admins_controller.rb
  app/controllers/application_controller.rb
  app/models/admin.rb
  app/policies/admin_moderation_policy.rb
  app/policies/admin_post_policy.rb
  app/policies/admin_setting_policy.rb
  app/policies/admin_user_policy.rb
  app/policies/application_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_users/show.html.erb
  app/views/admin/settings/index.html.erb
  app/views/admin_posts/index.html.erb
  app/views/admin_posts/show.html.erb
  app/views/admins/index.html.erb
  app/views/chapters/show.html.erb
  app/views/users/sessions/_greeting.html.erb
  app/views/works/show.html.erb
  config/routes.rb
  db/migrate/20200504132624_add_roles_to_admins.rb
  factories/admin.rb
  features/admins/admin_invitations.feature
  features/admins/admin_post_faqs.feature
  features/admins/admin_post_issues.feature
  features/admins/admin_post_news.feature
  features/admins/admin_works.feature
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_fnok.feature
  features/admins/users/admin_manage_users.feature
  features/bookmarks/delete_bookmarkable.feature
  features/comments_and_kudos/hidden_works.feature
  features/comments_and_kudos/spam_comments.feature
  features/importing/archivist.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  features/other_a/media.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/archivist_steps.rb
  features/tags_and_wrangling/brand_new_fandoms.feature
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_admin.feature
  features/works/work_download.feature
  spec/controllers/admin_posts_controller_spec.rb
  spec/models/admin_spec.rb
  spec/requests/admin_settings_request_spec.rb
  spec/spec_helper.rb
Labels: Gem Updates, Has Migrations, Reviewed: Ready to Merge

#3855 AO3-5518 Tweak admin index HTML and add i18n
  app/views/admins/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3856 AO3-5979 Add unique constraints for login and email on the admins table
  app/models/admin.rb
  db/migrate/20200707213354_add_unique_indices_to_admin_login_email.rb
Labels: Reviewed: Ready to Merge

#3836 AO3-5519 AO3-5883 AO3-5886 Restrict admin access to admin posts, settings, and comments
  app/controllers/admin/base_controller.rb
  app/controllers/admin/settings_controller.rb
  app/controllers/application_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/external_works_controller.rb
  app/helpers/comments_helper.rb
  app/policies/admin_setting_policy.rb
  app/policies/application_policy.rb
  app/policies/comment_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/settings/index.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/comments/_comment_actions.html.erb
  app/views/external_works/_blurb.html.erb
  app/views/series/show.html.erb
  factories/admin_setting.rb
  features/step_definitions/admin_steps.rb
  features/step_definitions/external_work_steps.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/controllers/admin/user_creations_controller_spec.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3838 AO3-5884 Restrict ability to search for and update users
  app/controllers/admin/admin_invitations_controller.rb
  app/controllers/admin/admin_users_controller.rb
  app/controllers/invitations_controller.rb
  app/models/user_manager.rb
  app/policies/user_policy.rb
  app/views/admin/_header.html.erb
  factories/users.rb
  features/other_a/invite_request.feature
  spec/controllers/admin/admin_invitations_controller_spec.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/models/user_manager_spec.rb
Labels: Reviewed: Ready to Merge

#3839 AO3-5885 Restrict ability modify user creations
  app/controllers/external_works_controller.rb
  app/policies/admin_moderation_policy.rb
  factories/works.rb
  spec/controllers/admin/spam_controller_spec.rb
  spec/controllers/admin/user_creations_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3857 AO3-5980 AO3-5623 Update admin creation script to prompt for roles
  script/create_admin.rb
Labels: Reviewed: Ready to Merge

#3858 AO3-5885 Rework restrictions on modifying user creations + grant support admins edit access
  app/controllers/admin/user_creations_controller.rb
  app/controllers/external_works_controller.rb
  app/helpers/admin_helper.rb
  app/policies/admin_moderation_policy.rb
  app/policies/user_creation_policy.rb
  app/views/admin/_admin_options.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/chapters/show.html.erb
  app/views/external_works/_blurb.html.erb
  app/views/series/show.html.erb
  app/views/works/show.html.erb
  config/locales/views/en.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3859 AO3-5992 Fix error with keys being converted to symbols in spam alert email.
  app/mailers/admin_mailer.rb
Labels: Reviewed: Ready to Merge

#3860 AO3-5883 Show restricted admin settings as disabled fields
  .rubocop.yml
  app/controllers/admin/settings_controller.rb
  app/helpers/admin_helper.rb
  app/policies/admin_post_policy.rb
  app/policies/admin_setting_policy.rb
  app/policies/admin_user_policy.rb
  app/policies/comment_policy.rb
  app/policies/user_creation_policy.rb
  app/policies/user_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/settings/index.html.erb
  config/locales/views/en.yml
  factories/admin_setting.rb
  spec/controllers/admin/settings_controller_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3861 AO3-5886 Separate permissions in CommentPolicy and add notice to comments marked as spam
  app/helpers/comments_helper.rb
  app/policies/comment_policy.rb
  app/views/comments/_comment_actions.html.erb
  app/views/comments/_single_comment.html.erb
  app/views/comments/_single_comment_abbreviated.html.erb
  features/admins/admin_works.feature
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3864 AO3-5884 Remove unused class AdminUserPolicy
  .rubocop.yml
  app/controllers/admin/admin_users_controller.rb
  app/controllers/external_works_controller.rb
  app/controllers/invitations_controller.rb
  app/helpers/admin_helper.rb
  app/models/user_manager.rb
  app/policies/admin_post_policy.rb
  app/policies/admin_user_policy.rb
  app/policies/user_creation_policy.rb
  app/policies/user_policy.rb
  app/views/admin/_admin_options.html.erb
  app/views/admin/_header.html.erb
  app/views/admin/admin_users/show.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/chapters/show.html.erb
  app/views/external_works/_blurb.html.erb
  app/views/series/show.html.erb
  app/views/works/show.html.erb
  spec/models/user_manager_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3865 AO3-5518 AO3-5519 AO3-5886 Add board admin role with admin post and comment moderation permissions
  app/models/admin.rb
  app/policies/admin_post_policy.rb
  app/policies/comment_policy.rb
  config/locales/models/en.yml
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3866 AO3-5623 AO3-5518 Fix admin creation script, clean up admin-related feature steps
  factories/admin.rb
  features/admins/admin_invitations.feature
  features/admins/admin_post_news.feature
  features/admins/admin_works.feature
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_fnok.feature
  features/admins/users/admin_manage_users.feature
  features/bookmarks/delete_bookmarkable.feature
  features/comments_and_kudos/hidden_works.feature
  features/comments_and_kudos/spam_comments.feature
  features/importing/archivist.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  features/other_a/media.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/external_work_steps.rb
  features/tags_and_wrangling/brand_new_fandoms.feature
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_admin.feature
  features/works/work_download.feature
  script/create_admin.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3849 AO3-5967 Ignore http_proxy for requests to New Relic collectors
  config/initializers/new_relic.rb
Labels: Reviewed: Ready to Merge

#3863 AO3-5793 Docker support
  app/controllers/bookmarks_controller.rb
  config/docker/Dockerfile
  config/docker/database.yml
  config/docker/local.yml
  config/docker/redis.yml
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/gem-plugin_config/redis.rb
  docker-compose.yml
  script/docker/init.cmd
  script/docker/init.sh
  script/reset_database.sh
Labels: Reviewed: Ready to Merge

#3869 AO3-5884 Restrict which admins can update user roles and which can update user emails
  app/controllers/admin/admin_users_controller.rb
  app/helpers/admin_helper.rb
  app/models/user.rb
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_manage_users.feature
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3870 AO3-5999 Make comment factories look more like real comments, and reorganize to use traits.
  factories/comments.rb
  features/search/works_stats.feature
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_search_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_share.feature
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
  spec/helpers/inbox_helper_spec.rb
  spec/requests/comments_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3871 AO3-5883 Let policy_and_abuse admins turn queue on/off and specify how many invites to send per day
  app/policies/admin_setting_policy.rb
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  spec/controllers/admin/settings_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3868 AO3-5983 Add Hound rules for Rails and ERB template linting
  .erb-lint.yml
  .gitignore
  .hound.yml
  .rubocop.yml
  Gemfile
  Gemfile.linters
  app/models/admin.rb
  app/policies/admin_post_policy.rb
  app/policies/admin_setting_policy.rb
  app/policies/comment_policy.rb
  app/policies/user_creation_policy.rb
  app/policies/user_policy.rb
  config/environments/development.rb
  config/environments/test.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/requests/admin_settings_request_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3873 AO3-5884 Fix deleting roles when admins can't update roles
  .rubocop.yml
  app/controllers/admin/admin_users_controller.rb
  app/models/user.rb
  factories/users.rb
  features/admins/users/admin_manage_users.feature
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/spec_helper.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3232 AO3-4923 Expand bookmark controller test
  spec/controllers/bookmarks_controller_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3852 AO3-5897 Allow work creators to disable all comments.
  app/controllers/comments_controller.rb
  app/controllers/works_controller.rb
  app/helpers/comments_helper.rb
  app/models/work.rb
  app/views/comments/_commentable.html.erb
  app/views/works/_hidden_fields.html.erb
  app/views/works/_standard_form.html.erb
  app/views/works/edit_multiple.html.erb
  features/comments_and_kudos/comment_moderation.feature
  features/step_definitions/work_steps.rb
  features/works/work_edit_multiple.feature
  public/help/comments-anonymous.html
  public/help/who-can-comment-on-this-work.html
  spec/controllers/comments_controller_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
  spec/requests/comments_spec.rb
Labels: Reviewed: Ready to Merge
