Repository otwcode/otwarchive, pull requests merged in 2020-06, with the labels that each got.

#3825 AO3-5828 Add IP whitelist for Rack Attack
  config/config.yml
  config/initializers/rack_attack.rb
Labels: Has Production Config Changes, Priority: High, Reviewed: Ready to Merge

#3831 AO3-5948 Reduce some cookies' expiration date to one year
  app/controllers/application_controller.rb
  app/views/layouts/_javascripts.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#3806 AO3-5422 Remove unused methods in bookmarks_helper
  app/helpers/bookmarks_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3807 AO3-5423 Remove unused methods in users_helper
  app/helpers/users_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3808 AO3-5425 Remove unused methods in comments_helper
  app/helpers/comments_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3809 AO3-5426 Removed unused link_to_tag_with_count method from pseuds_helper
  app/helpers/pseuds_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3691 AO3-5736 Update to error text when trying to log into a non-activated account.
  config/locales/devise/en.yml
Labels: Reviewed: Ready to Merge

#3827 AO3-5938 Links in bookmark blurb stats have their bottom borders cut off (on Windows)
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Reviewed: Ready to Merge

#3811 AO3-5266 Enforce HTTPS for ning.com and vidders.net embeds
  lib/otw_sanitize/embed_sanitizer.rb
  lib/tasks/after_tasks.rake
  spec/lib/html_cleaner_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3820 AO3-5721 Delete challenge without JavaScript
  app/views/challenge/gift_exchange/_gift_exchange_form.html.erb
  app/views/challenge/gift_exchange/confirm_delete.html.erb
  app/views/challenge/prompt_meme/_prompt_meme_form.html.erb
  app/views/challenge/prompt_meme/confirm_delete.html.erb
  app/views/challenge/shared/_challenge_form_confirm_delete.html.erb
  app/views/challenge/shared/_challenge_form_delete.html.erb
  app/views/collection_profile/show.html.erb
  config/routes.rb
  features/gift_exchanges/challenge_giftexchange.feature
  features/prompt_memes_c/challenge_promptmeme_deletion.feature
Labels: Priority: High, Reviewed: Ready to Merge

#3282 AO3-5332 Remove creator from work when they remove themselves from last chapter they created
  app/controllers/chapters_controller.rb
  features/works/chapter_edit.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3818 AO3-5940 Add deliver_after_commit to mailers, and use it inside transactions.
  app/mailers/README
  app/mailers/README.md
  app/models/collection_item.rb
  app/models/comment.rb
  app/models/related_work.rb
  app/models/user_invite_request.rb
  app/models/work.rb
  config/initializers/monkeypatches/deliver_after_commit.rb
  lib/creation_notifier.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3817 AO3-5936 Enable experimental caching in feature tests
  app/models/admin_setting.rb
  config/initializers/archive_config/settings_for_admin.rb
  features/other_a/invite_queue.feature
  features/other_a/pseud_dashboard.feature
  features/other_a/reading.feature
  features/step_definitions/admin_steps.rb
  features/support/hooks.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_cloud.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/works/work_browse.feature
  features/works/work_delete.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3775 AO3-4874 Allow HTML subscription emails to include HTML in summaries
  app/views/user_mailer/batch_subscription_notification.html.erb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#3841 AO3-5965 Handle CSRF errors on JSON requests.
  app/controllers/application_controller.rb
Labels: Reviewed: Ready to Merge

#3843 AO3-5882 Updated Marked for Later Page Title
  app/controllers/readings_controller.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3742 AO3-5737 Put border on right side for RTL blockquotes
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Reviewed: Ready to Merge

#3785 AO3-5878 Add error to invalid prompt update
  app/controllers/prompts_controller.rb
  app/helpers/validation_helper.rb
  app/views/challenge_signups/_signup_form.html.erb
  app/views/prompts/edit.html.erb
  features/prompt_memes_a/challenge_promptmeme_setup.feature
Labels: Reviewed: Ready to Merge

#3842 AO3-5969 Make "Update Tag Filters" troubleshooting option work for unfilterable tags.
  app/controllers/troubleshooting_controller.rb
  spec/controllers/troubleshooting_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3845 AO3-5930 Avoid calling serial_works.includes(:works).references(:works).
  app/controllers/series_controller.rb
  app/helpers/series_helper.rb
  app/models/series.rb
  app/views/series/show.html.erb
Labels: Reviewed: Ready to Merge

#3815 AO3-5907 Move share work modal loading to a controller action
  app/controllers/bookmarks_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/preferences_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/works_controller.rb
  app/views/share/_share.html.erb
  app/views/works/_work_header_navigation.html.erb
  app/views/works/share.html.erb
  config/environments/test.rb
  config/routes.rb
  features/collections/collection_anonymity.feature
  features/comments_and_kudos/inbox.feature
  features/step_definitions/collection_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_create.feature
  features/works/work_delete.feature
  features/works/work_share.feature
  public/stylesheets/sandbox.css
  spec/controllers/works/default_rails_actions_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#3846 AO3-5007 Only allow taggable.rb to create new noncanonicals for user-defined tags
  app/models/concerns/taggable.rb
  factories/works.rb
  features/fixtures/tags.yml
  features/importing/archivist.feature
  features/step_definitions/work_import_steps.rb
  spec/controllers/api/api_helper.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
  spec/models/search/work_query_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#3850 AO3-5976 Decommission ao3-app11, put ao3-front04 back in service
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3848 AO3-5957 Bump rack and rack-dev-mark
  Gemfile
  Gemfile.lock
Labels: Gem Updates, Priority: Low, Reviewed: Ready to Merge

#3847 AO3-5974 Update sanitizer configuration with workaround for CVE-2020-4054
  config/initializers/gem-plugin_config/sanitizer_config.rb
  spec/lib/html_cleaner_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3851 AO3-5973 AO3-5881 Add comment permission column, and start updating multiple works form.
  app/controllers/works_controller.rb
  app/helpers/application_helper.rb
  app/models/work.rb
  app/views/works/edit_multiple.html.erb
  db/migrate/20200613211440_add_comment_permissions_to_works.rb
  lib/tasks/after_tasks.rake
  spec/controllers/works/multiple_actions_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/work_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3795 AO3-5771 Correct URLs in tag lists generated from "show hidden" links
  app/views/tags/show_hidden.js.erb
  features/other_a/preferences_edit.feature
  spec/controllers/tags_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3854 AO3-5973 Make the WorksController forward-compatible.
  app/controllers/works_controller.rb
  app/models/work.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/work_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3853 AO3-5947 Add Hound rules for RSpec
  .rubocop.yml
  spec/lib/collectible_spec.rb
  spec/models/tag_set_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only
