Repository otwcode/otwarchive, pull requests merged in 2021-02, with the labels that each got.

#3968 AO3-6122 Allow fandom tags and tags without fandoms to be unwrangleable
  app/models/tag.rb
  app/views/tags/edit.html.erb
  features/tags_and_wrangling/tag_wrangling.feature
  spec/models/tag_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3970 AO3-6115 Update faker
  Gemfile
  Gemfile.lock
  factories/abuse_reports.rb
  factories/comments.rb
  factories/feedback.rb
  factories/invitations.rb
  factories/pseuds.rb
  factories/users.rb
  features/importing/work_import.feature
  features/support/hooks.rb
  spec/models/admin_spec.rb
  spec/models/user_spec.rb
  spec/models/work_spec.rb
  spec/spec_helper.rb
Labels: Gem Updates, Reviewed: Ready to Merge, Scope: Tests Only

#3971 AO3-6115 Fix rate limiting on user login attempts
  config/initializers/rack_attack.rb
  spec/requests/rack_attack_spec.rb
  spec/spec_helper.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3966 AO3-5880 Don't display anonymous series on user page
  app/controllers/pseuds_controller.rb
  app/controllers/users_controller.rb
  features/users/user_dashboard.feature
Labels: Reviewed: Ready to Merge

#3972 AO3-6124 Keep admin post translation comment permissions in sync with original
  app/models/admin_post.rb
  app/views/admin_posts/_admin_post_form.html.erb
  config/locales/views/en.yml
  features/admins/admin_post_news.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin_posts_controller_spec.rb
  spec/helpers/admin_post_helper_spec.rb
Labels: Reviewed: Ready to Merge

#3933 AO3-6025 Change wording in Open Doors emails
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  config/locales/mailers/en.yml
Labels: Reviewed: Ready to Merge

#3957 AO3-5585 Modify ChallengeAssignmentsController.
  app/controllers/challenge_assignments_controller.rb
  app/views/challenge_assignments/_assignment_blurb.html.erb
  app/views/challenge_assignments/show.html.erb
  app/views/potential_matches/_assignment_with_request.html.erb
  config/routes.rb
  spec/controllers/challenge_assignments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3948 AO3-6011 Refactor parameters passed to the ChallengeClaimsController.
  app/controllers/challenge_claims_controller.rb
  app/models/challenge_claim.rb
  app/models/prompt.rb
  app/views/prompts/_prompt_controls.html.erb
  spec/controllers/challenge_claims_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3973 AO3-6131 Add user ID and creation ID info to blurbs, with a focus on work blurbs
  app/helpers/application_helper.rb
  app/views/external_works/_blurb.html.erb
  app/views/gifts/_gift_blurb.html.erb
  app/views/profile/show.html.erb
  app/views/readings/_reading_blurb.html.erb
  app/views/series/_series_blurb.html.erb
  app/views/series/show.html.erb
  app/views/works/_work_blurb.html.erb
  spec/helpers/application_helper_spec.rb
Labels: Reviewed: Ready to Merge

#3979 AO3-6137 Log admin changes to user roles
  app/models/roles_user.rb
  app/models/user.rb
  config/initializers/gem-plugin_config/permit_yo_config.rb
  factories/users.rb
  features/admins/users/admin_manage_users.feature
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3977 AO3-5525 Block password resets for certain users
  .rubocop.yml
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  app/policies/user_policy.rb
  config/locales/controllers/en.yml
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  lib/tasks/defaults.rake
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/lib/tasks/defaults.rake_spec.rb
Labels: Reviewed: Ready to Merge
