Repository otwcode/otwarchive, pull requests merged in 2021-11, with the labels that each got.

#4099 AO3-6252 Add error message for kudos rate limit
  public/javascripts/application.js
Labels: Priority: Critical, Reviewed: Ready to Merge

#3570 AO3-5671 Update Elasticsearch to 7.12.0
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  app/models/search/bookmark_indexer.rb
  app/models/search/bookmarkable_indexer.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/indexer.rb
  app/models/search/pseud_indexer.rb
  app/models/search/pseud_query.rb
  app/models/search/query.rb
  app/models/search/query_cleaner.rb
  app/models/search/query_result.rb
  app/models/search/stat_counter_indexer.rb
  app/models/search/tag_indexer.rb
  app/models/search/work_creator_indexer.rb
  app/models/search/work_indexer.rb
  docker-compose.yml
  features/bookmarks/bookmark_search.feature
  script/codeship/setup.sh
Labels: Reviewed: Ready to Merge, Gem Updates

#4101 AO3-5671 Update Elasticsearch to 7.15
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Reviewed: Ready to Merge, Gem Updates

#4104 AO3-6263 Allow SSL for SMTP to be configurable
  config/config.yml
  config/initializers/archive_config/mail.rb
Labels: Reviewed: Ready to Merge

#4105 AO3-6260 Remove setup files for Codeship tests
  config/codeship/database.yml
  config/codeship/redis.yml
  config/codeship/redis1.conf
  config/codeship/redis2.conf
  script/codeship/ebook_converters.sh
  script/codeship/setup.sh
  script/codeship/test_prepare.sh
  script/codeship/try.sh
Labels: Awaiting Review, Scope: Tests Only
