Repository otwcode/otwarchive, pull requests merged in 2021-12, with the labels that each got.

#4107 AO3-6263 Configure mailers in config/application.rb
  config/application.rb
  config/config.yml
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/archive_config/archive_config.rb
  config/initializers/archive_config/mail.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4087 AO3-6225 Make comparison of email addresses case-insensitive
  app/controllers/users_controller.rb
  features/other_a/profile_edit.feature
Labels: Reviewed: Ready to Merge

#4098 AO3-6093 Propagate tags from original admin posts to translations
  app/models/admin_post.rb
  app/views/admin_posts/_admin_post_form.html.erb
  config/locales/views/en.yml
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/generic_steps.rb
  features/tag_sets/tag_set_nominations.feature
Labels: Reviewed: Ready to Merge

#4072 AO3-5926 Fix chapter re-positioning when deleting chapter one
  app/models/chapter.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4036 AO3-6161 Only allow jpg/gif/png as pseud icons.
  app/models/pseud.rb
  features/collections/icon.feature
  features/fixtures/icon.bmp
  features/fixtures/icon.jpg
  features/fixtures/icon.png
  features/step_definitions/icon_steps.rb
Labels: Reviewed: Ready to Merge

#4030 AO3-6189 Don't set Time.zone in challenge controllers.
  app/controllers/challenge/gift_exchange_controller.rb
  app/controllers/challenge/prompt_meme_controller.rb
  lib/challenge_core.rb
  spec/controllers/gift_exchange_controller_spec.rb
  spec/controllers/prompt_meme_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3976 AO3-6132 Add series creator info to series blurb classes
  app/helpers/application_helper.rb
  app/models/work.rb
  factories/series.rb
  spec/helpers/application_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4106 AO3-6262 Install rails-i18n for pluralization rules
  .phrase.yml
  Gemfile
  Gemfile.lock
  app/models/translation_note.rb
  config/initializers/copycopter.rb
  config/locales/README.md
  config/locales/defaults/af.yml
  config/locales/defaults/ar.yml
  config/locales/defaults/bg.yml
  config/locales/defaults/bn.yml
  config/locales/defaults/ca.yml
  config/locales/defaults/cs.yml
  config/locales/defaults/cy.yml
  config/locales/defaults/da.yml
  config/locales/defaults/de.yml
  config/locales/defaults/el.yml
  config/locales/defaults/en.yml
  config/locales/defaults/es.yml
  config/locales/defaults/fa.yml
  config/locales/defaults/fi.yml
  config/locales/defaults/fr.yml
  config/locales/defaults/he.yml
  config/locales/defaults/hi.yml
  config/locales/defaults/hr.yml
  config/locales/defaults/hu.yml
  config/locales/defaults/id.yml
  config/locales/defaults/it.yml
  config/locales/defaults/ja.yml
  config/locales/defaults/ko.yml
  config/locales/defaults/lt.yml
  config/locales/defaults/lv.yml
  config/locales/defaults/mk.yml
  config/locales/defaults/ms.yml
  config/locales/defaults/nb.yml
  config/locales/defaults/nl.yml
  config/locales/defaults/pl.yml
  config/locales/defaults/pt-BR.yml
  config/locales/defaults/pt-PT.yml
  config/locales/defaults/ro.yml
  config/locales/defaults/ru.yml
  config/locales/defaults/sk.yml
  config/locales/defaults/sl.yml
  config/locales/defaults/sr.yml
  config/locales/defaults/sv.yml
  config/locales/defaults/th.yml
  config/locales/defaults/tr.yml
  config/locales/defaults/uk.yml
  config/locales/defaults/vi.yml
  config/locales/defaults/zh-CN.yml
  config/locales/rails-i18n/locale/fil.yml
  config/locales/rails-i18n/locale/mr.yml
  config/locales/rails-i18n/pluralization/fil.rb
  config/locales/rails-i18n/pluralization/mr.rb
Labels: Reviewed: Ready to Merge, Gem Updates

#4109 AO3-6261 Update Contact Open Doors link in work claim emails
  app/views/external_authors/claim.html.erb
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
Labels: Reviewed: Ready to Merge

#4114 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/lt.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Reviewed: Ready to Merge

#4116 AO3-6132 Fix intermittent failure in series blurb helper tests
  spec/helpers/application_helper_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review, Scope: Tests Only

#4117 AO3-6262 Update pluralization rule for Croatian
  .rubocop.yml
  config/locales/README.md
  config/locales/rails-i18n/pluralization/hr.rb
  spec/lib/i18n/pluralization_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4118 Add API section to README
  README.md
Labels: Reviewed: Ready to Merge

#4119 AO3-6093 Prevent creation of translation tags in system
  app/models/admin_post.rb
  features/admins/admin_post_news.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4120 AO3-6132 Version cache key for blurb CSS classes
  app/helpers/application_helper.rb
  spec/helpers/application_helper_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4121 AO3-6093 Do not create tags for translation of invalid post
  app/models/admin_post.rb
  spec/controllers/admin_posts_controller_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review

#4122 AO3-6270 Bump elasticsearch to 7.16.1
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Gem Updates, Awaiting Review
