Repository otwcode/otwarchive, pull requests merged in 2021-01, with the labels that each got.

#3953 AO3-6096 Remove spaces around Dewplayer audio URLs
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3956 AO3-6096 Fix output of task to replace Dewplayer embeds
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#3954 AO3-6098 Update servers in production deploy script
  config/deploy/production.rb
Labels: Reviewed: Ready to Merge

#3919 AO3-6027 Admin post comment permissions
  app/controllers/admin_posts_controller.rb
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/models/admin_post.rb
  app/views/admin_posts/_admin_post_form.html.erb
  app/views/admin_posts/index.html.erb
  app/views/comments/_commentable.html.erb
  config/locales/views/en.yml
  db/migrate/20200829050124_add_comment_permissions_to_admin_posts.rb
  features/admins/admin_post_news.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/comment_steps.rb
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#3893 AO3-4709 Allow comments to be frozen
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/policies/comment_policy.rb
  app/views/comments/_comment_actions.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  db/migrate/20201214013251_add_iced_to_comments.rb
  features/comments_and_kudos/frozen_comments.feature
  lib/plugins/acts_as_commentable/comment_methods.rb
  spec/controllers/comments_controller_spec.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#3951 AO3-6078 Unescape title HTML when notifying user about work deletion
  app/controllers/works_controller.rb
  features/step_definitions/work_steps.rb
  features/works/work_delete.feature
Labels: Reviewed: Ready to Merge

#3958 AO3-6105 Prevent mismatches in OwnedTagSets for TagSetNominations.
  app/controllers/tag_set_nominations_controller.rb
  app/views/tag_set_nominations/_nomination_form.html.erb
  spec/controllers/tag_set_nominations_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3959 AO3-5928 Disable schema dumping after migrations
  config/application.rb
  config/environments/test.rb
  lib/tasks/database_seed.rake
Labels: Reviewed: Ready to Merge

#3961 AO3-6108 Cache comment counts.
  app/models/chapter.rb
  app/models/comment.rb
  app/models/work.rb
  config/config.yml
  features/comments_and_kudos/comment_moderation.feature
  features/comments_and_kudos/comments_delete.feature
  features/step_definitions/comment_steps.rb
  lib/plugins/acts_as_commentable/commentable_entity.rb
Labels: Reviewed: Ready to Merge

#3962 AO3-6027 Test comment permissions on admin post edit form
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/web_steps.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#3963 AO3-4709 Comment freezing fixes
  app/controllers/comments_controller.rb
  app/models/comment.rb
  public/stylesheets/site/2.0/02-elements.css
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/09-roles-states.css
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#3964 AO3-6111 Paginate kudos.
  app/controllers/chapters_controller.rb
  app/controllers/kudos_controller.rb
  app/controllers/works_controller.rb
  app/helpers/kudos_helper.rb
  app/models/kudo.rb
  app/sweepers/kudos_sweeper.rb
  app/views/kudos/_kudos.html.erb
  app/views/kudos/index.html.erb
  app/views/kudos/index.js.erb
  config/locales/views/en.yml
  features/comments_and_kudos/kudos.feature
  features/comments_and_kudos/kudos_pagination.feature
  features/step_definitions/kudos_steps.rb
  public/javascripts/application.js
Labels: Reviewed: Ready to Merge

#3965 AO3-6111 Reverse kudos order on /works/:id/kudos page.
  app/controllers/kudos_controller.rb
  features/comments_and_kudos/kudos.feature
  features/comments_and_kudos/kudos_pagination.feature
Labels: Awaiting Review, Priority: High - Broken on Test
