Repository otwcode/otwarchive, pull requests merged in 2021-07, with the labels that each got.

#4001 AO3-6065 Add task to set rating to "Not Rated" if missing
  lib/tasks/after_tasks.rake
  lib/tasks/work_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4037 AO3-5964 AO3-6065 Reorder tag clean-up rake tasks
  lib/tasks/after_tasks.rake
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#4042 AO3-6193 Fix flaky tests when editing works and external works
  features/admins/admin_works.feature
  features/works/work_edit_multiple.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4035 AO3-6110 Remove child_skin_id from allowed params in SkinsController.
  app/controllers/skins_controller.rb
Labels: Reviewed: Ready to Merge

#4047 AO3-5988 Add task to replace all noncanonical ratings
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Awaiting Review, Priority: High - Broken on Test

#4050 AO3-5988 Fix output count for After:fix_teen_and_up_imported_rating
  lib/tasks/after_tasks.rake
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#4049 AO3-6195 Remove unused database dump & restore scripts, as well as associated config settings & task.
  config/config.yml
  lib/tasks/deploy_tasks.rake
  script/print_test_pages.rb
  script/seed_dump.rb
  script/seed_restore.rb
Labels: Has Production Config Changes, Reviewed: Ready to Merge

#4044 AO3-5679 Fix Brakeman warnings for DoS vulnerability
  app/controllers/autocomplete_controller.rb
  config/brakeman.ignore
Labels: Reviewed: Ready to Merge

#4056 AO3-6165 Skip comment reply notifications for guests with banned emails
  app/mailers/comment_mailer.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/collection_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Reviewed: Ready to Merge

#4051 AO3-6205 Add user ID to admin user page
  app/views/admin/admin_users/show.html.erb
Labels: Reviewed: Ready to Merge

#4055 AO3-6206 Update text of email that is sent when an admin hides a work
  app/helpers/mailer_helper.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  config/locales/mailers/en.yml
  features/admins/admin_works.feature
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4052 AO3-6196 Remove actual chapter content from fixtures
  test/fixtures/chapters.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4041 AO3-6094 Correctly set sent_at during invitation after_save callback
  app/models/invitation.rb
  spec/models/invitation_spec.rb
Labels: Reviewed: Ready to Merge

#4040 AO3-5049 Fix confusing "email change" error message
  app/controllers/users_controller.rb
  features/other_a/profile_edit.feature
Labels: Reviewed: Ready to Merge

#3990 AO3-5565 Prevent users from bookmarking work multiple times
  app/controllers/bookmarks_controller.rb
  app/helpers/bookmarks_helper.rb
  app/models/bookmark.rb
  app/views/bookmarks/edit.html.erb
  features/bookmarks/bookmark_create.feature
  features/step_definitions/bookmark_steps.rb
  features/support/paths.rb
  spec/controllers/bookmarks_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4023 AO3-6181 Refactor ChallengeSignup#unique_tags.
  app/models/challenge_signup.rb
Labels: Reviewed: Ready to Merge

#4058 AO3-5557 Remove abuse report emails to Policy & Abuse
  app/mailers/admin_mailer.rb
  app/models/abuse_report.rb
  app/views/admin_mailer/abuse_report.html.erb
  app/views/admin_mailer/abuse_report.text.erb
  config/config.yml
  features/other_a/abuse_report.feature
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Awaiting Review
