Repository otwcode/otwarchive, pull requests merged in 2021-08, with the labels that each got.

#4060 AO3-5049 Fix bug where error message was not shown immediately.
  app/controllers/users_controller.rb
  features/other_a/profile_edit.feature
  features/step_definitions/profile_steps.rb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#4059 AO3-6206 Fix work URL in text version of admin hiding work email
  app/views/user_mailer/admin_hidden_work_notification.text.erb
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#4057 AO3-6153 Limit maximum number of user-defined tags allowed on works & external works.
  app/controllers/bookmarks_controller.rb
  app/controllers/chapters_controller.rb
  app/models/bookmark.rb
  app/models/collection_item.rb
  app/models/concerns/taggable.rb
  app/models/external_work.rb
  app/models/work.rb
  app/validators/at_most_validator.rb
  app/views/bookmarks/_external_work_fields.html.erb
  app/views/works/_meta.html.erb
  app/views/works/_work_form_tags.html.erb
  config/config.yml
  config/locales/models/en.yml
  features/admins/admin_works.feature
  features/bookmarks/bookmark_create.feature
  features/collections/collection_anonymity.feature
  features/step_definitions/external_work_steps.rb
  features/step_definitions/work_steps.rb
  features/works/chapter_edit.feature
  features/works/work_create.feature
  features/works/work_delete.feature
  features/works/work_edit.feature
  lib/bookmarkable.rb
  lib/work_chapter_count_caching.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4061 AO3-6153 Don't check validity on collection invite.
  app/controllers/collection_items_controller.rb
  features/bookmarks/bookmark_create.feature
  features/collections/collection_anonymity.feature
  features/collections/collection_invite.feature
  features/works/work_delete.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4062 AO3-6153 Allow approval status changes for collection items on invalid works.
  app/models/collection_item.rb
  features/collections/collectible_moderated_collection.feature
  features/collections/collection_invite.feature
  features/step_definitions/collection_steps.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4045 AO3-6149 Redirect to 404 on comments index page as an admin
  app/controllers/comments_controller.rb
  app/sweepers/comment_sweeper.rb
  app/views/comments/_single_comment_abbreviated.html.erb
  app/views/comments/index.html.erb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4012 AO3-6069 Include lint dependencies in main Gemfile
  .gitignore
  .hound.yml
  Gemfile
  Gemfile.linters
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates

#3921 AO3-6070 Update http links in footer
  app/views/layouts/_footer.html.erb
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Reviewed: Ready to Merge

#4064 AO3-6070 Update error page links to use https
  public/403.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4065 AO3-5049 Use flash.now to flash msg on same render
  app/controllers/users_controller.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4009 AO3-2380 Make autocomplete for tags ignore diacritics
  app/models/tag.rb
  features/other_a/autocomplete.feature
  features/step_definitions/pseud_steps.rb
  lib/autocomplete_source.rb
  spec/lib/autocomplete_source_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4053 AO3-3642 Escape quotes for tag links in wrangling error messages
  app/models/tag.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/web_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling_special.feature
Labels: Reviewed: Ready to Merge

#4063 AO3-6038 Prevent replying to comments marked as spam
  app/controllers/comments_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4067 AO3-6120 Add our IPs and secure URL to PERMITTED_HOSTS to hide proxy notice
  config/config.yml
Labels: Priority: Low, Reviewed: Ready to Merge

#4070 AO3-5372 Add padding to user bookmarks
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Reviewed: Ready to Merge

#4069 AO3-6220 Update collection FAQ links in emails, TOS, and TOS FAQ
  app/views/home/_tos.html.erb
  app/views/home/tos_faq.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
Labels: Reviewed: Ready to Merge

#4048 AO3-3828 Link to prompt in the notes of a prompt fill
  app/controllers/prompts_controller.rb
  app/views/works/_work_header_notes.html.erb
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
Labels: Reviewed: Ready to Merge

#4054 AO3-6103 AO3-5731 Standardize email greetings and closings for i18n
  app/mailers/admin_mailer.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  app/views/user_mailer/admin_spam_work_notification.html.erb
  app/views/user_mailer/admin_spam_work_notification.text.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  app/views/user_mailer/collection_notification.html.erb
  app/views/user_mailer/collection_notification.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  app/views/user_mailer/invalid_signup_notification.html.erb
  app/views/user_mailer/invalid_signup_notification.text.erb
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  app/views/user_mailer/potential_match_generation_notification.html.erb
  app/views/user_mailer/potential_match_generation_notification.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  config/config.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  features/users/authenticate_users.feature
  spec/mailers/archive_devise_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4006 AO3-6109 Don't pull English from Phrase and do update translations on push
  .phrase.yml
  .phraseapp.yml
  config/locales/README.md
  config/locales/phrase-exports/README.md
Labels: Reviewed: Ready to Merge

#4066 AO3-6188 Don't ignore any non-ASCII character when renaming tags
  Gemfile
  Gemfile.lock
  app/models/tag.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/models/tag_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4073 AO3-6234 Update Brakeman ignore file
  config/brakeman.ignore
Labels: Reviewed: Ready to Merge, Scope: Tests Only
