Repository otwcode/otwarchive, pull requests merged in 2021-06, with the labels that each got.

#4010 AO3-6170 Upgrade rails (and actionpack) to 5.2.6
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: Gem Updates, Gem Updates: Security, Reviewed: Ready to Merge

#4002 AO3-4936 Fix 500 error when displaying a work missing fandom in chapter by chapter mode
  app/controllers/chapters_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3978 AO3-3498 Display word count for drafts
  app/controllers/works_controller.rb
  app/models/work.rb
  features/works/work_drafts.feature
Labels: Reviewed: Ready to Merge

#3982 AO3-3585 Reenable submit buttons after live validation errors are addressed
  features/step_definitions/generic_steps.rb
  features/works/work_create.feature
  public/javascripts/livevalidation_standalone.js
Labels: Priority: High, Reviewed: Ready to Merge

#4015 AO3-6072 Make English an available support/abuse language in fixtures
  test/fixtures/languages.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4013 AO3-5408 Stop storing IP addresses for support requests in the DB
  app/models/feedback.rb
  db/migrate/20210603151906_remove_ip_address_from_feedbacks.rb
  spec/models/feedback_spec.rb
Labels: Has Migrations, Priority: High, Reviewed: Ready to Merge

#4018 AO3-6178 Let CI builds pass when Codecov uploads fail
  .simplecov
  Gemfile
  Gemfile.lock
  features/support/env.rb
  spec/spec_helper.rb
Labels: Gem Updates, Reviewed: Ready to Merge, Scope: Tests Only

#4016 AO3-5437 Remove unused People class.
  app/models/people.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4019 AO3-5431 Remove unused code from the Tag class.
  app/models/tag.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4017 AO3-6174 Make titles wrap inside blurbs and news/collection/work pages
  public/stylesheets/site/2.0/02-elements.css
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Reviewed: Ready to Merge

#4024 AO3-6179 Clean up unused TagSet methods.
  app/models/tagset_models/tag_set.rb
Labels: Reviewed: Ready to Merge

#4026 AO3-6177 Fix flaky rate limiting specs
  spec/requests/rack_attack_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4027 Revert "AO3-3585 Reenable submit buttons after live validation errors are addressed"
  features/step_definitions/generic_steps.rb
  features/works/work_create.feature
  public/javascripts/livevalidation_standalone.js
Labels: Priority: High - Broken on Test, Reviewed: Ready to Merge

#4014 AO3-4932 Only save tags when the work is saved, and other tag-related fixes.
  app/controllers/bookmarks_controller.rb
  app/controllers/external_works_controller.rb
  app/controllers/works_controller.rb
  app/helpers/works_helper.rb
  app/models/archive_warning.rb
  app/models/category.rb
  app/models/collection.rb
  app/models/concerns/taggable.rb
  app/models/external_work.rb
  app/models/rating.rb
  app/models/tag.rb
  app/models/tagging.rb
  app/models/work.rb
  app/views/works/_meta.html.erb
  app/views/works/_work_form_tags.html.erb
  app/views/works/_work_module.html.erb
  features/fixtures/tags.yml
  features/gift_exchanges/challenge_giftexchange.feature
  features/other_a/preferences_edit_more.feature
  features/other_b/series.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/step_definitions/tag_steps.rb
  features/support/env.rb
  features/works/work_browse.feature
  features/works/work_create.feature
  features/works/work_edit.feature
  features/works/work_edit_tags.feature
  features/works/work_languages.feature
  lib/tasks/memcached.rake
  lib/tasks/tag_tasks.rake
  spec/controllers/api/v2/api_bookmarks_spec.rb
  spec/controllers/api/v2/api_works_search_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
  spec/helpers/works_helper_spec.rb
  spec/lib/tasks/tag_tasks.rake_spec.rb
  spec/models/collection_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#4028 AO3-6186 Remove unused Prompt methods.
  app/models/prompt.rb
Labels: Reviewed: Ready to Merge

#4029 AO3-6187 Prevent passing revised_at as a parameter to the WorksController.
  app/controllers/works_controller.rb
  app/views/works/_hidden_fields.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#4020 AO3-5964 Replace excess spaces in some tags
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4031 AO3-5941 Index audits on remote address
  db/migrate/20210625232846_index_audits_on_remote_address.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#4032 AO3-5922 Index comments on email
  db/migrate/20210626010047_index_comments_on_email.rb
Labels: Has Migrations, Reviewed: Ready to Merge

#4022 AO3-5988 Replace noncanonical categories and ratings
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4033 AO3-6126 Fix deleting works with deleted comment placeholder chains
  lib/plugins/acts_as_commentable/comment_methods.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge
