Repository otwcode/otwarchive, pull requests merged in 2022-04, with the labels that each got.

#4192 AO3-6085 Change memcached namespace in all environments
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
Labels: Awaiting Review

#4193 AO3-6085 Update Capistrano repository URL to use https
  config/deploy.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4194 AO3-6322 Remove unused JavaScript files.
  public/javascripts/builder.js
  public/javascripts/filters_old.min.js
  public/javascripts/jquery.intoViewport.min.js
  public/javascripts/jquery.purr.js
  public/javascripts/slider.js
  public/javascripts/sound.js
  public/javascripts/translation_status.js
  public/javascripts/unittest.js
Labels: Reviewed: Ready to Merge

#4187 AO3-6316 Use separate path for staging's pseud icons, add task to fix invalid pseuds
  .gitignore
  app/models/pseud.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/spec_helper.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4195 AO3-3293 Touch comments when pseud is changed
  app/models/pseud.rb
  spec/models/pseud_spec.rb
Labels: Reviewed: Ready to Merge

#4171 AO3-6305 Use link_to for greeting dropdowns
  app/views/users/sessions/_greeting.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#4175 AO3-6306 Can't bookmark URLs with response codes of 308 or 307
  app/models/external_work.rb
  app/validators/url_active_validator.rb
  lib/url_helpers.rb
  spec/models/external_work_spec.rb
Labels: Reviewed: Ready to Merge

#4189 AO3-6309 Update abuse form error for over-reporting URLs
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Reviewed: Ready to Merge

#4182 AO3-5955 AO3-5956 AO3-6294 Retry email sending on NoMethodError and ActionView::Template::Error
  app/jobs/application_mailer_job.rb
  spec/mailers/user_mailer_spec.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Reviewed: Ready to Merge

#4168 AO3-6253 Localize sent_at time in emails
  app/views/admin_mailer/feedback.html.erb
  app/views/admin_mailer/feedback.text.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/challenge_assignment_notification.text.erb
  app/views/user_mailer/collection_notification.html.erb
  app/views/user_mailer/collection_notification.text.erb
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  app/views/user_mailer/invalid_signup_notification.html.erb
  app/views/user_mailer/invalid_signup_notification.text.erb
  app/views/user_mailer/potential_match_generation_notification.html.erb
  app/views/user_mailer/potential_match_generation_notification.text.erb
  config/initializers/archive_config/time_formats.rb
  features/other_b/support.feature
  features/step_definitions/email_custom_steps.rb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4179 AO3-6185 Remove unused add_comment/cancel_comment actions.
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_comment_form.html.erb
  app/views/comments/add_comment.js.erb
  config/routes.rb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4144 AO3-5830 Tag search: Allow searching by fandom, searching for non-canonical tags, and sorting results
  app/controllers/tags_controller.rb
  app/models/search/tag_query.rb
  app/models/search/tag_search_form.rb
  app/views/tags/_search_form.html.erb
  app/views/tags/index.html.erb
  app/views/tags/search.html.erb
  config/locales/views/en.yml
  features/search/exceeding_maximum.feature
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_search.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  spec/models/search/tag_query_spec.rb
Labels: Reviewed: Ready to Merge

#4178 AO3-6274 Limit number of abuse reports per email per day
  app/models/abuse_report.rb
  config/config.yml
  spec/models/abuse_report_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4199 AO3-5830 Remove blank option in Work & Tag Search
  app/views/tags/_search_form.html.erb
  app/views/works/_search_form.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4209 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#3985 AO3-4313 Load work's first posted chapter for everyone but admins and co-creators
  app/controllers/works_controller.rb
  features/works/work_drafts.feature
  spec/requests/works_show_request_spec.rb
  spec/support/login_macros.rb
Labels: Reviewed: Ready to Merge

#4137 AO3-5763 AO3-5348 Add more info to gift notification email and internationalize it
  app/helpers/mailer_helper.rb
  app/helpers/translation_helper.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  features/gift_exchanges/challenge_yuletide.feature
  spec/helpers/mailer_helper_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4203 AO3-6030 Fix page title for editing multiple works and edit work tags
  app/controllers/works_controller.rb
  features/works/work_edit_multiple.feature
  features/works/work_edit_tags.feature
Labels: Reviewed: Ready to Merge

#4100 AO3-6254 AO3-6256 Fix kudos counts for pluralization and kudos email capitalization
  app/mailers/kudo_mailer.rb
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  app/views/kudo_mailer/batch_kudo_notification.text.erb
  config/locales/mailers/en.yml
  features/comments_and_kudos/kudos.feature
Labels: Reviewed: Ready to Merge

#4210 AO3-6334 Use a different endpoint for resetting passwords
  app/views/users/passwords/edit.html.erb
  config/routes.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4186 AO3-6156 Rewrite Zoho client specs to use WebMock
  spec/lib/zoho_auth_client_spec.rb
  spec/lib/zoho_resource_client_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4198 AO3-6156 Allow admins to edit user profiles
  app/controllers/users_controller.rb
  app/models/concerns/justifiable.rb
  app/models/profile.rb
  app/policies/profile_policy.rb
  app/views/admin/activities/show.html.erb
  app/views/profile/show.html.erb
  app/views/users/edit.html.erb
  config/locales/models/en.yml
  features/other_a/profile_edit.feature
  features/step_definitions/admin_steps.rb
  features/support/hooks.rb
  lib/zoho_auth_client.rb
  lib/zoho_resource_client.rb
  spec/lib/zoho_auth_client_spec.rb
  spec/lib/zoho_resource_client_spec.rb
  spec/models/concerns/justifiable_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4164 AO3-6214 Uncollapse list of skins in Customize section of footer
  app/helpers/skin_cache_helper.rb
  app/views/layouts/_footer.html.erb
  features/step_definitions/skin_steps.rb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/06-region-footer.css
Labels: Reviewed: Ready to Merge

#4181 AO3-6291 Resolve ES sorting ties
  app/models/search/bookmark_indexer.rb
  app/models/search/bookmark_query.rb
  app/models/search/bookmarkable_indexer.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/tag_query.rb
  app/models/search/work_query.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/tag_query_spec.rb
  spec/models/search/work_query_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Reviewed: Ready to Merge, Needs Reindex

#4211 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4214 AO3-6254 Move key for single guest kudos
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  app/views/kudo_mailer/batch_kudo_notification.text.erb
  config/locales/mailers/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4184 AO3-6315 Query all works when reindexing bookmarkables
  app/models/search/bookmarked_work_indexer.rb
  lib/tasks/search.rake
Labels: Reviewed: Ready to Merge

#4218 AO3-6156 Skip logging admin activity for empty edits
  .rubocop.yml
  app/controllers/users_controller.rb
  app/models/concerns/justifiable.rb
  config/locales/models/en.yml
  features/other_a/profile_edit.feature
  features/step_definitions/admin_steps.rb
  features/support/paths.rb
  lib/zoho_resource_client.rb
  spec/models/concerns/justifiable_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4205 AO3-6323 Add user ID to comments
  app/helpers/comments_helper.rb
  app/views/comments/_single_comment.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  spec/helpers/comments_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4219 AO3-6323 Add user ID to comments
  app/helpers/comments_helper.rb
  spec/helpers/comments_helper_spec.rb
Labels: Coder Has Actioned Review, Priority: High - Broken on Test

#4161 AO3-6146 Limit username changes
  app/helpers/translation_helper.rb
  app/models/user.rb
  app/views/users/change_username.html.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  db/migrate/20220212222625_add_renamed_at_to_users.rb
  features/other_a/autocomplete.feature
  lib/tasks/after_tasks.rake
  spec/models/user_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4220 AO3-6256 Restore formatting on single guest kudos
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  config/locales/mailers/en.yml
  spec/mailers/kudo_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test
