Repository otwcode/otwarchive, pull requests merged in 2022-07, with the labels that each got.

#4281 AO3-6208 Remove the TagWrangling#discuss functionality
  app/controllers/tag_wranglings_controller.rb
  app/helpers/comments_helper.rb
  app/views/tag_wranglings/_wrangler_dashboard.html.erb
  app/views/tag_wranglings/discuss.html.erb
  config/routes.rb
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_comment.feature
Labels: Reviewed: Ready to Merge

#4280 AO3-5962 Drop position from invite requests to make sending invitations faster.
  app/controllers/admin/admin_invitations_controller.rb
  app/controllers/invite_requests_controller.rb
  app/jobs/application_job.rb
  app/jobs/invite_from_queue_job.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/views/invite_requests/_invite_request.html.erb
  app/views/invite_requests/edit.html.erb
  app/views/invite_requests/manage.html.erb
  app/views/invite_requests/new.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  config/routes.rb
  config/schedule_production.rb
  db/migrate/20220622075958_drop_position_from_invite_requests.rb
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/invite_steps.rb
  lib/tasks/invitations.rake
  spec/controllers/admin/admin_invitations_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#4278 AO3-6332 Upgrade Elasticsearch to 7.17.1
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  docker-compose.yml
Labels: Reviewed: Ready to Merge, Gem Updates

#4277 AO3-4603 Allow ctrl key combos in modals
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Reviewed: Ready to Merge

#4268 AO3-6264 Update text of invitation email
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  config/locales/mailers/en.yml
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  spec/mailers/user_mailer_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4244 AO3-6144 Prevent protected users' works from being cited as related works
  app/models/work.rb
  features/works/work_related.feature
Labels: Priority: High, Reviewed: Ready to Merge

#4236 AO3-6127 Expose option for admins to hide comments
  app/controllers/admin/user_creations_controller.rb
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/policies/comment_policy.rb
  app/views/comments/_comment_actions.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/show.html.erb
  config/locales/controllers/en.yml
  config/routes.rb
  features/comments_and_kudos/hidden_comments.feature
  public/stylesheets/site/2.0/15-group-comments.css
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4212 AO3-6335 Fix comment cache expiration.
  app/views/comments/_single_comment.html.erb
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/comment_moderation.feature
  features/tags_and_wrangling/tag_comment.feature
  features/users/user_rename.feature
Labels: Reviewed: Ready to Merge

#4130 AO3-5601 Use DownloadWriter for deleted work email attachments
  app/mailers/user_mailer.rb
  app/models/download_writer.rb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4223 AO3-6307 Don't translate key names in creatorship emails
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
Labels: Reviewed: Ready to Merge

#4290 AO3-6264 Update OTW link URL in invitation email
  app/views/user_mailer/invitation.html.erb
  app/views/user_mailer/invitation.text.erb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4188 AO3-2197 AO3-5635 Clean up kudos validations and kudos on chapters
  app/controllers/kudos_controller.rb
  app/models/chapter.rb
  app/models/kudo.rb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  factories/kudos.rb
  lib/tasks/after_tasks.rake
  public/javascripts/application.js
  spec/controllers/kudos_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4288 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4293 AO3-2197 Fix edge cases of chapter kudos cleanup
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  app/sweepers/kudos_sweeper.rb
  factories/kudos.rb
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4292 AO3-6307 Add mailer previews for creatorship notifications
  Gemfile
  Gemfile.lock
  app/mailers/user_mailer.rb
  app/models/creatorship.rb
  config/environments/development.rb
  config/environments/staging.rb
  config/initializers/monkeypatches/mailers_controller.rb
  features/support/factories.rb
  spec/spec_helper.rb
  test/mailers/previews/application_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Gem Updates

#4295 AO3-6307 Fix factory_bot loading for mailer previews
  test/mailers/previews/application_mailer_preview.rb
Labels: Priority: High - Broken on Test, Awaiting Review, Scope: Tests Only

#4294 AO3-4603 Allow meta key in modal for macOS
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4296 AO3-6307 Fix faker loading for mailer previews
  Gemfile
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Gem Updates

#4297 AO3-6371 Add no resets role
  app/controllers/users/passwords_controller.rb
  app/models/user.rb
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  lib/tasks/defaults.rake
  spec/lib/tasks/defaults.rake_spec.rb
Labels: Reviewed: Ready to Merge
