Repository otwcode/otwarchive, pull requests merged in 2022-03, with the labels that each got.

#4177 AO3-6275 Update rails-i18n to 7.0.3
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Gem Updates

#4180 AO3-6085 AO3-6275 Bump Rails and update mr.yml and fil.yml
  Gemfile.lock
  config/locales/README.md
  config/locales/rails-i18n/locale/fil.yml
  config/locales/rails-i18n/locale/mr.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4183 AO3-5819 Automatically label pull requests.
  .github/labeler/awaiting.yml
  .github/labeler/contents.yml
  .github/labeler/review.yml
  .github/workflows/labeler.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4185 AO3-5968 Make the chapter factory create posted chapters by default.
  factories/chapters.rb
  features/step_definitions/work_steps.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/chapter_spec.rb
  spec/models/search/work_search_form_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only
