Repository otwcode/otwarchive, pull requests merged in 2022-05, with the labels that each got.

#4221 AO3-5348 Gift notification i18n
  app/helpers/mailer_helper.rb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review

#4222 AO3-6291 Rename bookmarkable id indexing field
  app/models/search/bookmark_indexer.rb
  app/models/search/bookmarkable_indexer.rb
  app/models/search/bookmarkable_query.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4213 AO3-6333 Try to reduce database queries when viewing comments.
  Gemfile
  Gemfile.lock
  app/controllers/admin_posts_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/comments_controller.rb
  app/decorators/comment_decorator.rb
  app/helpers/comments_helper.rb
  app/models/comment.rb
  app/models/user.rb
  app/views/comments/_comment_form.html.erb
  app/views/comments/_comment_thread.html.erb
  app/views/comments/_commentable.html.erb
  config/environments/development.rb
  spec/controllers/chapters_controller_spec.rb
  spec/requests/comments_n_plus_one_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Gem Updates

#4224 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4229 AO3-6148 Limit admin roles that can see IPs on works/comments, and show email for guest comments.
  app/policies/comment_policy.rb
  app/policies/user_creation_policy.rb
  app/views/comments/_single_comment.html.erb
  app/views/works/_meta.html.erb
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/admin_info.feature
  features/importing/work_import.feature
  features/step_definitions/comment_steps.rb
  public/stylesheets/site/2.0/24-role-admin.css
Labels: Reviewed: Ready to Merge

#4231 AO3-6146 Fix copy for user name change info
  config/locales/views/en.yml
Labels: Priority: High - Broken on Test, Scope: i18n Only, Awaiting Review

#4233 AO3-6342 Limit ability to list, create, update, and destroy admin banners.
  app/controllers/admin/banners_controller.rb
  app/policies/admin_banner_policy.rb
  app/policies/application_policy.rb
  app/views/admin/_header.html.erb
  factories/admin_banner.rb
  features/other_a/banner_general.feature
  features/step_definitions/banner_steps.rb
  spec/controllers/admin/banners_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4216 AO3-6325 Add creator, creation, and bookmarker IDs to bookmark blurbs
  app/helpers/bookmarks_helper.rb
  app/views/bookmarks/_bookmark_blurb.html.erb
  app/views/bookmarks/_bookmark_blurb_short.html.erb
  app/views/bookmarks/_bookmarkable_blurb.html.erb
  spec/helpers/bookmarks_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4241 AO3-6351 Fix comment threads from 2009.
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  test/fixtures/comments.yml
Labels: Reviewed: Ready to Merge

#4237 AO3-6327 Allow users to block other users from commenting.
  app/controllers/application_controller.rb
  app/controllers/blocked/users_controller.rb
  app/controllers/comments_controller.rb
  app/controllers/inbox_controller.rb
  app/helpers/block_helper.rb
  app/helpers/comments_helper.rb
  app/models/block.rb
  app/models/comment.rb
  app/models/user.rb
  app/policies/block_policy.rb
  app/validators/not_blocked_validator.rb
  app/views/blocked/users/_blocked_user_blurb.html.erb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/confirm_unblock.html.erb
  app/views/blocked/users/index.html.erb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  app/views/comments/_comment_actions.html.erb
  app/views/comments/_comment_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/comments/_single_comment.html.erb
  app/views/home/_inbox_module.html.erb
  app/views/inbox/_inbox_comment_contents.html.erb
  app/views/inbox/show.html.erb
  app/views/preferences/index.html.erb
  app/views/pseuds/_pseud_blurb.html.erb
  app/views/pseuds/_pseud_module.html.erb
  app/views/users/_header_navigation.html.erb
  config/application.rb
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20220519071139_create_blocks.rb
  factories/admin_post.rb
  features/comments_and_kudos/comment_blocking.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/block_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/work_steps.rb
  features/support/paths.rb
  features/support/user.rb
  features/users/blocking.feature
  lib/acts_as_commentable/comment_methods.rb
  public/stylesheets/site/2.0/22-system-messages.css
  spec/controllers/blocked/users_controller_spec.rb
  spec/controllers/comments_controller_blocking_spec.rb
  spec/controllers/inbox_controller_spec.rb
  spec/models/comment_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations
