Repository otwcode/otwarchive, pull requests merged in 2022-11, with the labels that each got.

#4159 AO3-5628 Invalidate chapter count cache when saving drafts
  app/models/work.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4166 AO3-6286 Do not allow suspended/banned users to give kudos
  app/controllers/kudos_controller.rb
  app/models/kudo.rb
  config/locales/models/en.yml
  spec/controllers/kudos_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4235 AO3-6290 "Chapter # of [title]" in co-creation emails is not translatable
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
  spec/helpers/mailer_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4269 AO3-4355 Set language for admin posts RSS
  app/views/admin_posts/index.html.erb
  app/views/admin_posts/show.html.erb
  features/admins/admin_post_news.feature
Labels: Reviewed: Ready to Merge

#4315 AO3-6375 Comments stay in inbox after being hidden by admin or marked as spam
  .rubocop.yml
  app/controllers/inbox_controller.rb
  app/decorators/homepage.rb
  app/models/inbox_comment.rb
  app/models/user.rb
  features/comments_and_kudos/hidden_comments.feature
  features/comments_and_kudos/spam_comments.feature
Labels: Reviewed: Ready to Merge

#4328 AO3-5242 Prevent modal dialog from repositioning on mobile scroll
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
Labels: Reviewed: Ready to Merge

#4339 AO3-6089 Make admin script creation roles not case sensitive
  script/create_admin.rb
Labels: Reviewed: Ready to Merge

#4354 AO3-5781 Add delimiter to search result totals and filterable indexes
  app/helpers/search_helper.rb
Labels: Reviewed: Ready to Merge

#4358 AO3-5934 Allow <figure> and <figcaption> HTML tags
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/html_cleaner.rb
  public/help/html-help.html
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4289 AO3-6337 Remove unused CollectionItemsController#destroy action
  app/controllers/collection_items_controller.rb
  config/routes.rb
  spec/controllers/collection_items_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4373 AO3-6414 Clean up unnecessary calls to include ActiveModel::ForbiddenAttributesProtection.
  app/models/abuse_report.rb
  app/models/admin.rb
  app/models/admin_activity.rb
  app/models/admin_banner.rb
  app/models/admin_blacklisted_email.rb
  app/models/admin_post.rb
  app/models/admin_setting.rb
  app/models/api_key.rb
  app/models/archive_faq.rb
  app/models/bookmark.rb
  app/models/challenge_assignment.rb
  app/models/challenge_claim.rb
  app/models/challenge_models/gift_exchange.rb
  app/models/challenge_models/prompt_meme.rb
  app/models/challenge_signup.rb
  app/models/chapter.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/collection_participant.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/external_work.rb
  app/models/favorite_tag.rb
  app/models/feedback.rb
  app/models/invitation.rb
  app/models/invite_request.rb
  app/models/known_issue.rb
  app/models/kudo.rb
  app/models/language.rb
  app/models/locale.rb
  app/models/media.rb
  app/models/preference.rb
  app/models/profile.rb
  app/models/prompt.rb
  app/models/pseud.rb
  app/models/related_work.rb
  app/models/series.rb
  app/models/skin.rb
  app/models/skin_parent.rb
  app/models/subscription.rb
  app/models/tag.rb
  app/models/tagset_models/owned_tag_set.rb
  app/models/tagset_models/tag_nomination.rb
  app/models/unsorted_tag.rb
  app/models/user.rb
  app/models/user_invite_request.rb
  app/models/work.rb
  app/models/work_skin.rb
  app/models/wrangling_guideline.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4375 AO3-6419 Clean up params for the PromptsController and ChallengeSignupsController.
  app/controllers/challenge_signups_controller.rb
  app/controllers/prompts_controller.rb
  app/models/prompt.rb
  app/views/prompts/_prompt_form.html.erb
  factories/challenges.rb
  factories/prompt.rb
  spec/controllers/challenge_signups_controller_spec.rb
  spec/controllers/prompts_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4380 AO3-5745 AO3-5856 Add CSV link for prompt memes, add Title field to CSV
  app/controllers/challenge_signups_controller.rb
  app/views/challenge/shared/_challenge_requests.html.erb
  features/prompt_memes_c/challenge_promptmeme_claims.feature
  spec/controllers/challenge_signups_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4382 AO3-6421 Rewrite add_paragraphs_to_text to use Nokogiri nodes.
  config/config.yml
  lib/html_cleaner.rb
  lib/paragraph_maker.rb
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4384 AO3-6421 Revert sanitizer version change
  config/config.yml
Labels: Reviewed: Ready to Merge

#4385 AO3-6421 Revert "Rewrite add_paragraphs_to_text to use Nokogiri nodes."
  lib/html_cleaner.rb
  lib/paragraph_maker.rb
  spec/lib/html_cleaner_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review

#4388 AO3-6410 Re-enable dependabot for Github Actions workflow updates.
  .github/dependabot.yml
  .github/workflows/automated-tests.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4389 AO3-6421 Temporarily add an extra sanitizing step.
  lib/html_cleaner.rb
Labels: Reviewed: Ready to Merge

#4395 AO3-6426 Use Ubuntu 20.04 for Automated Tests workflow.
  .github/workflows/automated-tests.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4391 AO3-6421 Rewrite add_paragraphs_to_text, and add a rake task for resanitizing all fields.
  app/jobs/resanitize_batch_job.rb
  app/models/abuse_report.rb
  app/models/question.rb
  config/config.yml
  factories/archive_faqs.rb
  factories/known_issues.rb
  lib/html_cleaner.rb
  lib/paragraph_maker.rb
  lib/tasks/after_tasks.rake
  lib/tasks/resanitize.rake
  spec/lib/html_cleaner_spec.rb
  spec/lib/tasks/resanitize.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4401 AO3-6433 Clean up old After tasks
  lib/tasks/after_tasks.rake
  lib/tasks/work_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge
