Repository otwcode/otwarchive, pull requests merged in 2022-01, with the labels that each got.

#4132 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Scope: i18n Only

#4133 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
Labels: Scope: i18n Only

#4125 AO3-6258 Update sign-up email subject
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4126 AO3-6269 Allow invitations to be selected with their label
  app/views/invitations/index.html.erb
Labels: Reviewed: Ready to Merge

#4091 AO3-5127 Do not show unapproved collections in mystery blurb
  app/helpers/collections_helper.rb
  app/helpers/works_helper.rb
  app/views/chapters/show.html.erb
  app/views/works/_meta.html.erb
  app/views/works/_mystery_blurb.html.erb
  app/views/works/_work_module.html.erb
  app/views/works/_work_unrevealed_notice.erb
  app/views/works/show.html.erb
  config/brakeman.ignore
  features/collections/collection_anonymity.feature
Labels: Reviewed: Ready to Merge

#4046 AO3-5718 Use "addressable" to support non-ASCII urls
  app/validators/url_active_validator.rb
  features/bookmarks/bookmark_external.feature
  features/step_definitions/bookmark_steps.rb
  lib/url_helpers.rb
Labels: Reviewed: Ready to Merge

#3161 AO3-5246 if/else scenarios for guests redirected to login page
  app/views/users/sessions/new.html.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge

#3673 AO3-5754 Fix min-length warning overlapping comment buttons
  public/stylesheets/site/2.0/07-interactions.css
Labels: Priority: Low, Reviewed: Ready to Merge

#4115 AO3-6190 Don't use Time.now and Date.today in the work/chapter date calculations.
  app/models/chapter.rb
  app/models/story_parser.rb
  app/models/work.rb
  app/views/chapters/_chapter_form.html.erb
  app/views/works/_standard_form.html.erb
  features/step_definitions/work_steps.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#4123 AO3-6242 Let admins search invitation requests by IP
  app/controllers/invite_requests_controller.rb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4134 AO3-4037 Retry comment notifications when comment does not exist.
  app/jobs/application_mailer_job.rb
  app/mailers/admin_mailer.rb
  app/mailers/application_mailer.rb
  app/mailers/collection_mailer.rb
  app/mailers/comment_mailer.rb
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  spec/mailers/comment_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4110 AO3-6257 Add gift preference
  app/controllers/preferences_controller.rb
  app/models/collection_item.rb
  app/models/work.rb
  app/views/challenge_signups/_signup_form.html.erb
  app/views/preferences/index.html.erb
  db/migrate/20211204001151_add_allow_gifts_to_preference.rb
  db/migrate/20211205115025_change_preference_allow_gifts_default.rb
  features/collections/collection_anonymity.feature
  features/gift_exchanges/challenge_giftexchange.feature
  features/other_a/gift.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/prompt_memes_c/challenge_promptmeme_claims.feature
  features/step_definitions/challege_gift_exchange_steps.rb
  features/step_definitions/preferences_steps.rb
  features/works/work_create.feature
  features/works/work_delete.feature
  lib/creation_notifier.rb
  public/help/collection-preferences.html
  spec/models/work_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#3889 AO3-5867 Remove %{type} from the co-creator emails and standardize OD/Support link placeholders in invitation to claim emails (OD)
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4136 AO3-5392 Add task to reset revised_at on backdated works
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4138 AO3-5754 Tweak implementation of live validation message styling
  public/stylesheets/site/2.0/07-interactions.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4140 AO3-5619 Update Report Abuse link text in footer and site map
  app/views/home/site_map.html.erb
  app/views/layouts/_footer.html.erb
  features/admins/admin_languages.feature
  features/other_a/abuse_report.feature
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
Labels: Reviewed: Ready to Merge

#4142 AO3-5754 Increase right margin on live validation message for Firefox
  public/stylesheets/site/2.0/07-interactions.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4143 AO3-5619 Update link text to Support in footer and site map
  app/views/home/site_map.html.erb
  app/views/layouts/_footer.html.erb
  features/admins/admin_languages.feature
  features/other_b/support.feature
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Priority: High - Broken on Test, Awaiting Review

#4025 AO3-6182 Use enums for CollectionItem's collection_approval_status and user_approval_status.
  app/controllers/collection_items_controller.rb
  app/controllers/works_controller.rb
  app/helpers/collections_helper.rb
  app/models/bookmark.rb
  app/models/challenge_assignment.rb
  app/models/challenge_claim.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/tag.rb
  app/models/work.rb
  lib/collectible.rb
  spec/controllers/collection_items_controller_spec.rb
  spec/lib/collectible_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4127 AO3-6249 Make Pseuds dropdown on user page sidebar always label itself as Pseuds
  app/views/users/_sidebar.html.erb
Labels: Reviewed: Ready to Merge

#4141 AO3-6231 Update help text for "Turn off emails about collections" preference
  public/help/collection-preferences.html
Labels: Reviewed: Ready to Merge

#4111 AO3-6227 Restore missing classes to deleted work history blurbs
  app/views/readings/_reading_blurb.html.erb
Labels: Reviewed: Ready to Merge
