Repository otwcode/otwarchive, pull requests merged in 2022-06, with the labels that each got.

#4245 AO3-6327 Assorted fixes for the comment blocking code.
  app/controllers/blocked/users_controller.rb
  app/validators/not_blocked_validator.rb
  app/views/blocked/users/_blocked_user_blurb.html.erb
  features/step_definitions/comment_steps.rb
  lib/acts_as_commentable/comment_methods.rb
Labels: Reviewed: Ready to Merge

#4246 AO3-6327 Fix admin view of Blocked Users page, and add a Cancel button to the Confirm Block/Unblock pages.
  app/helpers/block_helper.rb
  app/models/comment.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/confirm_unblock.html.erb
  config/locales/views/en.yml
  features/support/paths.rb
  features/users/blocking.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4247 AO3-5239 AO3-4659 Restyle collection member and blocked user autocomplete field
  app/views/blocked/users/index.html.erb
  app/views/collection_participants/_add_participants_form.html.erb
  app/views/collection_participants/index.html.erb
  config/locales/views/en.yml
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/07-interactions.css
Labels: Reviewed: Ready to Merge

#4249 Skip Dreamwidth importing tests
  features/importing/archivist.feature
  features/importing/work_import.feature
  features/importing/work_import_dw.feature
  spec/models/story_parser_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4248 AO3-5239 Fixes for single simple form style
  lib/skin_wizard.rb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow/snow_site_screen_.css
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
  public/stylesheets/site/2.0/07-interactions.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4253 AO3-6327 Handle nil blocked_id, and add a little extra information to the description of blocking.
  app/controllers/blocked/users_controller.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  config/locales/views/en.yml
  spec/controllers/blocked/users_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4252 AO3-6354 Ignore hidden elements with Capybara in feature tests
  Gemfile
  Gemfile.lock
  features/admins/admin_skins.feature
  features/bookmarks/bookmark_create.feature
  features/bookmarks/bookmark_share.feature
  features/collections/collection_anonymity.feature
  features/comments_and_kudos/add_comment.feature
  features/other_a/gift.feature
  features/other_a/hit_counts.feature
  features/other_a/preferences_edit_more.feature
  features/other_b/skin.feature
  features/other_b/skin_public.feature
  features/other_b/skin_wizard.feature
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/external_work_steps.rb
  features/step_definitions/generic_steps.rb
  features/step_definitions/page_title_steps.rb
  features/step_definitions/skin_steps.rb
  features/step_definitions/tag_set_steps.rb
  features/step_definitions/work_steps.rb
  features/support/capybara.rb
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_characters.feature
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
  features/works/work_create.feature
  features/works/work_dates_edit.feature
  features/works/work_delete.feature
  features/works/work_download.feature
  features/works/work_edit.feature
  features/works/work_edit_tags.feature
  features/works/work_share.feature
Labels: Reviewed: Ready to Merge, Gem Updates, Scope: Tests Only

#4256 AO3-4659 Tweaks to block user and collection participant forms
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  app/views/collection_participants/_add_participants_form.html.erb
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/25-media-midsize.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4228 AO3-6339 Bump Rails to 6.0.5
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates, Gem Updates: Security

#4258 AO3-6338 Remove unused CollectionItem methods
  app/models/collection_item.rb
Labels: Reviewed: Ready to Merge

#4196 AO3-2675 Prevent adding parent skins with blank titles
  app/controllers/skins_controller.rb
  app/models/skin.rb
  spec/models/skin_parent_spec.rb
Labels: Reviewed: Ready to Merge

#4255 AO3-6352 Add default Content-Security-Policy response header
  config/application.rb
  spec/requests/security_headers_spec.rb
Labels: Reviewed: Ready to Merge

#3918 AO3-5775 Add language to work meta in downloads
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#4254 AO3-5780 Add thousands separators to long numbers on series pages
  app/views/series/_series_module.html.erb
  app/views/series/show.html.erb
  features/other_b/series.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#4242 AO3-6345 Return 404 when accessing admin user page for nonexistent user
  app/controllers/admin/admin_users_controller.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#3609 AO3-5709 Use pseud byline for download authors
  app/models/download.rb
  spec/models/download_spec.rb
Labels: Reviewed: Ready to Merge

#4238 AO3-6159 Corrected pseud deletion preview text
  app/views/pseuds/delete_preview.html.erb
Labels: Reviewed: Ready to Merge

#4225 AO3-6200 Make bookmark_if_exists faster, so that it can handle orphan_account.
  app/helpers/bookmarks_helper.rb
  spec/helpers/bookmarks_helper_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#4262 AO3-5709 Remove factory_girl references from download specs
  spec/models/download_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: Tests Only

#3799 AO3-3846 Make draft chapters display on chapter rearrange page
  app/controllers/chapters_controller.rb
  app/models/work.rb
  app/views/chapters/manage.html.erb
  features/works/chapter_edit.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4250 AO3-6346 Return HTML error pages for non-registered MIME types
  app/controllers/errors_controller.rb
  spec/controllers/errors_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4261 AO3-6358 Overwrite local configuration files in Docker init.sh
  .gitignore
  script/docker/init.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4135 AO3-6216 Fix link for related works in downloads
  app/views/downloads/_download_preface.html.erb
  features/step_definitions/work_download_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_download.feature
Labels: Reviewed: Ready to Merge
