Repository otwcode/otwarchive, pull requests merged in 2022-09, with the labels that each got.

#4298 AO3-6344 Add retry-after header when rate limited
  config/initializers/rack_attack.rb
  spec/requests/rack_attack_spec.rb
Labels: Reviewed: Ready to Merge

#4291 AO3-6349 When reindexing works, try to perform fewer database queries.
  app/models/search/bookmarked_work_indexer.rb
  app/models/search/indexer.rb
  app/models/search/work_creator_indexer.rb
  app/models/search/work_indexer.rb
  app/models/work.rb
  spec/models/search/bookmarked_work_indexer_spec.rb
  spec/models/search/work_creator_indexer_spec.rb
  spec/models/search/work_indexer_spec.rb
Labels: Reviewed: Ready to Merge

#4323 AO3-6343 Restrict admin access to skin management features.
  app/controllers/admin/skins_controller.rb
  app/controllers/skins_controller.rb
  app/policies/skin_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/skins/index.html.erb
  app/views/admin/skins/index_approved.html.erb
  app/views/admin/skins/index_rejected.html.erb
  app/views/skins/_skin_actions.html.erb
  factories/skins.rb
  features/admins/admin_skins.feature
  features/other_b/skin.feature
  features/step_definitions/skin_steps.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/skins_controller_spec.rb
Labels: Reviewed: Ready to Merge

#3014 AO3-5122 Refactor sharing code
  app/helpers/application_helper.rb
  app/helpers/share_helper.rb
  app/helpers/tags_helper.rb
  app/views/share/_embed_link_bookmark.html.erb
  app/views/share/_embed_link_header.html.erb
  app/views/share/_embed_link_work.html.erb
  app/views/share/_embed_meta.html.erb
  app/views/share/_embed_meta_bookmark.erb
  app/views/share/_share.html.erb
  spec/helpers/share_helper_spec.rb
  spec/helpers/works_helper_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4302 AO3-6361 Record admin email change
  app/controllers/users_controller.rb
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4321 AO3-6311 Edited comment reply notification sent to creator of deleted comment
  app/mailers/comment_mailer.rb
  features/comments_and_kudos/add_comment.feature
Labels: Reviewed: Ready to Merge

#4275 AO3-6280 Fix inconsistent text in new invitations email
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4279 AO3-6360 Remove unused methods from ApplicationHelper
  app/helpers/application_helper.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4304 AO3-6369 Remove unused Pseud scopes and methods
  app/models/pseud.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4310 AO3-6077 Make series info consistent across locations
  app/helpers/series_helper.rb
  features/other_b/series.feature
  features/other_b/series_lock.feature
  features/other_b/series_order.feature
  features/works/work_download.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#4314 AO3-6370 Case insensitive email validation for User
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Reviewed: Ready to Merge

#4200 AO3-3357 Add a button to clear filters
  app/helpers/search_helper.rb
  app/views/bookmarks/_filters.html.erb
  app/views/collections/_filters.html.erb
  app/views/works/_collection_filters.html.erb
  app/views/works/_filters.html.erb
  features/bookmarks/bookmark_filter.feature
  features/collections/collection_browse.feature
  features/search/filters.feature
Labels: Reviewed: Ready to Merge

#4316 AO3-6384 Fix intermittent user_dashboard test failures
  features/step_definitions/work_steps.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4287 AO3-6364 Further restrict admin access for managing invitation queue
  app/controllers/application_controller.rb
  app/controllers/invite_requests_controller.rb
  app/policies/invite_request_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_invitations/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/invite_steps.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/models/invite_request_spec.rb
Labels: Reviewed: Ready to Merge

#4327 AO3-6361 Fix admin email change text
  app/models/user.rb
  spec/models/user_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review

#4331 AO3-6389 Stop using Dreamwidth URLs in external work tests.
  features/step_definitions/autocomplete_steps.rb
  features/step_definitions/external_work_steps.rb
  spec/controllers/external_works_controller_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4333 AO3-6343 Fix flaky test introduced in AO3-6343
  factories/skins.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: Tests Only

#4329 AO3-6367 Update Rails to 6.0.5.1 and all its associated dependencies
  Gemfile.lock
  config/application.rb
Labels: Priority: High, Reviewed: Ready to Merge, Gem Updates

#4309 AO3-5779 Add thousands separator to long numbers on statistics page
  app/views/stats/index.html.erb
Labels: Priority: Low, Reviewed: Ready to Merge

#4301 AO3-5719 Generate links to end notes without path
  app/views/chapters/_chapter.html.erb
Labels: Reviewed: Ready to Merge

#4317 AO3-2426 Allow admin to change the language of an external work
  app/controllers/external_works_controller.rb
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  app/views/external_works/edit.html.erb
  features/admins/admin_works.feature
Labels: Reviewed: Ready to Merge

#4227 AO3-5677 AO3-6041 Remove unused methods & rescue block from the UsersController.
  app/controllers/users_controller.rb
Labels: Reviewed: Ready to Merge

#4282 AO3-6201 Remove unused actions from the AutocompleteController
  app/controllers/autocomplete_controller.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4334 AO3-6380 Restrict access to the Admin Activities page to Policy & Abuse and Superadmins.
  app/controllers/admin/activities_controller.rb
  app/policies/admin_activity_policy.rb
  app/views/admin/_header.html.erb
  spec/controllers/admin/activities_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4335 AO3-6394 Restrict admin access to banned emails (formerly blacklist)
  app/controllers/admin/blacklisted_emails_controller.rb
  app/policies/admin_blacklisted_email_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/blacklisted_emails/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  features/admins/admin_email_blacklist.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4129 AO3-6013 Record date of wrangler's last wrangling activity
  app/controllers/concerns/tag_wrangling.rb
  app/controllers/tag_wranglings_controller.rb
  app/controllers/tags_controller.rb
  app/helpers/application_helper.rb
  app/models/comment.rb
  app/models/common_tagging.rb
  app/models/concerns/wrangleable.rb
  app/models/last_wrangling_activity.rb
  app/models/meta_tagging.rb
  app/models/roles_user.rb
  app/models/tag.rb
  app/models/user.rb
  app/views/tag_wranglers/show.html.erb
  config/locales/views/en.yml
  db/migrate/20211230202951_create_last_wrangling_activities.rb
  factories/last_wrangling_activity.rb
  factories/tags.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/tag_wranglings_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/models/comment_spec.rb
  spec/models/concerns/wrangleable_spec.rb
  spec/models/roles_user_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#4343 AO3-6398 Try to fix flaky tests in features/other_a/gift.feature.
  features/other_a/gift.feature
  features/step_definitions/gift_steps.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4344 AO3-6397 Try to fix flaky co-creator test in features/works/work_create.feature.
  features/works/work_create.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4340 AO3-6381 Restrict admin access to spam page
  app/controllers/admin/spam_controller.rb
  app/policies/moderated_work_policy.rb
  app/views/admin/_header.html.erb
  features/admins/admin_spam.feature
  spec/controllers/admin/spam_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4345 AO3-6400 Try to fix the flaky test in features/admins/admin_skins.feature.
  features/step_definitions/skin_steps.rb
Labels: Reviewed: Ready to Merge, Awaiting Review, Scope: Tests Only

#4346 AO3-6399 Try to fix the flaky test in features/comments_and_kudos/hidden_comments.feature.
  features/comments_and_kudos/hidden_comments.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4342 AO3-6160 Fix grammatical error on delete pseud page
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: i18n Only

#4349 AO3-6403 Fix prompt meme date test.
  features/prompt_memes_c/challenge_promptmeme_claims.feature
Labels: Awaiting Review, Scope: Tests Only

#4313 AO3-6356 Use ActiveJob for asynchronous tag jobs.
  app/jobs/application_job.rb
  app/jobs/instance_method_job.rb
  app/jobs/tag_method_job.rb
  app/models/concerns/async_with_active_job.rb
  app/models/tag.rb
  spec/models/tag_wrangling_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge
