Repository otwcode/otwarchive, pull requests merged in 2023-06, with the labels that each got.

#4519 AO3-6240 Use i18n-tasks to rename numbered mailer translation keys
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/challenge_assignment_notification.html.erb
  app/views/user_mailer/change_email.html.erb
  app/views/user_mailer/change_email.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  app/views/user_mailer/signup_notification.html.erb
  app/views/user_mailer/signup_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sr.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Reviewed: Ready to Merge

#4215 AO3-6250 Show parent comment in email if you reply to a comment
  app/mailers/comment_mailer.rb
  app/models/comment.rb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  spec/mailers/comment_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4469 AO3-5499 Revamp user admin page
  app/controllers/admin/admin_users_controller.rb
  app/views/admin/admin_users/_user_history.html.erb
  app/views/admin/admin_users/show.html.erb
  config/locales/views/en.yml
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_fnok.feature
  features/admins/users/admin_manage_users.feature
  features/other_a/invite_request.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/user_steps.rb
  features/support/paths.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4523 AO3-5499 Remove send_activation code from routes and user policy
  app/policies/user_policy.rb
  config/routes.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4525 AO3-5499 List roles in user admin page meta
  app/views/admin/admin_users/show.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/admins/users/admin_manage_users.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4526 AO3-5499 Correct class name on user admin page note
  app/views/admin/admin_users/show.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4355 AO3-6141 Disable user role checkboxes based on admin permissions
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
Labels: Reviewed: Ready to Merge

#4148 AO3-4268 Implement full screen width dropdowns for small screen sizes
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Reviewed: Ready to Merge

#4406 AO3-5627 Prevent deleting sole published chapter of a work (must delete work instead)
  app/controllers/chapters_controller.rb
  app/models/chapter.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Coder Has Actioned Review

#4356 AO3-6199 Rename variable and method for banned media embed sources
  config/config.yml
  lib/otw_sanitize/media_sanitizer.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
Labels: Reviewed: Ready to Merge

#4390 AO3-3997 Replace email_veracity with email_format
  app/models/admin_blacklisted_email.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/invitation.rb
  app/models/invite_request.rb
  app/models/user.rb
  app/validators/email_veracity_validator.rb
  config/locales/validators/en.yml
  features/other_a/profile_edit.feature
  features/users/user_create.feature
  spec/models/abuse_report_spec.rb
  spec/models/admin_blacklisted_email_spec.rb
  spec/models/feedback_spec.rb
  spec/models/invitation_spec.rb
  spec/models/invite_request_spec.rb
  spec/models/user_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#4272 AO3-6158 Remove US$ before banner goal/progress values
  public/javascripts/application.js
Labels: Reviewed: Ready to Merge

#4319 AO3-5777 Add thousands separators to long numbers in work blurbs
  app/helpers/works_helper.rb
  app/views/works/_work_module.html.erb
  features/search/works_stats.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#4322 AO3-6243 Remove condition for comment form to be 'remote' to avoid CSRF token missing error
  app/views/comments/_comment_form.html.erb
Labels: Reviewed: Ready to Merge

#4530 AO3-6513 Allow archivists to directly add to collections
  app/controllers/collection_items_controller.rb
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/works/work_view.feature
  spec/controllers/collection_items_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/collection_item_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4538 Revert "AO3-6243 Remove condition for comment form to be 'remote' to avoid CSRF token missing error"
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

#4536 Revert "AO3-6158 Remove US$ before banner goal/progress values"
  public/javascripts/application.js
Labels: Awaiting Review

#4535 Revert "AO3-3997 Replace email_veracity with email_format"
  app/models/admin_blacklisted_email.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/invitation.rb
  app/models/invite_request.rb
  app/models/user.rb
  app/validators/email_veracity_validator.rb
  config/locales/validators/en.yml
  features/other_a/profile_edit.feature
  features/users/user_create.feature
  spec/models/abuse_report_spec.rb
  spec/models/admin_blacklisted_email_spec.rb
  spec/models/feedback_spec.rb
  spec/models/invitation_spec.rb
  spec/models/invite_request_spec.rb
  spec/models/user_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

#4534 Revert "AO3-6199 Rename variable and method for banned media embed sources"
  config/config.yml
  lib/otw_sanitize/media_sanitizer.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
Labels: Awaiting Review

#4532 Revert "AO3-4268 Implement full screen width dropdowns for small screen sizes"
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

#4531 Revert "AO3-6141 Disable user role checkboxes based on admin permissions"
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
Labels: Awaiting Review

#4543 Revert "Revert "AO3-6141 Disable user role checkboxes based on admin permissions""
  app/policies/user_policy.rb
  app/views/admin/admin_users/_user_form.html.erb
Labels: Awaiting Review

#4548 Revert "Revert "AO3-4268 Implement full screen width dropdowns for sm…
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Awaiting Review

#4547 Revert "Revert "AO3-5627 Prevent deleting sole published chapter of a…
  app/controllers/chapters_controller.rb
  app/models/chapter.rb
  config/locales/controllers/en.yml
  spec/controllers/chapters_controller_spec.rb
Labels: Awaiting Review

#4546 Revert "Revert "AO3-6199 Rename variable and method for banned media …
  config/config.yml
  lib/otw_sanitize/media_sanitizer.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
Labels: Awaiting Review

#4544 Revert "Revert "AO3-3997 Replace email_veracity with email_format""
  app/models/admin_blacklisted_email.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/invitation.rb
  app/models/invite_request.rb
  app/models/user.rb
  app/validators/email_veracity_validator.rb
  config/locales/validators/en.yml
  features/other_a/profile_edit.feature
  features/users/user_create.feature
  spec/models/abuse_report_spec.rb
  spec/models/admin_blacklisted_email_spec.rb
  spec/models/feedback_spec.rb
  spec/models/invitation_spec.rb
  spec/models/invite_request_spec.rb
  spec/models/user_spec.rb
  spec/spec_helper.rb
Labels: Awaiting Review

#4545 Revert "Revert "AO3-6158 Remove US$ before banner goal/progress values""
  public/javascripts/application.js
Labels: Awaiting Review

#4549 Revert "Revert "AO3-5777 Add thousands separators to long numbers in work blurbs""
  app/helpers/works_helper.rb
  app/views/works/_work_module.html.erb
  features/search/works_stats.feature
Labels: Awaiting Review

#4550 Revert "Revert "AO3-6243 Remove condition for comment form to be 'remote' to avoid CSRF token missing error""
  app/views/comments/_comment_form.html.erb
Labels: Awaiting Review

#4551 Revert "Revert "AO3-6513 Allow archivists to directly add to collections""
  app/controllers/collection_items_controller.rb
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/works/work_view.feature
  spec/controllers/collection_items_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review

#4201 AO3-5258 Position "Refuse" button for mystery gifts on the left
  app/views/gifts/_gift_blurb.html.erb
  app/views/works/_work_blurb.html.erb
  public/stylesheets/site/2.0/08-actions.css
Labels: Priority: Low, Reviewed: Ready to Merge
