Repository otwcode/otwarchive, pull requests merged in 2023-05, with the labels that each got.

#4503 Updated translations from Phrase
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/ky.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/tr.yml
Labels: Scope: i18n Only, Awaiting Review

#4465 AO3-5690 Clean up gifts when a user is deleted
  app/models/pseud.rb
  spec/models/pseud_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#4470 AO3-6391 Improve the tag callbacks for updating TagNominations.
  app/models/tag.rb
  features/step_definitions/tag_set_steps.rb
  features/tag_sets/tag_set_associations.feature
Labels: Reviewed: Ready to Merge

#4459 AO3-6460 Avoid caching stale AdminSetting
  app/models/admin_setting.rb
  spec/models/admin_setting_spec.rb
Labels: Reviewed: Ready to Merge

#4498 AO3-5993 Remove OpenID tables (open_id_authentication_associations and open_id_authentication_nonces)
  db/migrate/20230106203903_drop_open_id_tables.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4479 AO3-5942 Allow video embeds from bilibili.com
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4497 AO3-6003 Add i18n-tasks to normalize locale files and add tests to detect missing and unused translation keys
  Gemfile
  Gemfile.lock
  app/controllers/comments_controller.rb
  app/helpers/mailer_helper.rb
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
  app/views/user_mailer/creatorship_notification.html.erb
  app/views/user_mailer/creatorship_notification.text.erb
  app/views/user_mailer/creatorship_notification_archivist.html.erb
  app/views/user_mailer/creatorship_notification_archivist.text.erb
  app/views/user_mailer/creatorship_request.html.erb
  app/views/user_mailer/creatorship_request.text.erb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  config/locales/validators/en.yml
  config/locales/views/en.yml
  spec/lib/i18n/i18n_tasks_spec.rb
  spec/support/i18n_newlines_tasks.rb
Labels: Reviewed: Ready to Merge, Gem Updates

#4489 AO3-3867 AO3-6194 Improve managing rejected and unreviewed collection items
  app/controllers/collection_items_controller.rb
  app/helpers/collections_helper.rb
  app/models/collection_item.rb
  app/views/collection_items/_collection_item_controls.html.erb
  app/views/collection_items/index.html.erb
  app/views/collections/index.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  config/locales/helpers/en.yml
  config/locales/views/en.yml
  features/collections/collectible_moderated_collection.feature
  features/collections/collectible_open_collection.feature
  features/collections/collection_invite.feature
  features/step_definitions/collection_steps.rb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/08-actions.css
  spec/controllers/collection_items_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4475 AO3-6492 Update text for abuse report page and confirmation email
  app/controllers/abuse_reports_controller.rb
  app/mailers/user_mailer.rb
  app/views/abuse_reports/new.html.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/other_a/abuse_report.feature
  features/other_a/banner_login.feature
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4512 AO3-3867 Update link in invited to collection confirmation message
  app/controllers/collection_items_controller.rb
  config/locales/controllers/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4510 AO3-5684 AO3-6524 Use more precise selectors for JavaScript
  public/javascripts/ao3modal.js
  public/javascripts/ao3modal.min.js
  public/javascripts/application.js
  public/stylesheets/site/2.0/29-role-ie8_or_lower.css
Labels: Priority: High, Reviewed: Ready to Merge

#4514 AO3-6492 Tweak abuse report form and email
  app/views/abuse_reports/new.html.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  features/other_a/abuse_report.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4513 AO3-6470 Wrangling report performance improvements
  app/controllers/tag_wranglers_controller.rb
  config/config.yml
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4515 AO3-6470 Decrease wrangling report limit
  config/config.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4517 Updated translations from Phrase
  config/locales/phrase-exports/pt-BR.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4518 AO3-6532 Remove locale for Kyrgyz (ky)
  .phrase.yml
  config/application.rb
  config/locales/phrase-exports/ky.yml
Labels: Reviewed: Ready to Merge

#4516 AO3-6517 Prevent blocked users from leaving kudos on their blockers' works.
  app/models/kudo.rb
  app/views/comments/_commentable.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/comments_and_kudos/kudos.feature
  spec/controllers/kudos_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4467 AO3-6490 Add comment options to import work form
  app/controllers/works_controller.rb
  app/models/story_parser.rb
  app/views/works/_standard_form.html.erb
  app/views/works/edit_multiple.html.erb
  app/views/works/new_import.html.erb
  config/locales/views/en.yml
  features/importing/work_import.feature
Labels: Reviewed: Ready to Merge

#4511 AO3-6516 Replace "Chilling Effects" with "Lumen" on DMCA page
  app/views/home/_dmca.html.erb
Labels: Reviewed: Ready to Merge

#4505 AO3-6119 Remove automatically_approve_collections from preferences
  db/migrate/20230429120200_remove_automatically_approve_collections.rb
  test/fixtures/preferences.yml
Labels: Reviewed: Ready to Merge, Has Migrations

#4488 AO3-6044 Use PERMITTED_HOSTS to validate abuse report URLs
  app/models/abuse_report.rb
  config/config.yml
  config/locales/models/en.yml
Labels: Reviewed: Ready to Merge, Has Production Config Changes

#4397 AO3-6278 Fix word counter to not count pipe characters as words
  lib/tasks/work_tasks.rake
  lib/word_counter.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/lib/word_counter_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge
