Repository otwcode/otwarchive, pull requests merged in 2023-12, with the labels that each got.

#4672 AO3-6646 Fix flaky works tests
  features/step_definitions/web_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_browse.feature
  features/works/work_edit.feature
  features/works/work_edit_multiple.feature
  features/works/work_share.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4671 AO3-6645 Fix flaky bookmarks test
  features/bookmarks/bookmark_create.feature
  features/bookmarks/bookmark_search.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4595 AO3-6551 Correct skin CSS column type
  app/views/skins/_form.html.erb
  db/migrate/20230811004337_change_css_type.rb
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#4677 AO3-6639 Revert schema dump setting
  config/application.rb
  db/schema.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4540 AO3-5386 Remove edit_emails_off and plain_text_skin columns from preferences table
  db/migrate/20230418071728_remove_edit_emails_and_plain_text_skin_from_preferences.rb
  test/fixtures/preferences.yml
Labels: Priority: Low, Reviewed: Ready to Merge, Has Migrations

#4506 AO3-6314 Remove column dead from external_works table
  db/migrate/20230430160300_remove_dead_column.rb
  features/fixtures/external_works.yml
  test/fixtures/external_works.yml
Labels: Reviewed: Ready to Merge, Has Migrations

#4648 AO3-6609 Allow users to resend invitations
  app/controllers/invite_requests_controller.rb
  app/models/invitation.rb
  app/views/invitations/_invitation.html.erb
  app/views/invite_requests/_invitation.html.erb
  app/views/invite_requests/_no_invitation.html.erb
  app/views/invite_requests/show.html.erb
  app/views/invite_requests/show.js.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20231027172035_add_resent_at_to_invitations.rb
  features/other_a/invite_queue.feature
  spec/controllers/invite_requests_controller_spec.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#4666 AO3-6643 Fix error when sorting by columns without a pretty name
  app/models/search/work_search_form.rb
  spec/models/search/work_search_form_spec.rb
Labels: Reviewed: Ready to Merge

#4663 AO3-6626: stop tags from being added with Chinese or Japanese commas
  app/models/tag.rb
  spec/models/tag_spec.rb
Labels: Reviewed: Ready to Merge

#4654 AO3-5259 Deduplicate and order admin post tags
  app/controllers/admin_posts_controller.rb
  spec/controllers/admin_posts_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4617 AO3-3217 Remove aria attributes from char counts
  app/helpers/application_helper.rb
Labels: Reviewed: Ready to Merge

#4599 AO3-6505 Preload approved_collections and stat_counter for work blurbs.
  app/models/work.rb
  spec/requests/works_n_plus_one_spec.rb
Labels: Reviewed: Ready to Merge

#4596 AO3-6548 Add "(Guest)" to guest comments
  app/helpers/comments_helper.rb
  app/helpers/mailer_helper.rb
  app/views/comment_mailer/comment_notification.html.erb
  app/views/comment_mailer/comment_notification.text.erb
  app/views/comment_mailer/comment_reply_notification.html.erb
  app/views/comment_mailer/comment_reply_notification.text.erb
  app/views/comment_mailer/comment_reply_sent_notification.html.erb
  app/views/comment_mailer/comment_reply_sent_notification.text.erb
  app/views/comment_mailer/edited_comment_notification.html.erb
  app/views/comment_mailer/edited_comment_notification.text.erb
  app/views/comment_mailer/edited_comment_reply_notification.html.erb
  app/views/comment_mailer/edited_comment_reply_notification.text.erb
  config/locales/mailers/en.yml
  features/comments_and_kudos/guest_comments.feature
  features/comments_and_kudos/inbox.feature
  public/images/imageset.png
  public/stylesheets/site/2.0/15-group-comments.css
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Reviewed: Ready to Merge

#4564 AO3-6528 Collection participant error message reveals when users are suspended or banned
  app/controllers/collection_participants_controller.rb
  features/collections/collection_participants.feature
  spec/controllers/collection_participants_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4682 AO3-3471 Allow filtering on language specific /works page
  app/views/works/_filters.html.erb
  app/views/works/index.html.erb
  features/works/work_browse.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4681 AO3-6548 Fix spacing in guest names on comment notifications
  app/helpers/mailer_helper.rb
  config/locales/mailers/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4653 AO3-6631 Replace Twitter widget with social media links
  app/helpers/share_helper.rb
  app/views/home/index.html.erb
  app/views/share/_share.html.erb
  config/locales/views/en.yml
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
  public/stylesheets/sandbox.css
  public/stylesheets/site/2.0/16-zone-system.css
  spec/helpers/share_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4685 AO3-6609 Visual fixes for invitation status
  app/views/invite_requests/_invitation.html.erb
  app/views/invite_requests/show.js.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4686 AO3-6548 Fix display of kudos image
  public/stylesheets/site/2.0/10-types-groups.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4680 AO3-6386 Fix that email addresses in mailer previews were localized
  factories/admin.rb
  factories/admin_blacklisted_email.rb
  factories/users.rb
  spec/controllers/invite_requests_controller_spec.rb
  test/mailers/previews/application_mailer_preview.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4687 AO3-6626 Add after task for removing invalid commas from tags
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4684 AO3-6650 Move speculation rules next chapter prefetch
  app/views/chapters/_chapter.html.erb
  app/views/chapters/show.html.erb
Labels: Reviewed: Ready to Merge

#4689 AO3-6609 Fix status check of old invites without sent_at
  app/models/invitation.rb
  app/views/invite_requests/_invitation.html.erb
  spec/models/invitation_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4695 AO3-6653 Update labeler configuration syntax
  .github/labeler/awaiting.yml
  .github/labeler/contents.yml
  .github/labeler/review.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4700 AO3-6653 Fix missing space in actions/labeler config
  .github/labeler/contents.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4691 AO3-6548 Use pseud helpers in comment emails and fix kudos image display
  app/helpers/mailer_helper.rb
  app/views/admin_mailer/comment_notification.html.erb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.html.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  public/images/imageset.png
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4701 AO3-6653 Fix removal of Reviewed: Action Needed label
  .github/labeler/review.yml
Labels: Priority: High - Broken on Test, Awaiting Review, Scope: Tests Only
