Repository otwcode/otwarchive, pull requests merged in 2023-07, with the labels that each got.

#4554 AO3-5901 Limit number of pseuds on profile and sidebar
  app/controllers/profile_controller.rb
  app/decorators/profile_presenter.rb
  app/helpers/pseuds_helper.rb
  app/models/pseud.rb
  app/views/profile/pseuds.js.erb
  app/views/profile/show.html.erb
  app/views/users/_sidebar.html.erb
  config/locales/views/en.yml
  config/routes.rb
  features/other_a/preferences_edit.feature
  features/other_a/profile_edit.feature
  features/other_a/pseuds.feature
  features/step_definitions/pseud_steps.rb
  spec/controllers/profile_controller_spec.rb
  spec/models/profile_presenter_spec.rb
  spec/models/pseud_spec.rb
Labels: Awaiting Review

#4572 AO3-6557 Delete old monkeypatch.
  config/initializers/monkeypatches/accept_header.rb
Labels: Reviewed: Ready to Merge

#4573 AO3-6558 Remove fetch_admin_settings hook.
  app/controllers/application_controller.rb
  app/controllers/autocomplete_controller.rb
  app/controllers/downloads_controller.rb
  app/controllers/invite_requests_controller.rb
  app/controllers/users/registrations_controller.rb
  app/views/comments/_commentable.html.erb
  app/views/home/_intro_module.html.erb
  app/views/invite_requests/_index_open.html.erb
  app/views/invite_requests/_invite_request.html.erb
  app/views/invite_requests/index.html.erb
  app/views/invite_requests/status.html.erb
  app/views/users/sessions/_passwd_small.html.erb
  app/views/users/sessions/new.html.erb
  app/views/works/_work_header_navigation.html.erb
  spec/controllers/invite_requests_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4569 AO3-5889 Paginate pseuds using default per page setting
  app/controllers/pseuds_controller.rb
  app/views/pseuds/index.html.erb
  features/other_a/pseuds.feature
Labels: Reviewed: Ready to Merge

#4565 AO3-3997 Fix for email address validation #4390
  app/models/story_parser.rb
  app/views/invitations/_invitation.html.erb
  config/locales/views/en.yml
  features/other_a/invite_request.feature
  spec/models/story_parser_spec.rb
Labels: Coder Has Actioned Review, Priority: High - Broken on Test

#4579 AO3-5901 Pseud switcher text on the New Pseud page
  app/helpers/pseuds_helper.rb
  app/helpers/users_helper.rb
  app/views/users/_sidebar.html.erb
  features/other_a/pseuds.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4583 AO3-6560 Add Tumblr links to error pages
  app/views/feedbacks/new.html.erb
  config/locales/views/en.yml
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Priority: High, Awaiting Review

#4588 AO3-6568 Remove webdrivers gem
  Gemfile
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates
