Repository otwcode/otwarchive, pull requests merged in 2023-10, with the labels that each got.

#4633 AO3-6467 Log on kin side when a user with a fnok is deleted
  app/controllers/admin/admin_users_controller.rb
  app/helpers/users_helper.rb
  app/models/concerns/user_loggable.rb
  app/models/user.rb
  app/views/admin/admin_users/_user_history.html.erb
  config/config.yml
  db/migrate/20230920094945_remove_fnok_user_id_index_from_log_items.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/models/user_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Has Migrations

#4635 AO3-6487 More attempts at fixing autocompletes after a fandom is made a synonym
  app/models/common_tagging.rb
  app/models/tag.rb
  spec/models/tag_wrangling_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4637 AO3-6328 Try to fix large tags not updating in uses sort
  app/models/tag.rb
  spec/models/tag_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4638 AO3-6483 Make old password changes deserializable
  app/models/user.rb
  config/application.rb
  spec/models/user_spec.rb
Labels: Awaiting Review

#4641 Revert "AO3-6328 Try to fix large tags not updating in uses sort"
  app/models/tag.rb
  spec/models/tag_spec.rb
Labels: Priority: High - Broken on Test, Awaiting Review

#4639 AO3-6621 Update OTW Donation Link
  app/views/home/donate.html.erb
  config/locales/views/en.yml
  features/other_a/homepage.feature
  features/step_definitions/generic_steps.rb
Labels: Reviewed: Ready to Merge

#4642 AO3-6618 Escape characters on bookmark fields fetched with JavaScript
  app/views/external_works/fetch.js.erb
Labels: Priority: High, Reviewed: Ready to Merge

#4615 AO3-5776 Remove mention of author from download afterword
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/show.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
Labels: Reviewed: Ready to Merge

#4618 AO3-5774 Pluralize tag categories in downloaded work meta
  app/views/downloads/_download_preface.html.erb
  features/works/work_download.feature
Labels: Reviewed: Ready to Merge

#4607 AO3-6058 Hide byline of unrevealed work in notes of related work
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_preface.html.erb
  app/views/works/_work_approved_children.html.erb
  app/views/works/_work_header_notes.html.erb
  config/i18n-tasks.yml
  config/locales/views/en.yml
  features/step_definitions/work_related_steps.rb
  features/works/work_download.feature
  features/works/work_related.feature
Labels: Priority: Critical, Reviewed: Ready to Merge

#4614 AO3-5629 Switch from wkhtmltopdf to Calibre for PDF downloads
  .github/workflows/automated-tests.yml
  app/models/download_writer.rb
  config/docker/Dockerfile
  script/gh-actions/ebook_converters.sh
Labels: Reviewed: Ready to Merge

#4645 AO3-6625 Replace whitespace in download filenames with underscores
  app/models/download.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/download_spec.rb
  spec/support/shared_examples/mailer_shared_examples.rb
Labels: Reviewed: Ready to Merge

#4649 AO3-5626 Fix overlapping text when download has child related works
  public/stylesheets/ebooks.css
Labels: Reviewed: Ready to Merge

#4650 AO3-5626 Actually fix overlay text when download has child related works
  app/views/layouts/barebones.html.erb
  public/stylesheets/ebooks.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test
