Repository otwcode/otwarchive, pull requests merged in 2023-08, with the labels that each got.

#4586 AO3-6567 Use % for translate_string instead of I18n.translate.
  app/views/tag_set_nominations/_tag_nominations_by_fandom.html.erb
  config/initializers/monkeypatches/translate_string.rb
Labels: Reviewed: Ready to Merge

#4577 AO3-6545 Default FAQ to last valid locale instead of always English
  app/controllers/archive_faqs_controller.rb
  spec/controllers/archive_faqs_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4561 AO3-6488 Optimize Challenge queries to make orphaned works editable
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/works/_standard_form.html.erb
Labels: Priority: High, Reviewed: Ready to Merge

#4571 AO3-6530 Display validation messages on top of footer
  public/stylesheets/site/2.0/07-interactions.css
Labels: Reviewed: Ready to Merge

#4570 AO3-4867 & AO3-4868 Prevent pseud ambiguity issues.
  app/controllers/challenge_assignments_controller.rb
  app/controllers/collection_participants_controller.rb
  app/controllers/gifts_controller.rb
  app/models/block.rb
  app/models/challenge_assignment.rb
  app/models/collection_item.rb
  app/models/concerns/creatable.rb
  app/models/creatorship.rb
  app/models/gift.rb
  app/models/mute.rb
  app/models/pseud.rb
  lib/creation_notifier.rb
  spec/models/challenge_assignment_spec.rb
  spec/models/owned_tag_set_spec.rb
Labels: Reviewed: Ready to Merge

#4541 AO3-6536 Add elections admin role
  app/models/admin.rb
  app/policies/comment_policy.rb
  config/locales/models/en.yml
  features/comments_and_kudos/admin_info.feature
  spec/controllers/admin/activities_controller_spec.rb
  spec/controllers/admin/banners_controller_spec.rb
  spec/controllers/admin/blacklisted_emails_controller_spec.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/admin/spam_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/controllers/skins_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4574 AO3-6192 Disable admin post comments after 2 weeks
  app/models/admin_post.rb
  config/config.yml
  config/resque_schedule.yml
  spec/models/admin_post_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4585 AO3-6556 Update text to refer to account activation rather than confirmation
  app/views/users/confirmation.html.erb
  config/locales/devise/en.yml
  config/locales/views/en.yml
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4580 AO3-6552 Login link needs ARIA role
  app/views/layouts/_header.html.erb
  config/locales/views/en.yml
Labels: Priority: High, Reviewed: Ready to Merge

#4592 AO3-6577 Upgrade rails to 6.1.7.4
  Gemfile
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates

#4597 AO3-6589 Don't call ts() on user-generated text.
  app/controllers/admin/blacklisted_emails_controller.rb
  app/controllers/bookmarks_controller.rb
  app/controllers/challenge_assignments_controller.rb
  app/controllers/opendoors/external_authors_controller.rb
  app/controllers/opendoors/tools_controller.rb
  app/controllers/redirect_controller.rb
  app/controllers/tag_set_nominations_controller.rb
  app/helpers/series_helper.rb
  app/models/work.rb
  app/models/work_skin.rb
  app/views/archive_faqs/show.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/menu/_menu_fandoms.html.erb
  app/views/works/_search_box.html.erb
  lib/css_cleaner.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4594 AO3-6583 Updated the robots.txt to block chatGPT.
  public/robots.public.txt
Labels: Priority: High, Reviewed: Ready to Merge

#4528 AO3-6212 AO3-6573 Add indices to tag_set_associations, and add the departure gem to make future migrations easier.
  Gemfile
  Gemfile.lock
  config/config.yml
  config/initializers/departure.rb
  db/migrate/20230610162442_add_indices_to_tag_set_associations.rb
Labels: Reviewed: Ready to Merge, Has Migrations, Gem Updates

#4578 AO3-6561 Repair confirm dialog on comment "Spam" button
  app/helpers/comments_helper.rb
  features/comments_and_kudos/spam_comments.feature
  features/step_definitions/comment_steps.rb
Labels: Reviewed: Ready to Merge

#4581 AO3-6553 Better semantics and a11y for the media list on the homepage
  app/views/home/_fandoms.html.erb
  app/views/home/index.html.erb
  config/locales/views/en.yml
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Priority: High, Reviewed: Ready to Merge

#4568 AO3-6549 Remove ignore of auto collection invite column
  app/models/preference.rb
  spec/models/preference_spec.rb
Labels: Reviewed: Ready to Merge

#4587 AO3-6546 Fix account creation form becoming stuck
  app/controllers/users/registrations_controller.rb
  app/models/user.rb
  app/views/users/registrations/new.html.erb
  config/locales/views/en.yml
  public/javascripts/application.js
Labels: Reviewed: Ready to Merge

#4552 AO3-6540 Allow banned users to delete works, chapters and remove themselves as co-creators
  app/controllers/application_controller.rb
  app/controllers/chapters_controller.rb
  app/controllers/orphans_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/chapters_controller_spec.rb
  spec/controllers/orphans_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
Labels: Reviewed: Ready to Merge

#4559 AO3-6506 Use parent aggregations for bookmark listings.
  app/models/search/bookmark_query.rb
  app/models/search/bookmarkable_query.rb
  app/models/search/query.rb
  app/models/search/query_result.rb
  spec/models/search/bookmark_query_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/bookmarkable_query_spec.rb
  spec/models/search/pseud_query_spec.rb
  spec/models/search/tag_query_spec.rb
Labels: Reviewed: Ready to Merge

#4418 AO3-6442 Bypass URL validation for ficbook.net due to ip block
  app/validators/url_active_validator.rb
  spec/models/external_work_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#4509 AO3-5961 Stop rails logger from logging so many things below level "error"
  app/controllers/application_controller.rb
  app/models/download_writer.rb
  app/models/invite_request.rb
  app/models/pseud.rb
  app/models/search/async_indexer.rb
  app/models/search/indexer.rb
  app/models/tagset_models/tag_nomination.rb
  app/models/user.rb
  app/sweepers/collection_sweeper.rb
  config/environments/production.rb
  lib/autocomplete_source.rb
  lib/html_cleaner.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4508 AO3-5248 Change nonexistent user pages to 404
  app/controllers/users_controller.rb
  features/other_b/errors.feature
  features/step_definitions/web_steps.rb
  spec/controllers/users_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4270 AO3-4494 Remove time of day from draft deletion warning message
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  app/helpers/application_helper.rb
  app/helpers/date_helper.rb
  app/views/works/_work_module.html.erb
  app/views/works/show.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/works/work_drafts.feature
  spec/helpers/date_helper_spec.rb
Labels: Reviewed: Ready to Merge

#4602 AO3-6540 Suspended and banned users should not be able to update chapter positions
  app/controllers/chapters_controller.rb
  spec/controllers/chapters_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4605 AO3-5052 Update series byline on username or pseud update
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseuds.feature
  features/users/user_rename.feature
  spec/models/pseud_spec.rb
Labels: Reviewed: Ready to Merge

#4557 AO3-6480 Update text on adult content warning to improve accessibility
  app/views/works/_adult.html.erb
  config/locales/views/en.yml
  features/importing/work_import.feature
  features/other_a/reading.feature
  features/works/work_browse.feature
  public/stylesheets/site/2.0/08-actions.css
Labels: Reviewed: Ready to Merge

#4603 AO3-5732 Show error when searching invitations by email has 0 results
  app/controllers/admin/admin_invitations_controller.rb
  app/views/admin/admin_invitations/find.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/admins/admin_invitations.feature
  features/support/paths.rb
Labels: Reviewed: Ready to Merge

#4606 AO3-5732 Fix partial email search not displaying all invitations
  app/controllers/admin/admin_invitations_controller.rb
  app/views/admin/admin_invitations/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_invitations.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4609 AO3-5052 Delete cached series byline when updating pseud or username
  app/models/pseud.rb
  app/models/series.rb
  app/models/user.rb
  spec/models/pseud_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4604 AO3-6590 Add reviewdog for linting ERB files
  .github/workflows/reviewdog.yml
  .hound.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4611 AO3-6595 Disallow ChatGPT-User robots
  public/robots.public.txt
Labels: Priority: High, Reviewed: Ready to Merge

#4608 AO3-6553 Use div with a role rather than nav element
  app/views/home/index.html.erb
  public/stylesheets/site/2.0/26-media-narrow.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4598 AO3-6571 Prevent relative image paths.
  config/config.yml
  config/initializers/gem-plugin_config/sanitizer_config.rb
  features/other_a/parser.feature
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, For next release

#4582 AO3-6467 Record Fannish Next of Kin changes in user history
  app/controllers/admin/admin_users_controller.rb
  app/helpers/users_helper.rb
  app/models/log_item.rb
  app/models/user.rb
  app/views/admin/admin_users/_user_history.html.erb
  config/config.yml
  config/i18n-tasks.yml
  config/locales/helpers/en.yml
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
  factories/fannish_next_of_kin.rb
  features/admins/users/admin_fnok.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/users_controller_spec.rb
  spec/models/user_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations, For next release

#4601 AO3-6040 Allow banning certain usernames
  app/models/comment.rb
  app/models/user.rb
  app/validators/not_forbidden_name_validator.rb
  config/config.yml
  config/locales/models/en.yml
  features/step_definitions/user_steps.rb
  features/users/user_rename.feature
  spec/models/comment_spec.rb
  spec/models/user_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4624 AO3-6599 Apply local config on schedulers
  config/deploy.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4625 AO3-6467 Update add_fnok_user_id_to_log_items migration to new syntax
  db/migrate/20230717161221_add_fnok_user_id_to_log_items.rb
Labels: Priority: High - Broken on Test, Has Migrations, Awaiting Review
