Repository otwcode/otwarchive, pull requests merged in 2023-01, with the labels that each got.

#4429 AO3-6453 Monkey patch Akismetor for Ruby 3
  config/initializers/monkeypatches/akismetor.rb
Labels: Priority: Critical, Reviewed: Ready to Merge

#4430 AO3-6452 Sort to reduce deadlocks in the hit count code.
  app/models/redis_hit_counter.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4431 AO3-6455 Try to address deadlocks in readings code.
  app/controllers/works_controller.rb
  app/jobs/readings_to_database_job.rb
  app/models/reading.rb
  app/models/user.rb
  app/models/work.rb
  config/config.yml
  features/step_definitions/reading_steps.rb
Labels: Priority: Critical, Reviewed: Ready to Merge

#4432 AO3-6456 AO3-6438 Add missing primary keys and exclude innodb_monitor from schema dumps
  config/initializers/active_record_schema_ignore_tables.rb
  db/migrate/20230113225105_add_primary_key_to_roles_users.rb
  db/migrate/20230113225128_add_primary_key_to_schema_migrations.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4433 AO3-6457 Improve the scalability of the StatCounter job.
  .rubocop.yml
  app/jobs/readings_to_database_job.rb
  app/jobs/redis_set_job.rb
  app/jobs/redis_set_job_spawner.rb
  app/jobs/stat_counter_job.rb
  app/models/stat_counter.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/work_steps.rb
  lib/redis_scanning.rb
Labels: Reviewed: Ready to Merge

#4435 AO3-6459 Use new batch code for readings to try to address LockWaitTimeout errors.
  app/jobs/readings_job.rb
  app/models/reading.rb
  app/models/user.rb
  config/config.yml
  config/resque_schedule.yml
  config/schedule.rb
  features/other_a/reading.feature
  features/step_definitions/reading_steps.rb
  features/step_definitions/work_steps.rb
  lib/tasks/reading_tasks.rake
Labels: Priority: High, Reviewed: Ready to Merge

#4434 AO3-6458 Use new batch code for tag count updates to try to address LockWaitTimeout errors.
  app/jobs/tag_count_update_job.rb
  app/models/scheduled_tag_job.rb
  app/models/tag.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/series_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  spec/models/tag_spec.rb
Labels: Priority: High, Awaiting Review

#4438 AO3-6462 Make scan_set_in_batches return more consistent batch sizes.
  lib/redis_scanning.rb
Labels: Reviewed: Ready to Merge

#4324 AO3-6365 Add interface for muting users via CSS
  app/controllers/muted/users_controller.rb
  app/helpers/mute_helper.rb
  app/models/mute.rb
  app/models/user.rb
  app/policies/mute_policy.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/index.html.erb
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/search_results.html.erb
  app/views/layouts/_includes.html.erb
  app/views/muted/_muted_items_notice.html.erb
  app/views/muted/users/_muted_user_blurb.html.erb
  app/views/muted/users/confirm_mute.html.erb
  app/views/muted/users/confirm_unmute.html.erb
  app/views/muted/users/index.html.erb
  app/views/preferences/index.html.erb
  app/views/series/index.html.erb
  app/views/users/_header_navigation.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20220821213412_create_mutes.rb
  features/step_definitions/mute_steps.rb
  features/support/paths.rb
  features/users/muting.feature
  spec/controllers/muted/users_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4394 AO3-6422 Limit the number of accounts users can block
  app/models/block.rb
  app/views/blocked/users/index.html.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/step_definitions/block_steps.rb
  spec/controllers/blocked/users_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4444 AO3-6472 Skip indirect gem dependency updates
  .github/dependabot.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4445 AO3-6472 Revert "Skip indirect gem dependency updates"
  .github/dependabot.yml
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4446 AO3-6365 Text tweaks for muting and blocking
  app/views/muted/users/confirm_mute.html.erb
  app/views/muted/users/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/users/blocking.feature
  features/users/muting.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test
