Repository otwcode/otwarchive, pull requests merged in 2023-02, with the labels that each got.

#4447 AO3-6440 Configure admin and user reset token expiry separately
  app/models/admin.rb
  app/views/admin/mailer/reset_password_instructions.html.erb
  app/views/admin/mailer/reset_password_instructions.text.erb
  app/views/admin_mailer/set_password_notification.html.erb
  app/views/admin_mailer/set_password_notification.text.erb
  config/config.yml
  config/locales/mailers/en.yml
  features/admins/authenticate_admins.feature
  features/step_definitions/admin_steps.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4451 AO3-6365 Update muted users limit
  config/config.yml
Labels: Reviewed: Ready to Merge

#4453 AO3-6440 Restrict access to password reset pages
  app/controllers/admin/passwords_controller.rb
  app/controllers/users/passwords_controller.rb
  features/admins/authenticate_admins.feature
  features/support/paths.rb
  features/users/authenticate_users.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4439 AO3-6469 Upgrade to Rails 6.1.
  Gemfile
  Gemfile.lock
  app/models/abuse_report.rb
  app/models/admin.rb
  app/models/admin_post_tag.rb
  app/models/api_key.rb
  app/models/archive_faq.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/external_author.rb
  app/models/external_author_name.rb
  app/models/invite_request.rb
  app/models/kudo.rb
  app/models/language.rb
  app/models/locale.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/tag.rb
  app/models/tagset_models/owned_tag_set.rb
  app/models/user.rb
  app/validators/email_blacklist_validator.rb
  app/validators/email_format_validator.rb
  app/validators/email_veracity_validator.rb
  app/validators/url_active_validator.rb
  app/validators/url_format_validator.rb
  config/initializers/monkeypatches/fix_phraseapp.rb
  config/routes.rb
  config/storage.yml
Labels: Reviewed: Ready to Merge, Gem Updates

#4402 AO3-3585 Allow form submission when errors are fixed
  features/step_definitions/generic_steps.rb
  features/works/work_create.feature
  public/javascripts/livevalidation_standalone.js
Labels: Priority: High, Reviewed: Ready to Merge

#4379 AO3-6183 Make live validation errors screen readable
  public/javascripts/livevalidation_standalone.js
Labels: Reviewed: Ready to Merge

#4449 AO3-6475 Let QueryResults use scopes, so that we can start work on reducing N+1 queries for works & bookmarks.
  app/controllers/bookmarks_controller.rb
  app/controllers/works_controller.rb
  app/decorators/bookmarkable_decorator.rb
  app/decorators/pseud_decorator.rb
  app/models/bookmark.rb
  app/models/external_work.rb
  app/models/search/query_result.rb
  app/models/series.rb
  app/models/work.rb
  lib/searchable.rb
  spec/requests/works_n_plus_one_spec.rb
Labels: Reviewed: Ready to Merge

#4448 AO3-6466 Allow <details> and <summary> HTML tags
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/paragraph_maker.rb
  public/help/html-help.html
  public/stylesheets/site/2.0/21-userstuff.css
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4428 AO3-6420 Remove unused gifts view
  app/views/gifts/index_for_collection.html.erb
Labels: Priority: Low, Reviewed: Ready to Merge

#4399 AO3-6425 Added work IDs to abuse report URLs
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4410 AO3-6432 Prevent orphan_account from being warned/banned/suspended
  app/models/user_manager.rb
  features/admins/users/admin_abuse_users.feature
  spec/models/user_manager_spec.rb
Labels: Reviewed: Ready to Merge

#4267 AO3-6318 Include series in the noindex privacy preference
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/other_a/preferences_edit_more.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/preferences_steps.rb
  public/help/privacy-preferences.html
Labels: Reviewed: Ready to Merge

#4377 AO3-6387 Prevent editing existing tags when creating new tags
  app/controllers/tags_controller.rb
  spec/controllers/tags_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4176 AO3-6279 Remove defunct video sites from the embed sanitizer
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4207 AO3-6319 Allow hsla colors in skins
  lib/css_cleaner.rb
  spec/models/skin_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4351 AO3-6368 Remove unused EmailValidator
  app/validators/email_validator.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4353 AO3-5837 Remove unused code from bookmarks controller
  app/controllers/bookmarks_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4408 AO3-6435 Remove prompt_restriction_id column from the gift_exchanges and prompt_memes tables.
  app/controllers/challenge_requests_controller.rb
  app/helpers/prompt_restrictions_helper.rb
  app/models/challenge_models/gift_exchange.rb
  app/models/challenge_models/prompt_meme.rb
  app/models/offer.rb
  app/models/prompt.rb
  app/models/request.rb
  db/migrate/20221205223816_remove_prompt_restriction_id_column.rb
  factories/challenges.rb
  spec/controllers/challenge_claims_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Has Migrations

#4347 AO3-6140 Remove "translation_admin" user role and restrict access to locales and languages
  app/controllers/languages_controller.rb
  app/controllers/locales_controller.rb
  app/models/user.rb
  app/policies/language_policy.rb
  app/policies/locale_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/admin_users/_user_listing.html.erb
  app/views/languages/index.html.erb
  app/views/locales/index.html.erb
  factories/users.rb
  features/admins/admin_languages.feature
  features/admins/admin_locales.feature
  features/admins/admin_post_faqs.feature
  features/fixtures/roles.yml
  lib/tasks/after_tasks.rake
  lib/tasks/defaults.rake
  spec/controllers/languages_controller_spec.rb
  spec/controllers/locales_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/defaults.rake_spec.rb
  test/fixtures/roles.yml
Labels: Reviewed: Ready to Merge

#4251 AO3-5521 Record a work's original creator on orphaning
  app/models/creatorship.rb
  app/models/pseud.rb
  app/models/work.rb
  app/models/work_original_creator.rb
  app/policies/user_creation_policy.rb
  app/views/works/_meta.html.erb
  config/config.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  db/migrate/20220911173601_create_work_original_creators.rb
  factories/work_original_creators.rb
  features/admins/admin_works.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/orphans_controller_spec.rb
  spec/models/work_original_creator_spec.rb
  spec/models/work_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4443 AO3-6464 Allow ruby, rt, and rp HTML tags where HTML is allowed
  app/helpers/application_helper.rb
  app/views/bookmarks/_bookmark_form.html.erb
  app/views/comments/_comment_form.html.erb
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/paragraph_maker.rb
  public/help/html-help.html
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4348 AO3-6118 Require opt-in for work collection invitations
  app/controllers/collection_items_controller.rb
  app/controllers/preferences_controller.rb
  app/models/collection_item.rb
  app/models/preference.rb
  app/models/work.rb
  app/views/collection_items/_collection_item_form.html.erb
  app/views/comments/_commentable.html.erb
  app/views/preferences/index.html.erb
  app/views/user_mailer/added_to_collection_notification.html.erb
  app/views/user_mailer/added_to_collection_notification.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  config/locales/views/en.yml
  db/migrate/20220918015954_add_allow_collection_invitation_to_preference.rb
  features/collections/collectible_closed_collection.feature
  features/collections/collectible_moderated_collection.feature
  features/collections/collectible_multiple_collections.feature
  features/collections/collectible_open_collection.feature
  features/collections/collection_anonymity.feature
  features/collections/collection_invite.feature
  features/comments_and_kudos/hidden_works.feature
  features/other_a/autocomplete.feature
  features/other_a/preferences_edit.feature
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/preferences_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_related.feature
  features/works/work_view.feature
  public/help/collection-preferences.html
  spec/controllers/collection_items_controller_spec.rb
  spec/models/work_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#4457 AO3-6466 Allow open attribute on details element.
  config/initializers/gem-plugin_config/sanitizer_config.rb
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4458 AO3-6485 Switch to Codecov GitHub Action
  .github/workflows/automated-tests.yml
  .simplecov
  Gemfile
  Gemfile.lock
  README.md
Labels: Reviewed: Ready to Merge, Gem Updates

#4461 AO3-6118: Hide non-JS collection form when invite disabled
  app/views/comments/_commentable.html.erb
  features/collections/collectible_multiple_collections.feature
  features/step_definitions/generic_steps.rb
  features/works/work_view.feature
Labels: Priority: High - Broken on Test, Awaiting Review

#4464 AO3-6466 Handle boolean 'open' attribute more nicely.
  config/initializers/gem-plugin_config/sanitizer_config.rb
  lib/html_cleaner.rb
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4463 AO3-6485 Optionally use the Codecov upload token
  .github/workflows/automated-tests.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: Tests Only
