Repository otwcode/otwarchive, pull requests merged in 2023-04, with the labels that each got.

#4480 AO3-6496 Switch to Selenium instead of phantomjs for tests with JS enabled.
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  app/views/external_works/fetch.js.erb
  app/views/home/index.html.erb
  config/docker/Dockerfile
  config/initializers/gem-plugin_config/redis.rb
  config/initializers/gem-plugin_config/webmock.rb
  docker-compose.yml
  features/admins/admin_skins.feature
  features/bookmarks/bookmark_share.feature
  features/collections/collection_anonymity.feature
  features/other_a/hit_counts.feature
  features/other_a/preferences_edit.feature
  features/other_b/skin.feature
  features/other_b/skin_public.feature
  features/other_b/skin_wizard.feature
  features/step_definitions/generic_steps.rb
  features/step_definitions/web_steps.rb
  features/step_definitions/work_steps.rb
  features/support/capybara.rb
  features/support/hooks.rb
  features/works/work_share.feature
  script/docker/init.cmd
  script/docker/init.sh
Labels: Reviewed: Ready to Merge, Gem Updates

#4455 AO3-6449 Update NewRelic to 8.16.0
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates

#4486 AO3-5722 Remove unused Cucumber step "When the system processes jobs"
  features/gift_exchanges/challenge_giftexchange.feature
  features/gift_exchanges/challenge_yuletide.feature
  features/step_definitions/challege_gift_exchange_steps.rb
  features/step_definitions/generic_steps.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4490 AO3-6496 Add the --rm option to docker-compose run commands.
  docker-compose.yml
  script/docker/init.cmd
  script/docker/init.sh
Labels: Reviewed: Ready to Merge

#4454 AO3-6476 Update styling of muted users notice
  app/views/bookmarks/index.html.erb
  app/views/bookmarks/search_results.html.erb
  app/views/muted/_muted_items_notice.html.erb
  app/views/series/index.html.erb
  app/views/works/index.html.erb
  app/views/works/search_results.html.erb
Labels: Reviewed: Ready to Merge

#4478 Replace tabs with spaces in robots.txt
  public/robots.public.txt
Labels: Reviewed: Ready to Merge

#4419 AO3-4120 Prevent comments caching stale username and pseud
  app/views/comments/_single_comment.html.erb
  features/other_a/pseuds.feature
  features/users/user_rename.feature
Labels: Reviewed: Ready to Merge

#4425 AO3-6075 Make download chapter count display consistent
  app/views/downloads/_download_preface.html.erb
  features/works/work_download.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#4266 AO3-5734 Stop truncating and sanitizing page titles of HTML downloads
  app/models/download.rb
  features/works/work_download.feature
  spec/models/download_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4386 AO3-5770 Change phrasing of archive warnings in downloaded files
  app/views/downloads/_download_preface.html.erb
Labels: Priority: Low, Reviewed: Ready to Merge

#4366 AO3-2228 Add color picker for skin wizard
  app/views/skins/_wizard_form.html.erb
  public/help/skins-wizard-accent-color.html
Labels: Reviewed: Ready to Merge

#4460 AO3-6474 Only load media for the menu when needed.
  app/controllers/application_controller.rb
  app/models/media.rb
  app/views/menu/_menu_fandoms.html.erb
Labels: Reviewed: Ready to Merge

#4487 AO3-6499 Update stylesheet URLs on static pages
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Priority: High, Reviewed: Ready to Merge

#4491 AO3-6504 Avoid resetting dev databases twice for Docker
  lib/tasks/database_seed.rake
  script/reset_database.sh
Labels: Reviewed: Ready to Merge

#4440 AO3-5778 AO3-5782 Add thousands separators to long numbers in work meta and downloads
  app/helpers/works_helper.rb
  app/models/work.rb
  app/views/downloads/_download_preface.html.erb
  app/views/share/_embed_meta.html.erb
  app/views/user_mailer/_work_info.html.erb
  app/views/user_mailer/_work_info.text.erb
  app/views/user_mailer/batch_subscription_notification.html.erb
  app/views/user_mailer/batch_subscription_notification.text.erb
  app/views/works/_work_module.html.erb
Labels: Reviewed: Ready to Merge

#4496 AO3-6512 Fix api works RSpec tests leaking state
  spec/controllers/api/v2/api_works_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4495 AO3-6510 Handle hit counts with RedisHashJobs, a modified version of the RedisSetJob.
  app/jobs/hit_count_update_job.rb
  app/jobs/readings_job.rb
  app/jobs/redis_hash_job.rb
  app/jobs/redis_job_spawner.rb
  app/jobs/redis_set_job.rb
  app/jobs/redis_set_job_spawner.rb
  app/jobs/tag_count_update_job.rb
  app/models/redis_hit_counter.rb
  config/config.yml
  config/resque_schedule.yml
  features/step_definitions/reading_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/work_steps.rb
  lib/redis_scanning.rb
  spec/jobs/hit_count_update_job_spec.rb
  spec/models/redis_hit_counter_spec.rb
  spec/models/tag_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Production Config Changes

#4494 AO3-6509 Retry TagMethodJobs on deadlock and lock wait timeout.
  app/jobs/tag_method_job.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4427 AO3-6097 Remove Dewplayer from repo
  .codeclimate.yml
  .jshintignore
  lib/otw_sanitize/embed_sanitizer.rb
  public/system/dewplayer/README.md
  public/system/dewplayer/covers/0.jpg
  public/system/dewplayer/covers/1.jpg
  public/system/dewplayer/covers/2.jpg
  public/system/dewplayer/covers/3.jpg
  public/system/dewplayer/covers/Thumbs.db
  public/system/dewplayer/dewplayer-bubble-vol.swf
  public/system/dewplayer/dewplayer-bubble.swf
  public/system/dewplayer/dewplayer-mini-127.swf
  public/system/dewplayer/dewplayer-mini.swf
  public/system/dewplayer/dewplayer-multi.swf
  public/system/dewplayer/dewplayer-playlist-cover.swf
  public/system/dewplayer/dewplayer-playlist.swf
  public/system/dewplayer/dewplayer-rect.swf
  public/system/dewplayer/dewplayer-vinyl-en.swf
  public/system/dewplayer/dewplayer-vinyl.swf
  public/system/dewplayer/dewplayer-vol.swf
  public/system/dewplayer/dewplayer.swf
  public/system/dewplayer/dewplayer.zip
  public/system/dewplayer/index-swfobject-js.htm
  public/system/dewplayer/index-xhtml.htm
  public/system/dewplayer/mp3/test1.mp3
  public/system/dewplayer/mp3/test2.mp3
  public/system/dewplayer/mp3/test3.mp3
  public/system/dewplayer/playlist.xml
  public/system/dewplayer/styles.css
  public/system/dewplayer/swfobject.js
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#4500 AO3-6514 Revert "AO3-2228 Add color picker for skin wizard"
  app/views/skins/_wizard_form.html.erb
  public/help/skins-wizard-accent-color.html
Labels: Reviewed: Ready to Merge
