Repository otwcode/otwarchive, pull requests merged in 2024-11, with the labels that each got.

#4952 AO3-6828 Email users about TOS update and Underage warning rename
  Gemfile
  Gemfile.lock
  app/mailers/tos_update_mailer.rb
  app/views/tos_update_mailer/tos_update_notification.html.erb
  app/views/tos_update_mailer/tos_update_notification.text.erb
  lib/tasks/notifications.rake
  spec/lib/tasks/notifications.rake_spec.rb
  spec/mailers/tos_update_mailer_spec.rb
  test/mailers/previews/tos_update_mailer_preview.rb
Labels: Priority: Critical, Reviewed: Ready to Merge, Gem Updates

#4954 AO3-6831 Rename the Underage warning tag
  config/config.yml
  factories/tags.rb
  features/importing/work_import.feature
  features/search/works_tags.feature
  features/step_definitions/work_import_steps.rb
  lib/tasks/after_tasks.rake
  public/help/warning-help.html
  public/help/work-search-text-help.html
  script/gift_exchange/tag_seed.json
  spec/controllers/api/api_helper.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  test/fixtures/tags.yml
Labels: Reviewed: Ready to Merge

#4955 AO3-6837 Use selenium/standalone-chromium in docker-compose
  docker-compose.yml
Labels: Priority: Low, Reviewed: Ready to Merge

#4904 AO3-5421 Adds line-height to userstuff list items
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Priority: Low, Reviewed: Ready to Merge

#4958 AO3-4283 make HTML and classes on the Marked for Later module consistent
  app/views/home/index.html.erb
Labels: Reviewed: Ready to Merge

#4939 AO3-5951 Fix lists displaying inline in userstuff blurb areas
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Priority: Low, Reviewed: Ready to Merge

#4933 AO3-6376 Remove "User" from username, password and email change page titles
  app/controllers/users_controller.rb
  app/views/layouts/application.html.erb
  config/locales/views/en.yml
Labels: Priority: Low, Reviewed: Ready to Merge

#4912 AO3-6268 Fix All challenge owners/moderators get CCed in "Assignments sent" notification
  app/controllers/challenge_assignments_controller.rb
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/models/challenge_assignment.rb
  app/models/collection.rb
  app/models/potential_match.rb
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  features/gift_exchanges/notification_emails.feature
  features/step_definitions/email_custom_steps.rb
  spec/mailers/user_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#4927 AO3-6244 Fixed underline added to some links in preface on hover
  public/stylesheets/site/2.0/14-group-preface.css
Labels: Priority: Low, Reviewed: Ready to Merge

#4946 AO3-6819 Invalid HTML for Blocked Users and Muted Users pages
  app/views/blocked/users/index.html.erb
  app/views/muted/users/index.html.erb
Labels: Priority: Low, Reviewed: Ready to Merge

#4915 AO3-6768 update browser page title in drafts page
  app/controllers/works_controller.rb
  config/locales/controllers/en.yml
  features/works/work_drafts.feature
Labels: Reviewed: Ready to Merge

#4963 AO3-6841 Further clarify the definition of the Underage Sex warning
  app/views/home/tos_faq.html.erb
  public/help/warning-help.html
Labels: Reviewed: Ready to Merge

#4964 AO3-6840 Add TOS FAQ to site map
  app/views/home/site_map.html.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge

#4956 AO3-6834 Add Parent Thread link to unreviewed comments
  app/views/comments/_comment_actions.html.erb
  features/comments_and_kudos/comment_moderation.feature
Labels: Reviewed: Ready to Merge

#4965 AO3-6842 Add Content Policy notice to all work forms
  app/views/chapters/_chapter_form.html.erb
  app/views/chapters/preview.html.erb
  app/views/works/edit_tags.html.erb
  app/views/works/new_import.html.erb
  app/views/works/preview.html.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge

#4953 AO3-6829 updates to the dmca policy
  app/views/home/_dmca.html.erb
  features/other_a/homepage.feature
Labels: Coder Has Actioned Review

#4967 AO3-6843 Suppress the TOS popup on more pages
  app/helpers/application_helper.rb
Labels: Reviewed: Ready to Merge

#4969 AO3-6829 Make section references in DMCA consistent
  app/views/home/_dmca.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4968 AO3-6841 Remove TOS FAQ updated date
  app/views/home/tos_faq.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4926 AO3-6812 Modify cookie rotator to accept SHA256 cookies
  config/initializers/cookie_rotator.rb
Labels: Reviewed: Ready to Merge

#4894 AO3-6698 Limit roles that can modify archive FAQs
  app/controllers/archive_faqs_controller.rb
  app/controllers/questions_controller.rb
  app/policies/archive_faq_policy.rb
  app/views/admin/_admin_nav.html.erb
  app/views/admin/_header.html.erb
  app/views/archive_faqs/_admin_index.html.erb
  app/views/archive_faqs/index.html.erb
  app/views/archive_faqs/show.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/admins/admin_post_faqs.feature
  features/admins/admin_reorder_faq.feature
  features/admins/admin_reorder_faq_questions.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/archive_faqs_controller_spec.rb
  spec/controllers/questions_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4921 AO3-6771 Fix that claim_notification didn't respect user's locale preference
  app/mailers/user_mailer.rb
  app/models/external_author.rb
  features/importing/work_import.feature
  features/step_definitions/work_import_steps.rb
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#4959 AO3-6773 Create invite_request_declined mailer preview
  app/controllers/user_invite_requests_controller.rb
  app/mailers/user_mailer.rb
  features/other_a/invite_request.feature
  features/step_definitions/invite_steps.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#4398 AO3-5520 Admin roles restrict ability to add or modify wrangling guidelines
  app/controllers/wrangling_guidelines_controller.rb
  app/policies/wrangling_policy.rb
  app/views/admin/_admin_nav.html.erb
  app/views/admin/_header.html.erb
  app/views/wrangling_guidelines/index.html.erb
  app/views/wrangling_guidelines/show.html.erb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_wrangling_relationships.feature
  features/tags_and_wrangling/wrangling_guidelines.feature
  spec/controllers/wrangling_guidelines_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4970 AO3-6835 Create change_email mailer preview
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  features/other_a/profile_edit.feature
  features/step_definitions/email_custom_steps.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#4880 AO3-6709 Allow certain admins to access inboxes
  app/controllers/application_controller.rb
  app/controllers/inbox_controller.rb
  app/policies/inbox_comment_policy.rb
  app/views/users/_sidebar.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  spec/controllers/inbox_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4903 AO3-6760 Check admin roles in UnsortedTagsController
  app/controllers/unsorted_tags_controller.rb
  app/policies/wrangling_policy.rb
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_wrangling_unsorted.feature
  spec/controllers/unsorted_tags_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4937 AO3-6761 Check admin roles in TagWranglingsController
  app/controllers/tag_wranglings_controller.rb
  app/views/admin/_header.html.erb
  app/views/tag_wranglings/_wrangler_dashboard.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/controllers/tag_wranglings_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4891 AO3-6697 Limit roles that can edit known issues
  app/controllers/known_issues_controller.rb
  app/policies/known_issue_policy.rb
  app/views/admin/_admin_nav.html.erb
  app/views/admin/_header.html.erb
  app/views/known_issues/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_post_issues.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/known_issues_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge
