Repository otwcode/otwarchive, pull requests merged in 2024-09, with the labels that each got.

#4907 AO3-6010 Show admin post actions to the correct roles
  app/views/admin_posts/show.html.erb
  features/admins/admin_post_news.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4908 AO3-6010 Hide empty tag if no admin actions
  app/views/admin_posts/show.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4909 AO3-6804 Fix flaky tag wrangling fandoms test
  .gitattributes
  features/tags_and_wrangling/tag_wrangling_fandoms.feature
Labels: Reviewed: Ready to Merge

#4898 AO3-6796 fix 500 error when trying to access user's works for invalid fandom_id
  app/controllers/works_controller.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#4876 AO3-6405 Task for removing multiple ratings on a work
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4816 AO3-4728 Fix Error 500 on subscriptions page for invalid items
  app/controllers/subscriptions_controller.rb
  app/models/subscription.rb
  app/views/subscriptions/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  spec/controllers/subscriptions_controller_spec.rb
  spec/models/subscription_spec.rb
Labels: Reviewed: Ready to Merge

#4895 AO3-6772 Create reset_password_instructions mailer preview
  app/mailers/archive_devise_mailer.rb
  app/models/user.rb
  app/views/users/mailer/reset_password_instructions.html.erb
  features/step_definitions/email_custom_steps.rb
  features/users/authenticate_users.feature
  test/mailers/previews/archive_devise_mailer_preview.rb
  test/mailers/previews/kudo_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#4878 AO3-6749 Fix main navigation position and color in Low Vision Default
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
Labels: Reviewed: Ready to Merge, Has Production Config Changes

#4381 AO3-6392 Comment actions when replying in full page
  app/controllers/comments_controller.rb
  app/helpers/comments_helper.rb
  app/views/comments/_comment_actions.html.erb
  features/comments_and_kudos/add_comment.feature
  features/step_definitions/comment_steps.rb
Labels: Reviewed: Ready to Merge

#4860 AO3-6686 AO3-6687 Update configs to Rails 7.0 defaults
  app/controllers/pseuds_controller.rb
  config/application.rb
  config/initializers/cookie_rotator.rb
  config/initializers/cookies_serializer.rb
  config/initializers/new_framework_defaults_7_0.rb
  features/collections/collection_participants.feature
  features/other_a/pseud_delete.feature
  features/step_definitions/generic_steps.rb
  lib/skin_wizard.rb
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow/snow_site_screen_.css
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
  public/stylesheets/site/2.0/08-actions.css
Labels: Reviewed: Ready to Merge

#4910 AO3-4728 Error message for subscribing to deleted item
  config/locales/models/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: i18n Only

#4918 AO3-6796 - fix QA returns for 500 error on fandom_id
  app/controllers/works_controller.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4919 AO3-6686 Bring back polymorphic_path
  app/controllers/comments_controller.rb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4920 AO3-6749 Fix top-level menu item text color in Low Vision Default
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4923 Revert cookie serializer changes
  config/initializers/cookies_serializer.rb
Labels: Awaiting Review

#4924 Revert "AO3-6686 AO3-6687 Update configs to Rails 7.0 defaults"
  app/controllers/pseuds_controller.rb
  config/application.rb
  config/initializers/cookie_rotator.rb
  config/initializers/new_framework_defaults_7_0.rb
  features/collections/collection_participants.feature
  features/other_a/pseud_delete.feature
  features/step_definitions/generic_steps.rb
  lib/skin_wizard.rb
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow/snow_site_screen_.css
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
  public/stylesheets/site/2.0/08-actions.css
Labels: Priority: High - Broken on Test, Awaiting Review

#4925 AO3-4728 Allow HTML in subscription byline
  app/views/subscriptions/index.html.erb
  config/locales/views/en.yml
  features/other_b/subscriptions.feature
Labels: Priority: High - Broken on Test, Awaiting Review
