Repository otwcode/otwarchive, pull requests merged in 2024-02, with the labels that each got.

#4731 AO3-6624 index tags command msg
  lib/tasks/search.rake
  spec/lib/tasks/search_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#4644 AO3-6613 Clarify GPL version
  README.md
  app/views/layouts/_footer.html.erb
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/nomaintenance.html
  public/status/index.html
Labels: Reviewed: Ready to Merge

#4737 AO3-6630 Update New Relic from 8.16.0 to 9.7.1
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates

#4742 AO3-6681 Fix flaky orphaning account test
  features/other_a/orphan_account.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4739 AO3-6134: Remove gem Delorean from test dependencies
  Gemfile
  Gemfile.lock
  spec/controllers/chapters_controller_spec.rb
  spec/lib/tasks/admin_tasks.rake_spec.rb
  spec/lib/tasks/work_tasks.rake_spec.rb
  spec/lib/works_owner_spec.rb
  spec/models/redis_hit_counter_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge, Gem Updates

#4520 AO3-5728 Allow flexbox in skins
  config/config.yml
  public/help/skins-creating.html
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge

#4563 AO3-6526 Don't reveal if user is banned or suspended when inviting as co-creator
  app/models/creatorship.rb
  features/works/work_create.feature
Labels: Reviewed: Ready to Merge

#4558 AO3-3207 Fix incorrect work blurbs and meta when series is updated
  .gitignore
  app/controllers/series_controller.rb
  app/models/series.rb
  app/models/work.rb
  app/views/series/_series_order.html.erb
  features/other_b/series.feature
  features/other_b/series_order.feature
  features/step_definitions/series_steps.rb
  features/step_definitions/work_steps.rb
Labels: Reviewed: Ready to Merge

#4720 AO3-6598 Slow query in challenge_signups#update and challenge_signups#create
  app/controllers/prompts_controller.rb
  app/models/prompt.rb
  spec/controllers/prompts_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4621 AO3-6265 Use text-align start in comments
  public/stylesheets/site/2.0/15-group-comments.css
Labels: Reviewed: Ready to Merge

#4736 AO3-6430: Replace uses of "whitelist" with "allowlist"
  app/controllers/stats_controller.rb
  config/routes.rb
  lib/otw_sanitize/embed_sanitizer.rb
  lib/otw_sanitize/media_sanitizer.rb
  spec/lib/otw_sanitize/media_sanitizer_spec.rb
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge

#4693 AO3-6652 Use --subset-embedded-fonts for PDFs
  app/models/download_writer.rb
Labels: Reviewed: Ready to Merge

#4576 AO3-5803 Set minimums for gift exchange requests/offers
  app/models/challenge_models/gift_exchange.rb
  config/locales/models/en.yml
  spec/models/gift_exchange_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4610 AO3-3463 Move time_in_zone out of comment cache blocks
  app/views/comments/_single_comment.html.erb
  features/comments_and_kudos/add_comment.feature
Labels: Reviewed: Ready to Merge

#4707 AO3-6042 Fix that emails ignored the locale preference feature flag
  app/controllers/archive_faqs_controller.rb
  app/mailers/archive_devise_mailer.rb
  app/mailers/comment_mailer.rb
  app/mailers/kudo_mailer.rb
  app/mailers/user_mailer.rb
  app/models/creatorship.rb
  app/models/preference.rb
  app/models/user.rb
  app/views/preferences/index.html.erb
  spec/controllers/archive_faqs_controller_spec.rb
  spec/mailers/user_mailer_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4706 AO3-6377 Change edit profile page title
  app/controllers/users_controller.rb
  config/locales/views/en.yml
  features/other_a/profile_edit.feature
Labels: Reviewed: Ready to Merge

#4591 AO3-6575 Turn News posts sidebar into navigation
  app/views/admin_posts/_sidebar.html.erb
Labels: Reviewed: Ready to Merge

#4714 AO3-6667 Languages page performance improvements
  app/controllers/languages_controller.rb
  app/decorators/homepage.rb
  app/helpers/number_helper.rb
  app/models/search/work_query.rb
  app/views/languages/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_languages.feature
  spec/controllers/languages_controller_spec.rb
  spec/models/search/work_query_spec.rb
Labels: Reviewed: Ready to Merge

#4744 AO3-3463 Fix test to not use a DST timezone
  features/comments_and_kudos/add_comment.feature
Labels: Priority: High - Broken on Test, Awaiting Review, Scope: Tests Only

#4743 AO3-5803 Make errors for challenge limits display inline
  app/helpers/prompt_restrictions_helper.rb
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4745 AO3-3463 Fix comment cache keys to depend on record updated_at again
  app/views/comments/_single_comment.html.erb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4746 AO3-6667 Avoid counting non-visible works for languages page
  app/controllers/languages_controller.rb
  app/models/search/work_query.rb
  spec/models/search/work_query_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4747 AO3-6679 Remove session cookie migration logic
  app/controllers/application_controller.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4676 AO3-6647 Upgrade Ruby to 3.1.4
  .ruby-version
  Gemfile
  Gemfile.lock
  config/application.rb
  config/config.yml
  config/docker/Dockerfile
  config/initializers/monkeypatches/mail_disable_starttls.rb
Labels: Reviewed: Ready to Merge, Gem Updates, Has Production Config Changes
