Repository otwcode/otwarchive, pull requests merged in 2024-08, with the labels that each got.

#4887 AO3-6784 Fix error 500 on nominations show/index with tag in wrong category
  app/helpers/tag_sets_helper.rb
  docker-compose.yml
  features/step_definitions/tag_set_steps.rb
  features/support/paths.rb
  features/tag_sets/tag_set_nominations.feature
Labels: Priority: High, Reviewed: Ready to Merge

#4888 AO3-6783 Fix that removing a tag nomination would result in a blank tag nomination
  app/controllers/autocomplete_controller.rb
  app/models/tagset_models/cast_nomination.rb
  app/models/tagset_models/tag_nomination.rb
  features/other_a/autocomplete.feature
  features/step_definitions/tag_steps.rb
  features/support/paths.rb
  features/tag_sets/tag_set_nominations.feature
Labels: Priority: High, Awaiting Review

#4885 AO3-6759 Check admin roles for actions in TagWranglersController
  app/controllers/tag_wranglers_controller.rb
  app/policies/tag_wrangler_policy.rb
  app/policies/wrangling_policy.rb
  app/views/tag_wranglers/show.html.erb
  factories/wrangling_assignments.rb
  features/tags_and_wrangling/tag_wrangling_admin.feature
  spec/controllers/tag_wranglers_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4871 AO3-6754 Restrict access to API tokens
  app/controllers/admin/api_controller.rb
  app/policies/api_key_policy.rb
  app/views/admin/_header.html.erb
  app/views/admin/api/index.html.erb
  config/locales/views/en.yml
  spec/controllers/admin/api_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4855 AO3-6728 Delete comments properly for spammer bans
  app/controllers/admin/admin_users_controller.rb
  app/controllers/application_controller.rb
  config/i18n-tasks.yml
  config/locales/controllers/en.yml
  features/admins/users/admin_abuse_users.feature
Labels: Reviewed: Ready to Merge

#4748 AO3-6563 Attach HTML download copies of works to abuse tickets
  app/jobs/report_attachment_job.rb
  app/models/abuse_report.rb
  app/models/feedback_reporters/feedback_reporter.rb
  config/config.yml
  lib/zoho_resource_client.rb
  spec/lib/zoho_resource_client_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_reporters/feedback_reporter_spec.rb
Labels: Reviewed: Ready to Merge

#4802 AO3-6493 Notify wrangling supervisors via email when a wrangler changes their username
  app/mailers/tag_wrangling_supervisor_mailer.rb
  app/models/user.rb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.text.erb
  config/config.yml
  config/locales/mailers/en.yml
  features/users/user_rename.feature
  spec/mailers/tag_wrangling_supervisor_mailer_spec.rb
  test/mailers/previews/tag_wrangling_supervisor_mailer_preview.rb
Labels: Reviewed: Ready to Merge, Has Production Config Changes

#4889 AO3-6010 Add role for Legal
  app/models/admin.rb
  app/policies/comment_policy.rb
  app/policies/user_creation_policy.rb
  app/policies/user_policy.rb
  config/locales/models/en.yml
  features/admins/admin_works.feature
  features/comments_and_kudos/admin_info.feature
  features/importing/work_import.feature
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge

#4893 AO3-5441 Allow filter functions for CSS filter
  lib/css_cleaner.rb
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge

#4875 AO3-6764 Add kudo mailer preview
  app/mailers/kudo_mailer.rb
  app/models/redis_mail_queue.rb
  app/views/kudo_mailer/batch_kudo_notification.html.erb
  app/views/kudo_mailer/batch_kudo_notification.text.erb
  config/locales/mailers/en.yml
  features/comments_and_kudos/kudos.feature
  features/step_definitions/email_custom_steps.rb
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/kudo_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#4890 AO3-6732 Add custom cop for calling html_safe on translated strings
  app/views/admin/mailer/reset_password_instructions.html.erb
  app/views/admin/mailer/reset_password_instructions.text.erb
  app/views/admin_mailer/set_password_notification.html.erb
  app/views/admin_mailer/set_password_notification.text.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.html.erb
  app/views/tag_wrangling_supervisor_mailer/wrangler_username_change_notification.text.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/abuse_report.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  app/views/user_mailer/admin_spam_work_notification.html.erb
  app/views/user_mailer/admin_spam_work_notification.text.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/feedback.html.erb
  app/views/user_mailer/feedback.text.erb
  app/views/user_mailer/invite_increase_notification.html.erb
  app/views/user_mailer/invite_increase_notification.text.erb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  config/locales/mailers/en.yml
  rubocop/cop/i18n/deprecated_helper.rb
  rubocop/cop/i18n/html_safe_translation.rb
  spec/rubocop/cop/i18n/deprecated_helper_spec.rb
  spec/rubocop/cop/i18n/html_safe_translation_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#4896 AO3-6563 Fix reporter for abuse download attachment
  app/jobs/report_attachment_job.rb
  spec/jobs/report_attachment_job_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4897 AO3-6539 Update user creation summary h3s and pagination behavior
  app/views/admin/admin_users/_user_creations_summary.html.erb
  app/views/admin/admin_users/creations.html.erb
  app/views/admin/admin_users/show.html.erb
  config/locales/views/en.yml
  features/admins/users/admin_manage_users.feature
  features/step_definitions/admin_steps.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4901 AO3-6563 Fix Zoho attachment calls to force multipart upload
  app/jobs/report_attachment_job.rb
  app/models/abuse_report.rb
  app/models/feedback_reporters/feedback_reporter.rb
  lib/zoho_auth_client.rb
  lib/zoho_resource_client.rb
  spec/jobs/report_attachment_job_spec.rb
  spec/lib/zoho_auth_client_spec.rb
  spec/lib/zoho_resource_client_spec.rb
  spec/models/feedback_reporters/feedback_reporter_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4905 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/bn.yml
  config/locales/phrase-exports/ca.yml
  config/locales/phrase-exports/cs.yml
  config/locales/phrase-exports/cy.yml
  config/locales/phrase-exports/da.yml
  config/locales/phrase-exports/de.yml
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/es.yml
  config/locales/phrase-exports/fa.yml
  config/locales/phrase-exports/fi.yml
  config/locales/phrase-exports/fr.yml
  config/locales/phrase-exports/he.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/hr.yml
  config/locales/phrase-exports/hu.yml
  config/locales/phrase-exports/id.yml
  config/locales/phrase-exports/it.yml
  config/locales/phrase-exports/ja.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/lv.yml
  config/locales/phrase-exports/mr.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/nb.yml
  config/locales/phrase-exports/nl.yml
  config/locales/phrase-exports/pl.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/pt-PT.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/ru.yml
  config/locales/phrase-exports/scr.yml
  config/locales/phrase-exports/sl.yml
  config/locales/phrase-exports/sv.yml
  config/locales/phrase-exports/th.yml
  config/locales/phrase-exports/tr.yml
  config/locales/phrase-exports/uk.yml
  config/locales/phrase-exports/vi.yml
  config/locales/phrase-exports/zh-CN.yml
Labels: Scope: i18n Only, Awaiting Review
