Repository otwcode/otwarchive, pull requests merged in 2024-12, with the labels that each got.

#4980 Updated translations from Phrase
  config/locales/phrase-exports/ar.yml
  config/locales/phrase-exports/bg.yml
  config/locales/phrase-exports/ko.yml
  config/locales/phrase-exports/lv.yml
  config/locales/phrase-exports/ms.yml
  config/locales/phrase-exports/pt-BR.yml
  config/locales/phrase-exports/ro.yml
  config/locales/phrase-exports/scr.yml
  config/locales/phrase-exports/uk.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#4973 AO3-6686 Reintroduce Rails 7 defaults (without dangerous cookie stuff)
  app/controllers/pseuds_controller.rb
  config/application.rb
  config/initializers/cookie_rotator.rb
  config/initializers/new_framework_defaults_7_0.rb
  features/collections/collection_participants.feature
  features/other_a/pseud_delete.feature
  features/step_definitions/generic_steps.rb
  lib/skin_wizard.rb
  public/stylesheets/masters/low_vision_default/low_vision_default_site_screen_.css
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow/snow_site_screen_.css
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
  public/stylesheets/site/2.0/08-actions.css
Labels: Reviewed: Ready to Merge

#4983 AO3-6858 Add puma library
  Gemfile
  Gemfile.lock
Labels: Coder Has Actioned Review, Gem Updates

#4940 AO3-6211 Exclude tags without posted works from unwrangled bins
  app/controllers/tag_wranglings_controller.rb
  app/helpers/wrangling_helper.rb
  app/models/tag.rb
  features/step_definitions/tag_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/brand_new_fandoms.feature
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_more.feature
Labels: Priority: High, Reviewed: Ready to Merge

#4972 AO3-6832 Don't attach work download to abuse report if provided comment URL
  app/models/abuse_report.rb
  spec/models/abuse_report_spec.rb
Labels: Reviewed: Ready to Merge

#4338 AO3-6308 fix user suspension end time
  app/controllers/application_controller.rb
  app/controllers/users/passwords_controller.rb
  config/locales/controllers/en.yml
  features/users/suspensions.feature
Labels: Reviewed: Ready to Merge

#4756 AO3-6622 Decrease margins on definition lists in FAQs
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Reviewed: Ready to Merge

#4978 AO3-6792 Admins with the support and policy_and_abuse roles should be able to edit languages
  app/controllers/languages_controller.rb
  app/policies/language_policy.rb
  app/views/languages/_form.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  spec/controllers/languages_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4982 AO3-6717 Check for banned user before changing username
  app/controllers/users_controller.rb
  spec/controllers/users_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4869 AO3-6232 Include IP, referer, skin in support tickets
  app/controllers/feedbacks_controller.rb
  app/helpers/skins_helper.rb
  app/models/feedback.rb
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/feedback_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  app/views/feedbacks/new.html.erb
  config/locales/views/en.yml
  spec/controllers/feedbacks_controller_spec.rb
  spec/helpers/skins_helper_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Reviewed: Ready to Merge

#4989 AO3-6232 Fix support ticket referer field
  app/models/feedback_reporters/support_reporter.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4988 AO3-6792: fix logic to account for the fact that language_params can be blank
  app/controllers/languages_controller.rb
  features/admins/admin_languages.feature
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4992 AO3-6864 Disallow URLs followed by something else in CSS
  lib/css_cleaner.rb
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge

#4990 AO3-6232 Fix referer for support tickets
  app/controllers/feedbacks_controller.rb
  app/views/feedbacks/new.html.erb
  features/other_b/support.feature
  features/step_definitions/support_steps.rb
  spec/controllers/feedbacks_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4996 Add note about AI tools
  CONTRIBUTING.md
Labels: Reviewed: Ready to Merge

#4995 Add comment about tag set nomination review limit
  app/controllers/tag_set_nominations_controller.rb
Labels: Reviewed: Ready to Merge

#4998 AO3-6866 Add no_resets and protected_user user roles to test fixtures
  test/fixtures/roles.yml
  test/fixtures/roles_users.yml
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#4807 AO3-5578 Use ActiveStorage for existing image uploads
  .github/workflows/automated-tests.yml
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/blocked/users_controller.rb
  app/controllers/collection_items_controller.rb
  app/controllers/collections_controller.rb
  app/controllers/muted/users_controller.rb
  app/controllers/people_controller.rb
  app/controllers/pseuds_controller.rb
  app/controllers/skins_controller.rb
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
  app/models/collection.rb
  app/models/comment.rb
  app/models/pseud.rb
  app/models/skin.rb
  app/models/work_skin.rb
  app/validators/attachment_validator.rb
  app/views/challenge_claims/_unposted_claim_blurb.html.erb
  app/views/collection_items/_item_fields.html.erb
  app/views/collections/_collection_blurb.html.erb
  app/views/collections/_form.html.erb
  app/views/collections/_header.html.erb
  app/views/pseuds/_pseuds_form.html.erb
  config/config.yml
  config/docker/Dockerfile
  config/environments/production.rb
  config/environments/staging.rb
  config/locales/models/en.yml
  config/locales/views/en.yml
  config/storage.yml
  db/migrate/20240323013245_create_active_storage_tables.active_storage.rb
  features/step_definitions/icon_steps.rb
  lib/tasks/after_tasks.rake
  spec/controllers/pseuds_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/collection_spec.rb
  spec/models/pseud_spec.rb
  spec/requests/blocked_users_n_plus_one_spec.rb
  spec/requests/collection_items_n_plus_one_spec.rb
  spec/requests/muted_users_n_plus_one_spec.rb
  spec/requests/people_n_plus_one_spec.rb
  spec/requests/pseuds_n_plus_one_spec.rb
  spec/requests/skins_n_plus_one_spec.rb
  test/fixtures/pseuds.yml
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations, Gem Updates, Has Production Config Changes

#5009 AO3-5578 Use rails_blob_url to allow ActiveStorage caching
  app/helpers/collections_helper.rb
  app/helpers/skins_helper.rb
  app/helpers/users_helper.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5007 AO3-5843 change Invite Requests browser page title to Invitation Requests
  app/controllers/invite_requests_controller.rb
  config/locales/controllers/en.yml
Labels: Reviewed: Ready to Merge
