Repository otwcode/otwarchive, pull requests merged in 2024-06, with the labels that each got.

#4852 AO3-6706 Fix Redis test config for non-docker
  config/initializers/gem-plugin_config/redis.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: Tests Only

#4851 AO3-5506 Don't include hidden works in Readings: fixed query
  app/controllers/readings_controller.rb
  app/decorators/homepage.rb
  app/models/reading.rb
  factories/readings.rb
  spec/controllers/readings_controller_spec.rb
  spec/models/reading_spec.rb
  spec/models/search/homepage_decorator_spec.rb
Labels: Coder Has Actioned Review, Priority: High - Broken on Test

#4854 AO3-5351 Extract feedback email to locales too
  app/mailers/user_mailer.rb
  config/locales/mailers/en.yml
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4647 AO3-6522 Use standard analyzer for bookmarker and creators on bookmark search
  app/models/search/bookmark_indexer.rb
  features/bookmarks/bookmark_search.feature
  features/step_definitions/bookmark_steps.rb
Labels: Reviewed: Ready to Merge, Needs Reindex

#4786 AO3-6537 Use standard analyzer for work title search
  app/models/search/work_indexer.rb
  features/fixtures/works.yml
  features/search/works_info.feature
Labels: Reviewed: Ready to Merge, Needs Reindex

#4814 AO3-6729 Fix searching for otp: true
  app/models/search/work_indexer.rb
  app/models/work.rb
  features/search/works_info.feature
  features/search/works_tags.feature
  features/step_definitions/work_search_steps.rb
  spec/models/search/work_indexer_spec.rb
Labels: Priority: High, Reviewed: Ready to Merge, Needs Reindex

#4859 AO3-6739 Display moderated commenting notice on individual chapters
  app/views/comments/_comment_form.html.erb
  features/comments_and_kudos/comment_moderation.feature
Labels: Reviewed: Ready to Merge

#4800 AO3-6707 Add GitPod config
  .gitpod.yml
  config/environments/development.rb
  docker-compose.yml
Labels: Priority: Low, Reviewed: Ready to Merge

#4866 Remove unused rubocop todo files
  .erb-lint.yml
  .rubocop.yml
  .rubocop_todo.yml
  .rubocop_todo_erb.yml
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#4868 AO3-6744 Change number of shards
  app/models/search/bookmark_indexer.rb
  app/models/search/work_indexer.rb
  config/config.yml
Labels: Priority: High, Reviewed: Ready to Merge
