Repository otwcode/otwarchive, pull requests merged in 2024-03, with the labels that each got.

#4761 AO3-6647 Fix paperclip with no paperclip patch
  app/models/collection.rb
  app/models/pseud.rb
  app/models/skin.rb
  config/environments/production.rb
  config/environments/staging.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Has Production Config Changes

#4762 AO3 6647 added gems for modern ssh for install
  Gemfile
  Gemfile.lock
Labels: Priority: High - Broken on Test, Gem Updates, Awaiting Review

#4750 AO3-6685 Prefer update! in tests
  features/step_definitions/potential_match_steps.rb
  features/step_definitions/preferences_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  spec/controllers/admin/admin_invitations_controller_spec.rb
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/admin/settings_controller_spec.rb
  spec/controllers/admin/skins_controller_spec.rb
  spec/controllers/admin/user_creations_controller_spec.rb
  spec/controllers/challenge_assignments_controller_spec.rb
  spec/controllers/challenge_signups_controller_spec.rb
  spec/controllers/external_works_controller_spec.rb
  spec/controllers/invitations_controller_spec.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/controllers/orphans_controller_spec.rb
  spec/controllers/series_controller_spec.rb
  spec/controllers/users/registrations_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
  spec/controllers/works/multiple_actions_spec.rb
  spec/controllers/works/updating_tags_spec.rb
  spec/helpers/bookmarks_helper_spec.rb
  spec/jobs/hit_count_update_job_spec.rb
  spec/lib/collectible_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/lib/tasks/resanitize.rake_spec.rb
  spec/models/admin_spec.rb
  spec/models/chapter_spec.rb
  spec/models/comment_spec.rb
  spec/models/filter_count_spec.rb
  spec/models/indexing/index_queue_spec.rb
  spec/models/owned_tag_set_spec.rb
  spec/models/pseud_spec.rb
  spec/models/search/bookmark_search_form_exclusion_filters_spec.rb
  spec/models/search/bookmark_search_form_spec.rb
  spec/models/search/index_sweeper_spec.rb
  spec/models/search/stat_counter_indexer_spec.rb
  spec/models/search/tag_query_spec.rb
  spec/models/search/tag_query_wrangling_spec.rb
  spec/models/search/work_search_form_exclusion_filters_spec.rb
  spec/models/search/work_search_form_spec.rb
  spec/models/series_spec.rb
  spec/models/user_manager_spec.rb
  spec/models/user_spec.rb
  spec/models/work_spec.rb
  spec/requests/works_show_request_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#4619 AO3-6596 Don't show an error on first login help
  app/controllers/home_controller.rb
  features/other_a/help.feature
Labels: Reviewed: Ready to Merge

#4764 AO3-2151 Redirect to work edit on related work deletion
  app/controllers/related_works_controller.rb
  spec/controllers/related_works_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4768 AO3-6596 Update first login help test to reflect stage/prod
  features/other_a/help.feature
Labels: Priority: High - Broken on Test, Awaiting Review, Scope: Tests Only

#4767 AO3-6696 Change reviewdog workflows to install only linter gems
  .github/workflows/reviewdog.yml
Labels: Awaiting Review, Scope: Tests Only

#4754 AO3-6689 Improve accessibility of header and navigation
  app/views/admin/_header.html.erb
  app/views/layouts/_header.html.erb
  app/views/menu/_menu_about.html.erb
  app/views/menu/_menu_browse.html.erb
  app/views/menu/_menu_fandoms.html.erb
  app/views/menu/_menu_search.html.erb
  app/views/users/sessions/_greeting.html.erb
  app/views/works/_search_box.html.erb
  config/locales/views/en.yml
  features/other_b/skin.feature
  public/403.html
  public/445.html
  public/500.html
  public/502.html
  public/503.html
  public/507.html
  public/javascripts/application.js
  public/javascripts/bootstrap/bootstrap-dropdown.js
  public/javascripts/bootstrap/bootstrap-dropdown.min.js
  public/nomaintenance.html
  public/status/index.html
Labels: Priority: High, Reviewed: Ready to Merge

#4751 AO3-6676 Remove participant memoization causing Leave button to appear on all collection blurbs
  app/views/collections/_collection_blurb.html.erb
  features/collections/collection_participants.feature
  features/step_definitions/collection_steps.rb
  features/step_definitions/generic_steps.rb
Labels: Reviewed: Ready to Merge

#4712 AO3-6628 Reorder font family names
  public/help/skins-wizard-font.html
  public/stylesheets/site/2.0/01-core.css
  public/stylesheets/site/2.0/02-elements.css
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/09-roles-states.css
  public/stylesheets/tiny_mce_custom.css
Labels: Reviewed: Ready to Merge

#4741 AO3-6623 Paginate works in series
  app/controllers/series_controller.rb
  app/views/series/show.html.erb
  features/other_b/series.feature
  features/step_definitions/series_steps.rb
Labels: Reviewed: Ready to Merge

#4729 AO3-6564 Reduce fields where images are shown
  app/models/comment.rb
  app/models/feedback_reporters/abuse_reporter.rb
  app/models/feedback_reporters/support_reporter.rb
  app/views/admin/banners/_banner.html.erb
  app/views/bookmarks/_bookmark_blurb_short.html.erb
  app/views/bookmarks/_bookmark_user_module.html.erb
  app/views/comments/_single_comment.html.erb
  app/views/layouts/_banner.html.erb
  app/views/pseuds/_pseud_module.html.erb
  app/views/share/_embed_meta_bookmark.erb
  features/bookmarks/bookmark_create.feature
  features/comments_and_kudos/add_comment.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/other_a/pseuds.feature
  lib/html_cleaner.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
  spec/models/feedback_reporters/support_reporter_spec.rb
Labels: Reviewed: Ready to Merge

#4721 AO3-6502 Blocked users should not be able to give gift works to blocker
  app/models/work.rb
  app/views/blocked/users/confirm_block.html.erb
  app/views/blocked/users/confirm_unblock.html.erb
  app/views/blocked/users/index.html.erb
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/gift_exchanges/challenge_giftexchange.feature
  features/other_a/gift.feature
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/users/blocking.feature
Labels: Reviewed: Ready to Merge

#4206 AO3-6320 Fix Incomplete error message when including invalid tag with ^ symbol
  app/helpers/validation_helper.rb
  features/other_b/errors.feature
Labels: Reviewed: Ready to Merge

#4350 AO3-4696 Link the fandom page on tag pages
  app/views/tags/show.html.erb
  config/locales/views/en.yml
  features/other_b/fandoms.feature
  features/support/paths.rb
Labels: Reviewed: Ready to Merge

#4769 AO3-6689 Fix JavaScript for dropdowns on status index
  public/status/index.html
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#4770 AO3-6701 Fix flaky admin works and series tests
  features/admins/admin_works.feature
  features/other_b/series.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#4772 AO3-6564 Strip images from more fields
  app/views/inbox/_inbox_comment_contents.html.erb
  app/views/user_mailer/abuse_report.html.erb
  app/views/user_mailer/feedback.html.erb
  features/comments_and_kudos/inbox.feature
  features/other_a/abuse_report.feature
  features/other_b/support.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test
