Repository otwcode/otwarchive, pull requests merged in 2025-06, with the labels that each got.

#5209 AO3-6166 Fix two more pages showing unrevealed/hidden work title
  app/controllers/collection_items_controller.rb
  app/controllers/works_controller.rb
  spec/controllers/collection_items_controller_spec.rb
  spec/controllers/works/works_controller_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5204 AO3-6996 Remove no longer needed ignored_columns from models
  app/models/invite_request.rb
  app/models/user.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5214 AO3-6235 Allow policy_and_abuse admins to toggle invite requests in settings
  app/policies/admin_setting_policy.rb
  spec/controllers/admin/settings_controller_spec.rb
Labels: Reviewed: Ready to Merge

#5205 AO3-6437 Remove unused tables
  app/controllers/work_links_controller.rb
  app/models/work.rb
  app/models/work_link.rb
  app/views/stats/index.html.erb
  app/views/work_links/index.html.erb
  config/routes.rb
  db/migrate/20250530172134_drop_unused_tables.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#5212 AO3-6515 Fix 500 error for work end notes without posted chapters
  app/helpers/works_helper.rb
  app/views/works/_work_header_notes.html.erb
  config/locales/views/en.yml
  spec/helpers/works_helper_spec.rb
Labels: Reviewed: Ready to Merge

#5207 AO3-6588 Allow Open Doors and Support admins to set no_resets role
  app/policies/user_policy.rb
  spec/controllers/admin/admin_users_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4867 AO3-6259 Upgrade Elasticsearch to 8.x
  .github/workflows/automated-tests.yml
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/autocomplete_controller.rb
  app/models/search/query.rb
  docker-compose.yml
Labels: Reviewed: Ready to Merge, Gem Updates

#5167 AO3-6273 Word count blank when posting from draft
  app/controllers/works_controller.rb
  spec/controllers/works/drafts_spec.rb
Labels: Reviewed: Ready to Merge

#5223 AO3-6373 Allow comments by blocked user to be frozen, unfrozen
  app/controllers/comments_controller.rb
  app/models/comment.rb
  spec/controllers/comments/freeze_spec.rb
Labels: Reviewed: Ready to Merge

#5195 AO3-6999 AO3-6735 Use CommentMailer for all comments and fix unreviewed comment email bugs
  app/mailers/admin_mailer.rb
  app/mailers/comment_mailer.rb
  app/models/comment.rb
  app/views/admin_mailer/comment_notification.html.erb
  app/views/admin_mailer/comment_notification.text.erb
  app/views/admin_mailer/edited_comment_notification.html.erb
  app/views/admin_mailer/edited_comment_notification.text.erb
  app/views/comment_mailer/_comment_notification_footer_for_other.html.erb
  app/views/comment_mailer/_comment_notification_footer_for_other.text.erb
  features/admins/admin_post_news.feature
  features/step_definitions/admin_steps.rb
  spec/mailers/admin_mailer_spec.rb
  spec/mailers/comment_mailer_spec.rb
  test/mailers/previews/admin_mailer_preview.rb
  test/mailers/previews/comment_mailer_preview.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5233 AO3-7016 Update Departure to 6.8.0
  Gemfile
  Gemfile.lock
Labels: Reviewed: Ready to Merge, Gem Updates

#5219 AO3-7010 AO3-7017 Fix error when trying to access subpage of hidden unrevealed work
  app/controllers/application_controller.rb
  spec/controllers/bookmarks_controller_spec.rb
  spec/controllers/collections_controller_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/kudos_controller_spec.rb
  spec/controllers/works/works_controller_spec.rb
  spec/support/shared_examples/access_shared_examples.rb
Labels: Priority: Low, Reviewed: Ready to Merge
