Repository otwcode/otwarchive, pull requests merged in 2025-05, with the labels that each got.

#5163 AO3-6981 Email user when they change their username
  app/controllers/users_controller.rb
  app/mailers/user_mailer.rb
  app/views/user_mailer/change_username.html.erb
  app/views/user_mailer/change_username.text.erb
  config/locales/mailers/en.yml
  features/admins/users/admin_abuse_users.feature
  features/step_definitions/user_steps.rb
  features/users/user_rename.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5089 AO3-5513 Allow admins to create, recategorize and rename media tags
  .rubocop.yml
  app/controllers/fandoms_controller.rb
  app/controllers/media_controller.rb
  app/controllers/tags_controller.rb
  app/controllers/unsorted_tags_controller.rb
  app/models/media.rb
  app/models/tag.rb
  app/views/bookmarks/index.html.erb
  app/views/fandoms/index.html.erb
  app/views/home/_fandoms.html.erb
  app/views/home/first_login_help.html.erb
  app/views/home/site_map.html.erb
  app/views/media/index.html.erb
  app/views/menu/_menu_fandoms.html.erb
  app/views/tags/edit.html.erb
  app/views/works/index.html.erb
  config/initializers/inflections.rb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  features/collections/collection_navigation.feature
  features/step_definitions/tag_steps.rb
  features/support/paths.rb
  features/tags_and_wrangling/tag_wrangling_media.feature
  spec/controllers/tags_controller_spec.rb
Labels: Reviewed: Ready to Merge

#5162 AO3-6757 Remove image embeds when hiding comments
  app/models/comment.rb
  features/comments_and_kudos/hidden_comments.feature
Labels: Reviewed: Ready to Merge

#5125 AO3-6844 Fix HTML and style issues when showing tags in a tag set
  app/helpers/application_helper.rb
  app/views/owned_tag_sets/_navigation.html.erb
  app/views/owned_tag_sets/_show_fandoms_by_media.html.erb
  app/views/owned_tag_sets/_show_tag_set_tags.html.erb
  app/views/owned_tag_sets/_show_tags_alpha_listbox.html.erb
  app/views/owned_tag_sets/_show_tags_in_single_list.html.erb
  app/views/owned_tag_sets/show_options.html.erb
  features/gift_exchanges/challenge_giftexchange_tagsets.feature
  features/step_definitions/tag_set_steps.rb
  features/tag_sets/tag_set.feature
  public/javascripts/application.js
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/11-group-listbox.css
Labels: Priority: Low, Reviewed: Ready to Merge

#5157 AO3-6977 Spam check edited comments, exclude comments on own work
  app/models/comment.rb
  app/views/comments/_comment_form.html.erb
  app/views/comments/edit.html.erb
  app/views/comments/edit.js.erb
  config/config.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  features/comments_and_kudos/spam_comments.feature
  spec/models/comment_spec.rb
Labels: Reviewed: Ready to Merge, Has Production Config Changes

#5131 AO3-5919 Use intermediate set to avoid KEYS in kudos delivery
  app/models/redis_mail_queue.rb
Labels: Priority: High, Reviewed: Ready to Merge

#5143 AO3-5714 Do not treat non-canonical tags as fandom-associated in TagSets
  app/controllers/owned_tag_sets_controller.rb
  factories/tags.rb
  lib/tasks/after_tasks.rake
  spec/controllers/owned_tag_sets_controller_spec.rb
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge

#5173 AO3-5714 Skip association creation when a TagSetAssociation exists
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5175 AO3-5513 Change fandom lists to only show canonical media
  app/controllers/media_controller.rb
  app/models/media.rb
  app/views/home/_fandoms.html.erb
  app/views/menu/_menu_fandoms.html.erb
  config/locales/controllers/en.yml
  features/step_definitions/tag_steps.rb
  features/tags_and_wrangling/tag_wrangling_media.feature
Labels: Priority: High - Broken on Test, Awaiting Review

#5178 AO3-6988 Use cache-apt-pkgs-action in automated tests
  .github/workflows/automated-tests.yml
  script/gh-actions/ebook_converters.sh
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#5174 AO3-5714 Check canonical? for nomination.parented
  app/models/tag.rb
  app/models/tagset_models/tag_nomination.rb
  docker-compose.yml
  factories/tags.rb
  features/step_definitions/tag_set_steps.rb
  features/step_definitions/tag_steps.rb
  features/tag_sets/tag_set_associations.feature
  spec/models/tagset_models/tag_nomination_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5182 AO3-6844 Change padding on listbox notice to margin
  public/stylesheets/site/2.0/11-group-listbox.css
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5169 AO3-6973 Add email when user changes or resets password
  app/mailers/archive_devise_mailer.rb
  app/views/admin/mailer/password_change.html.erb
  app/views/admin/mailer/password_change.text.erb
  app/views/users/mailer/password_change.html.erb
  app/views/users/mailer/password_change.text.erb
  config/initializers/devise.rb
  config/locales/mailers/en.yml
  features/admins/authenticate_admins.feature
  features/other_a/profile_edit.feature
  features/step_definitions/tag_steps.rb
  features/support/user.rb
  features/users/authenticate_users.feature
  spec/mailers/archive_devise_mailer_spec.rb
  test/mailers/previews/archive_devise_mailer_preview.rb
Labels: Priority: High, Reviewed: Ready to Merge

#5164 AO3-6005 Convert Cucumber tests in other_b/errors.feature to RSpec tests
  features/other_b/errors.feature
  features/step_definitions/web_steps.rb
  features/tags_and_wrangling/tag_wrangling_more.feature
  spec/controllers/admin_posts_controller_spec.rb
  spec/controllers/collections_controller_spec.rb
  spec/controllers/fandoms_controller_spec.rb
  spec/controllers/pseuds_controller_spec.rb
  spec/controllers/series_controller_spec.rb
  spec/controllers/tags_controller_spec.rb
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#5186 AO3-6975 Fix days_to_purge_unactivated admin setting and DAYS_TO_CONFIRM_EMAIL_CHANGE
  app/controllers/users_controller.rb
  app/models/admin_setting.rb
  app/views/users/confirmation.html.erb
  config/config.yml
  config/initializers/devise.rb
  features/step_definitions/invite_steps.rb
  lib/tasks/admin_tasks.rake
Labels: Priority: Low, Reviewed: Ready to Merge

#5168 AO3-6267 Only update work version on posted chapters
  app/controllers/chapters_controller.rb
  app/controllers/works_controller.rb
  app/models/work.rb
  features/other_a/reading.feature
  spec/controllers/chapters_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5153 AO3-6970 Update admin_hidden_work_notification for multiple works
  app/mailers/user_mailer.rb
  app/models/work.rb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  config/locales/mailers/en.yml
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5172 AO3-6092 Add automated test to check chapter titles display in entire work view when work has only a single posted chapter
  features/works/work_view.feature
Labels: Priority: Low, Reviewed: Ready to Merge, Scope: Tests Only

#5191 AO3-6995 Add recently_reset to ignored_columns
  app/models/user.rb
Labels: Reviewed: Ready to Merge

#5188 AO3-6967 add save button to top of tag edit page
  app/views/tags/edit.html.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge

#5133 AO3-6684 Add accessible label for hide banner button
  app/views/layouts/_banner.html.erb
  config/locales/views/en.yml
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Reviewed: Ready to Merge

#5176 AO3-5270 Calculate statistics page word counts at the chapter level
  app/controllers/stats_controller.rb
  features/other_b/stats.feature
Labels: Reviewed: Ready to Merge

#5183 AO3-4190 Fix admin settings last updated date being modified by invitation sending
  app/models/admin_setting.rb
  app/views/admin/settings/index.html.erb
  config/locales/views/en.yml
  features/admins/admin_settings.feature
Labels: Reviewed: Ready to Merge

#5193 AO3-7000 Update CSS basics tutorial link
  public/help/skins-creating.html
Labels: Priority: High, Reviewed: Ready to Merge

#5192 Update footer translations in Greek, Hindi and Ukrainian
  config/locales/phrase-exports/el.yml
  config/locales/phrase-exports/hi.yml
  config/locales/phrase-exports/uk.yml
Labels: Reviewed: Ready to Merge, Scope: i18n Only

#5166 AO3-5347 I18n for the related work notification mailer
  app/mailers/user_mailer.rb
  app/models/related_work.rb
  app/views/user_mailer/related_work_notification.html.erb
  app/views/user_mailer/related_work_notification.text.erb
  config/locales/mailers/en.yml
  features/step_definitions/email_custom_steps.rb
  features/works/work_related.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5190 AO3-3818 Increase user_agent limit for comments and feedback
  app/controllers/comments_controller.rb
  app/controllers/feedbacks_controller.rb
  db/migrate/20250515095633_change_user_agent_limit.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/feedbacks_controller_spec.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#5199 AO3-6937 Fix inbox page title to show username
  app/controllers/inbox_controller.rb
  config/locales/controllers/en.yml
  features/other_a/page_title.feature
Labels: Reviewed: Ready to Merge

#5187 AO3-6993 Show message instead of edit works form when user has no works
  app/views/works/show_multiple.html.erb
  config/locales/views/en.yml
Labels: Reviewed: Ready to Merge

#5194 AO3-6948 Monitor InviteFromQueueJob with Sentry
  app/jobs/invite_from_queue_job.rb
Labels: Priority: High, Reviewed: Ready to Merge
