Repository otwcode/otwarchive, pull requests merged in 2025-07, with the labels that each got.

#5228 AO3-6989 Pseuds index for nonexistent user redirects to people search when it should 404
  app/controllers/pseuds_controller.rb
  config/locales/controllers/en.yml
  spec/controllers/pseuds_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5236 AO3-7019 Disallow changing username to current username
  app/controllers/users_controller.rb
  config/locales/controllers/en.yml
  features/users/user_rename.feature
Labels: Reviewed: Ready to Merge

#5254 Update the list of large tables in rubocop
  .rubocop.yml
Labels: Awaiting Review

#5251 AO3-7025 Fix typo in voice family property
  public/help/skins-creating.html
Labels: Priority: Low, Reviewed: Ready to Merge

#5217 AO3-7009 Dark Mode skin
  public/stylesheets/masters/dark_mode/README.md
  public/stylesheets/masters/dark_mode/dark_mode_midsize_.css
  public/stylesheets/masters/dark_mode/dark_mode_site_screen_.css
Labels: Reviewed: Ready to Merge

#5247 AO3-7022 Default to only registered commentors on news post
  app/models/admin_post.rb
  factories/comments.rb
  features/admins/admin_post_news.feature
  features/comments_and_kudos/comments_adminposts.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/comments/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#5258 AO3-7033 Include skin title in browser page title for skin show page
  app/controllers/skins_controller.rb
  features/other_b/skin.feature
Labels: Priority: Low, Reviewed: Ready to Merge

#5260 AO3-6852 Remove gift matching test scripts
  script/gift_exchange/README.txt
  script/gift_exchange/benchmark_assignments.rb
  script/gift_exchange/benchmark_match.rb
  script/gift_exchange/benchmark_regenerate.rb
  script/gift_exchange/export_matches.rb
  script/gift_exchange/export_settings_json.rb
  script/gift_exchange/generate_from_spec.rb
  script/gift_exchange/json_tag_frequency.rb
  script/gift_exchange/load_json_challenge.rb
  script/gift_exchange/requests_summary_to_json.rb
  script/gift_exchange/sample-settings.json
  script/gift_exchange/tag_seed.json
Labels: Priority: Low, Reviewed: Ready to Merge

#5237 AO3-7004 Add index to comments on name
  db/migrate/20250628175658_add_index_to_comments_name.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#5264 AO3-7042 Change collections index to 404 for nonexistent objects
  app/controllers/collections_controller.rb
  spec/controllers/collections_controller_spec.rb
Labels: Reviewed: Ready to Merge

#4801 AO3-6565 Move admin user search to Elasticsearch, add past emails and username search
  app/controllers/admin/admin_users_controller.rb
  app/models/indexing/scheduled_reindex_job.rb
  app/models/pseud.rb
  app/models/roles_user.rb
  app/models/search/indexer.rb
  app/models/search/user_indexer.rb
  app/models/search/user_query.rb
  app/models/user.rb
  app/policies/user_policy.rb
  app/views/admin/admin_users/index.html.erb
  app/views/admin/admin_users/show.html.erb
  config/locales/views/en.yml
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_manage_users.feature
  features/step_definitions/archivist_steps.rb
  features/step_definitions/user_steps.rb
  features/support/paths.rb
  lib/tasks/search.rake
  script/reset_database.sh
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/lib/tasks/search_tasks.rake_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#5267 AO3-6565 Fix test failures related to merge conflict
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_manage_users.feature
  features/step_definitions/user_steps.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test, Scope: Tests Only

#5279 AO3-7065 Fix flaky bookmarks v2 API tests
  config/initializers/gem-plugin_config/webmock.rb
  spec/controllers/api/v2/api_bookmarks_spec.rb
Labels: Reviewed: Ready to Merge

#5265 AO3-7032 Duplicate error message if email address is already part of invitation queue
  app/models/invite_request.rb
  spec/models/invite_request_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5221 AO3-6929 include username with pseud on gift exchange signups page
  app/views/challenge/gift_exchange/_challenge_signups.html.erb
  features/gift_exchanges/challenge_giftexchange.feature
  features/step_definitions/challege_gift_exchange_steps.rb
Labels: Reviewed: Ready to Merge

#5202 AO3-6060 Tag comments emailed to no longer wranglers
  app/models/comment.rb
  spec/models/comment_spec.rb
  spec/spec_helper.rb
Labels: Reviewed: Ready to Merge

#5225 AO3-6746 Expire chapter byline cache when pseud is renamed
  app/models/chapter.rb
  app/models/pseud.rb
  app/models/user.rb
  features/other_a/pseuds.feature
  features/step_definitions/work_steps.rb
  features/users/user_rename.feature
Labels: Reviewed: Ready to Merge

#5198 AO3-5352 i18n deleted work notification attachment
  app/views/downloads/_download_afterword.html.erb
  app/views/downloads/_download_chapter.html.erb
  app/views/downloads/_download_preface.html.erb
  app/views/downloads/show.html.erb
  config/locales/views/en.yml
  features/works/work_download.feature
Labels: Reviewed: Ready to Merge

#5266 AO3-7052 Current schema dump
  db/schema.rb
  db/structure.sql
Labels: Reviewed: Ready to Merge

#5283 AO3-7006 Move list markers in comments inwards
  public/stylesheets/site/2.0/21-userstuff.css
Labels: Priority: Low, Reviewed: Ready to Merge

#5253 AO3-5476 Remove unused code in works_controller
  app/controllers/works_controller.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5240 AO3-5346 I18n and update text for the match generation notification
  app/mailers/user_mailer.rb
  app/views/user_mailer/potential_match_generation_notification.html.erb
  app/views/user_mailer/potential_match_generation_notification.text.erb
  config/locales/mailers/en.yml
  features/gift_exchanges/challenge_giftexchange.feature
  spec/mailers/user_mailer_spec.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5277 AO3-7064 Update most test-related gems
  Gemfile.lock
  config/locales/rails-i18n/locale/fil.yml
  config/locales/rails-i18n/locale/mr.yml
Labels: Reviewed: Ready to Merge, Gem Updates

#5232 AO3-5025 Load rich text editor on wrangling guidelines form
  app/views/wrangling_guidelines/_wrangling_guideline_form.html.erb
  config/locales/views/en.yml
Labels: Priority: Low, Reviewed: Ready to Merge
