Repository otwcode/otwarchive, pull requests merged in 2025-04, with the labels that each got.

#5091 AO3-6913 AO3-6597 Allow queue to send invitations every N hours
  .erb-lint.yml
  app/controllers/invite_requests_controller.rb
  app/models/admin_setting.rb
  app/models/invite_request.rb
  app/views/admin/admin_invitations/index.html.erb
  app/views/admin/settings/index.html.erb
  app/views/invite_requests/_index_closed.html.erb
  app/views/invite_requests/_index_open.html.erb
  app/views/invite_requests/_invite_request.html.erb
  app/views/invite_requests/status.html.erb
  config/config.yml
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/resque_schedule.yml
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/other_a/invite_request.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/invite_requests_controller_spec.rb
  spec/models/invite_request_spec.rb
Labels: Reviewed: Ready to Merge

#5093 AO3-5573 Fix sorting on user collected works page
  app/views/works/_collection_filters.html.erb
  features/search/works_collected.feature
  spec/controllers/works/default_rails_actions_spec.rb
Labels: Reviewed: Ready to Merge

#5102 AO3-6877 Change collection name to title for notes on works that fill prompts
  app/views/works/_work_header_notes.html.erb
  features/prompt_memes_b/challenge_promptmeme_posting_fills.feature
  features/prompt_memes_c/challenge_promptmeme_claims.feature
Labels: Reviewed: Ready to Merge

#5123 AO3-6961 Fix incorrect classes on caution text and update Reversi styling of caution text
  app/views/orphans/_orphan_pseud.html.erb
  app/views/orphans/_orphan_series.html.erb
  app/views/orphans/_orphan_user.html.erb
  app/views/orphans/_orphan_work.html.erb
  app/views/users/change_username.html.erb
  app/views/works/_adult.html.erb
  app/views/works/confirm_delete_multiple.html.erb
  public/stylesheets/masters/reversi/reversi_site_screen_.css
Labels: Reviewed: Ready to Merge

#5121 AO3-6957 Fix highlight for form fields outside dl's
  public/stylesheets/site/2.0/22-system-messages.css
Labels: Priority: Low, Reviewed: Ready to Merge

#5088 AO3-6830 Add creator IDs to abuse reports
  app/models/abuse_report.rb
  app/models/feedback_reporters/abuse_reporter.rb
  spec/models/abuse_report_spec.rb
  spec/models/feedback_reporters/abuse_reporter_spec.rb
Labels: Reviewed: Ready to Merge

#4994 AO3-6672 Allow some admins to set a generic username
  .rubocop.yml
  app/controllers/pseuds_controller.rb
  app/controllers/users_controller.rb
  app/models/concerns/justifiable.rb
  app/models/pseud.rb
  app/models/user.rb
  app/policies/user_policy.rb
  app/views/admin/admin_invitations/find.html.erb
  app/views/admin/admin_invitations/index.html.erb
  app/views/admin/admin_users/show.html.erb
  app/views/admin_sessions/new.html.erb
  app/views/challenge/gift_exchange/_challenge_signups.html.erb
  app/views/invitations/_invitation.html.erb
  app/views/invitations/_user_invitations.html.erb
  app/views/invitations/manage.html.erb
  app/views/preferences/index.html.erb
  app/views/pseuds/_pseuds_form.html.erb
  app/views/users/_admin_change_username.html.erb
  app/views/users/_edit_header_navigation.html.erb
  app/views/users/_edit_user_navigation.html.erb
  app/views/users/change_username.html.erb
  app/views/users/passwords/new.html.erb
  app/views/users/registrations/_passwd.html.erb
  app/views/users/sessions/_passwd.html.erb
  app/views/users/sessions/_passwd_small.html.erb
  config/initializers/rack_attack.rb
  config/locales/controllers/en.yml
  config/locales/devise/en.yml
  config/locales/mailers/en.yml
  config/locales/models/en.yml
  config/locales/views/en.yml
  db/migrate/20241230205138_add_user_admin_renamed_at.rb
  factories/users.rb
  features/admins/admin_invitations.feature
  features/admins/authenticate_admins.feature
  features/admins/users/admin_abuse_users.feature
  features/admins/users/admin_fnok.feature
  features/comments_and_kudos/kudos.feature
  features/gift_exchanges/challenge_giftexchange.feature
  features/other_a/invite_request.feature
  features/other_a/profile_edit.feature
  features/other_a/pseuds.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/support_steps.rb
  features/step_definitions/user_steps.rb
  features/users/authenticate_users.feature
  features/users/password_compatibility.feature
  features/users/user_create.feature
  features/users/user_rename.feature
  features/works/work_share.feature
  spec/controllers/pseuds_controller_spec.rb
  spec/controllers/users_controller_spec.rb
  spec/models/admin_spec.rb
  spec/models/concerns/justifiable_spec.rb
  spec/models/user_spec.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#5074 AO3-6911 Add error page for Rack::Timeout::RequestTimeoutException
  app/controllers/application_controller.rb
  app/controllers/errors_controller.rb
  app/views/errors/timeout_error.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  spec/controllers/errors_controller_spec.rb
Labels: Reviewed: Ready to Merge

#5130 AO3-6935 Change skin title uniqueness validation to case insensitive
  app/models/skin.rb
  spec/models/skin_spec.rb
Labels: Reviewed: Ready to Merge

#5135 AO3-6956 Corrected error message for duplicate comments
  app/models/comment.rb
  config/locales/models/en.yml
  spec/models/comment_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5129 AO3-6896 Fix long username in kudos going over container
  public/stylesheets/site/2.0/10-types-groups.css
Labels: Priority: Low, Reviewed: Ready to Merge

#5128 AO3-6965 Optimize feature tests by creating works with FactoryBot
  features/admins/admin_works.feature
  features/comments_and_kudos/inbox.feature
  features/comments_and_kudos/spam_comments.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/comment_steps.rb
  features/step_definitions/orphan_steps.rb
  features/step_definitions/pseud_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_create.feature
  features/works/work_delete.feature
  features/works/work_edit.feature
  features/works/work_notes.feature
  features/works/work_share.feature
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#5096 AO3-6711 Add a "Delete All Subscriptions" option to the Subscriptions page
  app/controllers/subscriptions_controller.rb
  app/views/subscriptions/confirm_delete_all.erb
  app/views/subscriptions/index.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  features/other_b/subscriptions.feature
Labels: Reviewed: Ready to Merge

#5104 AO3-6945 Treat vertical bar (pipe, |) as a word delimiter in autocomplete
  features/other_a/autocomplete.feature
  lib/autocomplete_source.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5112 AO3-6849 Create recipient_notification mailer preview
  app/mailers/user_mailer.rb
  app/models/collection_item.rb
  app/views/user_mailer/recipient_notification.html.erb
  app/views/user_mailer/recipient_notification.text.erb
  config/locales/mailers/en.yml
  features/other_a/gift.feature
  lib/creation_notifier.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5082 AO3-6401 Prevent official user accounts from leaving kudos
  app/models/kudo.rb
  config/locales/models/en.yml
  features/comments_and_kudos/kudos.feature
  lib/tasks/after_tasks.rake
  spec/lib/tasks/after_tasks.rake_spec.rb
  spec/models/kudo_spec.rb
Labels: Reviewed: Ready to Merge

#5132 AO3-3524 Add 4shared.com to allowed embeds
  lib/otw_sanitize/embed_sanitizer.rb
  spec/lib/html_cleaner_spec.rb
Labels: Reviewed: Ready to Merge

#5122 AO3-6578 Move external work notice
  app/views/external_works/_blurb.html.erb
  app/views/external_works/_work_module.html.erb
  config/locales/views/en.yml
  features/other_b/subscriptions.feature
  public/stylesheets/site/2.0/13-group-blurb.css
Labels: Priority: Low, Reviewed: Ready to Merge

#5139 AO3-6388 Add confirmation page and email when a user changes the email on their account
  app/controllers/admin/admin_users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/users_controller.rb
  app/mailers/archive_devise_mailer.rb
  app/mailers/user_mailer.rb
  app/models/user.rb
  app/views/admin/mailer/reset_password_instructions.html.erb
  app/views/admin/mailer/reset_password_instructions.text.erb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/preferences/index.html.erb
  app/views/tos_update_mailer/tos_update_notification.html.erb
  app/views/tos_update_mailer/tos_update_notification.text.erb
  app/views/user_mailer/admin_deleted_work_notification.html.erb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/admin_hidden_work_notification.html.erb
  app/views/user_mailer/admin_hidden_work_notification.text.erb
  app/views/user_mailer/admin_spam_work_notification.html.erb
  app/views/user_mailer/admin_spam_work_notification.text.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.html.erb
  app/views/user_mailer/anonymous_or_unrevealed_notification.text.erb
  app/views/user_mailer/archivist_added_to_collection_notification.html.erb
  app/views/user_mailer/archivist_added_to_collection_notification.text.erb
  app/views/user_mailer/change_email.html.erb
  app/views/user_mailer/change_email.text.erb
  app/views/user_mailer/delete_work_notification.html.erb
  app/views/user_mailer/delete_work_notification.text.erb
  app/views/user_mailer/invite_request_declined.html.erb
  app/views/user_mailer/invite_request_declined.text.erb
  app/views/user_mailer/invited_to_collection_notification.html.erb
  app/views/user_mailer/invited_to_collection_notification.text.erb
  app/views/users/change_email.html.erb
  app/views/users/change_username.html.erb
  app/views/users/confirm_change_email.html.erb
  app/views/users/mailer/confirmation_instructions.html.erb
  app/views/users/mailer/confirmation_instructions.text.erb
  app/views/users/mailer/reset_password_instructions.html.erb
  app/views/users/mailer/reset_password_instructions.text.erb
  config/initializers/devise.rb
  config/locales/controllers/en.yml
  config/locales/mailers/en.yml
  config/locales/views/en.yml
  config/routes.rb
  db/migrate/20250407174814_add_unconfirmed_email_to_users.rb
  features/other_a/orphan_account.feature
  features/other_a/preferences_edit.feature
  features/other_a/profile_edit.feature
  features/step_definitions/email_custom_steps.rb
  features/step_definitions/profile_steps.rb
  features/step_definitions/user_steps.rb
  features/support/paths.rb
  spec/controllers/users_controller_spec.rb
  spec/mailers/archive_devise_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/user_spec.rb
  test/mailers/previews/archive_devise_mailer_preview.rb
  test/mailers/previews/user_mailer_preview.rb
Labels: Priority: High, Reviewed: Ready to Merge, Has Migrations

#5086 AO3-6113 Immediately close the autocomplete dropdown when it's not needed
  public/javascripts/jquery.tokeninput.js
  public/javascripts/jquery.tokeninput.min.js
Labels: Reviewed: Ready to Merge

#5127 AO3-6938 Fix Related Works page missing username in browser page title
  app/controllers/related_works_controller.rb
  app/views/related_works/index.html.erb
  config/locales/controllers/en.yml
  config/locales/views/en.yml
  spec/controllers/related_works_controller_spec.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5090 AO3-5350 I18n admin_spam_work_notification
  app/mailers/user_mailer.rb
  app/models/work.rb
  app/views/user_mailer/admin_spam_work_notification.html.erb
  app/views/user_mailer/admin_spam_work_notification.text.erb
  config/locales/mailers/en.yml
  features/admins/admin_spam.feature
  test/mailers/previews/user_mailer_preview.rb
Labels: Reviewed: Ready to Merge

#5124 AO3-6962 Fix color issues on tag set nomination review pages in Reversi and Snow Blue
  public/stylesheets/masters/reversi/reversi_site_screen_.css
  public/stylesheets/masters/snow_blue/snow_blue_site_screen_.css
Labels: Reviewed: Ready to Merge

#5148 AO3-6113 Don't show the autocomplete dropdown when the tag limit is full
  public/javascripts/jquery.tokeninput.js
  public/javascripts/jquery.tokeninput.min.js
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5156 AO3-6388 Fix flash error sticking around on change_email
  app/controllers/users_controller.rb
  app/views/users/change_email.html.erb
  config/locales/mailers/en.yml
  spec/mailers/archive_devise_mailer_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5159 AO3-6980 Use mocks for unavailable site in work_import.feature
  features/importing/work_import.feature
  features/step_definitions/work_import_steps.rb
  features/support/vcr.rb
Labels: Priority: Critical, Awaiting Review, Scope: Tests Only

#5152 AO3-5862 Use Departure to really delete users.recently_reset
  db/migrate/20181222022628_remove_recently_reset_from_users.rb
  db/migrate/20250421192808_remove_recently_reset_from_users.rb
Labels: Reviewed: Ready to Merge, Has Migrations

#5142 AO3-6963 Remove excess whitespace from page titles and description meta tag
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  features/other_a/page_title.feature
  features/step_definitions/admin_steps.rb
  features/support/paths.rb
Labels: Priority: Low, Reviewed: Ready to Merge

#5137 AO3-6845 Always display invitation results in table format
  app/controllers/admin/admin_invitations_controller.rb
  app/views/admin/admin_invitations/find.html.erb
  app/views/invitations/_invitation.html.erb
  config/locales/views/en.yml
  features/admins/admin_invitations.feature
  features/other_a/invite_queue.feature
  features/step_definitions/admin_steps.rb
  spec/controllers/admin/admin_invitations_controller_spec.rb
Labels: Reviewed: Ready to Merge

#5134 AO3-6031 Divide comments_controller_spec.rb into several smaller files
  spec/controllers/comments/blocking_spec.rb
  spec/controllers/comments/comment_moderation_spec.rb
  spec/controllers/comments/comments_controller_spec.rb
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/controllers/comments/freeze_spec.rb
  spec/controllers/comments/hide_spec.rb
  spec/controllers/comments/reply_spec.rb
  spec/controllers/comments_controller_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#5144 AO3-5053 Update bookmarker byline when pseud or username changes
  app/models/bookmark.rb
  app/models/tag.rb
  app/views/bookmarks/_bookmark_user_module.html.erb
  config/locales/views/en.yml
  features/other_a/pseuds.feature
  features/users/user_rename.feature
  spec/requests/bookmarks_n_plus_one_spec.rb
Labels: Reviewed: Ready to Merge

#5145 AO3-6136 Add admin log item for user resetting password
  app/controllers/users/passwords_controller.rb
  app/controllers/users_controller.rb
  app/helpers/users_helper.rb
  config/config.yml
  config/locales/helpers/en.yml
  features/other_a/profile_edit.feature
  features/users/authenticate_users.feature
Labels: Priority: High, Reviewed: Ready to Merge

#5146 AO3-6813 Change email sending to respect locale.email_enabled
  app/controllers/user_invite_requests_controller.rb
  app/controllers/users_controller.rb
  app/mailers/comment_mailer.rb
  app/mailers/user_mailer.rb
  app/models/challenge_assignment.rb
  app/models/collection.rb
  app/models/collection_item.rb
  app/models/creatorship.rb
  app/models/external_author.rb
  app/models/invitation.rb
  app/models/potential_match.rb
  app/models/preference.rb
  app/models/redis_mail_queue.rb
  app/models/user.rb
  app/models/user_invite_request.rb
  app/models/work.rb
  config/application.rb
  features/comments_and_kudos/kudos.feature
  features/step_definitions/email_custom_steps.rb
  lib/creation_notifier.rb
  spec/models/locale_spec.rb
Labels: Reviewed: Ready to Merge

#5160 AO3-6982 Fix flaky cucumber features using javascript
  app/models/user.rb
  factories/collections.rb
  features/bookmarks/bookmark_share.feature
  features/collections/collectible_open_collection.feature
  features/other_b/skin_wizard.feature
  features/search/filters.feature
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/skin_steps.rb
  features/step_definitions/work_steps.rb
  features/works/work_share.feature
  spec/controllers/collection_items_controller_spec.rb
  spec/models/collection_item_spec.rb
Labels: Awaiting Review
