Repository otwcode/otwarchive, pull requests merged in 2025-08, with the labels that each got.

#5295 AO3-7091 Stop using fixtures in feature tests
  docker-compose.yml
  factories/collections.rb
  features/admins/authenticate_admins.feature
  features/admins/users/admin_find_users.feature
  features/admins/users/admin_manage_users.feature
  features/collections/collection_browse.feature
  features/fixtures/bookmarks.yml
  features/fixtures/chapters.yml
  features/fixtures/collection_preferences.yml
  features/fixtures/collection_profiles.yml
  features/fixtures/collections.yml
  features/fixtures/creatorships.yml
  features/fixtures/external_works.yml
  features/fixtures/filter_taggings.yml
  features/fixtures/kudos.yml
  features/fixtures/languages.yml
  features/fixtures/locales.yml
  features/fixtures/preferences.yml
  features/fixtures/profiles.yml
  features/fixtures/pseuds.yml
  features/fixtures/roles.yml
  features/fixtures/stat_counters.yml
  features/fixtures/taggings.yml
  features/fixtures/tags.yml
  features/fixtures/users.yml
  features/fixtures/works.yml
  features/other_a/pseud_delete.feature
  features/other_a/reading.feature
  features/other_b/subscriptions.feature
  features/search/people_search.feature
  features/search/works_anonymous.feature
  features/search/works_info.feature
  features/search/works_stats.feature
  features/step_definitions/admin_steps.rb
  features/step_definitions/archivist_steps.rb
  features/step_definitions/bookmark_steps.rb
  features/step_definitions/collection_steps.rb
  features/step_definitions/fixtures_steps.rb
  features/step_definitions/tag_steps.rb
  features/step_definitions/user_steps.rb
  features/step_definitions/work_related_steps.rb
  features/step_definitions/work_search_steps.rb
  features/step_definitions/work_steps.rb
  features/tags_and_wrangling/tag_wrangling.feature
  features/tags_and_wrangling/tag_wrangling_admin.feature
  features/tags_and_wrangling/tag_wrangling_more.feature
  features/works/chapter_edit.feature
  features/works/work_edit.feature
  features/works/work_edit_tags.feature
  spec/models/abuse_report_spec.rb
Labels: Reviewed: Ready to Merge, Scope: Tests Only

#5299 AO3-7090 Update action mailer default protocol
  app/helpers/mailer_helper.rb
  app/views/user_mailer/admin_deleted_work_notification.text.erb
  app/views/user_mailer/claim_notification.html.erb
  app/views/user_mailer/claim_notification.text.erb
  app/views/user_mailer/invitation_to_claim.html.erb
  app/views/user_mailer/invitation_to_claim.text.erb
  config/application.rb
  config/environments/test.rb
  features/step_definitions/email_steps.rb
  spec/mailers/admin_mailer_spec.rb
Labels: Reviewed: Ready to Merge

#5300 Update skin README files to provide information on media
  public/stylesheets/masters/dark_mode/README.md
  public/stylesheets/masters/reversi/README.md
  public/stylesheets/masters/snow/README.md
  public/stylesheets/masters/snow_blue/README.md
Labels: Reviewed: Ready to Merge

#5322 AO3-7094 Decrease case-sensitivity for custom properties/variables
  app/models/work_skin.rb
  config/locales/models/en.yml
  lib/css_cleaner.rb
  public/help/skins-creating.html
  spec/lib/css_cleaner_spec.rb
Labels: Reviewed: Ready to Merge, Priority: High - Broken on Test

#5303 AO3-7058 Upgrade to Rails 7.2
  Gemfile
  Gemfile.lock
  app/models/admin_post.rb
  app/models/collection_item.rb
  app/models/work.rb
  bin/brakeman
  bin/rubocop
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  public/406-unsupported-browser.html
  spec/controllers/comments/default_rails_actions_spec.rb
  spec/lib/tasks/notifications.rake_spec.rb
  spec/lib/tasks/resanitize.rake_spec.rb
  spec/mailers/comment_mailer_spec.rb
  spec/mailers/user_mailer_spec.rb
  spec/models/abuse_report_spec.rb
  spec/models/comment_spec.rb
  spec/models/search/async_indexer_spec.rb
  spec/models/tag_wrangling_spec.rb
  spec/spec_helper.rb
Labels: Priority: High, Reviewed: Ready to Merge, Gem Updates

#5313 Update stylesheet links to front end docs
  public/stylesheets/site/2.0/01-core.css
  public/stylesheets/site/2.0/02-elements.css
  public/stylesheets/site/2.0/03-region-header.css
  public/stylesheets/site/2.0/04-region-dashboard.css
  public/stylesheets/site/2.0/05-region-main.css
  public/stylesheets/site/2.0/06-region-footer.css
  public/stylesheets/site/2.0/07-interactions.css
  public/stylesheets/site/2.0/08-actions.css
  public/stylesheets/site/2.0/09-roles-states.css
  public/stylesheets/site/2.0/10-types-groups.css
  public/stylesheets/site/2.0/11-group-listbox.css
  public/stylesheets/site/2.0/12-group-meta.css
  public/stylesheets/site/2.0/13-group-blurb.css
  public/stylesheets/site/2.0/14-group-preface.css
  public/stylesheets/site/2.0/15-group-comments.css
  public/stylesheets/site/2.0/16-zone-system.css
  public/stylesheets/site/2.0/17-zone-home.css
  public/stylesheets/site/2.0/18-zone-searchbrowse.css
  public/stylesheets/site/2.0/19-zone-tags.css
  public/stylesheets/site/2.0/20-zone-translation.css
  public/stylesheets/site/2.0/21-userstuff.css
  public/stylesheets/site/2.0/22-system-messages.css
  public/stylesheets/site/2.0/23-role-translator.css
  public/stylesheets/site/2.0/24-role-admin.css
  public/stylesheets/site/2.0/26-media-narrow.css
  public/stylesheets/site/2.0/27-media-aural.css
  public/stylesheets/site/2.0/28-media-print.css
  public/stylesheets/site/2.0/29-role-ie8_or_lower.css
  public/stylesheets/site/2.0/30-role-ie5.css
  public/stylesheets/site/2.0/31-role-ie6.css
  public/stylesheets/site/2.0/32-role-ie7.css
Labels: Reviewed: Ready to Merge
